[2020-01-09 12:42] Heckayel commented on #538
I agree, opinions in OOP exist when it's about architecture but here I speak about a technicality that shouldn't work but that works because Javascript is too much permissive

"static" is a class method, not a method of an instance of the class. "this" refer to the current instance. Or in a static context, there is no question about "current instance" because it's the class not an instance. So tha

[2020-01-09 13:42] Heckayel commented on #538
Well, I found https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/static and it's written we can use this here and tested in typescript (I was sure that couldn't work on TS but that works)

That's really weird and I don't understand why js / ts permits to do that and has not created "self" for example but that is another subject that doesn't impact vuex-orm

Sorry for the iss

[2020-01-09 13:42] #538 closed

[2020-01-09 23:56] AdrienPoupa opened #539 "Can't insert hasMany relationship"
Hello,

This is my first time using VuexORM so my question may be really dumb.

I have an entity, Portfolio, that hasMany Positions.

My models:

[code]
[code]

In my component, I call
[code]

like in the documentation: https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#inserting-relationships

My store fills the portfolio properties when it has no relationships but I get t

[2020-01-10 08:39] janoveoyen commented on #539
Can you show the bit of code where you're calling Attacher.process? What is the query parameter you're passing?

[2020-01-10 13:03] AdrienPoupa commented on #539
I showed you all my code. I am not calling the Attacher this is just the error I am getting when trying to insert a Portfolio with Positions

[2020-01-10 13:32] janoveoyen commented on #539
My apologies, I didn't realize that was the stack trace for the error so I thought you had written your own Attacher :)

Your code looks pretty much identical to the docs. Have you registered both Portfolio and Position to the Database (as per [/guide/model/database-registration.html](https://vuex-orm.github.io/vuex-orm/guide/model/database-registration.html))?

[2020-01-10 14:44] AdrienPoupa commented on #539
I only registered the Portfolio but forgot to register the Position. Told you it was going to be stupid :)

Thank you so much.

Maybe there could be a more explicit error message, like when one tries to enter objects directly in the model?

[2020-01-10 14:56] AdrienPoupa commented on #539
OK, now I have no more error but the relationship is still not inserted. Do you have any idea?

![image](https://user-images.githubusercontent.com/15086425/72162164-6e2cef80-338f-11ea-9f23-9b51ad82a43b.png)

[2020-01-10 15:24] AdrienPoupa commented on #539
Interestingly, if I do the following:

[code]

then I am getting the expected result:

![image](https://user-images.githubusercontent.com/15086425/72164149-27d98f80-3393-11ea-9025-bc8aa7abbac8.png)

The issue seems to be with the Vuejs devtools.

If I disable the new Vuex backend it works... so I guess the bug is theirs.

Thanks for the help!

[2020-01-10 15:24] #539 closed

[2020-01-10 15:32] janoveoyen commented on #539
That's good then!

Are you sure the state in the DevTools was updated (button somewhere in the bottom right corner, or you can set it to auto update in the settings)?

[2020-01-10 16:16] cuebit commented on #539
Vuex ORM has struggled to work with the new vue-devtools backend for a long time. In fact, I don’t think I’ve ever got it working. But then I don’t really see a huge difference between the two backends so it’s always disabled.

[2020-01-10 17:20] AdrienPoupa commented on #539
Got it. Maybe it would be worth it to put it in the docs?

Yes @janoveoyen it does not matter.

It is actually related to https://github.com/vuex-orm/vuex-orm/issues/166

I can see the relationships once I load them.

[2020-01-11 21:26] RyanHavoc opened #540 "No state change in devtools?"
I can't see any state change in devtools, just the initial base:

![image](https://user-images.githubusercontent.com/824169/72210812-e5aa6e00-34b8-11ea-9f28-f1aa79661271.png)

Even though I'm inserting records and seeing them reflected in my components.

Should I be seeing the updated state in devtools?

[2020-01-11 22:20] cuebit commented on #540
Do you have the “New Vuex backend” option enabled?

[2020-01-11 22:21] cuebit commented on #540
Do you have state recording enabled? That grey circle should be red if you did.

[2020-01-11 22:27] RyanHavoc commented on #540
What's the "New Vuex backend" option?

You're right. I didn't have the recording turned on!

However, now that i have. I'm not seeing the expected behaviour:

![image](https://user-images.githubusercontent.com/824169/72211331-653c3b00-34c1-11ea-9781-7ac0de3a9418.png)

I'm inserting a record here, but I'd expect that array of policies to now to be 9, not 8 as it was before the insert...?

[2020-01-11 22:28] RyanHavoc commented on #540
Ah, it's saving it at that `$uid1`:

![image](https://user-images.githubusercontent.com/824169/72211344-ac2a3080-34c1-11ea-853a-572777138ff7.png)

What's the best practice then. To save this record to a real DB and update the ID with the database generated one?

[2020-01-12 00:47] Daespinosag commented on #339
hello, will this be implemented?
I am working with vuex orm and this functionality would be very useful...

[2020-01-14 09:24] kiaking commented on #524
Hmmm... I'll think about this. I think the ideal way is to only execute mutator when persisting record to the store, and ignore when fetching from the store.

[2020-01-14 09:25] kiaking commented on #523
OK, let's go with `getState` then 👍

[2020-01-14 09:28] kiaking commented on #529
@JelleScheer Thanks for the report!

This is intended. Now, every time you fetch record from the store, Vuex ORM will return copy of store state.

But I'm not sure why it's causing problem for you. It should have reactivity if you call the method inside `computed` function. Do you have any minimal reproduction code for this?

[2020-01-14 09:29] kiaking commented on #517
@Fnxxxxo Thank you for your kind understanding! 💓

[2020-01-16 15:47] alexsonnay opened #541 "Vuex ORM alongside existing Vuex state"
Is there a proper way to use Vuex ORM alongside an already existing Vuex state ?

If we already have a Vuex store, how would the database and the store be "mixed" regarding to an external API ?

[2020-01-16 17:26] cuebit commented on #541
Not sure what exactly you’re asking. Can you provide a scenario to illustrate?

Vuex-ORM integrates with Vuex. It also allows for module nesting for independent model states. If you want communicate between different modules or states created outside Vuex-ORM you’ll want to bridge with some functionality because this library is not entirely isomorphic and doesn’t make assumptions about state manag

[2020-01-19 08:50] alevinru commented on #163
Are there any plans to implement indexes? I have quite large dataset, tried to use this project and found it performs quite slow both getting related to-many data and even finding one by id.

[2020-01-20 03:35] mblarsen commented on #347
I've used it with `vuex-persist` and it works fine. The only caveat is that you have to include the plugin **after** the ORM.

[code]

[2020-01-21 11:12] kiaking commented on #440
@swoga Thanks for checking! Yeah we should correct this one.

[2020-01-21 11:13] kiaking commented on #531
Merry Christmas! Happy to hear it fixed 👍

[2020-01-21 11:13] #531 closed

[2020-01-21 11:14] kiaking commented on #533
Hah, not sure what this is. So sorry for my late reply but could you elaborate a bit more?

[2020-01-21 11:19] kiaking commented on #476
@mr-chick Do you have any updates on this? Perhaps v0.34.1 might have fixed?

[2020-01-22 20:09] skix123 commented on #339
Possibility to pick specific fields would be awesome!

[2020-01-23 14:51] kiaking commented on #530
@NickSeger Glad to hear that! Sorry for my late response 😓

[2020-01-24 11:06] UncertaintyP commented on #527
@pavel-mironchik Can you install @vuex-orm/core from UncertaintyP/vuex-orm#insert-pivot-data and tell me if you run into any problems?

[2020-01-27 14:42] kiaking commented on #526
This is fixed in Vuex ORM 0.35.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.35.0

[2020-01-27 14:42] #526 closed

[2020-01-27 14:43] kiaking commented on #514
This is now possible with Vuex ORM 0.35.0!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.35.0

[2020-01-27 14:43] #514 closed

[2020-01-27 14:44] #513 closed

[2020-01-27 14:45] kiaking commented on #187
This is now possible with Vuex ORM 0.35.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.35.0

[2020-01-27 14:45] #187 closed

[2020-01-28 03:59] cuebit commented on #540
@RyanHavoc you’ll want to send to your backend and receive the same data but with an actual ID. This will then need to be inserted and then you can delete the existing record with the temp ID. Does that make sense?

[2020-01-28 08:58] cwirz opened #544 "Class constructor Token cannot be invoked without 'new' after upgrading from 0.33.0 to 0.35.0"
When i insert a new object im getting the error message: Class constructor Token cannot be invoked without 'new'

`        Token.insert({
          data: {
            token: parsed.jwt,
          }
        })
`

[code]

[2020-01-28 11:28] NickSeger opened #545 "Retrieve from Model - Fetch from Database issue."
Hey there,

Hoping this is a simple issue, I'm trying to access the database instance as documented in the Retrieve Models section, trying the example via ```this.$store.$db()``` but getting an error that $db isn't a function.

Everything else works, I can hit the store and the entities with no issue and if I import directly it's fine too but I am doing a dynamic page and need to pass the model th

[2020-01-29 03:43] cuebit commented on #545
The store method was released with v0.35.0

Are you using the latest version?

[2020-01-29 05:32] NickSeger commented on #545
@cuebit yes running on v0.35.1.

I'm wondering if it's got to do with how my database and models are registered,

I currently have a database index file where i instantiate the database, register the models and modules, attach the VuexORM plugins:

[code]

I then use the exported database and inject it into the Vuex Store in a separate file.

[code]

Up until now haven't had any other issues (that

[2020-01-29 06:32] cuebit commented on #544
Doesn't sound like a Vuex ORM issue. What's your babel setup?

[2020-01-29 09:40] NickSeger commented on #545
Ok... so I completely overlooked something really minor, just had to step away and come back and it wasn't anything to do with VuexORM at all.

Thanks for the help, works perfectly for my use case,
Nick

[2020-01-29 09:40] #545 closed

[2020-01-29 10:55] szhorvath opened #547 "Attribute mutator brakes after upgrading from 0.34.1 to 0.35.1"
Hi,
Fantastic package. I love it. Much appreciated.

I have just upgraded to the v0.35.1 and my attribute date mutator broke.
I use a function as a second argument to parse iso date string.

[code]

The problem is that the mutator function is executed multiple times and shows 'Invalid Date' but in 0.34.1 that did not cause any problem.

Probably I am using the mutator wrong?

Thanks

[2020-01-29 14:05] flyingboy007 opened #548 "Unable to access vuex-orm $db variable from store in nuxt"
Using nuxtjs with vuexorm & vuexorm-axios plugin.

    computed: {
      users() {
     // this works as expected
      return User.all()
      }
        }

    import { Model } from '@vuex-orm/core'

    export default ({ $axios }) => {
      Model.setAxios($axios)
    }

    import VuexORM from '@vuex-orm/core'
    import VuexORMAxios from '@vuex-orm/plugin-axios'
    import User from '@/models/

[2020-01-29 14:16] cuebit commented on #545
@NickSeger

Out of curiosity and to help better understand common pitfalls, what was the cause and how did you resolve it?

Your feedback is much appreciated.

[2020-01-29 17:57] cuebit commented on #548
@flyingboy007 you seem to have User and users within a users method. Is this a typo?

[2020-01-29 18:15] clementdubois commented on #544
Same issue here, seems to appear in jest tests.

I use babel-jest and my babel config is only using the @vue/app presets

[2020-01-29 20:28] flyingboy007 commented on #548
Was a typo. Sorry for that. Fixed

[2020-01-29 22:32] NickSeger commented on #545
@cuebit I was incorrectly using this.store() and this.$store and a couple of other Vuex parts in a few places, so I was refactoring about 6 components into a single one now that I can get the model through the $db instance, and I just made some typo errors, wasn't really to do with the $db instance call itself.

Thanks,
Nick

[2020-01-30 04:23] steven0811 commented on #544
Same here, I using Nuxt.js with Nuxt.js's default babel setup.

[2020-01-30 04:34] kiaking commented on #544
Wow, seems like many people having trouble with this...? Can anyone create a minimal reproduction for this?

[2020-01-30 14:05] lorenzki opened #549 "It seems like 0.35 has broken `orderBy` when used with number fields"
I got a model with the number field `rank`:
`static fields() {
    return {
      ID: this.string(''),
      rank: this.number(0),
}`

When using `orderBy` until 0.34.x the query result was correctly sorted:

`TestModel.query().orderBy('rank').get();`

sorted the data in the correct numerical order: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,...

with the update to 0.35.x the number field is sorted alp

[2020-01-30 19:46] madStitcher opened #550 "nuxtServerInit implementation"
I can't seem to find a way to utilize nuxtServerInit with vuex-orm.  Is there any documentation around this?

[2020-01-30 21:30] HamishBrindle commented on #544
Ya I'm only getting this is during Mocha tests.

Here are some relevant packages we're using:
[code]

Our `babel.config.js`
[code]

I looked around, and it does seem like a Babel issue, and again, only experiencing this running Mocha tests.

[2020-01-31 00:59] haversnail commented on #544
Likewise: also seeing this error in a Nuxt.js SSR app (and also using their default Babel setup). Specifically, this is occurring when `await`ing creation of a record in Nuxt's `fetch` hook. (FYI, also can't seem to successfully create a record from the `fetch` hook as it's depicted [in the example app](https://github.com/vuex-orm/vuex-orm-examples-nuxt/blob/master/pages/index.vue#L39), which is w

[2020-02-01 02:44] cuebit commented on #547
Duplicate of #524

[2020-02-01 15:36] kiaking opened #552 "Use eslint instead of tslint"
Seems like tslint is deprecated and we should use eslint instead.

[2020-02-01 15:37] kiaking opened #553 "Update Normalizr"
Normalizr 3.5.0 is out but if we update, test fails. Haven't looked into it yet but we need to fix it.

[2020-02-01 15:43] kiaking commented on #549
Fixed with Vuex ORM 0.35.2! 🎉 Thanks to @cuebit!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.35.2

[2020-02-01 15:43] #549 closed

[2020-02-01 15:52] kiaking commented on #93
There's still lots to go with bug fixes. I've created GitHub milestone instead so let's track the progress here!
https://github.com/vuex-orm/vuex-orm/milestone/1

[2020-02-01 15:52] #93 closed

[2020-02-01 15:55] kiaking commented on #541
@alexsonnay Do you have any updates on this one 😃?

[2020-02-01 15:58] kiaking commented on #547
Yeah this is the same cause as #524. You're using the mutator correctly, though we must re-think how mutator gets executed. I'll close this issue but let's continue discussion at #524.

[2020-02-01 15:58] #547 closed

[2020-02-01 16:05] kiaking opened #554 "Enable passing data to persistent methods"
Currently, we must pass object (`User.insert({ data: { ... } })`) to class persistent methods expect for `update`. This was because it was implemented in a consistent way with Vuex Actions. However, I think it's more popular to use class method instead, so I think it would be better to just be able to do this.

[code]

Also, options should be passed as 2nd argument.

[code]

However, to avoid brea

[2020-02-02 12:13] cuebit commented on #544
This is primarily a server side issue. It’s **not** a client issue.

### Advisory
Please use [v0.34.1](https://github.com/vuex-orm/vuex-orm/releases/tag/v0.34.1) if this is a critical issue.

### Reproduction
To reproduce this issue, install the [Vuex ORM Nuxt Example App](https://github.com/vuex-orm/vuex-orm-examples-nuxt), update to the latest plugin release and observe the terminal output.

###

[2020-02-02 12:15] cuebit commented on #544
Additionally, there may be alternatives to mitigate this issue without the use of runtime class extensions. One example would be to set the database instance on the model itself which also adds to scalability.

[2020-02-02 16:38] cuebit commented on #552
Presumably this means a move away from Standard JS?

[2020-02-03 00:58] kiaking commented on #552
@cuebit Thinking to move away from Standard. [More on here](https://github.com/vuex-orm/vuex-orm/pull/555#issuecomment-581097423) 👍

[2020-02-03 11:28] cuebit commented on #485
@kiaking this is resolved with `id: this.uid(() => uuid())`?

[2020-02-03 11:38] cuebit commented on #438
This issue has been resolved since [v0.34](https://github.com/vuex-orm/vuex-orm/releases/tag/v0.34.0)

[2020-02-03 11:38] #438 closed

[2020-02-03 13:31] SzNagyMisu opened #557 "Add Database to plugin argument"
So, I was sooo happy when #535 was merged and with [v0.35](https://github.com/vuex-orm/vuex-orm/releases/tag/v0.35.0) came the possibility to register models at run time. Then I started to use this feature to be able to split my models into chunks, and import only models required by the component on screen.

Then I realized (through a bunch of nice error messages) that I use vuex-orm plugins that

[2020-02-03 14:00] kiaking commented on #485
@cuebit In fact yes, that should work! Id will be generated when instantiating the model so both $id and id should have the same value when using `this.uid()` 👍

@petertoth Canyon check the above method and see if everything works correctly?

[2020-02-03 14:04] cuebit commented on #485
@kiaking Looking at some closed issues I believe `uid` attribute was designed with this in mind. I have tested this and works perfectly.

Would be keen to get @petertoth’a feedback before closing.

[2020-02-03 14:05] kiaking commented on #557
@SzNagyMisu Actually there's no reason why Database shouldn't be extended. I just didn't thought through about the use case. But yea we should include the Database class to the plugin argument 👍

And I think to achieve your use case, extending Database might be the fastest way. In the future, maybe it's better for Vuex ORM to have some hooks that would be called when a new entity is added. Not sur

[2020-02-03 14:07] SzNagyMisu commented on #557
Truly sorry, I must be really tired...

Of course, I will use `Model.state()` and extend `Getters`, `RootGetters`, `Actions`, `RootActions` and `RootMutations` to have a clean code...

So my use case seems to be irrelevant. Thanks for the feedback, though.

@kiaking feel free to close this issue.

[2020-02-03 14:09] kiaking commented on #557
Ah OK. Though I still think we should add Database to plugin, so I'll rename the title and keep it open!

I'm happy to hear you found a solution! Thanks for the feedback anyway 😃

[2020-02-03 15:24] petertoth commented on #485
Yes I can confirm it works as expected now. Thanks for looking into it!

[2020-02-03 15:24] #485 closed

[2020-02-03 15:25] kiaking commented on #485
Niiiice 👍

[2020-02-04 08:34] cuebit commented on #557
This will be available in 1.0.0

[2020-02-04 12:11] cuebit commented on #550
Could you elaborate @madStitcher on what you'd like to utilise it with?

There's no particular documentation for `nuxtServerInit` since Vuex ORM can be leveraged both server and client side – and it's entirely up to the user how they wish to utilise Vuex ORM.

[2020-02-04 12:21] cuebit commented on #548
By way of update @flyingboy007, there is a known issue when using Vuex ORM `0.35.x` with Nuxt so it may be this is a conflicting issue with #544

Will keep you posted.

[2020-02-04 15:40] cuebit commented on #524
@kiaking this is trivial. The documentation states the mutation takes place on instantiation of a model without implying that the mutation is being persisted to the store (yet it is). Introducing the concept of mutating only persisting records makes this a breaking change for anyone who's implementation utilises mutators in this way.

My two cents, considering attributes are declared for schematic

[2020-02-04 16:15] Vercoutere commented on #544
Same thing here using Vue.js Server-Side Rendering.
Error occurs at insert of a new model in my store.

`this.$db().model('companies').insert({data: normalizeJson(company)})`

Retrieval works without issue.

[2020-02-05 16:06] kiaking commented on #524
@cuebit Yea, I agree too, I think mutation should only happen on the persistent phase. However, one idea is, maybe we should remove the current mutation feature.

We should implement some way to transform incoming data. It is a long-requested feature. Mostly for transforming API response into Vuex ORM model schema.

Mutation can be used for this purpose at some level. For example, you can change t

[2020-02-05 22:07] mhluska opened #558 "Handling sparse fieldsets?"
We use a convention of the JSON:API spec known as [sparse fieldsets](https://jsonapi.org/format/#fetching-sparse-fieldsets). This means that records in the store may sometimes end up being partially complete. For example a user record have a `username` field but be missing any relational fields like `comments`.

Is there any way to handle this on the vuex-orm side? Currently I do something like th

[2020-02-06 09:56] omanizer opened #559 "Can model fields be optional ("schemaless" models)?"
First off, this project is fantastic.  I discovered it a few hours ago and I've already started migrating a project over to it.  I've created a lot of manual CRUD implementations on top of Vuex and they have been OK, but this makes everything so much easier.  I plan to use this a lot in the future.  Thank you!

I've noticed that when I don't declare *every* field, the fields I don't declare don't

[2020-02-06 10:08] Vercoutere opened #560 "Can't use alternative id since update"
The added UID feature in 0.34.0 breaks the following code defined on a model:

[code]

Though no id is present (or is null) on my record's source data, the id is already replaced by a generated UID at this point.
As far as I can tell, there is no other easy way to replicate this type of functionality.

[2020-02-06 10:35] stroel commented on #321
Hi @malinushj ,

We have used this in our app and everything worked as expected. So that's the good news.
But after we have updated the vuex-orm package, we now have duplicate entries.

This is since v0.33.0 - https://github.com/vuex-orm/vuex-orm/releases/tag/v0.33.0

This is an output of the vuex-plugin in Chrome.
![image](https://user-images.githubusercontent.com/3242102/73928754-ebd31500-48d3-1

[2020-02-07 03:04] sarahdayan opened #561 "Confused about relationships"
Hi, and thanks for the great package!

I'm having trouble with what seems to be a quite simple use case. I have two models; `User` and `Message`. A `Message` belongs to a `User`. They're both registered in my Vuex store.

I'm trying to insert a new message and its associated user from a method in a Vue component. When this is called, both entities are effectively created in the store (the `Message

[2020-02-07 03:18] petertoth commented on #561
In your example you have a typo in querying user relationship on message model:

It should be `this.$store.$db().model("messages").query().with("user").get()` instead of  `this.$store.$db().model("messages").query().with("users").get()`

Hope it helps 👍

[2020-02-07 03:30] cuebit commented on #561
If a user already exists, i.e. `this.$store.$db().model('users').find(userId)`, then just the `userId` field is sufficient for Vuex ORM to map the message to that user without having to supply the entire user data.

[2020-02-07 03:55] cuebit commented on #559
Glad to hear you're reaping the rewards, @omanizer.

Vuex ORM relies on data schema(s) in order to normalize and process data and relationships. Without said schema(s) this would be impossible.

However, I like the idea of collecting non-declared fields that are detached from the entity but recorded nonetheless. For example, and correct me if I'm diverging from your statement, declared fields can

[2020-02-07 09:03] sarahdayan commented on #561
Wow, I can't believe myself 🤦‍♀
Thank you @petertoth and @cuebit this was exactly the problem! That's what you get for coding late at night I guess.

I'll close this but I will open a PR to clarify that in the docs 🙂

[2020-02-07 09:25] #561 closed

[2020-02-07 17:39] omanizer commented on #559
I think what you're saying is in the right direction and would work fine as along as these "unsafe attributes" could be adjacent to the declared fields.  Here's how I would see it being used in my case:

I define a "User" model with these fields:
[code]
When I make a request from the server I would get something like this:
[code]

At that point I would have a user record.  It would be really nice

[2020-02-07 21:02] HamishBrindle commented on #516
I also ran into this problem with insertOrUpdate, as well as with insert, create, and update. I think it's got something to do with the Normalizer. It's modifying the original data. I've been cloning data before inserting it as a result for a bit now.

Anyway we can return the normalized data within the original data?

[2020-02-10 08:51] mikevmil commented on #519
Any updates on this issue? I'm waiting for this bug to be fixed so I can release my project. :)

[2020-02-12 14:53] mcastagnetti opened #565 "Generating missing foreign keys doest not work anymore"
There is a regression between the `0.33.0` version and `0.35.2` version.
The foreign key generation described in [the inserting and updating section](https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#generating-missing-foreign-keys) doest not seem to work with an entity with composite keys.

I forked a codesandbox with a simple CRUD example to illustrate the problem.

- Wi

[2020-02-12 18:26] cuebit commented on #565
Oh snap, very good find. Thanks @mcastagnetti for reporting this. Need to add some tests to avoid these regressions in future.

[2020-02-13 21:39] Braincoke opened #566 "Update and insert not working as expected"
Hi,

I fail to insert and update models with their relationships.

I have a User and a Todo model heavily inspired by [Nuxt ORM example](https://github.com/vuex-orm/vuex-orm-examples-nuxt).
When I try to insert a Todo by giving it a `user_id`, the Todo is created but my User does not get updated with the new Todo.

I use the following code to insert a new Todo :
[code]

The issue is even worse whe

[2020-02-14 14:06] JasonLandbridge commented on #566
I think you forgot adding[ primary keys ](https://vuex-orm.github.io/vuex-orm/guide/model/defining-models.html#primary-key)in your models

[2020-02-14 14:31] Braincoke commented on #566
According to the documentation:

From what I understand my models both have this id:

[code]

Is there something else missing ?

[2020-02-14 14:33] JasonLandbridge commented on #566
You need to define and tell Vuex-ORM which property is your primary key:
`  static primaryKey = 'id'`

[2020-02-14 14:35] Braincoke commented on #566
Ok I'll try that.
If that is the issue the documentation can be confusing since it lets us believe that adding `static primaryKey = 'id'` should only be used to override the convention.

[2020-02-14 14:40] Braincoke commented on #566
I tried your suggestion but unfortunately it didn't work.

[2020-02-14 14:48] JasonLandbridge commented on #566
Ah I missed that one, looking closer to your question I realize i am having the same problem. I'm also working in Nuxt with Vuex-orm but none of my relationships are updated when inserts are happening.

[2020-02-19 09:41] Fnxxxxo commented on #494
@kiaking still find it wired to explicit declare type for each query result, like
[code]
Any way to simply it? Can each query infer its return type?

[2020-02-19 10:51] JelleScheer commented on #529
Maybe I'm not quite understanding the way reactivity would be obtained now (without having to call Model.update all the time), but here is a minimal reproduction repo to demonstrate what I mean:

https://github.com/JelleScheer/VuexOrmReactivityIssue

[2020-02-20 14:38] JasonLandbridge opened #569 "Broken link in documentation"
Hey,

In the [has-many-through paragraph](https://vuex-orm.github.io/vuex-orm/guide/model/relationships.html#has-many-through) there is a link at the end that is broken.

Thanks!

[2020-02-21 13:44] davidsandoz commented on #122
@kiaking Would there be somewhere an example of how to use a lifecycle hook to remove the relation while not deleting the related record?

The `deleteMissingRelation` option mentioned above would have been perfect for my use case, but I couldn't wrap my head around doing it with a lifecycle hook.

It looks like #185 was about doing the same thing, but the lifecycle hook solution was suggested ther

[2020-02-22 08:24] cuebit opened #571 "Many-to-many relations `orderBy` constraint does not resolve"
### Description

Using `orderBy` constraint on nested relations does not fulfil the order criteria.

This seems to be affecting the following relationships:

- [Many To Many](https://vuex-orm.github.io/vuex-orm/guide/model/relationships.html#many-to-many)
- [Has Many Through](https://vuex-orm.github.io/vuex-orm/guide/model/relationships.html#has-many-through)
- [One To Many (Polymorphic)](https://

[2020-02-22 09:09] #569 closed

[2020-02-22 09:10] cuebit commented on #569
Good spot @JasonLandbridge. Thanks!

[2020-02-23 03:13] cuebit commented on #553
Looking at [this diff](https://github.com/paularmstrong/normalizr/commit/df459545714ecd3cfb4bafe0f7010a012b25f716#diff-0259e620a36a18bc8e8a06f1bf5b180d) it looks like `getId` is now called before the `processStrategy` hook rather than after. The current process mutates the input _after_ the id for the entity is collected so it has no effect.

Vuex ORM's current _ProcessStrategy_ simply generates t

[2020-02-24 02:16] cuebit commented on #553
This patch works with the new 3.6.0 release also.

[2020-02-24 02:25] cuebit commented on #560
Is that a method added to a model you're defining or are you referring to the underlying code @Vercoutere?

[2020-02-24 03:08] cuebit commented on #554
@kiaking can you confirm that this is a purely syntactical change for class based actions and not root actions?

[2020-02-24 08:24] Vercoutere commented on #560
That's a method added to a model.

[2020-02-24 08:29] cuebit commented on #560
Could it be that this method is conflicting with [getIndexIdFromRecord](https://github.com/vuex-orm/vuex-orm/blob/465b4686ae42edde5664d8743ac809913dce51d4/src/model/Model.ts#L489) that’s relevant to the underlying model functionality or are you intentionally overriding?

[2020-02-24 18:07] mean-cj opened #575 "How i can pass vuex-orm on vue plugin"
Hello

Cloud you please suggestion
How i can pass vuex-orm data to vue plugin component

example code is this.$store is undefined

#store.js
[code]

#plugins\test\index.js
[code]

#Dialog.vue
 console.log(this.$store) // print undefined

Thank you so much.

[2020-02-24 21:28] mean-cj commented on #575
[code]

[2020-02-24 21:28] #575 closed

[2020-02-24 23:37] supercodepoet commented on #544
We are having the same issue using this library in an Electron app. Downgrading to 0.34.1 fixed the issue. It appears to happen because of the `createBindingModel `call in:

[code]

The transpiled Typescript that is in `vuex-orm.esm.js` looks like:

[code]

With the line  `return _super !== null && _super.apply(this, arguments) || this;` throwing the error about not using `new` with the class cons

[2020-02-26 05:34] kiaking commented on #537
Sorry for the late response! Yeah this makes sense. Let's mark this as an enhancement issue 👍

[2020-02-26 06:37] kiaking commented on #122
Yeah I know, we should have some way to delete relationships in one shot as well. It just I haven't had time just yet!

[2020-02-26 06:59] kiaking commented on #566
The update will not create relationships in that syntax. You must use

[code]

However, not sure why insert is not updating. Do you have any reproduction code?

[2020-02-26 07:26] kamwing opened #578 "0.35.2 vuex-orm.min.js:formatted:3525 Uncaught (in promise) TypeError: Class constructor x cannot be invoked without 'new'"
[code]

[2020-02-26 07:30] cuebit commented on #578
Duplicate of #544

[2020-02-26 07:30] #578 closed

[2020-02-26 08:35] Braincoke commented on #566
Are the resources I provided when creating the issue not enough ?
Not that the online version has devtools activated.

[2020-02-26 10:53] cuebit commented on #566
Your inserts are working fine. You're not seeing the results because you are not eager loading the required relationships.

In your `InsertTodo.vue` and `UpdateTodo.vue` replace `all()` with:
- `this.User.query().with('todos').get()` in `users()`
- `this.Todo.query().with('assignee').get()` in `todos()`

Your updates won't work with the syntax you're using, as mentioned by @kiaking. Updates to rec

[2020-02-26 13:43] Braincoke commented on #566
Thank you all for taking the time to detail your answers.
After rewriting the reproduction code according to your code I can see that the relationships are being created.

As stated by @cuebit, in the end the problem was that I was not eager loading the required relationships. After changing that the insertion code showed me the updates.

Regarding the update code, the attribute `insert: ['todos']

[2020-02-26 13:45] #566 closed

[2020-02-26 21:07] fractalf opened #580 "Update not working (doing insert?)"
I'm playing around with vuex-orm and stumbled upon something weird when trying to update a record..

What am I missing here?

[code]
console:
![image](https://user-images.githubusercontent.com/5707457/75387680-fa658880-58e3-11ea-9421-092892d09581.png)

vuex:
![image](https://user-images.githubusercontent.com/5707457/75387815-2e40ae00-58e4-11ea-83ae-ffb3bf42f61a.png)

I'm expecting record with id 1

[2020-02-27 11:24] n28div commented on #391
Any update on this?

[2020-02-27 12:33] cuebit commented on #580
You're missing `id` in your `fields` declaration.

[2020-02-27 19:12] fractalf commented on #580
Gaaaawd... Thanks @cuebit , I guess I somehow thought that was a build in field..

[2020-02-27 19:12] #580 closed

[2020-02-28 12:02] SolStis86 commented on #455
@kiaking is this being released?

[2020-02-28 13:00] flamytwista opened #581 "Wrong type of inherited models (STI)"
Steps to Reproduce (Example is similar to guide):

[code]

Expected behavior:

[code]

Actual behavior:

[code]

You will get tons of bugs and surprises if you'll use inherited models in conjunction with hasMany and manyMany relations with other models.

Bug is detected on vuex-orm versions from 0.34.0 to 0.35.2
There is no bug in versions from 0.32.0 to 0.33.0.
So I was forced to downgrade to ver

[2020-03-02 14:43] tomasvanrijsse opened #582 "Adding new items overwrites existing items"
I am running into an issue in my own project with vuex-orm and cloned [the example project](https://github.com/vuex-orm/vuex-orm-examples-nuxt/) to see that it has the same issue.

Steps to reproduce
1) clone https://github.com/vuex-orm/vuex-orm-examples-nuxt/
2) run `npm run dev`
3) click on 'ADD TODO'

ps. Refreshing the page will change the 'database pointer' and make only a few items get overw

[2020-03-02 23:44] lukaslaskovski commented on #494
If you want to use it together with TypeScript you have to do a small hack which consists in additional definition of field types.

[code]
Then you can go like:

[code]

It is not beautiful but works temporarily until ORM starts to support TypeScript :)

[2020-03-02 23:53] cuebit commented on #494
@lukaslaskovski what Typescript support are you looking for

[2020-03-03 00:04] lukaslaskovski commented on #494
@cuebit  Excuse me. Actually, it will be rather an ESlint / TSlint problem that does not see the definition of the fields and throws errors like:
`Property 'name' does not exist on type 'ProductModel'.`

[2020-03-03 00:28] cuebit commented on #494
@Fnxxxxo @lukaslaskovski I accidentally closed this issue mid comment. Sorry for the confusion.

It's often best practice to create your own type-guards that a third-party library is otherwise unaware of. Models are suspect to this especially as they are populated during runtime but nothing an interface won't resolve.

[2020-03-03 09:16] kiaking commented on #554
@cuebit Ah, good point. I like (2) as well. I think it's most visible and intuitive 👍

[2020-03-03 09:51] kiaking commented on #529
Thanks for the repo! But I think you're using it right. Where do you get the reactivity issue? It's correct that the results are not getter and setter, though the reactivity should still work.

[2020-03-03 09:54] kiaking commented on #571
Thanks for finding this out! Is the fix ready...?

[2020-03-03 10:04] cuebit commented on #571
The commit resolves all but has-through. I still need to look into this one.

[2020-03-03 10:05] kiaking commented on #571
Oh OK. Great. Thank you for working on it! 🤝

[2020-03-03 10:08] kiaking commented on #560
@Vercoutere Do you have any updates on this?

[2020-03-03 10:20] #391 closed

[2020-03-03 10:25] kiaking commented on #455
@SolStis86 Oh yes, it should be fixed I think. So you still see the issue?

[2020-03-03 10:51] kiaking commented on #327
This is now possible with Vuex ORM 0.36.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.36.0

[2020-03-03 10:51] #327 closed

[2020-03-03 10:52] kiaking commented on #486
This feature is now added to Vuex ORM 0.36.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.36.0

[2020-03-03 10:52] #486 closed

[2020-03-03 10:53] kiaking commented on #527
This feature is now added to Vuex ORM 0.36.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.36.0

[2020-03-03 10:53] #527 closed

[2020-03-03 10:53] kiaking commented on #557
This feature is now added to Vuex ORM 0.36.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.36.0

[2020-03-03 10:53] #557 closed

[2020-03-03 11:51] cuebit commented on #554
Great. We'll stick with what's implemented in a74bfb3.

@kiaking I did consider creating a new `persist` method that would cater for the new style and backward compatibility, however, I feel this will pollute the model and also would mean a instance version `$persist` would be required to keep consistency.

What do you think? Is the current method, where we simply check for persist method name in

[2020-03-04 04:36] Fnxxxxo commented on #494
@lukaslaskovski I use eslint.
@cuebit So you meas something like
[code]

[2020-03-04 06:38] JackEdwardLyons commented on #356
Any news on this and why it should be null?

[2020-03-04 09:07] DQvsRA opened #584 "How to set default value from function only once?"
I have a model that generate UUID for user device, it then must be stored and never be changed.

[code]
Some parts of the model comes from external json and I use `vuex-orm-localforage` to store data locally:
[code]

As result I have `deviceId` function executed many times:

<img width="180" alt="Screenshot 2020-03-04 at 10 02 50" src="https://user-images.githubusercontent.com/442111/75862510-5c9c

[2020-03-04 09:19] Vercoutere commented on #560
The way I'm currently solving this is by adding a closure to the uid method call that explicitly returns null as the default value. Feels like a bit of a hack, but it gets the job done.

`id: this.uid(() => null),`

[2020-03-04 09:23] kiaking commented on #544
Thanks to @cuebit, this should be fixed with Vuex ORM 0.36.1! 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.36.1

[2020-03-04 09:23] #544 closed

[2020-03-04 09:25] kiaking commented on #548
@flyingboy007 #544 is fixed with Vuex ORM 0.36.1. Could you try this one and see if it fixed this one as well?

[2020-03-04 09:28] Maqsyo commented on #584
This 'issue' has nothing todo with vuex-orm
What you are seeing here is recursion.

![image](https://user-images.githubusercontent.com/19644698/75864271-0d0b2080-5e02-11ea-98f3-89c4e6dba4f6.png)

in my opinion it would be better to use the static "afterCreate" - method from your model class and generate a new deviceId if none is set

[code]

[2020-03-04 09:30] #516 closed

[2020-03-04 09:36] kiaking opened #585 "Introduce Repository Pattern"
Introduce a new repository pattern to interact with the store. Instead of using static model methods, we'll let user first obtain a repository instance, and use it to perform any CRUD operation against the store.

It will not break any existing functionality but adds a safer, and complete way to use Vuex ORM during the server side rendering (SSR).

## Basic example

[code]

## Motivation

Currentl

[2020-03-04 12:27] DQvsRA commented on #584
Oh, shit, you @Maqsyo right, it was late night yesterday. Thanks for advice, looks like it works as I wanted : )

I'm rewriting very old React and MMVC Haxe based application with complex data structures.
And I faced another kind of problem - the data come as one piece and I divided it into smaller Models :
[code]
[code]
[code]
And I registered it as
[code]

However after data has fetched with `vu

[2020-03-04 12:51] cuebit commented on #584
You'll want to eager [load the relationships](https://vuex-orm.github.io/vuex-orm/guide/data/retrieving.html#relationships) in order for them to be populated. Otherwise their values will be empty arrays (for one-to many, many-to-many) or null (one-to-one).

If you'd like to load manifests with their settings, and settings with their parameters, you can do so with [loading nested relations](https:/

[2020-03-04 12:53] cuebit commented on #581
Thanks @flamytwista for the detailed bug report. Not sure how this has slipped through the net @kiaking.

[2020-03-04 13:01] DQvsRA commented on #584
Thank you @cuebit for answer.
Strange but for using `ManifestModel.query().withAllRecursive().get()` show me nothing in `settings` field:
[code]
And data displayed in vuex:
![Screenshot 2020-03-04 at 13 58 47](https://user-images.githubusercontent.com/442111/75881942-6b46fc00-5e20-11ea-86fe-516b13f5ca04.png)

[2020-03-04 13:29] DQvsRA commented on #584
And this is a way how I retrieve the data: `ManifestModel.api().get(config.manifestUrl, { params: config.manifestParams })` with `vuex-orm-axios`

[2020-03-04 13:43] cuebit commented on #529
@kiaking I think what @JelleScheer is referring to is that prior to v0.34.# retrieval methods would return the Vuex state as model props. This meant the reactivity from Vuex was passed on to computed properties when fetching data through models therefore could be mutated directly.

@JelleScheer the reactivity you're referring to was never intended behaviour, more a bug. When retrieving data models

[2020-03-04 18:57] cuebit commented on #584
@DQvsRA from what I can see, most likely your models and relations are not configured correctly.

Judging by the way you've defined your models, I'm assuming the following is what your request data should look like:

[code]

All models must have a [primary key](https://vuex-orm.github.io/vuex-orm/guide/model/defining-models.html#primary-key) for relations to work. By default Vuex ORM looks for the

[2020-03-04 19:12] cuebit commented on #560
Correct me if I’m wrong, could you not use `id: this.attr(null).nullable()` instead of the UID attribute?

[2020-03-05 08:09] Vercoutere commented on #560
Sure, the outcome would be the same.

[2020-03-05 11:16] Maqsyo opened #587 "[bug] elements are overridden after reload with vuex-persist"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/19644698/75976196-3e571f80-5eda-11ea-9b3d-9301816ad1ca.gif)

If you use vuex-orm with vuex-persist you onccur the problem, that, after a reload, vuex-orm starts to count at 1 again. So your persisted elements will be overridden.

Here you have an simple repo to check this out.
https://github.com/Maqsyo/vuex-orm-uid-bug

[2020-03-05 11:35] JelleScheer commented on #529
Ah that's interesting, thanks for the info @cuebit.
When developing a large scale application this does seem to come with a **lot** of boiler plate code as many applications use a lot of simple v-model bindings for inputs etc.
How do you feel about this?

[2020-03-06 13:57] lukaslaskovski commented on #488
This thread should have been re-opened because in fact `findIn` is also not returning a relationship for me and using `whereIdIn` is currently impossible because it does not support composite keys (#459).

[2020-03-06 19:25] lukaslaskovski opened #588 "findIn not work with relation"
BookModel relation definition:
[code]
author is null when using findIn like:
`BookModel.query().with('author').findIn([1, 2])`
and works well with whereIdIn:
`BookModel.query().with('author').whereIdIn([1, 2]).get()`

[2020-03-06 20:50] cuebit commented on #588
Thanks for reporting this @lukaslaskovski. This looks like a bug that's been hiding behind the sofa.

[2020-03-07 19:13] #584 closed

[2020-03-08 01:01] flyingboy007 commented on #548
@kiaking Great I will try and update

[2020-03-08 13:06] #553 closed

[2020-03-08 13:10] #588 closed

[2020-03-08 13:19] kiaking commented on #582
Hmmm, not sure why this is happening but for Nuxt, we might need some architectural change. I'm currently implementing those changes, so I'll come back once that is done. Thank you so much for your report!

[2020-03-08 13:21] kiaking commented on #554
@cuebit Yea I think so. I was thinking to handle arguments in side model method, and pass to `dispatch` as current api.

Since I think we need to support direct module usage (without class method), we must keep module api the same.

[2020-03-08 13:23] kiaking commented on #581
Hmmm, I guess we need lot more test on STI...

[2020-03-08 13:26] kiaking commented on #587
Ah... yea. I think this would happen. Hmmm, maybe we should store uid increment numbers to Vuex State as well, or either implement a real UID feature.

[2020-03-08 13:28] kiaking commented on #529
@JelleScheer I understand that there'll be lots of boiler plates, though this is more of Vuex limitation. I think the best solution for this, is to create your own custom input component that takes the model instance as props, and do all the handling.

I don't think there's much we can do as Vuex ORM 🤔

[2020-03-08 13:31] #571 closed

[2020-03-08 13:36] petertoth commented on #581
Hey @flamytwista, I'm not sure if this is related but I have a quite big PR coming regarding STI mainly focused on  fixing inserting/retrieving custom relationships within STI though it should address your issue as well.
If you want you can install the package from my forked repo and see if it resolves your problem: https://github.com/petertoth/vuex-orm/tree/fix-custom-relationships-derived-models

[2020-03-08 16:08] Maqsyo commented on #587
I think storing it in the state could be a really good quick fix. Thats how MySQL is doing it.

[2020-03-08 16:31] cuebit commented on #587
I tried two implementations yesterday, store method as @Maqsyo suggested and the UID refactoring as @kiaking suggested.

I found there are side-effects to both approaches but the store is more feasible especially since no additional logic is required when using third party persist tools.

UID’s are especially important when generating indexes so a lot of logic is required when refactoring. Where a

[2020-03-08 22:56] flyingboy007 commented on #548
Thank you for the fix. It is working now.

[2020-03-08 22:56] #548 closed

[2020-03-09 01:30] cuebit commented on #554
I think I understand where you're coming from.

FYI the module API hasn't changed. The dispatch intersects incoming payload (and options, if any) from the static and instance methods – it then normalizes it so that it's passed to the module API in the way it expects it. This aids backward compatibility to prevent breaking changes for existing users – so both `{ data }` and `(data, options)` format

[2020-03-09 12:37] kiaking commented on #548
@flyingboy007 Wonderful to hear that!!! Thank you for confirming 👍

[2020-03-09 12:40] kiaking commented on #587
@cuebit Thank you for trying out! Yea, I think storing inside Vuex State would work. There're lot of UID implementation out there, and if you really need UUID in client side, the work needed for the app would vary from user to user I guess. So keeping Vuex ORM default UID as simple as possible would be the way to go, I think 👍

[2020-03-09 13:00] kiaking commented on #554
@cuebit Oh yea that looks very nice! Good idea. I have no problem with this `createPersistPayload` method. I think it could be private method though 👍

This is not really related to this issue, but could you extract `createPersistPayload` to its own helper function file? we'll need the exact same feature in the upcoming Repository class as well 🌞

[2020-03-09 13:17] kiaking commented on #476
Closing the issue due to inactivity. Please feel free to open another issue if there's anything! 🤝

[2020-03-09 13:17] #476 closed

[2020-03-09 13:17] kiaking commented on #533
Closing the issue due to inactivity. Please feel free to open another issue if there's anything! 🤝

[2020-03-09 13:17] #533 closed

[2020-03-09 13:20] kiaking commented on #492
Closing the issue due to inactivity. Please feel free to open another issue if there's anything! 🤝

[2020-03-09 13:20] #492 closed

[2020-03-09 13:21] kiaking commented on #508
Closing the issue due to inactivity. Please feel free to open another issue if there's anything! 🤝

[2020-03-09 13:21] #508 closed

[2020-03-09 13:21] kiaking commented on #518
Closing the issue due to inactivity. Please feel free to open another issue if there's anything! 🤝

[2020-03-09 13:21] #518 closed

[2020-03-09 13:21] kiaking commented on #507
Closing the issue due to inactivity. Please feel free to open another issue if there's anything! 🤝

[2020-03-09 13:21] #507 closed

[2020-03-09 14:03] kiaking commented on #541
Closing the issue due to inactivity. Though, I think it's answered. Please feel free to open another issue if there's anything 🤝

[2020-03-09 14:03] #541 closed

[2020-03-09 15:19] cuebit commented on #554
I'll do one better, I'll move `createPersistPayload` to `PayloadBuilder` and rename it to `normalize` – you can then use `PayloadBuilder.normalize(payload, options?)`.

I think that's a suitable compromise?

[2020-03-09 23:50] kiaking commented on #554
Ah good naming! Yap, that would go pretty well I think.

[2020-03-10 00:10] cuebit opened #593 "Migrate unit tests from JS to TS"
There is a mixture of TS and JS unit tests, the latter being more prominent.

We should aim to migrate all tests to TS because:

- The codebase is written in TS
- Will encourage the use of [Prettier](https://prettier.io) (may impact #555)
- Allow collaborators to dissect any type issues
- Promote consistency between source code and real time usage
- Bridges coding practices adopted by Vue 3

Unit

[2020-03-10 00:16] kiaking commented on #593
One thing I would also like to consider is whether we should have decorator integrated to the tests. Defining models without decorator is bit overwhelming. In that case, maybe we should integrate decorator to the core as well... not sure.

I was thinking creating a dedicated TypeScript section once we have decorators.

This is very true, and for those users, maybe it would be nice to have clean TS

[2020-03-10 00:23] cuebit commented on #593
Oh of course, @kiaking!! I completely overlooked decorators. This will definitely bode well with decorator integration.

[2020-03-10 00:28] kiaking commented on #593
Oh no it's my fault. I think I can work on wth decorators after finishing up the Repository pattern issue #591. 👍

And interns of whether to include decorators to core or not... I think it's OK to have it as a separate package, but still use it within the tests. It might look like testing decorator package inside core package, but when we think of it as a mono-repo, it does make sense as a feature

[2020-03-10 01:52] skflowne opened #594 "Trying to write a plugin for Firestore, need help understanding how to"
Fairly new to Vuex-ORM, I tried going through the code of the project and of the other plugins available for Axios and GraphQL but I'm a bit lost, I thought I'd ask directly for pointers here.

I want to write a plugin for Firestore, this what I have so far

[code]

So fetching data and creating data works but I'm having trouble reading the state.
The state is updated correctly, but changes don't

[2020-03-10 02:02] cuebit commented on #593
OK cool. Given that most tests have been migrated, mentioned elsewhere, I think we can introduce decorators once you've had a chance to look into it. Could mean that Prettier may be implemented without decorators in the meantime.

[2020-03-10 07:54] kiaking commented on #593
Ah, yea. That true. We could do that upper hand 👍

[2020-03-10 07:59] kiaking commented on #594
Hmmm, never tried this approach.

Could you check if directly referencing the state in computed property would work?

[code]

If this doesn't work, it might be something to do with state update logic.

[2020-03-10 08:05] kiaking commented on #455
@SolStis86 Do you have any updates on this?

[2020-03-10 11:07] kpilard opened #595 "Delete Data With relations"
Hey,

it would be nice to delete a model from the store with specific relations.

[code]

Or maybe allow deleting with the querybuilder

[code]

[2020-03-10 15:07] cuebit commented on #595
Cascading is a nice feature, for sure. Something that is currently not supported by Vuex ORM but we may dip our toes to test the waters on this feature.

There is an issue open related to this (#345) – we'd be happy to listen to your suggestions over there.

[2020-03-10 19:56] skflowne commented on #594
This does not work either.
What would be the preferred approach to update state and access it through the model instance ?

[2020-03-10 23:16] skflowne commented on #594
So I actually managed to solve it by modifying the `$mutate` in `RootMutations`, or rather rolling a modified version as well with a `modifiedCommit` on the `Model` to use it.

[code]
As you can see, it also works if I don't return but simply assign on the state that is passed to the callback, which I thought was weird.

But I guess it makes sense if the only problem was that the state wasn't gett

[2020-03-11 01:20] cuebit commented on #594
Do the static states, i.e. `creating`, exist on the models at the time of calling `isCreating`?

One thing I noticed, when you `return this.state.creating || { loading: false, error: null }` if the state doesn't exist or is false you're returning a plain object – this is where reactivity gets lost.

[2020-03-11 03:21] cuebit commented on #455
@kiaking sadly, no, this bug is still present.

The issue is that `$update` does not support composite keys per-se. It passes the index as a condition, in the case of composite keys this will be a string, Query throws since it doesn't allow `string` or `number` on models with composite keys.

A patch has been applied to an existing PR (#590) since it bodes well with the composite key work in that

[2020-03-11 04:40] skflowne commented on #594
I'd like to add those states to each model with the plugin, and not have to define them on the models themselves.

Not sure how to accomplish that while retaining the ability to define custom state via the models.

[2020-03-11 06:28] cuebit commented on #594
I think it boils down to naming conventions. It’s not dissimilar to how you would prevent state clash in Vuex. Perhaps `$firestore` or similar could be attached to each entity, which could then contain all necessary states required by the plugin.

There's no easy way to tap into Model states, so I would recommend defining states on models a little differently than what's documented. Maybe somethin

[2020-03-11 12:21] kiaking commented on #595
Thanks for the feedback! yea this is some thing we would need. Closing the issue due to duplication, though feel free to add your ideas to #345 👍

[2020-03-11 12:21] #595 closed

[2020-03-11 12:23] kiaking commented on #455
Oh, OK. Cool! I'll look into the PR 👍

[2020-03-12 09:32] skflowne commented on #594
Thanks for that, it now works fine without having to have my own `modifiedMutate` and `modifiedCommit` functions.

However, there is something really strange happening
[code]
In this code, I pass an undefined field to the `add` function so that an error occurs (Firebase won't accept an undefined field)
And while I can see through the dev tools that the states are occuring correctly, meaning I get

[2020-03-12 13:13] #593 closed

[2020-03-12 13:31] kiaking commented on #455
This is fixed by Vuex ORM 0.36.3 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.36.3

[2020-03-12 13:31] #455 closed

[2020-03-13 02:14] cuebit commented on #594
Ahh my bad. I made the assumption this was to be a personal plugin.

While there aren't any `Database` hooks to easily access this sort of data (maybe we can look into this), however, you could tap into `Database` and add the state to the modules at registration time. All entities will have these states from the outset whilst maintaining any model states and module states (when registering models)

[2020-03-13 02:29] cuebit commented on #594
If you would like to discuss this further, I invite you to join the community [Slack](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTc1YTI2N2FjMGRlNGNmMzBkMGZlMmYxOTgzYzkzZDM2OTQ3OGExZDRkN2FmMGQ1MGJlOWM1NjU0MmRiN2VhYzQ) channel.

If you have find any issue with Vuex ORM itself, please don't hesitate to open a new issue.

[2020-03-13 15:20] gradedcatfood opened #600 "Are Triple Composite Keys Supported?"
We have a laravel model that has a triple composite key as a pivot table. Currently, in our vuex orm model, we have the primary key as:

`static primaryKey = ['line_item_discount_id', 'orientation_id', 'orientation_type_id']`

But when data is inserted into the store we always get a duplicate record with the 3rd key with the value of null.

This screenshot shows that 2 records are being inserted e

[2020-03-13 18:43] cuebit commented on #600
Yes, two or more composite primary keys are supported. Here's some [evidence](https://codesandbox.io/s/romantic-sound-6ymbk).

Could you elaborate by describing what your field setup looks like, any relations, etc?

[2020-03-13 19:45] gradedcatfood commented on #600
Hi @cuebit, thank you very much for the fast response and helping out!

I removed many of the irrelevant basic fields in order to prevent this post from getting too large. Here are the 3 models involved with this relationship

Orientation.js
`
import { Model } from '@vuex-orm/core'
export default class Orientation extends Model {
    static entity = 'admin_orientations';

    static fields () {

[2020-03-13 20:36] cuebit commented on #600
The more the merrier. So long as we have enough information to paint the picture and possibly reproduce, the better. Thank you for your detailed explanation and reflection.

Yes. Either string or number are acceptable using `this.attr()`.

---

Could you provide an example of the data you're passing to a model for it to generate these records?

It goes without saying, when Vuex ORM normalizes the

[2020-03-13 21:10] gradedcatfood commented on #600
Thank you for the info. If we have the option to keep `orientation_type` a string, I have reverted LineItemDiscountOrientation.js to the following:

[code]

We are using Vuex ORM Axios that calls the following:

`return LineItemDiscount.api().get('/api/line-item-discounts')`

which returns:
[code]

When following this pattern (orientation_type as a string), I can access the pivot attribute with su

[2020-03-14 01:20] cuebit commented on #600
Thank you for providing the response data.

Unfortunately this is not possible to achieve in this manner. At least without introducing an additional relation which would require an additional model. You're therefore correct in assuming that this is not currently supported.

The issue you are experiencing is admittedly unintentional behaviour caused by the existence of a third primary key and is a

[2020-03-14 21:03] gradedcatfood commented on #600
Cue, thank you very much for your detailed response. I think you have outlined our goal very well and I thank you again for helping me and our team out with this question. I think we have enough to go off from here as i think adding "type" to orientation makes sense.

P.S. I love this package and appreciate you and everyone's hard work! This package makes working with complicated objects in Vuex S

[2020-03-14 21:03] #600 closed

[2020-03-15 05:28] cuebit opened #602 "BelongsToMany resolves incorrect pivot data"
#### Describe the bug

The `belongsToMany` relation incorrectly resolves pivot data where the source model belongs to many target models in the same query. The unit test only covers a single relation which may have overlooked this issue.

#### Steps to reproduce the bug

Model definitions:

[code]

Data structure:

[code]

Data retrieval:

[code]

#### Expected behaviour

[code]

#### Actual behav

[2020-03-16 04:25] dylancopeland opened #603 "Query constraint functions don't execute on nested relationships"
#### Describe the bug

When querying, a supplied relationship constraint function does not get executed when fetching sub-relationships with the wildcard syntax (e.g. `posts.*`). The passed in constraint function doesn't appear to even get called when `with()` is called with a query containing an asterisk. I haven't familiarized myself with the internals of vuex-orm/core yet, but it appears the is

[2020-03-16 04:35] cuebit commented on #603
Well spotted, @dylancopeland.

Your initial assessment of wildcard handling is correct. It appears the constraints should be passed on but they are not.

Thank you so much for reporting this! 👍

[2020-03-16 05:35] cuebit commented on #602
This is going to be tricky to resolve. At least that’s my impression from initial diagnosis.

The only possible solution is lazy loading but that would require a substantial amount of work.

It’s worth idling this issue so it can be addressed in future.

@kiaking what’s your impression?

[2020-03-16 06:30] Maqsyo commented on #587
My current quick-fix:
I'm using the current timestamp and concatenate it with an increment-value to reduce collisions.

[code]

[2020-03-16 12:57] cuebit commented on #587
Ah yea, that’s smart 👍

[2020-03-16 12:57] kiaking commented on #602
@cuebit Ah oh yea. Thank you for finding out! Well I need to dive into the code but shouldn't this be handles during the `load` method? (`mapPivotRelations` part). Even we don't have lazy loading, we know the user_id and role_id, so I think it should work in eager loading as well. Maybe not... I might go look into Laravel's code as well.

But I agree with idling the issue and address this in the f

[2020-03-16 13:04] #603 closed

[2020-03-16 13:15] cuebit commented on #602
We do have the primary keys but the issue I see is that, while the relations and pivots are fetched correctly, the issue becomes apparent when another pivot attaches itself to the same relation because relations only exist once, not once per pivot. The relation needs to be unique for a pivot to align correctly.

Have a look at the code and let me know your thoughts in due course. I know you’ll see

[2020-03-16 13:18] kiaking commented on #602
Ahhh... OK I think I'm getting things here... hmmm... Yeah I think I'll reach for Laravel implementation for some help 🤫

[2020-03-17 02:20] kik-doctor opened #605 "How to insert data from GraphQL into model with many relations?"
I am inserting all data from users variable into the `User` model using `User.create()`. The users variable from GraphQL has 83 `pendingSurveys` but not all 83 records are inserted.

To do this, which function do I have to use instead of create function?

Here is my code to do this:

[code]

The GraphQL schema in user module:

[code]

<details>
  <summary>Click to view the full schema.</summary>

[2020-03-18 11:00] JelleScheer commented on #529
Correct me if this is just plain dumb or if there is any reason why this should not be an option: but why not add the option to automatically receive reactivity by sending the getters and setters along like how it was in v0.33.0? For those creating large projects who don't want a lot of boiler plate or custom input components this would really save a lot of hassle.

[2020-03-18 12:07] BitweenTech opened #606 "All method on child model (STI) returns all of parent's records"
#### Describe the bug

Whenever I use the 'all'-method to retrieve every record from a child class using STI (Single Table Inheritance) the return value contains all the records from the parent class.

#### Steps to reproduce the bug

1. Define a model which represents a Parent inside the Single Table Inheritance relationship.
2. Define a child-model which extends the Parent model.
3. Define anoth

[2020-03-18 18:44] 2-5 commented on #544
I still have this error with Vuex ORM 0.36.3 (and TypeScript 3.8.3 as transpiler):

[code]

[2020-03-19 00:08] skflowne commented on #594
Thanks you've been incredibly helpful ! Closing this and I'll join the Slack channel to discuss this more.

[2020-03-19 00:08] #594 closed

[2020-03-22 09:36] cuebit commented on #559
@omanizer sorry for the delayed response. Been thinking about this issue in-depth.

Wondering if you've managed to solve this issue yourself?

The general consensus is that the desired feature is way off the purpose of Vuex ORM and something that you won't expect in common ORM patterns. Granted that the "unsafe attributes" is something that is supported in places, hence the mention, but isn't a fe

[2020-03-26 08:33] bo-oz opened #607 "Duplicate records when defining Many-to-Many relationship"
After looking into the open bugs, I found this post https://github.com/vuex-orm/vuex-orm/issues/602. I don't know if the thing I'm reporting results from a similar bug. What I'm trying to do is to define a Many-to-Many relationship. While this works, and I'm able to retrieve the related records from the store, the result array contains duplicate records.

I created the following sandbox to show th

[2020-03-26 13:22] cuebit commented on #607
Thanks @bo-oz for submitting an issue. Appreciate your efforts in generating supporting tests to validate the issue you're experiencing.

The issue appears to be arising from your relationship definitions. Since you're using `Report` for a `hasMany` relation, you cannot use it for a `belongsToMany` because a many-to-many requires an intermediate model to bridge two models. It also requires the pri

[2020-03-30 15:01] FrittenKeeZ commented on #252
Any ETA on this?
I'm using a getter as a temporary workaround:
[code]

[2020-03-31 08:36] kiaking commented on #605
Not sure why. How does your response data looks like?

[2020-03-31 08:39] kiaking commented on #529
@JelleScheer If you were directly mutating model data, then it wasn't the expected behavior. With `strict` mode, Vuex should warn about it. This is again some limitation in Vuex that you always have to call mutation to mutate the data.

Maybe it could be nice to have such helper function, but I think it should a plugin to the Vuex or Vuex ORM 🤔

[2020-03-31 08:43] kiaking commented on #252
Yea this is taking a while, though I think it'll land after 1.0.0 release. Sorry for the delay!

[2020-03-31 17:15] #552 closed

[2020-04-01 04:58] WoodyDark opened #611 "Add hasOneThrough association capability"
[code]

### Scenario

User can upload many images. User can select 1 image as profile picture. Right now, this can be achieved by running `User.query().with('profile_photos').first().profile_photos[0]`, but it doesn't make sense semantically.

#### Proposed Solution

Add a `hasOneThrough` method to support hasOneThrough relations.
`profile_photo: this.hasOneThrough(Image, ProfilePhotoPreference, '

[2020-04-01 14:00] FrittenKeeZ opened #613 "Model.query().whereId().first() returns null when Model.find() returns correct instance"
#### Describe the bug
Inserting a model then immediately try to retrieve it using `Model.query().whereId(id).first()` will return `NULL`, while running `Model.find(id)` will retrieve the instance correctly.

#### Steps to reproduce the bug

1. Define a simple model with `id` and `name`
2. Create a new entity
3. Retrieve all entities - `Model.all()`
4. See that the entity exists
5. Retrieve entity

[2020-04-02 09:02] kiaking commented on #613
Thanks for the report! Very weird. We should look into it.

[2020-04-02 09:08] kiaking commented on #560
Do we have any updates on this? Perhaps we need reproduction code I guess.

[2020-04-02 12:20] cuebit commented on #613
The methods `find` and `findIn` execute a direct index lookup in the database. Since the generated index for an entity is always `string`, Vuex ORM can safely convert parameters to `string`.

Unfortunately, where the methods `whereId` and `whereIdIn` are concerned, you're currently required to preserve the type used when the entity was created, in other words you cannot pass a string when the prim

[2020-04-02 12:27] kiaking commented on #613
Ahhh... I see, yea it make sense. Hm... Since we get a quite few issue with the strict checks, maybe we should fix this problem from the root cause. Where we should handle primary key filter a bit more nicely.

How about we convert value to primary key type when filtering primary key?

I agree that it should be pointed out in the doc.

[2020-04-02 12:31] FrittenKeeZ commented on #613
So how do I make this lookup work? Cast the id to a string in `whereId()`?

[2020-04-02 13:01] cuebit commented on #613
@FrittenKeeZ simply put, you will need to cast the param to the type it initially appears in the store. For example, if your endpoint returns `id: "1"` you should then use `whereId("1")`. And vice versa for number types.

If you want a failsafe, you may benefit using `id: this.string(null)` or `id: this.number(null)` as your model's primary key attribute. This will always cast your primary key to

[2020-04-02 14:12] FrittenKeeZ commented on #613
@cuebit thanks, `id: this.number(null)` and `parseInt(id)` did the trick :)

[2020-04-05 01:02] cuebit commented on #602
**UPDATE:** I can confirm this also applies to `morphToMany` and `morphedByMany` relations. I suspect this issue is affecting all `m:m` relations (I just haven't aggressively tested all of them) which makes the pivot feature practically unusable.

Digging deeper, I noticed, particularly for `belongsToMany`, `morphToMany` and `morphedByMany` relations, none of the test cases actually attempt to sha

[2020-04-08 07:41] JelleScheer commented on #529
@kiaking it seems that because under the hood getters and setters were being made for each field in a model, Vuex wasn't complaining about mutating the data.

In your own project(s), aren't you experiencing that it is a lot of boilerplate code for each simple mutation? I know this is a discussion that can be applied to Vuex as well as the ORM, but I'm just curious.

[2020-04-08 16:43] NZX-DeSiGN opened #618 "[DOC] Getters static methods example mistake"
#### Describe the bug

The example in the documentation of the static Model method getters call the wrong method
[code]
#### Steps to reproduce the bug

Goto https://vuex-orm.org/api/model/model.html#getters

#### Expected behaviour

The example should be :
[code]

[2020-04-10 02:06] cuebit commented on #529
@JelleScheer I understand your POV and it would make sense to have functionality that eases property management at a granular level. As @kiaking suggested, this is likely achievable through a plugin rather than implementing into the scope of Vuex ORM simply because as an ORM it is not designed to behave in that way. Having such an option would be redundant as the library would need to function in

[2020-04-14 03:01] sanjitkung opened #619 "[Question] How to keep the order in which data comes from API"
I am using axios plugin with orm

My Api is returning sorted records,

[code]
but when I query the orm it given me the data which is ordered by id.

1, 2, 3

How can I keep the order in which data comes from API?

[2020-04-14 04:03] cuebit commented on #619
@sanjitkung this is an excellent question!

Vuex ORM stores records by Primary Key (PK), for example `[PK]: Record`, which helps to speed up model and relation lookup. Plain objects, sadly, are an unreliable source of order preservation. In the case of integers, you're more likely to experience this as a result.

There are many solutions to work around this but which one works for you will depend

[2020-04-14 04:13] #618 closed

[2020-04-14 04:15] cuebit commented on #618
@NZX-DeSiGN thank you for reporting this! 🙌

[2020-04-14 06:29] kiaking commented on #560
Closing the issue due to inactivity. Please feel free to open another issue if there's anything!

[2020-04-14 06:29] #560 closed

[2020-04-14 07:16] sanjitkung commented on #619
Thank you for the response.

How can access static state from with in the model?

[2020-04-15 01:28] timothycraig opened #620 "Significant performance degradation in bulk record update after updating from v0.33.0"
#### Describe the bug

After updating from `0.33.0` to `0.36.3` (or any version > `0.33.0`), dispatching an `update` of multiple records at once using an array takes significantly longer than in any version <= `0.33.0`.

#### Steps to reproduce the bug

1. Run the following performance test in `0.36.3`.

`test/performance/Bulk_Update.spec.ts`

[code]

The update takes many seconds.

2.  Checkout t

[2020-04-15 08:27] kiaking commented on #619
@sanjitkung Currently, you need to reference whole store.

[code]

[2020-04-15 08:28] kiaking commented on #620
@timothycraig Thank you so much for the report! Well we should improve our performance... Thanks for the test case!

[2020-04-15 16:54] sanjitkung commented on #619
Thank you very much @kiaking.
This solves the problem.

[2020-04-15 16:54] #619 closed

[2020-04-17 13:22] rassokhina-e opened #621 "Speed up files rows delete from vuex orm by making it in a batch process"
I have a task to delete a bunch of files from vuex orm, but not all. Every file which I should delete looks like an object which has a general attribute `streamId` as a string. The example with using of File.deleteAll() doesn't fit. Also as an example with  File.delete(id) by using the loop, because it takes a lot of time to work with array of files. So the question is: How can we speed up files r

[2020-04-17 14:01] cuebit commented on #621
Have you tried deleting by condition?

[code]

[2020-04-17 15:28] rassokhina-e commented on #621
Thank you for your suggestion! Sure, I've tried to use this condition:

[code]
I haven't any output data from console.log in that case.

BTW, I have the latest version of vuex orm --> "@vuex-orm/core": "^0.36.3"

[2020-04-17 15:46] cuebit commented on #621
The condition passed to `delete` is a predicate, therefore must return a boolean.

[code]

Do you get a console log now?

[2020-04-17 16:59] rassokhina-e commented on #621
Unfortunately no, I haven't see console.log message. Do you know which other reasons can be for that issue?

[2020-04-17 17:06] cuebit commented on #621
The only possible reason for no console log is an empty dataset.

Can you confirm the File entity has any data?

Perhaps paste the result from the following:

[code]

[2020-04-17 17:59] rassokhina-e commented on #621
I've just got from console.log:

<img width="786" alt="Screenshot 2020-04-17 at 20 52 48" src="https://user-images.githubusercontent.com/31901584/79599142-ad38b280-80ed-11ea-85dd-082cb1e98b95.png">

I check the rows of the files in the vuex.json file every time and they exist.
Anyway, the loop of deleting with the condition doesn't work. I haven't console.log from it.

[2020-04-18 14:02] sanjitkung opened #622 "[Question] How can I update hasManyBy relationship?"
I am trying to update hasManyBy relationship which is not working.

Part Model
[code]

Vendor Model
[code]

I tried to update in couple ways

[code]
but it does not attach updated vendor to part.

I want to merge new vendors to existing part vendors.

[2020-04-20 11:41] cuebit commented on #622
@sanjitkung, `where` cannot be used to update relational data, it only updates the data on the entity it was invoked on. See the [documentation](https://vuex-orm.org/guide/data/inserting-and-updating.html#updating-relationships) regarding this.

However, providing your response data includes primary keys for vendors, then you can simply build your update structure like so:

[code]

This will ensur

[2020-04-20 11:53] cuebit commented on #621
@rassokhina-e sorry this is causing your trouble. I'm struggling to see what could be stopping the library from performing a delete, as anything I can reproduce seems to execute deletes perfectly well.

Let's try another option, so we can be sure of the real issue by process of elimination. Could you execute the following?

[code]

Let me know the result? You should see `expect "..." to be null: n

[2020-04-20 12:00] rassokhina-e commented on #621
Hello! Thank you for your help!
Two messages from console.log:
first id 3d0861a08c3f2e00b48b75031575d9f2
expect "3d0861a08c3f2e00b48b75031575d9f2" to be null: false

[2020-04-20 12:06] rassokhina-e commented on #621
The issue with the loop of the method File.delete((file) =>... But other methods work well (insert, update, find, etc.)

[2020-04-20 14:40] cuebit commented on #621
Oh wow. I wasn't expecting that.

Here's a [sandbox](https://codesandbox.io/s/peaceful-archimedes-ruxyi) that demonstrates conditional deletes.

Is it possible for you to fork this sandbox and attempt to reproduce your issue?

[2020-04-20 21:26] rassokhina-e commented on #621
I've updated all dependencies from as in your package.json. Also `database`, `main`, `models` files. And I haven't a good result. The same issue with batch deleting. I have "vuex-electron": "^1.0.3" in dependencies. Perhaps, that layer is a problem for batch deleting from `vuex-orm`.

[2020-04-20 23:16] cuebit commented on #621
@rassokhina-e now that you mention `vuex-electron` I can confirm this behaviour. It seems everything you’ve mentioned thus far is accurate.

In Vuex ORM, both deleting by id and deleting by condition run the same mutation code. I cannot tell you why one works and the other doesn’t but I suspect it may be related to setup or the third party plugin.

Unfortunately, the aforementioned library is no l

[2020-04-21 08:30] rassokhina-e commented on #621
When I hide createSharedMutations() plugin (vuex-electron), the batch deleting method will work (I see the loop by the condition is starting work), but in vuex.json file won't be any changes.

[2020-04-21 08:32] rassokhina-e commented on #621
Thank you for your help. That got me knowledge, I'll continue to find the way for the batch deleting.

[2020-04-22 10:58] kkalvaa commented on #620
I'm having a similar issue where I'm I need to show active state on a different component than the one being interacted with. What I'm doing is update a **hasFocus : true|false** key on my content on mouseenter/mouseout/focus/focusout.

This took an incredible performance hit, but I tried downgrading Vuex Orm to 0.33.0 and the performance improved drastically.

[2020-04-22 18:30] cuebit commented on #620
@kkalvaa out of curiosity, mouse events should really be local state, is there any particular reason Vuex ORM is required to handle such state?

[2020-04-22 20:32] kkalvaa commented on #620
@cuebit I have two separate components that need to show the active/hover state and they don't know about each other, other than through the Vuex store. Then again it could just be that I don't know any better. I never thought this was a great solution, it just kind of worked.

[2020-04-22 21:25] cuebit commented on #620
@kkalvaa whilst I’m hesitant to go off topic in this thread, I would be keen to understand your setup and what role Vuex ORM plays in regards to your solution, and would be more than happy to offer any guidance to get the most optimal use from this library. If you’re interested, head on over to [Slack](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTc1YTI2N2FjMGRlNGNmMzBkMGZl

[2020-04-22 21:26] gradedcatfood opened #623 "Issue Inserting Pivot Data"
I'm currently trying to insert data from a laravel endpoint into my vuex orm database but the records are not reflecting what is being retrieved via the endpoint.

The concept is that an orientation has many schools. Each of those schools has a "capacity".

I have tried to make my models look as close as possible to the example in the docs: https://vuex-orm.org/guide/data/inserting-and-updating.ht

[2020-04-22 21:31] cuebit commented on #623
@gradedcatfood could this be a similar issue to #602?

[2020-04-22 21:34] gradedcatfood commented on #623
I think it could be! It's funny I was just reading this issue.

After reading all of it. I'm not 100% sure but I think it is the same issue. If you feel it is the same, feel free to close this issue.

Thank you

[2020-04-22 21:37] cuebit commented on #623
@gradedcatfood judging by your sandbox and description I think it may well be. It seems your pivots are being generated as expected, they are just being retrieved incorrectly. The issue is evident in your query and what you’ve demonstrated by print.

I’ll mark this as duplicate but will leave open to keep this issue in mind. I know this is currently being addressed in an upcoming release but is wo

[2020-04-23 18:14] rassokhina-e commented on #621
Hello! I want to share with you the result of my research on combining `vuex-orm` and `vuex-electron` for the issue above. I've figured out that the method of batch deleting with condition works well in the Main process of Electron. So I moved that function to the main process:

ipcMain.on('deleteFiles', async function (event, ids) {
    await File.delete((file) => { return ids.includes(file.id) }

[2020-04-23 18:15] #621 closed

[2020-04-23 18:18] cuebit commented on #621
Thank you so much for sharing your solution, @rassokhina-e. I’m really glad you got to the bottom of it. 👍

[2020-04-24 13:41] jpoiri opened #624 "Vuex-ORM is improperly handling date fields."
#### Describe the bug

When I insert a date through Vuex-ORM, the date is stored as empty object instead of a Date object (see below), however when I insert a date through Vuex directly its stored correctly

With Vuex-ORM:

![image](https://user-images.githubusercontent.com/6857740/80216456-70e8e300-8614-11ea-8001-4e6c43ed24d3.png)

With Vuex:

![image](https://user-images.githubusercontent.com/68

[2020-04-24 20:06] mean-cj opened #625 "How to access vue , app , router on Vuex ORM current version"
Hello

How can i access vue , app , router on Vuex ORM and plugin-axios current version
because i need create static method on model for select query data
example condition by $cookies , $router

I see this answer rootGetters not work for me.
https://github.com/vuex-orm/vuex-orm/issues/268

Thank you.

[2020-04-24 21:27] cuebit commented on #625
@mean-cj tricky question but I don't think it's possible.

However, you could reference your Vue instance in Vuex:

[code]

And access through store method:

[code]

A router instance can just be an imported module, you wouldn't really need access to the Vue instance to access the current route.

[2020-04-25 06:36] mean-cj commented on #625
Hello cuebit

Thank you so much : )

I use this but not work with static method on myModel
i see globalMethod on model prototype , but not call because Model is warpper
[code]

[2020-04-26 08:10] d3vl1m3 opened #626 "Cannot get deep data from pivot table"
#### Describe the bug
I've set up a pivot table for tasks/categories called TaskCategory. When I access it from Tasks, I cannot access the categories, even though there is a relationship set up.

#### Steps to reproduce the bug

1. Define models [...]

Task.js

[code]

Category.js

[code]

TaskCategory.js

[code]

2. Create data [...]

Create categories

[code]

Create Tasks and assign joins

[cod

[2020-04-26 17:33] bestickley opened #627 "Updating related entity doesn't work"
#### Describe the bug

When I try and update a related entity with the primary key in the nested related object, the update doesn't work. Although, if I try and update with a related entity's foreign it works.

#### Steps to reproduce the bug

1. Define models [...]
[code]
2. Create data [...]
[code]
3. Retrieve data [...]
[code]

4. See error

#### Expected behaviour

`user.organization.id` shoul

[2020-04-26 18:00] cuebit commented on #626
@d3vl1m3, thanks for reporting this issue.

The following will only resolve immediate relations, so what you're experience is intended behaviour.

[code]

Because you're trying to access nested relations, you will want to use `withAllRecursive ` for which documentation can be found [here](https://vuex-orm.org/guide/data/retrieving.html#load-all-relations) (scroll down a little).

[code]

Hope this

[2020-04-26 18:40] d3vl1m3 commented on #626
Ah! such an idiot. Thanks for this :)

[2020-04-26 18:41] #626 closed

[2020-04-26 20:55] cuebit commented on #627
Thank you for opening this issue, @bestickley.

Unfortunately this is not a bug but intended behaviour. Updating relations requires a pragmatic approach, one that is often misunderstood and something we will continue to work on highlighting in the documentation.

Note, the following will not generate relations but will yield the relation criteria:

[code]

So, assuming your entities are populated

[2020-04-27 11:55] bestickley commented on #627
@cuebit, excellent explanation. Thanks so much! I understand now.

[2020-04-27 11:55] #627 closed

[2020-04-28 14:38] FrittenKeeZ commented on #311
I could really use "Many To Many Through" for this exact reason:
User.id -> pivot -> Role.id -> pivot -> Permissions.id

Currently you have to make a custom getter to make this work.

[2020-04-28 15:33] cuebit commented on #311
@FrittenKeeZ yea we should really support `through` relations on all relation types.

As a side note, a getter is a more performant way of retrieving m:t:m relations.

[2020-04-28 16:05] FrittenKeeZ commented on #311
Sure, if you can cache the result in some way.
I don't know whether this is the most efficient way really...
[code]

[2020-04-28 20:01] ajgagnon commented on #620
@cuebit I actually do something similar, and instead I store the id of the "focused" model in state separate from the ORM. Then you can do something like this in your component:

[code]

However, I'm seeing significant performance issues too, when attempting to add to an existing collection when it gets over 30 or 40. Maybe this has something to do with UID generation?

[2020-04-28 21:05] bastienrobert opened #628 "How to use with react"
#### Is your feature request related to a problem? Please describe...

How about a React compatibility?

#### Describe alternatives you've considered

TypeORM (not maintained), MikroORM or Prisma.

#### Additional context

Maybe we could do something cool that everybody likes?

[2020-04-28 22:58] cuebit commented on #620
@ajgagnon are you referring to the uid attribute? Not sure it would impact performance, it’s a simple incremental value.

There are various contributing factors with performance degradation. Setups vary from user to user so it’s difficult to analyse off the bat. If you could provide a minimal reproduction, we’d be happy to assist.

[2020-04-29 02:46] cuebit commented on #605
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 02:46] #605 closed

[2020-04-29 02:48] cuebit commented on #607
@bo-oz did you manage to resolve your issue?

[2020-04-29 02:50] cuebit commented on #559
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 02:50] #559 closed

[2020-04-29 02:50] cuebit commented on #550
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 02:50] #550 closed

[2020-04-29 02:51] cuebit commented on #540
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 02:51] #540 closed

[2020-04-29 02:53] cuebit commented on #529
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 02:53] #529 closed

[2020-04-29 02:55] cuebit commented on #503
Resolved by #586

[2020-04-29 02:55] #503 closed

[2020-04-29 03:02] cuebit commented on #472
Resolved #473

[2020-04-29 03:02] #472 closed

[2020-04-29 03:06] cuebit commented on #481
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 03:06] #481 closed

[2020-04-29 03:31] cuebit commented on #414
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 03:31] #414 closed

[2020-04-29 03:39] #267 closed

[2020-04-29 03:40] cuebit commented on #364
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 03:40] #364 closed

[2020-04-29 03:44] cuebit commented on #362
This has since been resolved. 👍

[2020-04-29 03:44] #362 closed

[2020-04-29 03:56] cuebit commented on #193
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 03:56] #193 closed

[2020-04-29 04:03] cuebit commented on #275
Closing issue due to inactivity. Please open a new issue if there's anything further to add. 👍

[2020-04-29 04:03] #275 closed

[2020-04-29 04:04] cuebit commented on #281
This has since been resolved. 👍

[2020-04-29 04:04] #281 closed

[2020-04-29 17:36] ajgagnon commented on #620
Thanks for that! I'll see if I can get a codesandbox running.

[2020-04-30 02:03] kiaking commented on #628
No, Vuex ORM is only for Vuex, as its name states. For react, they do already have Redux ORM 👍

[2020-04-30 02:03] #628 closed

[2020-04-30 07:20] hako-studio opened #629 "belongsToMany merges duplicate entries"
#### Describe the bug

I have two models with a pivot table in Laravel:
Editions <-> Contacts

There's additional data stored on the pivot, and the same location can be assigned multiple times to an artwork. However, when inserting the data into Vuex ORM you can only retrieve _one_ instance of the Contact Model.

#### Steps to reproduce the bug

Edition Model:

[code]

N.B. Many fields omitted for

[2020-04-30 10:36] kiaking commented on #629
I think the model setup is good. Could you give us your input data you're trying to store?

[2020-04-30 10:43] hako-studio commented on #629
@kiaking — of course, please see below:

[code]

Again, I've only included the relevant information for brevity.

[2020-04-30 13:03] kiaking commented on #629
Ah I see. Hmmm. This is tough one. Vuex ORM will merge records with the same ID, so that's the reason you're only getting one.

This is really hard to solve, because if we can't merge records with the same ID, there's no way to deduplicate the record. You need to have another primary key outside of `pivot` for now.

[2020-04-30 14:22] milad-alizadeh commented on #308
You can always add new field such as "order" or weight ".
[code]

[2020-05-01 01:33] omanizer commented on #559
Sorry, your message on 3/21 flew under the radar.  I agree that most ORMs don't directly support this, especially in context of a SQL database that doesn't support it, where tables always have defined columns.  Even Postgres/MySQL json columns reside under a defined column (which Vuex-ORM works fine for).  For a "schemaless" db such as Mongo, this isn't the case.  And while the "Mongoose" library

[2020-05-01 15:16] kiaking commented on #629
Maybe include `specific_location` or `ownership_date`. The point is to make primary key unique somehow. `['contact_id', 'edition_id', 'id']` will not be enough since all 3 could be the same ids right?

[code]

[2020-05-01 15:17] hako-studio commented on #629
Thanks for the reply, I'll give it a go and report back!

[2020-05-01 15:33] hako-studio commented on #629
I'm afraid it didn't work:

This is my new model:
[code]

This is a specific response:
[code]
Looking at the data in the Vuex store, it seems inconsistent.
![image](https://user-images.githubusercontent.com/51338923/80817284-0eba5000-8bc9-11ea-948a-7d0beff7b65c.png)

---

If it's of any relevance, I'm retrieving the pivot as so (using pre 0.36 version of Vuex ORM)

[code]

Which, thinking about it

[2020-05-01 19:14] cuebit commented on #629
@hako-studio see #602 and #623 and see if they corroborate with the issues you're experiencing.

[2020-05-01 23:46] BUGOVER opened #631 "one-to-many relationship insertion saves only one instance of relation model"
![Screenshot_2](https://user-images.githubusercontent.com/22304644/80849249-730bfc80-8c27-11ea-8101-24c10d05ab15.png)
![Screenshot_1](https://user-images.githubusercontent.com/22304644/80849253-7acba100-8c27-11ea-9f00-c132283354a4.png)
![Screenshot_3](https://user-images.githubusercontent.com/22304644/80849256-7d2dfb00-8c27-11ea-99e6-7f6c06a65f21.png)

[2020-05-02 00:05] cuebit commented on #631
Hi @BUGOVER, in order to get any assistance from members and the community, could you please apply the issue template you were presented with when opening an issue and demonstrate the following (where possible):

1. A clear and concise description of what the bug is.
2. Steps to reproduce the bug including:
   - Model definitions
   - Data input
3. A clear and concise description of what you expec

[2020-05-02 10:07] hako-studio commented on #629
@cuebit There’s a possibility, although I’m using 0.35 not 0.36 and therefore having to get my pivot data myself.

[2020-05-02 12:19] hako-studio commented on #629
@cuebit @kiaking — I don't think this is the same issue as #602 and #623, however I've resolved it (albeit in a non-Vuex ORMy way!)

[code]

I've removed the `belongsToMany` relationship and just pass in the array. In order to make the entries "reactive", I've done the following:

My Loop:
[code]

"ArtworkLocationsLocationRow.vue"
[code]

---

I may re-look at this in the future, but this works fo

[2020-05-04 11:27] sanjitkung commented on #622
Thank you. That works

[2020-05-04 11:27] #622 closed

[2020-05-07 12:35] davidsandoz commented on #475
@kiaking, is there any way we can help you with that without knowing the code base yet?

[2020-05-08 00:13] syaleni commented on #602
Are there any work arounds to solve this issue temporarily? Haven't tried it yet but maybe manually dispatching actions similar to #122?

[2020-05-08 00:38] cuebit commented on #602
@syaleni sure, depends on the relation type. I haven’t validated workarounds for all m:m relation types but if you let me know which one(s) you need I can take a look, and perhaps later put a comprehensive recipe list here.

[2020-05-08 00:42] cuebit commented on #475
@davidsandoz this is being investigated for the refactored [v1.0.0](https://github.com/vuex-orm/vuex-orm-next) release. The next major release will aim to have better SSR support.

Sorry to keep you waiting. Good things to come...

[2020-05-08 01:02] syaleni commented on #602
@cuebit thanks, mine is a many to many, pretty much the same as the model definition you used to describe the bug. When the data is fetched from the backend, I was thinking of fetching the pivot table independent of the models which should solve the issue upon reading. Nonetheless, the other aspect is when a POST/PUT request is sent to backend api and vuex-orm uses the response.

[2020-05-08 02:50] cuebit commented on #602
@syaleni I don't believe fetching the pivot records independently will resolve your issue if it corroborates this issue. The problem surfaces when querying the store and not when the pivots are initially created. If you analyse your store entities, you'll observe this to be correct, and pivots are inserted correctly.

In short, it's a referencing issue.

Pivots are attached to the related model, i

[2020-05-08 05:21] davidsandoz commented on #475
Ah, good to know, thanks, @cuebit! Is there a goal set for a release date? Or at least a “not before” date maybe?

[2020-05-09 08:06] cuebit commented on #475
@davidsandoz I’d be lying if I told you there was 👀 perhaps something @kiaking could help in answering?

Needless to say, you can follow progress of the next iteration of Vuex ORM in the [vuex-orm/vuex-orm-next](https://github.com/vuex-orm/vuex-orm-next) repo. It could do with some early adopters/testers! 👍

[2020-05-10 08:56] mean-cj opened #632 "Create Method with persist option, relaton data is disappear"
#### Describe the bug

Hello ,

when create data with relation (PersistOptions)
relation data is disappear

#### Steps to reproduce the bug

**1. Define models [...]**

[code]

**2. Create data & Retrieve data**

[code]

**Found Problem**
[code]

[code]

Thank you.

#### Versions
- Vuex ORM: 0.36.3
- Vue: 2.6.11

#### Additional context
I thank  can add "excludes" option to PersistOptions
if you d

[2020-05-11 06:27] zorn-v opened #633 "Emit beforeSelect hook on find* methods"
I'm try to write plugin to pouchdb. Currently I'm just use "changes" from beginning (since: 0) in pouchdb and insert all records to vuexorm. All works fine except browser very slowdown on many records when app loads. Now I want to implement load records on-demand (if it not found in vuexorm, try to load it from pouchdb) and via changes {since: 'now'}, but problem that find* methods did not emit be

[2020-05-11 07:18] zorn-v commented on #613
I'm just faced with this issue in other way. I have pouchdb database with relation such `children: [1,2,3]` and all break on production because on dev env there was string ids :smile:
I have getter like
[code]

[2020-05-11 08:40] zorn-v commented on #613
Is there is some chance to fix it ?

[2020-05-11 09:20] kiaking commented on #475
@davidsandoz Currently not yet, but I'm hoping as soon as possible, though it could take time.

[2020-05-11 09:25] kiaking commented on #632
This is very weird. I'm not sure the timeline here. So you do call `Seat.create` first, then calling `Order.create`? It would be nice if you can provide some working code example for this one.

[2020-05-11 09:27] kiaking commented on #633
Thanks for the report! Maybe this is the defect. We need to check. For the workaround, can you use:

[code]

Instead?

[2020-05-11 09:39] cuebit commented on #633
@zorn-v The `beforeSelect` hook is exclusive to retrieving data that has a lookup criteria. Unfortunately the `find` method does not fall into this category because it is simply a key lookup (which doesn't adhere to any other lookup criteria).

As @kiaking mentioned, using `where` clauses will give you significant leverage over hook use.

N.B. Any performance issues in cases like this are incredib

[2020-05-11 09:43] mean-cj commented on #632
Hello @kiaking

i found this problem with  plugin-axios
when data have been response order with seat
seat relation is disappear.

[code]

**Create Seat Data**
[code]

**Call Order API**
[code]

**response example.**
[{_id: 100, name:"Test Order", seat_id:2, seat: { _id: 2, name:" Table 2"}}],

**Result of Seat.query().get()**
Seat {$id: "2", _id: "2", name: "Table 2",}
result miss Table 1-3

I fou

[2020-05-11 09:55] cuebit commented on #632
@mean-cj `persistOptions` expects an object, as per docs. So your `create` persistence is being applied to both model and relations.

This: `persistOptions: [{ insertOrUpdate: ['seat'] }]`

Should be: `persistOptions: { insertOrUpdate: ['seat'] }`

[2020-05-11 10:35] zorn-v commented on #633
I know how to workaround in my project, but I want to share plugin to the public then.

[2020-05-11 14:00] mean-cj commented on #632
Hello @cuebit

I will check my code is ok , i'm sorry invalid code with my example,

Please check persist not work with belongsTo relation is miss
i think this bug on vuex-orm

Example
[code]

[code]

Same problem with
[code]

Result of Seat.query().get()
Seat {$id: "2", _id: "2", name: "Table 2",}

Miss Table 1 and Table 3

[2020-05-11 16:12] cuebit commented on #632
Sorry @mean-cj, I'm unable to reproduce. Doesn't seem like a bug to me.

[See reproduction](https://l9yk2.csb.app/) using your code. Am I missing something?

[2020-05-11 16:16] jpoiri opened #634 "Unable to remove a relationship from a model"
#### Describe the bug

There doesn't seem to be a way to remove a relationship from a model.

#### Steps to reproduce the bug

1. Define models [...]
[code]
[code]
2. Insert mock data
[code]
3. Retrieve data and check number of dependents:

[code]
4. Update member to have zero dependents and query back the member

[code]

#### Expected behaviour

Expect a way to remove relationships from a model.

[2020-05-11 17:54] mean-cj commented on #632
Hello @cuebit
Thank you so much for help

I fork and test your code
now i found bug , when i use underscore (_) on entity

Please follow
https://wncpu.csb.app/
https://codesandbox.io/s/wncpu

[2020-05-11 18:48] cuebit commented on #632
@mean-cj ahh I see now. This is still not a bug. You need to provide the entity name and not the field name for the relation you wish to control. It is [documented here](https://vuex-orm.org/guide/data/inserting-and-updating.html#insert-method-for-relationships).

[code]

[2020-05-11 18:52] cuebit commented on #634
Thanks for reporting this, @jpoiri. Unfortunately this is not how to update relations through the parent model. [More info](https://github.com/vuex-orm/vuex-orm/issues/627#issuecomment-619623531).

This should work:
[code]

[2020-05-11 19:11] mean-cj commented on #632
Ohhhh my god, i'm apologise.

I'm misunderstand persist option for enter the field name.

Why we don't enter relation field name on persist option?
i think it make sense better than enter entity name.

@cuebit  thank you so much : )

[2020-05-11 19:18] cuebit commented on #632
The entity name is required because the model handles persistence. So you’re instructing your entity, or model, to persist using `insertOrUpdate`. The field just forms part of the entity schema.

Hope that helps.

[2020-05-11 19:24] jpoiri commented on #634
I tried that, doesn't seem to work. I still see all the previous relationships

[2020-05-11 20:10] cuebit commented on #634
I stand corrected. I believe on this occasion I'm incapable of following my own advice 😄

To dissociate a _1:1_ or _1:m_ relation you will want to unset the `memberId` on the related dependents (if you wish to retain the record), or delete the dependent record itself.

1. Dissociate Dependent by Member:

[code]

2. Or remove the Dependent:

[code]

The choice is yours.

[2020-05-11 20:20] jpoiri commented on #634
OK thanks, that helps clear things up. It's possible it's the pattern I trying to implement that doesn't make sense. Basically, when page load I query the Member object with all its dependents. The UI has list of dependents with a remove button.  When I click the remove button, it removes it from the Member.dependents array after that I click save and calls the API and update Vuex after using Memb

[2020-05-11 20:44] cuebit commented on #634
That seems like the most sensible and sound approach. Keeping local state separate from your Vuex state is imperative when "queuing" instructions that depend on API communication to keep your backend and store data unified.

In that case, I don't think it's feasible to delete before the API call. Perhaps you can accumulate the Member primary keys in an array that are to be removed, and once your A

[2020-05-12 03:12] duongtdvn opened #635 "How to handle a large set of records?"
First of all, thank you for making this great package. As the first time see this I must say wow, it extremely similar to my backend framework, and i think I should use this for the frontend.

Currently, I use axios to directly fetch the data from API on demand (including the pagination, relationship and cursor...) and render it to the view, so by using this package mean I need to fetch all the da

[2020-05-13 05:10] wladenhauf commented on #635
my guess:

1. don't send that much data in response, if thats possible :)

2. insert only what you need into vuex-orm.

- before creating orm-models, you could delete unwanted data.
- with vuex-orm-axios plugin you could handle this in dataTransform
( https://vuex-orm.github.io/plugin-axios/guide/usage.html#transforming-data )

[2020-05-13 16:23] Tofandel commented on #252
The getter seems the right approach to me, I would think of lazy loading as a way to have missing entities that when requested can be loaded from an API

Eg you have a post loaded but not the user

When you do `User.remoteFind(this.authorId)` it checks if it's in the store, if not it makes an api call

It does mean it needs to be all async though

Also related to this, @kiaking is it possible that

[2020-05-13 21:31] cuebit commented on #631
Closing due to inactivity. Please open a new issue if there’s anything 👍

[2020-05-13 21:31] #631 closed

[2020-05-14 02:35] cuebit commented on #252
@Tofandel

Oh yea, should work fine. Simply put, if you don't provide relations in your input data, you're not giving Vuex ORM anything to normalize.

So yes, if you do `User.insert({ id: 1 })` then you must do `Post.insert({ id: 1, user_id: 1 })` to allow the relation to exist.

[2020-05-15 06:25] kiaking commented on #629
Glad you found a way out 🙌 Feel free to give us any feedback if there's anything 👍

[2020-05-15 06:25] #629 closed

[2020-05-15 09:18] sanjitkung opened #636 "ORM inserting duplicate pivot record"
On my morphToMany relationship. Orm is saving duplicate pivot record under

Here is the screenshot of vuex store:

![Capture](https://user-images.githubusercontent.com/9400880/82033665-0d7a3000-966b-11ea-8711-4a7d87d77a06.PNG)

This is how my model looks like:

[code]

I am wondering, If I am using composite keys property. Please help!

[2020-05-15 10:57] sanjitkung commented on #636
Correction:

There are actually two different endpoints that insert pivot record.

![Capture](https://user-images.githubusercontent.com/9400880/82043091-fb9f8980-9678-11ea-9c35-db84dcd0ae26.PNG)

Somehow they are using different keys,

[2020-05-17 11:05] zorn-v commented on #633
Seems there is no need to insert entities on-demand. If use `pouchDb.allDocs` and insert them all at once instead using "changes since 0" and insert one by one on app load, there is no performance issues

[2020-05-17 11:05] #633 closed

[2020-05-17 12:24] cizza commented on #620
Hi guys,

I don't think this is just a case of an update. I believe this issue affects inserts as well (possibly other methods). I didn't run any tests as the difference is immediately noticeable when working on a project.

Thanks!

[2020-05-17 22:46] lazybotter opened #637 "Help Please? How To Setup Persisting Data with NeDB"
Hi, I am currently trying to build a desktop app with NodeWebKit (nwjs) and VueJs. Im using NeDB as my db store on the local machine. Previously I was using VueX but the app has large config files and it got a little messy. So I have tried to setup this VuexORM, i have it working kind of...

My Database.js file looks like this:

[code]

And my store.js like this

[code]

I just want to know how yo

[2020-05-18 03:31] kiaking commented on #636
Ah OK I think this is the nasty defect. Could you give us the data structure you tried to insert?

[2020-05-18 03:43] kiaking commented on #637
It depends. You can go either way. But easier is to save DB first and then update the store, it gives you the place to handle errors. But, first save to store and then persist to DB work as well, it gives users better experience maybe if persisting to the DB takes longer than saving to the store.

Not sure how you would like to consume this, but usually, you only wants to load the data that View r

[2020-05-19 05:04] sanjitkung commented on #636
Hi @kiaking, Sorry for delay in response.

This is the data structure that I am trying to insert

[code]

Employee.js

[code]

EmployeeHasRoles.js

[code]

Role.js
[code]

I am using axios plugin. Here is the code that inserts the data into the vuex store

[code]

[2020-05-19 11:16] kiaking commented on #636
Thanks a lot! Currently, we're building the next iteration of Vuex ORM. It will be announced publicly soon with the draft version. We'll make sure to look into this one and won't let that happen in the Vuex ORM Next.

Sorry for taking time but please be patient 🙏

[2020-05-19 11:54] kaushal1976 opened #638 "computed property is undefined"
Hi,
I have an issue using a where() statement in a computed property of a child component (SPA).
<template>{{conference.title}}</template>
[code]
The above code renders computed property 'conference' as undefined. (when accessed via http://(server)/conferences/21)
However, when you hard code number 21 in place of "$route.params.conferenceId"  it works fine. Also, when I console.log( $route.params.

[2020-05-19 12:49] cuebit commented on #638
@kaushal1976 could you try `parseInt($route.params.conferenceId)`?

It’s likely the route parameter is cast to string (verify by console logging typeof) and the id in the store is actually an integer.

[2020-05-19 12:54] cuebit commented on #636
@sanjitkung the polymorphic relations behave differently to other relations. Also, for some reason, intermediate models for poly relations do not adhere to composite keys as it will create its own combination for indexing which is contrary to what you’d expect.

That being said, just remove your composite primary key on your intermediate model, specifically this line:

[code]

[2020-05-19 13:01] kaushal1976 commented on #638
Dear @cuebit , Many thanks. that solved it. For the life of me, I couldn't figure out what was going on. Type casting $route.params.conferenceId didn't come to my mind at all. Many thanks once again, much appreciated.

[2020-05-19 14:21] cuebit commented on #638
@kaushal1976 not your fault, I think we need to make this clearer in the documentation. Thanks for highlighting. 👍

[2020-05-19 14:21] #638 closed

[2020-05-20 04:05] sanjitkung commented on #636
Hi @cuebit Thanks for the response. I removed the primary key.

Now I get this one entry with null ID
![Capture](https://user-images.githubusercontent.com/9400880/82403584-36187600-9a2d-11ea-8872-3da79374aa72.PNG)

Null entry show up when I try to add the same record twice.

[2020-05-20 05:26] mean-cj opened #639 "create , insert or update finally is undefined"
#### Describe the bug

Hello ,
after create, insert, update, the Promise.prototype.finally response is undefined.

#### Steps to reproduce the bug

[code]

**Results is**

Please review on codesandbox
https://codesandbox.io/s/vuex-orm-test-promise-finally-vobno?file=/src/App.vue

Thank you : )

#### Versions
- Vuex ORM: 0.36.3
- Vue: 2.6.11

[2020-05-20 05:32] #639 closed

[2020-05-22 05:53] Fnxxxxo opened #640 "Support of defining discriminator field in sub models"
#### Is your feature request related to a problem? Please describe...

I use STI to manage message model. I cannot define a discriminator for a new message, extending the base type with additional fields. The base model managed in a remote repo. I cannot change its content.

#### Describe the solution you'd like

I can control the init process. So I hope to use another way to add discriminator fie

[2020-05-22 05:59] Fnxxxxo commented on #640
BTY，define discriminator fields in the parent is not tree-shaking friendly if we want to share models.

[2020-05-22 13:19] alexkopytov opened #641 "Question - how to add custom model getters?"
Hi, sorry for disturbing but i didn't found anywhere how i could add additional getters to my model.
Issue that i tried to solve - i have backend Laravel app with server side pagination.
So i installed vuex-orm with axios-plugin and created BaseModel, where realized CRUD actions, which call Laravel app.
Like example index method in BaseModel:

[code]

So how i could get access to meta variable or

[2020-05-22 13:23] petertoth commented on #640
Hey, I work with STI quite a bit but I am not really sure what you are trying to achieve. Could you perhaps show us a code sample and the desired outcome? Thanks a lot

[2020-05-22 17:26] ntma opened #642 "Are Model's definition reusable?"
Hello vux-orm team,

I was wondering if with vuex-orm I can define a Model (class) and reuse it multiple times without polluting it's state. (inspired from [this vuex documentation source](https://vuex.vuejs.org/guide/modules.html#module-reuse))

So for instance, let's say that I have a model `Requests` and I want to register it twice at runtime while isolating it's state:

[code]

So in short:
*

[2020-05-22 17:36] cuebit commented on #642
Hi @ntma, a very interesting question, but sadly the very simple answer is no.

The big giveaway here is the `static` keyword. This makes a class a singleton therefore any changes to static properties would be made by reference, and would break your first registration should the entity value be changed.

While models do translate to Vuex modules, the modules themselves are derived from the propert

[2020-05-25 00:26] cuebit commented on #641
Use [modules](https://vuex-orm.org/guide/digging-deeper/vuex-module.html#defining-modules) to compliment your model, or define [state](https://vuex-orm.org/guide/digging-deeper/vuex-module.html#defining-state) directly on your model. This is well(ish) documented.

For example, let's assume you have a User model:

[code]

Add some initial state that will rest within your entity module, useful for y

[2020-05-25 00:39] cuebit commented on #636
@sanjitkung what is the side-effect to removing the pivot attribute altogether from your response? This adds little value since you have the primary and foreign keys in your response for the respective models for Vuex ORM to generate the pivot record.

[2020-05-25 07:49] alexkopytov commented on #641
Wow, much thx, you made my day.
Yeah, now i see that it is well documented.
Proposal - mb will be useful add this example in axios-plugin doc, because SS-pagination it is really often case.

[2020-05-25 09:49] Fnxxxxo commented on #640
@petertoth Sorry for the late. I update it with a repo. Currently, I cannot register a STI model in another repo.

[2020-05-26 09:59] SimonDatapas opened #643 "Composite primary keys are not typecasted to defined type"
#### Describe the bug

When using composite primary keys in models, you can define type for the attributes the key is based on. However, when inserting the models, the values for the composite primary keys are not typecasted.

#### Steps to reproduce the bug

1. Define model with composite key:

[code]

2. Insert data:
[code]

3. Retrieve data:
[code]

4. See error
This causes inconsistency in usi

[2020-05-26 11:16] j5k opened #644 "Accessors are not in retrieved array"
#### Describe the bug

I defined an accessor to get some computed values. If I retrieve the data, only the defined fields are in there and no accessors. To display some data the accessors works well, but my data filtering is struggling.

#### Steps to reproduce the bug

1. Define accessor (ex. `get fullname ()` )
2. Retrieve data (ex. `let tableData = User.all()` )
3. user array don't include full

[2020-05-26 11:27] cuebit commented on #644
Hi @j5k, thanks for opening an issue.

Sorry for my ignorance, not sure I understand your issue entirely. Fields are physical properties on a model but accessors are not, they are virtual properties that evaluate when read. Class getters are not enumerable unless specifically described to be, so `Object.keys` will not see them during enumeration.

If you want to retrieve virtual properties you can

[2020-05-26 11:55] j5k commented on #644
That seems to be my problem. But even with internet research I am not able to achieve this. You got any advice?

[2020-05-26 22:46] cuebit commented on #644
My advice, try to be more explicit for better results.

For example, you know of the fields and getters defined on a model so there's little reason to enumerate properties on an instance when you've established they will always exist (what they return is a different topic).

- Explicit property lookup resolves known properties:

[code]

- Model method resolves lookup on a model directly:

[code]

[2020-05-27 08:13] j5k commented on #644
Excellent. Thank you so much!

[2020-05-27 08:13] #644 closed

[2020-05-28 08:18] kiaking commented on #641
Great to hear you made it 🙌  And yea this might be nice to be in the docs.

[2020-05-28 08:18] #641 closed

[2020-05-28 08:22] kiaking commented on #640
Ah this is mono repo project. Interesting. I just don't have time to look into it deeply but maybe it's something we should look into.

[2020-05-28 08:25] kiaking commented on #643
Ah good point. Thank you for finding this one! We should definitely consider this in the next iteration of Vuex ORM.

[2020-05-28 08:29] kiaking commented on #632
I think this issue has been solved? Please feel free to open another issue if there's anything 👍

[2020-05-28 08:29] #632 closed

[2020-05-28 08:30] kiaking commented on #635
@duongtdvn Do you think the answer above help? Let me know if you have any updates on this.

[2020-05-28 08:31] kiaking commented on #634
@jpoiri Do you have any updates on this 👀 ?

[2020-05-28 08:31] kiaking commented on #637
Closing due to inactivity. Hope it helped!

[2020-05-28 08:31] #637 closed

[2020-05-31 12:44] nikolalj commented on #620
Hi guys,

Just want to confirm that I'm also experiencing the same performance hit. In my case, multiple subsequent insert / create calls that in v0.33.0 took around 100ms now (in v0.36.3) take 800 - 900ms to complete. So, in my case, the difference is immediately noticeable as well.

Thanks!

[2020-06-01 18:32] flaviotulino opened #646 "How to mutate state and react in a component"
Hi!
I am trying to use this brilliant ORM to store a collection and use the `state` inside a component.
The documentation makes this example:

[code]

can be mutated with
`.commit(state => state.fetching = true)`.

However, the change appears to not be reflected in the component where I do
[code]

Am I doing something wrong?

When doing a console.log straight after the commit, the state does look

[2020-06-01 18:37] cuebit commented on #646
For reactivity in components, use:

[code]

[2020-06-01 18:57] flaviotulino commented on #646
Great thanks. We should probably make it clearer in the documentation though

[2020-06-02 01:17] cuebit commented on #646
@flaviotulino thanks for your feedback! The docs have been updated to provide more clarity. Feel free to open a PR if you feel in a contributing mood. 👍

[2020-06-02 01:17] #646 closed

[2020-06-02 13:37] rigibore-charlie commented on #613
Came across this in the last week, I've just found using the following to be a good workaround and retrieves the data correctly.

Instead of:
[code]

Use:
[code]

[2020-06-02 20:19] jpoiri commented on #634
I decided to take @cuebit suggestion and keep an array of the primary keys to delete, remove the object from the store once the API call is completed.

[2020-06-02 20:19] #634 closed

[2020-06-04 15:52] Glebkiselev11 opened #648 "Methods in Model class"
Hi!

I have a pretty big project on vue. And there was a need to add methods for working with api inside the model class. To contact them in components via Product.removeImage();

Product.ts:
[code]

ProductActions.ts:
[code]

Is this the right approach, or are there better solutions?
Is it good practice to declare any logic (methods) inside the model?
Thank for attention!

[2020-06-04 16:27] Glebkiselev11 commented on #648
Thanks, for your attention!
But my question was rather directed to whether it is possible to describe some logic directly in the model (e.g. api). And are there then potential problems in this approach.

[2020-06-05 05:47] davidsandoz commented on #475
If it can help in any way, I just noticed that this issue doesn't happen when Nuxt is running in _production_ mode. It still happens when running in _development_ mode (Nuxt 2.12).

[2020-06-06 07:17] Fnxxxxo commented on #640
@kiaking I use mono repo a lot. Maybe it bring some new issues.

[2020-06-07 08:03] mean-cj opened #650 "[Request Features] whereNull method"
Hello

How can find field value is null , or field not exists on documents
I think "whereNull" , whereNotNull this method is easy

Thank you.

[2020-06-07 08:12] mean-cj commented on #650
Now we can use

[code]

[2020-06-08 11:40] yardley commented on #266
Related to this - is there any way we can get type safety when updating a record with a payload?

[code]

[2020-06-09 00:02] drewbaker opened #651 "Documentation: Using with Nuxt store modules and their actions?"
I'm trying to follow along with getting this working with a complicated Nuxt app.

I have multiple store modules (index.js, users.js, tickets.js, folders.js etc). I do all my API requests using Apollo in Store actions. I really don't like the way Vue/Nuxt Apollo wants you to handle local state, so I want to move it all to Vuex ORM.

My ideal setup would be like this:

[code]

Then in my component,

[2020-06-09 00:40] petertoth commented on #651
Hello, I'm using vuex-orm with Nuxt as well.

1.
Following the Nuxt example, to register a vuex module altogether with a model simply pass module to the register method as well like: `database.register(Model, module)`. The second argument is not an instance of vuex store but just a plain vuex module.

Assuming you have the same directory structure as nuxt example, it's not unseen to place model's

[2020-06-09 00:47] kiaking commented on #266
Ah, currently not. We can't 100% make sure that to fail because there're no easy way of getting maps for schema properties. For example, if your model have public property called `mapUpProperty` (and not in fields definition), it will not throw type error but it will fail to update such a property.

Maybe we can do a bit better in Vuex ORM Next though.

[2020-06-09 15:48] jfarraraains opened #652 "vuex 4"
Vue 3 is coming closer and I understand that will be running on Vuex 4. Is Vuex-ORM starting to test against the future there?

[2020-06-09 15:52] cuebit commented on #652
Sure. Vuex ORM 0.36+ continues to function well with Vue 3 and Vuex 4.

[2020-06-09 16:22] cuebit commented on #648
@Glebkiselev11 to answer your question, yes, it is absolutely possible to define model methods in the way you are doing so.

[2020-06-09 19:24] #648 closed

[2020-06-09 23:50] drewbaker commented on #651
Thanks for this @petertoth. So you recommend moving the store modules out of `@/store`? Can I keep them there? I like that because it is the "Nuxt" way. Convention over configuration!  As a Nuxt store module has no `export default` I don't know how to do it.

I'm using GraphQL on this project, and I looked hard at the the GraphQL plugin, but it doesn't seem ready for production yet. I'll save my e

[2020-06-10 00:08] petertoth commented on #651
You can keep vuex modules anywhere you like/find suitable. Why I place models together with modules is that I reuse my models with modules among multiple applications.
I suppose you can just import vuex module as a whole like `import * as todos from '@/store/todos'` in case of nuxt vuex modules.

**However**, [nuxt automatically imports](https://nuxtjs.org/guide/vuex-store/#activate-the-store) all

[2020-06-10 00:16] drewbaker commented on #651
Thanks again @petertoth, super helpful.

I was under the impression I could use my Nuxt store modules with VuexORM on top of them too, good to know that is not the way to do it! I'll create a separate store file for each model like you suggested.

And yes, that updated query did the trick! `Folder.query().with("createdBy").get()` works great!

I was going down a rabbit hole trying to make a `user_

[2020-06-10 00:26] petertoth commented on #651
It's not very well documented by your foreign keys are being attached if missing on `insert` or `create`. Not fully sure of update.

Why the documentation example includes the foreign key is that you are inserting a new record from the model itself like:
[code]
If you want your post to be associated with your user you simply need to pass the foreign key.

However you could do something like this a

[2020-06-10 00:28] #651 closed

[2020-06-10 00:43] cuebit commented on #651
The concept of data normalization and how Vuex ORM generates foreign keys for corresponding relations is well documented in [What is Vuex ORM](https://vuex-orm.org/guide/prologue/what-is-vuex-orm.html#how-vuex-orm-handles-data).

It’s often the case a developer is likely to experiment with code examples before reading the manual, which is common.

Nonetheless, here-in exists an incredible communit

[2020-06-11 14:39] WoodyDark commented on #650
For now, if you just want to refactor the code, you can do so:
`Model.query().where('field', value => !value || value === null)`

This part of the [docs](https://vuex-orm.org/guide/data/retrieving.html#where-clauses) gives some extra examples

[2020-06-12 16:24] bestickley commented on #494
I found this package helpful for using VuexORM with TS: https://github.com/scotley/vuex-orm-decorators#readme

[2020-06-16 07:40] kiaking commented on #652
Yes! It's actually working with Vuex 4 already. Please feel free to raise an issue if you find anything!

[2020-06-16 07:40] #652 closed

[2020-06-17 03:33] Fnxxxxo commented on #494
@bestickley Great solution! Hope this type system to be supported by the official, @kiaking

[2020-06-17 10:17] cuebit commented on #494
Decorators will be shipped with the next iteration of vuex-orm, see the [vuex-orm-next](https://github.com/vuex-orm/vuex-orm-next) repo for more details.

Closing this since it’s not an issue per-se. If you have any further questions, feel free to join the slack channel, or open a new issue. 👍

[2020-06-17 10:17] #494 closed

[2020-06-19 07:24] brfrth commented on #255
@kiaking @willhoyle Has this regressed? Missing the toJSON on the model and getting the error. Seems the current version is lacking this change.

[2020-06-22 12:27] thhan commented on #51
Hello @kiaking, I'm trying the same.

[code]
{
  id: 1,
  name: 'Bob',
  current_reading: {
    id: 1
  }
}
[code]
User.query().with('current_reading).get();
[code]

[2020-06-22 13:21] cuebit commented on #51
@thhan the value of `current_reading` should be the foreign key, not an object, since you’re referencing a foreign key lookup on the parent model.

In other words, your input data should read as follows:

[code]

[2020-06-23 11:35] thhan commented on #51
@cuebit look at this comment

This is the same, what I try to use. Didn't support Vuex ORM any more?

[2020-06-23 20:22] carsomyr commented on #334
@kiaking @mhluska @Uysim Shameless ad: Can this issue be closed with the release of my vuex-orm-json-api package? https://www.npmjs.com/package/vuex-orm-json-api

[2020-06-24 14:44] willhoyle commented on #255
Just quickly looked at this, we added the toJSON function to models on version v0.31.3: https://github.com/vuex-orm/vuex-orm/blob/v0.31.3/src/model/Model.ts (search for toJSON, it's at the bottom)

The latest release does not have this function anymore. I'm not sure at what point it was removed. Maybe there's a specific reason it was removed. I'd have to clone the repo and properly search the git

[2020-06-25 16:38] vesper8 commented on #475
@davidsandoz interesting find.. so are you saying there is no issue at all with using vuex-orm in asyncData when running in production?

[2020-06-26 11:22] eldomagan commented on #642
@ntma you can create another model which extends your Request model and just change the entity.

[code]

[2020-06-26 14:46] wizardnet972 opened #654 "Read Schema from json"
#### Is your feature request related to a problem? Please describe...

No.

#### Describe the solution you'd like

Today I write the models in my files like this:

[code]

I also do almost the same write in mongoose:
[code]

I want to export ` name: { type: String, unique: true, index: true },` to json the core team can choose that the schema is,  and maybe the `vuex-orm` can read this json and in

[2020-06-26 15:40] eyesurewould commented on #255
Yes please!

[2020-06-26 15:59] davidsandoz commented on #475
@vesper8, I can't say if there's no issue *at all*, but I just made this observation with the use case in my project, which actually uses `fetch` and not `asyncData`.

And actually, after updating to the latest version of vuex-orm (0.33.0 → 0.36.3), it now seems to be working fine in `development` mode as well!

My bad for not having realised earlier that I wasn't using the latest version.

[2020-06-27 11:54] cuebit commented on #255
@brfrth @willhoyle @eyesurewould any chance of a reproducible repo or link?

I can spin up nuxt with Vuex ORM 0.36 without issue. Note, Vuex ORM no longer stores instances, and only POJO, in Vuex so serializing shouldn’t be an issue here.

[2020-06-29 16:10] Tofandel opened #655 "Keeping in sync laravel models and vuex orm models"
Vuex orm is heavily inspired by laravel models, but it seems all the php models need to be re declared in js

Is there any tool available to keep the js models in sync with eloquent php models? Right now this leads to code duplication (which is expected because of the language difference) and having two code bases to keep in sync

Maybe having an interface to read the model from a json file both i

[2020-06-30 10:33] bestickley opened #656 "Allow nested whereHas"
#### Is your feature request related to a problem? Please describe...

I'd like to be able to do this:
[code]
note the nested relation: `"roles.userRoles"`
#### Describe the solution you'd like

Only return Apps if there is a related userRole with MyModule.userId

#### Describe alternatives you've considered

The below query is a workaround for now:
[code]

#### Additional context

Add any other c

[2020-07-01 12:21] nicooprat commented on #565
Hi, looks like the issue is still present with latest release 0.36.3. Any update on this one? It's preventing us to update Vuex ORM for several months now. Thanks :)

[2020-07-01 16:43] JeffBeltran opened #657 "define a morph map for morphTo relations?"
#### Is your feature request related to a problem? Please describe...

morphTo relies on the Polymorphic type to be the same name that is defined as the model's entity. if we use the documentation example

`commentable: this.morphTo('commentable_id', 'commentable_type')`

the function expects `commentable_type` to match an entity name. (either `videos` or `posts`). But if an api returns a differen

[2020-07-04 06:45] mcasto opened #658 "Question: Updating all records"
I have a list of project records. Each record has a boolean "selected" property. If the user selects a project in the UI, I want to specify in the data that _that_ is the project record they're working with. I can set its selected property easily with `Project.update({ where: _id_, data:{ selected:true } })` but is there a way to set all _other_ records to `selected:false`?

I tried `Project.updat

[2020-07-04 06:57] mcasto commented on #658
Well ... I wound up iterating with:

[code]

That's reasonably succinct, and I'm satisfied with it if there's no built-in solution, but I'm curious if there _is_ built-in functionality for this that I've missed.

[2020-07-05 20:03] eldomagan commented on #658
You could do something like this
[code]

[2020-07-05 22:23] mcasto commented on #658
Oh. Right. I didn't think about using a function for the where clause. I'll give that a go. Thanks.

[2020-07-05 22:23] #658 closed

[2020-07-07 22:50] cuebit commented on #650
As you and @WoodyDark have suggested, as a workaround, a suitable where clause is more efficient than introducing a new shorthand method for boolean-esque query modifiers. Doing so would also instigate an argument for other like-for-like methods such as `whereUndefined` or `whereFalse`, etc.

As a side note, `!value || value === null` will never reach the strict null check in the conditional becau

[2020-07-07 22:50] #650 closed

[2020-07-08 07:49] Fnxxxxo opened #659 "Type error when defining global life cycle hooks"
#### Describe the bug

Try to declare global life cycle hook in plugin, but fails in TS compiler.

#### Steps to reproduce the bug

Define the following plugin:
[code]

#### Expected behaviour

I expect it to work and all models are binded with a global update hook.

#### Versions

- Vuex ORM: 0.36.3
- Vue: 2.6.11

[2020-07-09 11:20] cuebit commented on #659
You can't define a static property on an interface, at least not without properly implementing both constructor and prototype interfaces (both of which compiler checks independently).

[code]

[2020-07-09 11:20] #659 closed

[2020-07-11 10:18] Fnxxxxo commented on #640
@kiaking Any news about this?  If all models are manage in a repo define types in parent seems not to be friendly for Tree-shaking. All sub models are waved. Is it possible to change them to some like this?
[code]

[2020-07-11 19:37] szekelyisz opened #661 "Model.update() in afterCreate() performs insert"
I have an `afterCreate()` hook in one of my models. There I'm pulling additional information from the network that need to be added to the newly created record. So I do (using vuex-orm-decorators):

[code]

But instead of updating I see a new record added to the store with `$id` set to `'null'` and the rest of the fields set according to the `update()` call and other fields (those unaffected by th

[2020-07-11 21:22] cuebit commented on #661
@szekelyisz thanks for opening this issue.

Could you provide the model schema and an example of the data you’re inputting prior to the hook being created? As per the issue template, the more information you can provide the better chances of answering your question sooner.

Thanks! 👍

[2020-07-12 00:19] szekelyisz commented on #661
@cuebit Thanks for your reply. Here's my model definition:

[code]
As you can see, I even added `$id` to the update operation but got the same result.

And the code that does the initial insert:

[code]

The initial data that I'm inserting:

[code]

Records after the initial insert (without the update):

[code]

The update operation is called with this object:

[code]

Records with/after update:

[2020-07-12 00:46] szekelyisz commented on #661
If I do the update from the resolve branch of the promise returned by the insert instead of the `afterCreate()` hook, I get the same result.

[2020-07-12 23:31] szekelyisz opened #662 "How to define reactive member in Model?"
One of my model classes has a plain boolean member (not defined as a field to stay out of the ORM model):

[code]

I have a corresponding component that displays information about the `device` entity (or `Device` class) that pulls the corresponding `device` from Vuex-ORM in the `created()` hook:

[code]

In this component I want to use `Device.locateIndicator` as a reactive attribute (like `<q-btn

[2020-07-13 01:10] szekelyisz commented on #662
So I found out that the entire `DeviceListItem.device` is not reactive. Even if I access it like `$store.state.entities.devices.data[id]`.

I wonder what's going on.

[2020-07-13 02:20] cuebit commented on #661
@szekelyisz thank you for the detailed response.

Immediately, I can see your model lacks a primary key (PK). By default, this is `id`. One must be declared. To use an alternative field as the PK, you can explicitly set one e.g. `static primaryKey = '_id'`.

[code]

When updating a record, the `where` clause expects a PK. Since `$id` is not a valid PK, it is an index generated by Vuex ORM and cann

[2020-07-13 02:55] cuebit commented on #662
Does `Device.findIn([this.id])[0]` have a value when the `created` hook is fired? I can't see why this would not work.

Alternatively, use a computed prop instead of setting data on the `created` hook.

[2020-07-13 03:31] szekelyisz commented on #662
Yes, the correct data is retrieved from the store when the hook is run. I can use all fields from the instance, but nothing is reactive.

I also tried initializing it implicitly:

[code]

This yields the same results.

Using a computed property makes no difference, either.

[code]

[2020-07-13 17:14] szekelyisz commented on #662
If I use a computed prop such as

[code]

then the component receives updates from Vuex-ORM, but not the non-field members of the `Device` class (such as the `locateIndicator` field in the very first listing) are not reactive.

On the other hand, if I use a member in the component's class like

[code]

then `locateIndicator` becomes reactive, but the model becomes static.

How can I have both? I w

[2020-07-15 08:09] moravecjakub commented on #416
@kiaking Hello, I have a question about this issue. Currently I'm solving some issue with entity id handling in orm. Because when I create some temporary entity at client-side, then synchronize them to server side, I must insert new one and delete temporary one, which causes flashing while vue components rendering. There are two ways how to solve it - transactions or allow update id. I know that u

[2020-07-15 20:24] szekelyisz commented on #662
I got the following usual error on the console (unrelated to the problem):

This suggests that all reactive properties must be initialized when using class-based components, otherwise they won't be reactive.

So I'm wondering if this behavior comes from the interference between Vuex-ORM and class-based components.

[2020-07-17 06:49] moravecjakub commented on #416
Hi, I've made new pull request, which fixes duplicating of record. What is your opinion? https://github.com/vuex-orm/vuex-orm/pull/664

[2020-07-21 15:58] Tofandel commented on #624
Any chance to have this bug fixed before v1 as this is currently a major bug that makes dates unusable and the fix is not breaking?

[2020-07-23 12:12] Fuzzyma commented on #322
What happened to this issue? I would like to give it a try.
In my use case, I have my whole app as entity and basically everything is linked together with relations. So when I change my app-entity, far too much stuff is recomputed even though it didn't change.
I only need one-way reactivity from store to component but will never change a property in the store directly.
Would `Object.freeze` solve

[2020-07-25 05:48] dschreij commented on #602
I have the same problem, but in my case the pivot relations also do not seem to be stored correctly. I'm am receiving the following data (for a Study entity):

[code]
that I am trying to capture with:
[code]
Both Job and Variable indeed each have a relationship to study, while also being related to each other. This intended (even though it could be established by a many-through relationship as wel

[2020-07-27 08:01] dschreij commented on #602
Regarding this aspect of my problem:

would this deserve its own issue? If so, I can create one.

[2020-07-30 16:20] spyc-cloudadmin commented on #308
So is the insertion order preserved now?
I've tried inserting data into a model with random ids, and then call Model.all() to retrieve an array of data. I see that the order in the array is the same as my insertion order.
I'm confused by this post, is the insertion order guaranteed to preserve? This is important to my use case.

[2020-07-30 16:21] d-mok commented on #308
So is the insertion order preserved now?
I've tried inserting data into a model with random ids, and then call Model.all() to retrieve an array of data. I see that the order in the array is the same as my insertion order.
I'm confused by this post, is the insertion order guaranteed to preserve? This is important to my use case.

[2020-07-30 18:03] drewbaker commented on #416
I just ran into this issue today when trying to create an optimistic UI pattern.

I create a temp record client side, then persist it to the server and update it after the server with a new ID, and I end up with a duplicate.

[code]

Would love to get this working somehow.

[2020-08-01 13:32] d-mok opened #667 "What determines the order in Model.all()?"
Hi! thanks for the great project!

In my use case, the order retrieved from Model.all() is important. I want it to be the same as the order I inserted / created the data.
I experimented for some time and conclude that:

1. it is the same as the insertion order when the primary key is a string
2. it is NOT the same as the insertion order when the primary key is an integer. Instead, it is ordered by

[2020-08-02 19:35] drewbaker commented on #416
It would be great to have a `rollbackDelete` method for this sort of thing too. Being able to optimistically delete, then rollback deletion on error server side would be great.

Currently I do this manually like this:

[code]

[2020-08-03 12:27] adm-bome opened #668 "[0.36.*] Relationship belongsToMany - pivot data not working as expected."
#### Describe the bug

Extra pivot attributes get overwritten, when there are multiple references to the same related model.

#### Steps to reproduce the bug

1. Define models
[code]
[code]
[code]
2. Create data
[code]
3. Result
The pivot attribute `type` is the same for every user role.

#### Expected behaviour

Pivot attr/data should be unique between the related model and the pivot model.
When

[2020-08-03 13:39] adm-bome commented on #668
Probably a duplicate of #602, #623

My CodeSandbox is a very basic example to explain what is going on.
But my actual issue is with a circular reference to the same model ;)

[2020-08-03 16:48] Tofandel commented on #252
To answer the previous question it works completely fine

Any update on the lazy loading feature? We have the relations on the instance so it'd be great to be able to have some use for them :p

[2020-08-03 18:47] adm-bome commented on #668
I also have a work arround for **NOW**

After creating the Client with all relations, I do an extra loop for all retailers within a client on the original `data` and update the PivotModel accordingly .

[code]

[2020-08-03 20:57] cizza commented on #655
As far as I can tell, Vuex ORM is not inspired in Laravel but the amazing Eloquent ORM.

This will be a longshot, but to keep the Vuex ORM in sync with your db, most likely managed via Eloquent in Laravel application, you would need to open up websockets  connection between your backend and your front end db management system. I don't think there's any package, which would take care of it for you

[2020-08-03 21:22] Tofandel commented on #655
I actually already have a websocket system and an interface extending the Vuex Orm model to lazy load the data that vuex orm requests from it when it's queried from the actual laravel models, my question was more about having a tool to automatically generate your models, I mean the model already exist in laravel so imagine you have 20 models, maybe running a few lines of php to output all of the m

[2020-08-04 17:28] adm-bome commented on #602
@dschreij

#668

As i can see from source almost everything is by reference. So there is a  a catch when a circular relation is made and Multiple records (Jobs) have the same reference to a Job.
Only the last pivotRelationModel is kept as reference to the Job. Thats because the relatedModel (Job)  is a refference and not its own instance.

I've been working on a workaround, but I lose reactivity o

[2020-08-04 17:32] blaspix-tech commented on #440
Does anyone have a solution for deep cloning?

[2020-08-04 19:06] dschreij commented on #602
@adm-bome

Thanks for explaining!

I reckon you mean multiple jobs have the same reference to a _variable_ here?

I understand my structure comes across as very convoluted, but it actually represents a table, in which you can regard a job as a row and a variable as a column e.g.

Job  | var_one | var_two | ...
----  | -------- | ------- | ------
 1      |    22       |  56       |   ...
 2      |

[2020-08-05 19:21] adm-bome commented on #668
When retrieving the relations from the database there is also an issue.

Because the relations are stored by the model id, the same model with different data, overwrites the previous pivot data.
So only the latest version of the data is presumed as truth.

When you want to be able to get the real pivot information you have to actively lookup the data by queering the database.

[code]

[2020-08-05 20:49] adm-bome commented on #668
NOTICE: !! The tests for pivot data probably are wrong !!

[2020-08-06 16:03] chadwtaylor opened #670 "Warning in console: "entities" was overridden"
#### Describe the bug

Followed the instructions to the T and am receiving a warning in the browser console: `[vuex] state field "entities" was overridden by a module with the same name at "entities".  Other than that, everything is working fine and nicely and the warning is just a slight annoyance and wondering what is causing it.

We do not have any other vuex module using 'entities' and Vuex-OR

[2020-08-08 16:10] adm-bome commented on #668
@kiaking

Issue: many models with pivot data to the same related model  (ex. multiple users with the same Role but different pivot data.)

I had an idea.
For the querying of data wrap the Model with a proxy and for pivot information do an query instead of relying on the model data.

I put together an example in the PR #669.
Can you collaborate on this?

[2020-08-10 15:38] kristremblay commented on #322
@kiaking Experiencing a similar situation to @Fuzzyma .

[2020-08-11 10:45] M1chaelTran commented on #520
I've run into this issue today...

[2020-08-11 11:09] M1chaelTran commented on #415
any updates on this?
It is exactly one year this issue raised... 😞

[2020-08-11 20:50] Tofandel commented on #411
I can confirm there is an issue, any relationship queried with `with()` will not be reactive, the current workaround is to use a second query on the related model and do the link manually.. This is less than ideal

Eg:
[code]

[2020-08-11 20:56] cuebit commented on #411
@Tofandel could you provide a minimal reproduction on [codesandbox.io](https://codesandbox.io) or alike?

[2020-08-11 20:57] Tofandel commented on #411
Sure do you have a premade template with vuex orm?

[2020-08-11 21:02] cuebit commented on #411
@Tofandel [here's one](url) of many. Might need to update dependencies.

[2020-08-11 21:02] cuebit commented on #411
@Tofandel [here's one](https://codesandbox.io/s/vuex-orm-pxdu4) of many. Might need to update dependencies.

[2020-08-11 21:10] Tofandel commented on #411
There you go
https://codesandbox.io/s/angry-sara-glxc7?fontsize=14&hidenavigation=1&theme=dark&file=/src/App.vue

[2020-08-11 21:48] Tofandel commented on #411
Never mind, my issue was way deeper after some debug, I had a component mounted programmatically with an assigned slot and this apparently made it non reactive because when the parent update a new VNode is created but the assigned slot keeps the old reference

[2020-08-11 23:36] cuebit commented on #415
Closing this issue due to inactivity but also because this is not deemed a bug but may be considered a documentation issue.

This statement is incorrect. `has`  is a "conditional" constraint on the parent model and will only load a parent model that meets the relation criteria applicable by the constraint. It does not mean it will load the relation. `with` is a relationship loader, instructing the

[2020-08-11 23:36] #415 closed

[2020-08-12 00:40] cuebit commented on #520
Closing this issue due to inactivity and also because it is not actually a bug.

Wrong. There are two things that invalidate your test case:

1. A computed property isn't being tested in the test therefore an assumption is being made.
2. A reference to an existing query instance is not the correct approach to fetch data from the store.

For a computed property to re-evaluate a query, it must retur

[2020-08-12 00:40] #520 closed

[2020-08-13 10:00] Roboroads commented on #520
This is indeed how I've fixed it in my project - I was not aware this is the only way they should be used (since the other uses do work like this)

[2020-08-14 01:21] arbarrett opened #672 "Multiple polymorphic fields to the same type collide"
#### Describe the bug

If there are 2 or more 1-to-1 fields on an entity that point to the same type of entity polymorphically, then the value of each of the fields end up with the same value, because the polymorphic information stored includes the type of entity and the id, but not the field name.

#### Steps to reproduce the bug

1. Create a User model with file1 and file2 fields that polymorphi

[2020-08-19 23:42] yardley commented on #657
Note that with some APIs such as Django Rest Framework the 'content type' is an ID which can vary between installations.

I ran into the same issue as you but since I had control over the API I added a string field for the content type and an endpoint for the mapping (to help with post/put requests, which require the dynamic ID based on the entity name).

[code]

[2020-08-20 00:51] szekelyisz opened #673 "Inserted data missing after query"
After updating a record with a relationship I'm unable to get the newly inserted related records back.

Here's my model:

[code]

My store before the operation:

[code]

Then I do

[code]

On the console I see:

[code]

My questions are:

* Why the newly inserted `Output`s don't get their `deviceId` automatically filled? They are inserted as a result of an update on a `Device` instance, so they sh

[2020-08-20 01:32] cuebit commented on #673
Why do you have two primary keys on `Output`?

[2020-08-20 16:23] szekelyisz commented on #673
I wanted a composite primary key.

[2020-08-20 18:42] cuebit commented on #673
I'm not aware of a property decorator property that offers composite key definitions on models. Which is why I suspect your `deviceId` is not being set correctly. Also, if your Output model was a composite key, it wouldn't work since the `hasMany` relation doesn't support composite keys.

[2020-08-25 09:45] sebastianjung commented on #347
For me only vuex-persist seems to be persisting the data.

[2020-08-25 15:07] sebastianjung opened #675 "[QUESTION] hasManyBy with object[] instead of id[]"
i was wondering if it would be possible to create hasManyBy relations using [obj: {id: '1'}] instead of ['1'] like so

#### The models

[code]

[code]

#### The inserted data
[code]
#### The outcome

`User.all();`
->
[code]

#### Expected behaviour
I was thinking that i could retrieve the users with userRoles with some kind of hasManyBy relation as there are no ids on the UserRole model

#### Vers

[2020-08-25 16:24] sebastianjung commented on #675
Reading the docs carefully it seems i do not need hasManyBy when there is no foreign key on my UserRole model as missing foreign keys are automatically generated.

[https://vuex-orm.org/guide/data/inserting-and-updating.html#generating-missing-foreign-keys](https://vuex-orm.org/guide/data/inserting-and-updating.html#generating-missing-foreign-keys)

So to make this work i had to change my models t

[2020-08-25 20:49] cuebit commented on #675
The `hasManyBy` is designed to work with an array of primary keys that belong to a related model so it would not be possible to insert data in this manner. This relation type is useful when you have data for the related model that has or will be added independently.

For example:

[code]

The `hasMany` relation requires a foreign key to exist for a relationship to be created. However, this does no

[2020-08-25 21:19] sebastianjung commented on #675
@cuebit
Thank you very much for your quick and detailed response.

I think i'm beginning to understand how things are working.

So hasManyBy does not make sense here because at the time the data is normalized there is no userRoles[id] on my User model (and never has been, to be exact). Thanks for the clarification!

This is indeed what i came up with. Thanks!

So what i ended up with is:

#### Use

[2020-08-25 21:34] cuebit commented on #675
Great! Seems like you're finding your feet. Best of luck!

In regards to the hint, there are often cases where the community has raised concerns about the existence of valuable information in more appealing places (such as what you've described), and we aim to resolve this by improving the documentation now and again.

In the same breath, the topic of missing foreign keys is covered in the prologu

[2020-08-25 21:34] #675 closed

[2020-08-27 08:19] sebastianjung opened #676 "Data inserted after graphql request is not reactive. Axios works?"
It seems the data is not reactive when using **graphql via apollo** instead of **rest via axios** before inserting the fetched data into the store.

Let me explain the difference:

#### GraphQL / Apollo
[code]

#### REST / Axios
[code]

### Template output
In both cases the data is shown through a computed property:
[code]

`<h5>{{ users }}</h5>
`
#### GraphQL / Apollo (template output)
Empty arra

[2020-08-27 12:54] #676 closed

[2020-08-27 12:55] sebastianjung commented on #676
Can not reproduce myself so i close this one!

[2020-08-28 14:20] msodel opened #677 "Order entity by nested entity fields"
**Hi,**

**Scenario:** I have a simple model of  Products and Categories, just like that:

[code]

**Question:** Is it possible to get a list of products ordered by its category name and then by product name, something like that:

[code]

[2020-08-28 17:26] cuebit commented on #677
Unfortunately, it is not possible to order by relation fields at this time. You'll have to execute your own sort comparator on the query result.

That being said, I mocked up a comparator that should fit the bill:

[code]

Essentially, you pass the comparator into `Array.prototype.sort` with a list argument consisting of the field name and optionally a sort direction (defaults to ascending when om

[2020-08-28 17:26] #677 closed

[2020-08-28 17:38] cuebit commented on #670
Sounds like a setup issue unrelated to Vuex ORM.

Hard to pinpoint in the blind. Check your state export(s) in your store file(s) and make sure they're functions and not POJO. If all else fails, provide a reproducible demo. 👍

[code]

[2020-08-28 17:38] #670 closed

[2020-08-29 01:31] szekelyisz commented on #673
OK thanks, I see. It seems like it would be easy to add composite primary key support to vuex-orm-decorators. I'm not sure if `hasMany` not supporting composite primary keys would be an issue in this case. The Device model has a simple PK so when an Output refers to it it doesn't need to store a composite PK. The other way, when a Device refers to multiple Outputs, it just looks at "half" of the c

[2020-08-31 14:14] gijsmooren opened #678 "this context in getters results in eslint en IDE errors"
Hi all,

I am wondering if I am the only one running into this issue. When I define a getter in a model I get linting errors when calling attributes defined in the static fields method. I understand this is 'normal' behaviour when a property is not defined. However in the example [Accessors](https://vuex-orm.org/guide/model/accessors-and-mutators.html#defining-accessors) nothing is mentioned about

[2020-08-31 22:24] cuebit commented on #678
I see you're using TS. Have you declared the properties on the class at least?

Example:

[code]

[2020-08-31 23:18] canhkieu commented on #486
How to use it in nuxt with: this.$store.dispatch

[2020-09-01 01:16] szekelyisz commented on #673
I changed the Output model to have a simple PK:

[code]

I'm filling in both the `deviceId` and `outputId` fields before inserting, and the Output records get inserted correctly (`$id` generated and all), but when I query them through a Device, I get an empty array as the `outputs` field despite of `with('outputs')`:

[code]

Result:

[code]

[2020-09-01 12:10] adm-bome commented on #668
@cuebit @kiaking
Is there any interest in this issue and probable solution?

[2020-09-02 13:47] cuebit commented on #673
After delving into this issue a little further, I discovered the attributes by the property decorators are called on the Model constructor, not the inheriting constructor itself. So this issue actually belongs to the **[vuex-property-decorators](https://github.com/Scotley/vuex-orm-decorators/)** library, not to be mistaken as an issue with Vuex ORM.

To illustrate the problem, we can evaluate the

[2020-09-02 17:58] szekelyisz commented on #673
Thanks @cuebit the workaround does the job. I'll see if I can fix vuex-orm-decorators.

[2020-09-02 17:58] #673 closed

[2020-09-02 18:28] ValentineKirsanova commented on #347
Hello!
Could you please tell me if your entities data changes immediately (in vue dev tools) after you changed anything by Model.update()?

[2020-09-02 18:41] sebastianjung commented on #347
@ValentineKirsanova It does not to be honest. i was thinking it is either a bug in my vue devtools or caused by something else in my project. Do you have the same issue?

[2020-09-03 06:41] ValentineKirsanova commented on #347
@sebastianjung yes, unfortunately, I have :(
thank you a lot for your response!

[2020-09-04 07:27] fractalf opened #679 "Problems with fetching parent in afterDelete from child in a hasMany relation"
I'm trying to delete the parent if all its children are deleted, but just doesnt seem to be working.
Things seems to be loaded (see screenshot below), but in the hook `afterDelete` it's just not there.

Shouldn't this work? Bug og just me using this incorrectly?

Example models
[code]
[code]
**in afterDelete `model.project` is null**

This is how I fetch the projects data and make a loop through a

[2020-09-04 14:26] cuebit commented on #679
The `afterDelete` hook only receives the model record, without its relations. Hence why `model.project` is null and void.

If you want to handle relations inside CRUD hooks, with the exception of select hooks, you will need to query the store. So a "double up" cannot be avoided in this instance.

[2020-09-05 20:14] fractalf commented on #679
@cuebit ok thanks for the info!  :+1:

I'll close this issue then..

[2020-09-05 20:14] #679 closed

[2020-09-07 08:24] gijsmooren commented on #678
Thank you Cuebit. I was not sure if it was possible without declaring the properties in the class as it feels like a redundant step.

[2020-09-07 08:24] #678 closed

[2020-09-08 03:14] TuringJest commented on #582
Any updates on this?

[2020-09-12 12:35] Fnxxxxo opened #681 "A way to add extra property on query result?"
#### Is your feature request related to a problem? Please describe...

Framework, like ANTDV, use dynamic named slot on tree and table components, which requires extra functional properties to be defined on query result. It seems not efficient to recursively modify data properties after querying them.

#### Describe the solution you'd like

Maybe a query callback for some data handling.
[code]
Aft

[2020-09-14 04:52] cuebit commented on #681
I'm not following your requirements entirely, but are [lifecycles hooks](https://vuex-orm.org/guide/digging-deeper/lifecycle-hooks.html) not useful in this instance to utilize for arbitrary data handling?

[2020-09-14 07:15] Fnxxxxo commented on #681
@cuebit Not all APIs provide these extra info. In my case Employee query defined extra pagination info and Employee autocomplete query provide selected status. On the other hand, I dont own these model from npm.

[2020-09-14 07:24] Fnxxxxo opened #682 "Feature to set and get property data on pivot model."
#### Is your feature request related to a problem? Please describe...

A relation about Employee and Organization many-to-many relationship. It seems not way to set and get isLeader data from the pivot model

#### Describe the solution you'd like

[code]
Where get data from the query, the pivot model holds this property data.

#### Describe alternatives you've considered

Currently, I have not wal

[2020-09-18 16:16] dappiu opened #683 "Empty result set when filtering instances with where() by id"
I obtain the correct list of instances if I do this:
[code]
But I always get a empty list if I replace `'slug'` with `'id'`
[code]
I tried logging inside the closure but it seems that the evaluation function has never been called. No errors either.

To walk around the issue I ended up doing
[code]
which works as intended!

I hope I'm not missing something trivial here, otherwise it may be a bug.

[2020-09-23 23:21] IAmJulianAcosta opened #684 "Can't define relationships by name instead of by model"
#### Describe the bug

In order to initialize some relationships and avoid circular references when classes are in different files, I had to use names instead of models.

When trying to get the model by its name, [this](github.com/vuex-orm/vuex-orm/blob/c21b5107e1f7791d5aeaad218ba17b84fe93e15f/src/model/Model.ts#L348-L350) method is called

By the time it is called, Container.store is undefined

#

[2020-09-23 23:37] cuebit commented on #684
I don't follow. How are you attempting to retrieve a model name? Could you demonstrate your model setup and what it is your actually doing that produces the error?

[2020-09-25 15:56] fanjum66 opened #685 "why Model.update with where clause is returning different data format with different versions"
#### Describe the bug

Updating a model using
**MyModel.update({where: id, data: {loading: false, loaded: false, loadError: err}})**  is returning the data with vuex-ORM version **0.30.0**(Vuex-3.1.2) as
**my_models:[MyModel:{
id:'1223',
loading: false, loaded: false, loadError: err
}]**

where **my_models** is an ORM store name

but now with the same query and with the latest vuex orm version **0

[2020-09-25 19:35] IAmJulianAcosta commented on #684
Hi @cuebit, here you can find a repro:

store.js
[code]

[2020-09-25 20:31] cuebit commented on #684
When using strings to reference models you should be using the entity value of the model.

[code]

[2020-09-25 20:32] #684 closed

[2020-09-25 21:56] IAmJulianAcosta opened #686 "How to add a record to a many to many relationship?"
I'm following the example in the docs:

[code]

And I need to create a new role and add it to `user.roles`, I tried `User.update(1, roles: [...user.roles, newRole])`, but the user is never changed. Inserting works fine, with the `pivot` field, but I cannot find a way to make the relationship to update.

Any help o n this would be helpful

[2020-09-25 22:14] cuebit commented on #686
To give you a low level explanation, the `update` method handles existing data, and inherently any existing relations. It does not generate new relations without being instructed to do so.

The following syntax you are using is also incorrect:

[code]

The following would be the correct syntax:

[code]

Note, when updating, you need not spread existing relations (i.e. `[...user.roles, newRole]`) u

[2020-09-25 22:19] IAmJulianAcosta commented on #684
@cuebit I don't think that is the problem (what you said was wrong, but not causing the bug).

It took me a couple of hours to get to a minimal repro, but here it is: https://github.com/IAmJulianAcosta/vuex-orm-repro

What I think that is happening:

When calling `comments: this.hasMany(Comment, 'post_id'),` `Comment` class for some reason is not getting the value for `store` defined: [here](https

[2020-09-25 23:10] cuebit commented on #684
There is an underlying issue that causes problems when you mix entity strings and model classes. There are 3 solutions to your problem:

1. Use model classes consistently e.g. `this.hasOne(Comment, ...), this.hasMany(Like, ...)`
2. Use string values consistently i.e. `this.hasOne('comments'), this.hasMany('likes', ...)`
3. Order your model registration according to the order in which your relation

[2020-09-25 23:11] #686 closed

[2020-09-25 23:32] cuebit commented on #683
Correct. You cannot use closures in a where clause that inspects a primary key. The moment you supply a primary key as a property lookup, Vuex ORM will take the given value as a direct key lookup – in this case a closure would be an invalid value. Something that needs to be made clear in the docs. 👍

[2020-09-25 23:32] #683 closed

[2020-09-25 23:39] cuebit commented on #682
Duplicate of #602

[2020-09-25 23:39] #682 closed

[2020-09-26 05:35] IAmJulianAcosta commented on #684
@cuebit thank you, in the end I used classes everywhere, just wanted to report what was going on, thanks for the help 👍

[2020-09-26 06:33] IAmJulianAcosta commented on #686
@cuebit thanks for the help, just to clarify, do I need to include the `where`?

Looks like when no [condition is present](https://github.com/vuex-orm/vuex-orm/blob/master/src/query/Query.ts#L896-L898), or [data is an array](https://github.com/vuex-orm/vuex-orm/blob/8002617130bd2d5fe42a9c248a6ca163ca030b02/src/query/Query.ts#L863-L865) the 'insertOrUpdate' is executed:

[2020-09-28 16:28] cuebit commented on #686
To generate new relations, yes, you'll need the payload to be an object consisting of where, data and persist options, rather than a two-param invocation.

[2020-09-30 07:02] fanjum66 commented on #685
Any update on this?

[2020-09-30 19:49] damienhollis commented on #130
@kiaking would this be any easier to do now? Is anybody using JSON-API with vuex-orm?

[2020-09-30 19:55] damienhollis commented on #130
Actually, there seems to be an plugin now https://github.com/scalient/vuex-orm-json-api

[2020-10-03 14:09] lucianholt97 opened #688 "Support multiple views / lists / submodules / scopes for a model"
#### Is your feature request related to a problem? Please describe...
When dealing with a RESTful API with pagination and sorting the order of the items needs to be preserved for a specific list view. When creating a new instance in a detail view this may not be included in the list view. It needs to be synced in the store, but not in the list view's scope.
Also, when fetching paginated relationsh

[2020-10-07 12:41] yeus opened #689 "generate voex-orm models based on json schema"
#### Is your feature request related to a problem? Please describe...

Some servers implement a description of the models employed by the API using json-schema and Standards developed by "OpenAPI"-project:

- Json-Schema: http://json-schema.org/
- OpenAPI: https://swagger.io/specification/

As an example, the framework "FastAPI" which is used for generating REST-APIs automatically generates the js

[2020-10-08 09:32] loicmarie commented on #670
@cuebit I have this issue as well, with same versions. Stores are populated server side, but at first call of `this.$db()` the field "entities" is erased and re-populated, making getters temporarily break.
I have the same warning in the console, and in Vuex devtools, I can see "Register module: entities" client side, even though module is already registered in base state.
I have recreated a new em

[2020-10-13 09:19] akadlec opened #690 "Question: entity dispatch with typescript"
Hi all,
I'm using vuex orm and it is great. But right now, I don't know if there is a way how to define types for dispatch methods. I have something like this:

[code]

so type check is not processed on this piece of code

[2020-10-15 15:08] pasikonik commented on #130
Also this one https://github.com/guillaumebriday/json-api-response-converter

[2020-10-24 18:13] deepthought97 opened #691 "Question: How to GroupBy with Aggregation"
Hey, first of all, thanks for this really cool project. I'm just getting my feet wet, but so far I really enjoy it!

#### Is your feature request related to a problem? Please describe...

I've defined the following model:
[code]

Let's assume the following data is stored in this model:

[code]
My problem is that I would like to get the sums for each year. So in SQL terms:

[code]

Some other ORMs

[2020-10-26 23:39] cto-leaps opened #692 "Weird behaviour with deeply nested structure (missing IDs and null fields)"
Hi guys,

For some reasons, a level-four nested object gets generated IDs even though the API provides them when I insert in the Store.

My Session Model is defined as such

[code]

And my Log Model

[code]

This is what I get from Vuex-orm:
[code]

even though I inserting correctly data for the log

[code]
(All schema and data has been redacted to limit the length of this post.)

Any particular r

[2020-10-29 17:44] yoelpc4 opened #693 "Unfortunately, it is not possible to order by relation fields at this time. You'll have to execute your own sort comparator on the query result."
Unfortunately, it is not possible to order by relation fields at this time. You'll have to execute your own sort comparator on the query result.

That being said, I mocked up a comparator that should fit the bill:

[code]

Essentially, you pass the comparator into `Array.prototype.sort` with a list argument consisting of the field name and optionally a sort direction (defaults to ascending when om

[2020-10-30 02:52] wuyuedefeng commented on #657
I also have the same problem with ruby on rails, because `commentable_type` should store `Video`(not `videos`) in db  by default!

[2020-11-04 08:35] McAnix commented on #624
This is a major issue on my implementation too. I import masses of objects from the server through Vuex-ORM Axios and all the dates are invalid, even when using the date plugin.

[2020-11-05 14:44] EslamNemr commented on #169
any update for this uninstall method.

[2020-11-05 15:18] rigibore-charlie opened #694 "No shared state using $store.db().model() syntax between components"
I'm having a strange issue with the SSR syntax since switching from the ES6 static import syntax.  My components each seem to be accessing a difference instance of the store bizarrely, see very simplified example:

QuoteList (parent):
[code]

Quote (child):
[code]

Is this intended for the SSR way?  Seems to defeat the object of using Vuex in the first place.

Using within Quasar framework.

[2020-11-05 15:19] rigibore-charlie opened #695 "No shared state across components using SSR syntax ($store.$db().model())"
I'm having a strange issue with the SSR syntax since switching from the ES6 static import syntax.  My components each seem to be accessing a different instance of the store bizarrely, see very simplified example:

QuoteList (parent):
[code]

Quote (child):
[code]

Is this intended for the SSR way?  Seems to defeat the object of using Vuex in the first place.

Using within Quasar framework.  All de

[2020-11-05 15:19] EslamNemr commented on #169
for now store.unregisterModule(['entities', 'model'] doing the work.

[2020-11-05 15:36] cuebit commented on #169
@EslamNemr I think that's probably the best action to take for now. I don't think this is a huge priority at this time. Thinking about it, the installation would need to be abstract and rewritten if uninstalling was a possibility at entity level since the lib needs to register a wrapping module.

[2020-11-05 15:39] cuebit commented on #695
This is a duplicate of #694. Which do you want to keep?

[2020-11-05 15:40] #694 closed

[2020-11-05 15:41] rigibore-charlie commented on #695
Apologies, I got a 404 on submit so assumed it hadn't sent, have closed the other issue.

[2020-11-05 15:54] rigibore-charlie commented on #695
The code above is obviously very simplified, in reality it's a large scale app with 20+ models but it's happening in numerous places.

This particular example is basically a data table with 50 rows (aka QuoteList), each row clickable which brings up the child (actually a spawned dialog) with the singular information for the row.

I've added some logging to demo this, but you can see things are loa

[2020-11-06 16:45] rin4ik commented on #322
@kiaking experiencing the same problems with reactivity. it re-renders when nothing changed related to the template

[2020-11-08 10:38] JonArnfred commented on #345
I'm looking into vuex-orm exactly because cascading deletes frontend is pretty tedious to do by hand, so would love this feature to be implemented. As most apps probably already have defined cascades in the backend database on the relationship, I agree this is the right place to put it. Maybe we could even have the full capacity for the usual on delete handlers:

[code]

Regardless, thank you for

[2020-11-10 21:28] stop-start opened #696 "Question: Retrieving posts that either don't have comments or comments from user_id=1"
Following the examples from the doc, let's say that I want to retrieve posts that don't have any comments or that have comments from `user_id==1`.

Basically joining those two queries:
[code]

I would like to be able to join those so I can apply `orderBy()` on the joined query.
Is there a way to achieve what I want?

#### Versions

- Vuex ORM: 0.36.3
- Vue: 2.6.11

[2020-11-11 12:40] rigibore-charlie commented on #695
This was caused by exporting the store as a function in Quasar framework as opposed to exporting the store itself, nothing to do with using the SSR syntax, sorry for the inconvenience.

[2020-11-11 12:40] #695 closed

[2020-11-12 10:50] mantaskon commented on #636
I have the same issue... removing primaryKey from model definition doesn't work. Interestingly, morphToMany sets $id incorrectly (strings) initially (using "insert"), but uses the correct primary key definition when updating records ("insertOrUpdate").

@sanjitkung did you ever find a temp fix for this?

[2020-11-12 19:33] bestickley commented on #683
Adding this to the docs would be very helpful.

[2020-11-17 00:20] axe-me opened #697 "Performance issue, one array item update triggers all children components re-render"
#### Describe the bug

when use query result with v-for, any item in the list get updated will trigger all children components rerender.

#### Steps to reproduce the bug

1. Define models
2. Create data
3. Retrieve data
4. Bind data to component as computed property
5. Loop items with v-for, pass items to child component
6. update one of the item
7. all the children components get updated/re-rende

[2020-11-17 03:38] axe-me commented on #697
it also exists in the next version
https://codesandbox.io/s/sharp-lichterman-5hwnq?file=/src/App.vue

[2020-11-17 04:06] kiaking commented on #697
This is currently expected behavior. Your Vuex example is not equal to what Vuex ORM is doing.

The thing is, Vuex ORM returns new records from the store. Try changing your `list` computed property to this.

[code]

Then you can see 2 update log is called. Vuex ORM must return a new object instead of returning the store state as is because we must "mutate" the state before returning it when we hav

[2020-11-17 04:06] #697 closed

[2020-11-21 00:58] rin4ik opened #698 "getFields returns wrong payload"
I am experiencing a weird issue after upgrading to 0.35.0 version.
the problem is with getFields method. for some reason, it returns nested data with entities name.
for example returns
current behaviour: `{users: [id: 12, ...]}`
expected : `[id: 21, ...]`

it is just a matter of this code

[code]
if I just do

everything works. can't understand why this happens it is the same thing though.

the ac

[2020-11-21 01:09] rin4ik commented on #698
[code]

[2020-11-21 01:40] cuebit commented on #698
Upgrade to the latest version. 0.35 is a long way off.

[2020-11-23 07:31] ldiebold commented on #636
Having the same issue, yet understand that we may need to find a workaround until NEXT release.
My current strategy is to just query for the models I want to update (by their modelable_id and modelable_type).
However, this will have a performance hit since we're not longer fetching it directly by key!

[2020-11-25 15:43] cuebit commented on #690
`data` can be any record(s), so there is no type-checking at this time. If you really want payload validity, at minimum, create a method on the model that conforms to a type, for example:

[code]

If you got any further questions, head over to the Slack channel.

[2020-11-25 15:43] #690 closed

[2020-11-25 15:45] cuebit commented on #693
@yoelpc4 not sure what the question is here... Can you calrify?

[2020-11-25 15:45] cuebit commented on #693
@yoelpc4 not sure what the question is here... Can you clarify?

[2020-11-30 22:20] Tofandel commented on #600
Is there really no way to support triple primary key for a pivot table yet? This is a must have schema.. Having teams based roles my relationship is like this, but it just doesn't work, it will always save it with only 2 and other pivots are then lost
[code]

[2020-11-30 22:22] Tofandel commented on #600
#400

[2020-12-01 10:54] Tofandel commented on #400
@kiaking Can we reopen, it would be good to fix this bug I can have a look

[2020-12-01 11:36] cuebit commented on #400
@Tofandel you can create an issue in the [next](https://github.com/vuex-orm/vuex-orm-next/issues) repo since this repo will no longer receive updates as per the [README](https://github.com/vuex-orm/vuex-orm/blob/master/README.md).

[2020-12-01 11:38] cuebit commented on #698
Closing due to inactivity. Feel free to open a new issue if you discover anything new.

If you have any further questions, head over to the Slack channel 👍

[2020-12-01 11:38] #698 closed

[2020-12-01 12:22] Tofandel commented on #400
Maybe we can get a backward fix for 0.36 as well when fixed on next as well as this is a bug?

[2020-12-01 12:27] cuebit commented on #400
@Tofandel In that case your best option would be to fork the repo and patch the lib with a fix for your own use. Remedial work such as this is far too extensive for a version that is no longer maintained and has a successor in progress. Sorry!

[2020-12-03 11:19] Tofandel commented on #178
Mmm.. The beforeCreate Lifecycle hook should really support async, because you HAVE TO (no other way around) use it to insert pivot records that have composite primary keys..

And the problem is that the insertOrUpdate is in itself async.. So if you don't wait for the data to be inserted you run into race conditions...

[2020-12-04 22:37] clayperez commented on #620
Has the cause of this been identified? I'm experiencing some pretty intense performance degradation on inserts in my application and just came across this thread. I'm using 0.36.3.

[2020-12-05 15:22] yoelpc4 commented on #693
Current vuex ORM setup acccording to the [docs](https://vuex-orm.org/guide/prologue/getting-started.html#setup)

[code]

If we must provide ability to order by related model, we have to register a custom sorting logic for orderBy method.
Maybe for extendability & reusability purpose, we can register a macros on initial setup like this.

[code]

This feature request is  heavily inspired by laravel

[2020-12-12 07:52] SpedNSFW opened #701 "Model Relations not Linking to one another"
#### Describe the bug

Models with defined relations are not linking to one another in a way that provides access to the linked model, however related model IDs are being populated.

#### Versions

- Vuex ORM: 0.36.3
- Vue: 2.6.12

#### Additional context

I started working with Vuex-ORM for the first time and I'm having issues with some simple stuff. I have three models (see below) that are all r

[2020-12-12 09:29] cuebit commented on #701
You're doing everything by the book. Looks good.

This is your issue. You're looking for something that doesn't exist.

Records are stored in their respective entity module. When a `Page` is inserted, the data is normalized, all relations are extracted and stored in their respective entity module. The primary key from `pages` will serve as foreign keys for those relations. The relation fields are

[2020-12-12 09:53] SpedNSFW commented on #701
That helps a lot @cuebit. It seems the `#with` method was all I was missing and `#withAllRecursive` fits my needs perfectly.

[2020-12-12 10:09] cuebit commented on #701
@SpedNSFW Great! If you have any further question, consider heading over to the Slack channel. Heaps of help there.

Happy coding!

[2020-12-12 10:09] #701 closed

[2020-12-17 08:37] diego81b opened #702 "Wrong orderby string field"
#### Describe the bug

The orderBy clause seems doesn't ignore case so in my case considering an ipotetical property `name` ['Adam', 'brad', 'Chris'] is sorted ['Adam', 'Chris', 'brad']

#### Steps to reproduce the bug

1. configure a field as string
2. retrieve using orderBy that field

#### Expected behaviour

In my opinion i expect that string prop should ignore casing if not specified

#### Ve

[2020-12-17 14:38] drewbaker commented on #255
Getting this error today with `"vuex": "^3.6.0" and "@vuex-orm/core": "^0.36.3",`

[2020-12-20 16:36] scripterkaran commented on #624
This is a deal breaker for me :/ , I am also facing this same problem

[2020-12-24 10:03] dschreij opened #704 "Please provide an example of vuex-orm in combination with the new composition API"
#### Is your feature request related to a problem? Please describe...

The composition API is an increasingly popular method for defining components for both Vue 2 and 3. Yet there are little to no examples to be found online of how to use Vuex ORM in this new way of defining components, especially in combination with TypeScript. Even though the transition should be relatively simple, there are so

[2020-12-24 12:02] dschreij commented on #704
Alright, I must have had a temporary lapse of thinking for a moment, because of course it needs to be
[code]
when you work with computed variables in the composition API.

Regardless, an example of vuex-orm in the Vue composition API and TypeScript would be a nice example. What do you think?

[2020-12-31 12:27] jserpapinto opened #705 "[Question]: Difference between using `new Class` and `Class.new()`"
Hey,

Thanks for this lib! :tada:

Just wondering what is the difference between instantiating a model with:

[code]

and

[code]

Could you explain please?
Thanks! :pray:

[2021-01-02 15:45] jserpapinto commented on #705
Something that I realized:

When we use:

[code]

We are adding an empty item to the state right away.

When we the `new User()` form, it only returns that new user, but doesn't add it to the state.

[2021-01-02 15:45] #705 closed

[2021-01-20 20:45] hasnen206 opened #706 "Unable to retrieve child objects by withAllRecursive method when relation is morphMany"
Hi there,
I am unable to retrieve child objects when the relation is "morphMany" with "withAllRecursive" function. When I set the same relation with "hasMany", the child objects do come back.

Here is my scenario:
Customer object has many addresses

**Problem**
When the relation is _morphMany_ and if I add a new address for the customer, _withAllRecursive_ will not retrieve the new address

**What

[2021-01-26 02:15] shidcordero opened #707 "persist ID as string shows NaN"
#### Describe the bug

when id type is string, it shows NaN after persist

#### Steps to reproduce the bug

i have this model

    import { Model as ORMModel } from '@vuex-orm/core'
    import Model from './Model'

    export default class Make extends ORMModel {
      static entity = 'makes'
      static eagerLoad = ['models']

      static fields() {
        return {
          id: this.string(),

[2021-01-27 02:30] #707 closed

[2021-01-27 02:31] shidcordero commented on #707
this should be on plugin-graphql

[2021-01-29 21:47] alsh13 commented on #565
Hey, is there any updates on this issue?

[2021-02-08 12:25] adm-bome commented on #636
Hi,

I also have the same same issue: But maybe i'm missing something. (any advice is welcome!)

Just tried the example in the docs for a Many To Many (Polymorphic) Tag / Tagging relation.

As seen from the not above: The issues are only visible when you update the records. (ex. when you update a address with tags: all tags are added as new and you have doubled your relations)

[code]

[code]

[2021-02-09 16:35] adm-bome commented on #636
maybe not an need sollution:

I narrowed it down to the way keys are compared.

The code below should be for the uncompiled lib

[code]

[2021-02-10 10:17] adm-bome commented on #636
Question: @cuebit @kiaking

Is there a reason `pivotKey`  is build different ways in the Many relations?

file `attributes/relations/BelongsToMany.ts` see line `233`

against:
file `attributes/relations/MorphToMany.ts` see line `242`
file `attributes/relations/MorphedByMany.ts` see line `232`

When I alter the MorphToMany and MorphedByMany relations to a `JSON.stringify` of an array like in the Be

[2021-02-18 02:51] ajl199 commented on #322
Pretty sure this is my problem too. App syncs about 150,000 records across 3 linked models from an API. Bringing down each set as one  straight into vuex-orm sends cpu and memory usage through the roof and crashes the browser within a minute. Attempting to page is impossible because CPU keeps ramping up after vuex-orm promises complete.

I'm using vuex-orm as a relational store for the most part r

[2021-02-18 08:36] Fuzzyma commented on #322
@ajl199 I ended up implementing my own solution with [vue-model](https://github.com/Fuzzyma/vue-model). Not too sure if it solves your use-case tho. All the data still needs to be put into models. Reactivity across relations is way faster tho

[2021-02-19 23:01] alexcroox commented on #255
I too am getting this with the latest few versions of Nuxt

[2021-03-01 14:28] pwfraley opened #708 "Ordering in .all()"
I have some strange behaviour and I cant find a solution:

I have a List of users that comes sorted by lastName from the Server.
When I add a new User this user is added to the bottom of the List.

When I get the List from the Server again, the Order in the Server is correct, but the Order in the store is still wrong (it seems only the properties are update, but not the order of the elements.

Whe

[2021-03-11 15:30] d9k commented on #90
@kiaking, please implement cascade update for the foreign keys! :pray:

[2021-03-12 10:24] pat123456 opened #711 "question : use Vuex-orm with direct download installation"
Hello,
I would like to use vuex-orm in minimalist html/js project (without webpack, vite...etc) but can't figure out how to start with the "direct download" installation method. How to import the Model class from "<script src="https://unpkg.com/@vuex-orm/core"></script>" and extends it... etc. Could you provide a simple example to start with ? there is nothing in the official documentation.

[2021-03-13 16:01] chadwtaylor opened #712 "Getting entity name in production environment"
In production mode, the model's `constructor.name` becomes obfuscated and that's a good thing. However, I need to access the name of the entity.

Looking through the docs, I don't see a clear example on how to do it but I managed to do it this way (although I'm pretty sure there's a better way to access it):

`object.$fields().id.model.entity`

I'm curious about a better way to access the name of

[2021-03-13 16:37] cuebit commented on #712
Assuming `object` is a model instance, you can access the constructor through `object.$self()` therefore having access to any constructor methods/properties including the entity string.

[code]

[2021-03-13 16:43] cuebit commented on #708
Depends how you’re inserting records into the store when you retrieve a new set.

For example, this is expected behaviour for methods like `insert` or `insertOrUpdate` since they do not replace the collection, but rather update existing records in place and append any new ones.

If you’re fetching records from the server that should appear as-is in the collection, I would suggest using `create` to

[2021-03-13 17:14] cuebit commented on #704
This is more Vue related than it is Vuex ORM. Any ref, reactive and computed values need to be unwrapped. That is something we may describe in documentation once VCA becomes the norm but as it stands it is mostly unrelated.

[2021-03-13 17:14] #704 closed

[2021-03-14 13:21] chadwtaylor commented on #712
@cuebit Thanks so much, that worked -- definitely much better and simpler. :)

[2021-03-14 13:21] #712 closed

[2021-03-15 09:57] JoeriTheGreat commented on #656
+1

[2021-03-16 09:08] santilorenzo commented on #668
Please accept this PR if it fix the issue in the belongsToMany relations

[2021-03-18 18:26] Kinvaras commented on #436
Hi !

I was facing a similar situation today and found something interesting to do exactly what you are looking for.

Consider the following models:

- Item
- Category

such as an **Item** _belongs to_ a **Category** (and thus a **Category** _has many_ **Items**).

Furthermore, a **Category** has a self-referential relationship (a **Category** _belongs to_ another parent **Category** and _has many

[2021-03-19 18:34] rbayley opened #713 "multiple namespaces"
Hi,

Is it possible to add multiple namespaces?

[code]
This will be registered properly but, when
`ModelA.insertOrUpdate( {data: response.data} )`
then I will get
`[vuex] unknown action type: db1/modelA/insertOrUpdate`

It seems its not using the proper module.

Maybe I am doing something wrong.

Any idea how to fix or sort out this issue?

warm regards

[2021-03-21 14:53] leonceaklin commented on #657
I have that problem too. Is there any update regarding this?

[2021-03-22 20:38] #692 closed

[2021-03-24 09:25] LG0012 opened #714 "One To Many (Polymorphic) relationship is not working with custom primaryKey"
#### Describe the bug

Just imagine 2 models, Product and Attribute.

Product have One to Many (Polymorphic) relationship. Product model has own custom primaryKey (for example - uid).

The issue is that those attributes are inserted with wrong reference_id which is product.id, should be product.uid.

![image](https://user-images.githubusercontent.com/8395034/112285460-02ccf600-8c93-11eb-8479-e26fa

[2021-03-24 14:20] BogUkraine commented on #668
hey, guys. If someone will look for a workaround, there is possible solution.
You can use polymorphism to redefine insert methods, that you use.
Example:
`  static insertOrUpdate ({ data }) {
    super.insertOrUpdate({ data }) // call parent's insertOrUpdate

    if (Array.isArray(data)) {
      let isTypePivotIncluded = false
      data.forEach((item) => {
        if (item.type.length) { isTypePi

[2021-03-24 23:35] #611 closed

[2021-03-25 18:14] charlie430 commented on #713
Issue #515 may help provide more information on this issue.

[2021-03-27 20:10] LG0012 commented on #714
Can someone fix this, please :)

[2021-03-30 22:56] cuebit commented on #714
I can confirm this is a bug.

The relation is attempting to acquire the primary key from the related entity (in this case `Attribute`), when it should be obtaining it from the owner (in this case `Product`). Since there is no such reference to the local key on the related entity, it obtains the default `id` attribute.

I don't know if there will be more releases permissible on this branch (though,

[2021-03-30 23:15] cuebit commented on #713
Yup, that's the best place for future reference. Closing this for now.

[2021-03-30 23:15] #713 closed

[2021-04-03 00:37] jayrchamp opened #716 "Cross-request state pollution with Nuxtjs SSR"
#### Describe the bug

First of all, thank you for this awesome library.

Maybe I setup something the wrong way, tell me if I did. The bug seems to be some kind of cross-request state pollution when using Vuex-ORM on Nuxtjs with SSR. Its kinda hard to reproduce. I made an example with a fresh Nuxt project repository and also catch the behavior on video.

#### Steps to reproduce the bug

1. Clone r

[2021-04-12 17:14] ntma opened #717 "Massive performance decrease with a large set of models registered"
#### Describe the bug

The overall performance of this library (operations like `.all(), .insert(), etc`) decreases with the number of models registered.

#### Steps to reproduce the bug

Model generator:
[code]

Register models:
[code]

Generate data and test
[code]

#### Expected behaviour

Operations like `.all()` and `.insert()` should be linear to the number of records that the model contains

[2021-04-12 17:19] ntma commented on #717
After some digging, it seems that the culprit may be [this](https://github.com/vuex-orm/vuex-orm/blob/7573d2fe92c45fbf455e780222e9029e7267f2cd/src/database/Database.ts#L119) step which is executed when [hydrating records](https://github.com/vuex-orm/vuex-orm/blob/7573d2fe92c45fbf455e780222e9029e7267f2cd/src/query/Query.ts#L1289) (part of the `.all()` workflow).

The `.getBaseModel(this.entity)` is

[2021-04-14 05:26] x-N0 commented on #255
Working with Nuxt content module, had this issue.

[2021-04-18 10:24] adrianrudnik commented on #300
Not sure how this could be used for natural sort. The above-mentioned JS client method [localeCompare](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare) would require this new callback function to receive the bare minimum of .sort() to solve this use-case (el1, el2, order), or am I missing something?

Right now the only way seems to be something

[2021-04-24 14:00] musixite opened #720 "Vue x orm next in production?"
I’m confused on which version to use for a new project.

readme recommends to use vuexorm next but the (next) documentation is incomplete (ex many to many relationships,...)

I’m wondering if the original doc still applies for the next version or if the undocumented parts are not implemented yet (thus using the original vuexorm for now)

a bit verbose for a simple question :)

[2021-04-27 01:02] musixite opened #721 "Updating a field on a nested computed array"
The following code works fine but I'm wondering if there could be an easier way to do the same without having to create a loop for updating.

Quick explanation:
- Domain has many projects (domain_id in projects)
- Project List shows the project from a specific domain
- I'm using a computed property for projects with a getter and a setter
- It is the set(value) method that I think could be improved

[2021-04-27 02:09] cuebit commented on #721
There is an example in the docs that illustrates updating with array values. For example, your setter may look like:

[code]

[2021-04-27 14:19] musixite commented on #721
I knew there was a better way!
Can you please share me the link? I went through the doc and couldn't find it (using search "map").

[2021-04-27 14:38] cuebit commented on #721
Sorry, forgot to share. In the [Updates](https://vuex-orm.org/guide/data/inserting-and-updating.html#updates) section, scroll down and it's the last example before the updating relationship section.

The above example is not in the docs. It's how I would often write it. 👍

[2021-04-27 14:40] musixite commented on #721
No need to be sorry :)

Wonderful. Maybe this could be added in the docs, I'm sure this will help others!

Thanks again

[2021-04-27 14:45] cuebit commented on #721
I think in this instance the example provided is unique to your use case. The example in the docs illustrates the possibilities. But yea, I think a recipes section would be useful to demonstrate real world use cases.

[2021-04-27 14:46] #721 closed

[2021-04-27 14:49] cuebit commented on #720
I think if your project is dependent of certain features that are currently absent from the next version then definitely stick to the current stable version. It won’t be too much work to migrate in future.

While you can technically manufacture many to many relations with the `hasManyBy` relation, it would be considered somewhat cumbersome by many.

[2021-05-07 00:32] #720 closed

[2021-05-07 00:35] musixite opened #723 "Many to many orderBy pivot field"
When using a many to many relationship with pivot fields, the orderBy doesn't work using the following syntax (where position is a number)

[code]

[2021-05-07 00:45] cuebit commented on #723
`orderBy` is applied to the query runner, in your case it's Collection.

`orderBy("pivot.position")` will not work for two reasons:

1. Relations are loaded **after** the order is applied to the query.
2. Dot notation is not supported.

In order to sort by nested properties, you will need to run `sort(yourComparator)` on the resultset e.g. `Collection.query().with('pivot').get().sort(...)`

[2021-05-07 14:10] musixite commented on #723
wonderful. thank you!

[2021-05-07 14:10] #723 closed

[2021-05-08 00:07] cuebit commented on #717
resolved by #718

Your contribution is greatly appreciated @ntma 👍

[2021-05-08 00:07] #717 closed

[2021-05-08 00:19] cuebit commented on #711
Vuex ORM is exposed on the `window.VuexORM` global variable.

You can extend your class models like so:
[code]

Register your models to a `Database` instance and install VuexORM as a Vuex plugin:

[code]

<details>
  <summary>Example HTML</summary>

[code]

</details>

Hope this helps.

[2021-05-08 00:21] cuebit commented on #711
If you have any further questions, consider joining the Vuex ORM [Slack channel](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTc1YTI2N2FjMGRlNGNmMzBkMGZlMmYxOTgzYzkzZDM2OTQ3OGExZDRkN2FmMGQ1MGJlOWM1NjU0MmRiN2VhYzQ) 👍

[2021-05-08 00:21] #711 closed

[2021-05-08 00:22] cuebit commented on #708
Closing this due to inactivity. Please feel free to open any new issues or seek further assistance on the [Vuex ORM slack channel](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTc1YTI2N2FjMGRlNGNmMzBkMGZlMmYxOTgzYzkzZDM2OTQ3OGExZDRkN2FmMGQ1MGJlOWM1NjU0MmRiN2VhYzQ). 👍

[2021-05-08 00:22] #708 closed

[2021-05-08 01:20] cuebit commented on #696
Unfortunately, Vuex ORM does not _join_ queries, however, it can apply constraints to queries to narrow the results where applicable.

In your case, this might be a little tricky where a join is necessary. You'd have to run two parallel queries, merge them into a single array and then apply a sort on the resulting array.

For example:
[code]

Hope this gives you some insight.

If you have any furt

[2021-05-08 01:20] #696 closed

[2021-05-08 19:13] pat123456 commented on #711
Hi, thank a lot for your very simple and complete explanation ! May should be added to the documentation ?

[2021-05-10 14:28] ZeroThe2nd opened #724 "Version 0.36.4 breaks importing internal tools"
#### Describe the bug

Since tag 0.36.4 it's impossible to import internally used functions from the src folder as it's not included in the build anymore.

In this case I'm specifically referring to `Serialize`'s `toJson()` function, imported as:

[code]

This code was used as a work-around for the `model.$toJson()` not allowing to create an object without its relations attached, as the `$toJson()

[2021-05-10 17:07] cuebit commented on #724
Hmm, interesting point. Though, I think you've highlighted exactly why exposing internals is a terrible and unreliable idea 😆. On that basis alone, the following should be a compromise:

1. I think this requires a note to be added in the release tag to avoid confusion.
2. Avoid relying on internals, they are subject to change at any time.

As a workaround, could `$getAttributes` be of use? It's te

[2021-05-11 06:45] Maqsyo commented on #717
Would be great to have the new times as comparison. Thanks for your effort!

[2021-05-11 08:13] ntma commented on #717
Here are the new times:
* [New example with vuex-orm@0.36.4, 50 models, inserting/reading 5000 records](https://codesandbox.io/s/eloquent-brattain-mrmxk?file=/src/App.vue)

| Nº models | Operation | Time (secs) |
| --------- | --------- | ----------- |
|  1        | `insert()` | 0.134 |
|  1        | `all()`    | 0.023 |
| 50        | `insert()` | 0.136 |
| 50        | `all()`    | 0.024 |
| 100 |