[2018-06-21 01:15] kiaking commented on #170
@ltinyho Hmm... Is't possible for you to create some reproducible example or fiddle for this issue? Not sure what is happening here :/

[2018-06-21 12:57] #164 closed

[2018-06-21 13:10] #154 closed

[2018-06-22 07:36] kiaking commented on #163
So here is the more detailed planning on how to achieve this. Let's see how it goes.

### Simple Relationship Creation

Let's say we have "User has many Post" situation, and server response is as below (we'll define by directional relationship so Post belongs to User as well).

[code]

When passing above data into Vuex ORM, we'll first normalize the data. This is done mostly by [Normalizr](https:/

[2018-06-24 20:23] myleshyson opened #175 "Child relationship doesn't insert when updating parent"
I'm having trouble getting data to normalize when updating oneToMany relationship. I'm trying to insert collection_items into a collection object. I don't want to replace all the collection data, so I'm using update. Its adding the collection_item to the collection_items array under the collection object, but it's not auto incrementing the id and it's not updating the collectionItem entity. Is thi

[2018-06-25 03:02] kiaking commented on #159
@huy-tran Hi! Do you have any update on this? I'm kinda stack without some reproducible code :/

[2018-06-25 03:56] huy-tran commented on #159
@kiaking Oh sorry mate, I just forgot this entirely. We can close the issue for now. However, I will send email to you if I can asap. I am currently finalizing some projects. Thanks for your great support again!

Cheers!

[2018-06-25 04:00] kiaking commented on #159
OK! Thank you for the confirmation! I'll close the issue for now.

Please feel free to reopen this issue if you encounter this again, or open another issue in case you have any other troubles : )

Good luck for your project! 👍

[2018-06-25 04:00] #159 closed

[2018-06-25 04:13] kiaking commented on #175
Hi! Thank you for reporting!

Yeah the `collectionItem` becoming empty is strange... Could you paste the Model definition for both `collections` and `collectionItem`? It should get normalized if there's relationship defined at `collection_items` field.

[2018-06-25 04:46] myleshyson commented on #175
Sure!

Here are both models

[code]
[code]

[2018-06-25 04:48] kiaking commented on #175
Thanks! OK, this seems like a defect. I'll try to reproduce it and see if I can fix this!

[2018-06-25 06:44] kiaking commented on #175
I've made a fix for this issue at #176. I'll merge this soon and make a new release!

[2018-06-25 11:50] surajsingla333 opened #177 "Integrating a pre-defined database in the vue project using vuex-ORM."
Hey,
I want to integrate a MySQL database in my vue project to build a sign-up/ login page.
I searched many resources but got no solution to this, all I got was that to make a new database and work from the beginning. Do anyone have a solution to this?
I am also not able to permanently store the data in the database, the data (from the signup form) is only saving in the instance of database and as

[2018-06-25 16:16] myleshyson commented on #175
Awesome thanks! This library is awesome.

[2018-06-26 08:48] kiaking commented on #177
Hi! I think what you're looking for is the server side implementation? Vue works on only for frontend so if you need to store data to the real database (ex. MySQL), you must use backend system such as Ruby on Rails or Laravel or something like that.

[2018-06-27 00:03] kiaking commented on #157
This issue is noe resolved at Vuex ORM 0.25.3 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.25.3

Thank you all for helping out on this issue! It was wonderful!

[2018-06-27 00:03] #157 closed

[2018-06-27 00:04] kiaking commented on #175
This issue is noe resolved at Vuex ORM 0.25.3 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.25.3

@myleshyson Thank you so much for the report!

[2018-06-27 00:04] #175 closed

[2018-06-27 00:13] kiaking commented on #143
Changing the issue title to implement `new` method!

[2018-06-27 17:42] myleshyson commented on #175
@kiaking Hey so I'm actually having the opposite problem now. The **collectionItems** entity is being updated, but the collection_items field in the **collections** entity is showing '_no_key_2'.

[2018-06-28 01:46] kiaking commented on #163
I have created the [PoC project](https://github.com/vuex-orm/poc-vuex-orm-relation-indexes) to check to see how it would feel like to have indexing system. Common public API and the architecture is pretty much same, but I've rewritten every code since I had few ideas I wanted to try.

It is not fully featured and we should definitely consider more about the architecture, but at least it's working

[2018-06-28 02:45] Xcelled commented on #163
This all sounds good, with one comment and two suggestions.

Comment is that indexing isn't the same as caching and it'd produce weird behavior to use an index instead of a cache. For example, if you cache on access (with memoize or similar), you'd end up with the following psudocode which would be a great source of head-banging bugs:

[code]

To fix this, you'd need to evict the old entity from t

[2018-06-28 14:49] mattrothenberg opened #178 "Async lifecycle hooks?"
Hello!

I've noticed that when using `async` with my lifecycle hooks, the data is stored in Vuex incorrectly as a promise.

[code]
![screen shot 2018-06-28 at 10 48 49 am](https://user-images.githubusercontent.com/5148596/42041892-de79b888-7ac0-11e8-8510-d55a0fae6bf1.png)

My use case is that I want to persist these records asynchronously (to my backend) after they're created on the client side. I

[2018-06-28 16:32] mbajur opened #179 "Cannot read property 'hasPivotFields' of undefined"
Hello,
i'm trying to use One to One relationship in one of my models. Incoming request data has a following format:

![image](https://user-images.githubusercontent.com/581569/42047692-4cd331ca-7b01-11e8-8837-1366afb40033.png)

And my models looks like that:

[code]

And i'm triggering:

[code]

This all gives me

![image](https://user-images.githubusercontent.com/581569/42047771-86a2787a-7b01-11e8

[2018-06-28 19:29] mbajur commented on #179
It was caused by the fact that vuex-orm is not auto-populating associations when using `create` - i need to fill the association store first.

[2018-06-28 19:29] #179 closed

[2018-06-28 19:36] Kleemer opened #180 "Error while initializing app TypeError: Cannot read property 'models' of undefined"
Hi,
I was using version 0.24.4 and decided to upgrade to 0.25.3. However, it seems that the buildMorphOne function is failing, for any kind of Morph relationship defined.

My Schema is simple :
[code]
And here is the error I got :
<img width="875" alt="screen shot 2018-06-28 at 12 29 57 pm" src="https://user-images.githubusercontent.com/5712094/42056648-be9c1a56-7acf-11e8-9bcc-1b562d7672d0.png">

[2018-06-29 11:10] mbajur opened #181 "Vuex chrome inspector shows empty entity stores"
I have a working setup of Vue.js app with Vuex store and vuex-orm. I am able to interact with my models and basically everything works so good i feel i'm slowly falling in love with vuex-orm.

But! There is a catch - i'm not sure if that's intended/well-known or not but i'm not able to inspect my vuex-orm store using chrome vue(x) inspector. Even if data is used and displayed in components, stores

[2018-06-29 15:07] bradstewart commented on #180
I'm hitting this as well, for seemingly any kind of relationship.

[2018-06-30 03:29] kiaking commented on #175
@myleshyson Hi! That might be expected behavior. Even the `collection_items` has `_no_key_*`, it should load correct relationship as long as you have correct foreign key. Do you have any trouble actually loading the items?

[2018-06-30 03:44] kiaking commented on #163
Thanks for the feedback!

Oh yeah, sorry for that, I meant we can **treat** indexing like a hash in term of management them so I thought maybe we can borrow some ideas from a general caching system. I'm not planning the cache the result of the query, but if we miss updating the indexing, that is going to return the wrong result so we have to manage the index similar to the cache.

And thank you fo

[2018-06-30 03:50] kiaking commented on #178
Hi! Thank you for the feedback! Yes, unfortunately, Promise (async) is not supported by the lifecycle at the moment.

If you need to process the record *after* they are created, could you try using `afterCreate` instead of `beforeCreate`. Then I think it should work fine.

[2018-06-30 03:58] kiaking commented on #179
Hi! Glad you found fix! Let me know if you have any other trouble : )

[2018-06-30 04:02] kiaking commented on #181
@mbajur Hi! Thank you for the feedback. OK, this is not expected. The Vue Devtool shouldn't show `data` as empty. I have no idea why it is still working on your component...

Since there are correct entities such as `accounts` and `comments`, I model registration and Vuex ORM plugin setup process is working fine.

Could you tell me how you are inserting data? I think it has to do something with th

[2018-06-30 04:12] kiaking commented on #180
Hi! Sorry for the inconvenience! I have released Vuex ORM 0.25.4, could you try using it and see it fixes the issue?
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.25.4

I haven't tackle this issue but I've refactored the code where the error message shows, and it might have fixed this issue.

[2018-06-30 23:14] Kleemer commented on #180
It did fix the issue for me which is great ! But the issue of #174 is still not resolved in my case, in     HasOne.prototype.attach = function (key, record, data), key is null sometimes and this throw an error ... Would you want me to re-open the issue to give you the informations you could need ?

[2018-07-01 11:06] mbajur commented on #181
That's happening in an open source project so it should be even easier for you to see how it's set up.

Here is my app initialization:
https://gitlab.com/mbajur/prismo/blob/11-comment-updated-event/app/javascript/packs/application.js

Store initialization:
https://gitlab.com/mbajur/prismo/blob/11-comment-updated-event/app/javascript/src/store/index.js

Vuex-orm initialization:
https://gitlab.com/m

[2018-07-02 02:45] myleshyson commented on #175
Oh! Ok i get it now. Yes it works fine like you said.

[2018-07-02 03:08] soutarrr7 opened #182 "How to update relation when insert belongsTo"
Thank you for development this !!

英語が苦手なので日本語でも宜しいでしょうか。。

hasManyとbelongsToの親と子の関係で親をInsertする際は問題ないのですが、子をinsertした時に親に子のidが追加されないためリレーショナル結果が更新されません。
これを解決する方法はありますでしょうか。

[code]

[code]

この例でいくとPostをインサートした際にuser.postsにidが入らない事象になります。

お忙しい所恐縮ですが教えていただけますと幸いです。。。

[2018-07-02 07:35] kiaking commented on #180
@Kleemer Thanks for the report! Let me check on this. Maybe I made regression...

[2018-07-02 07:45] kiaking commented on #181
@mbajur Hi! thanks for the info!

OK so this WS will be triggered each time there's an event right? In that case, it is recreating the fresh store each time it calls `dispatch`.

[code]

So the if you update the store by `comments.updated`, the store gets refreshed and the data that were created by `stories.updated` will be gone. You need to use single store instance in your whole app (so I'm gue

[2018-07-02 07:47] kiaking commented on #175
Great! Thank you for confirming! 👍

[2018-07-02 07:54] kiaking commented on #182
日本語もちろんOKですとも！ なるほどですね。これは現在そういう実装になっています。hasManyとbelongsToであれば、リレーションのルックアップに使用しているのは、Postの`user_id`のみです。そのため、Postの`user_id`と Userの`id`の値が正しく入っていれば、リレーションは解決されるはず、 です。

今回リレーショナル結果が反映されないということなのですが、リレーションを持っているUserの`id`とPostの`user_id`が同一のものがあるかを確認いただけますか？ Vue Devtoolなんかで見れるかと思います。

ちなみにですが、User.postsはpostsフィールドを含んだUserのデータをインサートすると、postsのIDがセットされるのですが、これはNormalizrの仕様でそうなっているだけで、使ってなかったりします（hasMan

[2018-07-03 01:53] kiaking commented on #180
@Kleemer Hi! I've checked and currently the following test is passing. Maybe I'm missing something here. Could you give me the data you are trying to insert?

[code]

[2018-07-03 13:46] isaiddestroy opened #183 "Reverse relation for hasMany()"
Hi!
Few days ago I found your very useful plugin. And all of these days I trying to understand how I can create reverse relation for hasMany relationship, like belongsTo() in Eloquent?
For example, I have two models:
[code]
and
[code]
When I write in `projects` this:
[code]
and then I call `store.getters['entities/tasks/query']().with('projects').find(1).project`, I get `null`.
But I expected mode

[2018-07-04 00:16] kiaking commented on #183
@isaiddestroy Hi! You should use `with('project')` (not project**s**). The value passed to the `with` method should correspond to the field name defined at Task model which is `project: this.belongsTo(Project, 'project_id')`.

It is just like Eloquent defining relation with method and uses that method name to resolve relationship 👍

[2018-07-04 11:41] isaiddestroy commented on #183
@kiaking Thank you, I understood that I had to read the documentation carefully :)

[2018-07-04 14:24] kiaking commented on #183
No problem! Glad it helped : ) Feel free to open another issue if you have any other trouble! 👍

[2018-07-04 14:24] #183 closed

[2018-07-05 00:02] kiaking commented on #170
@ltinyho Hi! I'll be closing this issue due to inactivity. Please feel free to reopen this issue if you can provide some more information! Hope it solved for you.

[2018-07-05 00:02] #170 closed

[2018-07-05 16:51] Kleemer commented on #180
Sure, my models look like this :
[code]
and the data I am trying to insert :
[code]

Can it be because I am trying to insert a list, with some of them having the attribute as null and some of them not ? Because when I try to insert just the one that is not working in a list it seems that it works ! I will try again later to confirm what I am saying.

[2018-07-05 21:48] AELSchauer opened #185 "Removing relationship between two records without removing record from store"
Here is my data setup:

[code]

Here is an example payload I'm working with:

[code]

So here's the issue, I am using an api that follows the JSON API specification. It supports an endpoint that is exclusively for [managing relationships](http://jsonapi.org/format/#crud-updating-relationships) -- including deleting a relationship.

What I want to do is delete the relationship between a deal and a

[2018-07-05 22:31] theVannu commented on #182
Hi, can you please translate in English?, I am interested about this topic. Thanks

[2018-07-06 02:13] kiaking commented on #180
Aha, maybe it is...? I'm making a quite big change on relationship resolving logics so I'll come back and check again when I'm finished!

[2018-07-06 02:52] soutarrr7 commented on #182
@kiaking
お返事ありがとうございます！

user.postsは関係ないのですね！勉強になります。
少し前に実装した時に、postをインサートしてもgetterで取得しているuser.postsが更新されずリレーショナルされていないのかと思いました。
その時はpostをinsertした後にuser.postsにpost.idをpushした所解決したのですが、見落としなどが怖いので出来ればpostをインサートしたタイミングでuser.postsで取れる中身が更新されて最新のが取れるようにしたかったのでご質問させて頂きました。

もう一度トライしてみます！

[2018-07-06 02:56] soutarrr7 commented on #182
@theVannu
Hi Thank you for comment.
I'm not well English.
so I can't translate well in English and I need many times ...
I'm so sorry.

[2018-07-06 06:37] kiaking commented on #185
Hi! Thank you for the report. I think this is happening because you there's a record in pivot entity (DealStore in your case). If you want to remove the relation between Deal and Store, you need to delete corresponding DealStore record.

Currently Vuex ORM doesn't offer any easy solution for this. Since it is creating pivot table, it could be nice to have option to delete pivot table records but i

[2018-07-06 06:43] kiaking commented on #182
@soutarrr7 ムムム。そうなのですね。こちらの[サンプルアプリ](https://github.com/vuex-orm/vuex-orm-examples)でもHasManyとBelongsToを使っています（User has many Todo）。こちらで例えばTodoをinsertすると、画面上も反映されるようになります。なので、getterで取得し、computed経由で使用していれば、自動的に表示が更新されるはずですが、いかがでしょうか？

例えばこんな感じで書かれています。

[code]

[2018-07-06 06:45] kiaking commented on #182
@theVannu The question was that the soutarrr7 wasn't able to get rendering refreshed when he pushed a new posts that belongsTo users. It's not concluded yet but I was just telling if that if the post has correct `user_id`, then it should resolve the relationship, and if you use computed property at Vue Component to load data, it should also refresh the screen as well!

[2018-07-06 10:05] kiaking commented on #104
OK now this feature will be available in next release! 🚀

[2018-07-06 18:21] AELSchauer commented on #185
That worked great, thank you!

[2018-07-08 03:13] geraldbiggs opened #187 "Ability to Register Model / Module at Run Time"
I have a large application with many relationships to manage where I think vuex orm could speed up my workflow. I searched the documentation to try and understand what is currently possible, below are my questions:

My use case falls under a circumstance where the user goes through complex interactions, which may result in additional modules (components, store modules, etc) being loaded in under t

[2018-07-09 01:08] kiaking commented on #185
Glad it worked! Thank you so much for your feedback. Please feel free to open another issue if you have any trouble! ❤️

[2018-07-09 01:08] #185 closed

[2018-07-09 01:37] kiaking commented on #187
Hi! Currently, there are no ways to register model and modules at run time. I think it is nice feature to have though!

Yes, it will. Vuex ORM manages state as almost same as tables for the RDB. The nested structure should be managed as a relationships.

[2018-07-09 16:44] theVannu opened #188 "Hide some fields when loading nested relations"
Hi all guys,
Is it possible to hide some fields when loading nested relations?
for example:

[code]
When loading the nested relations
`store.getters['namespace/users/query']().with('posts').get()`

I would like to not load the **field_I_want_hide**, for example in Laravel 5.6 eloquent allow to define the column that we want to eager load whe  using "with".
Any suggestion?

[2018-07-09 17:24] yowzadave opened #189 "Documentation of source data + output"
Hi, was wondering if your documentation could add some more examples that show the original source data structure and the resulting normalized schema. Most of your examples show only the Model definitions, and I find myself guessing a bit what the actual effect of these Models is going to be, or stuck when a Model doesn't work (because my source data probably doesn't map to what your library expec

[2018-07-10 03:04] kiaking commented on #188
Hi! Currently, there's no way to do this via Vuex ORM API. It might be a nice feature so I'll consider if I can implement such feature in the future.

For now, you must filter the result your self. Maybe you could implement such accessor to the model class.

[code]

[2018-07-10 03:07] kiaking commented on #189
Hi! thank you for the feedback! You've got a valid point on this and sure the docs will be much better with that addition.

I'll try expanding the docs with more examples!

[2018-07-10 03:09] kiaking commented on #181
@mbajur Hi! Did you had any chance to look into this? I hope it worked for you.

[2018-07-10 04:23] kiaking commented on #180
@Kleemer I've reproduced this and fixed at #190! You were right, it some times fail if you have data that have mixed relation!

[2018-07-10 06:05] mbajur commented on #181
hey! Sorry for not replying to you earlier.

Yes, i fixed the bug about store being empty = `update` not working by moving the websockets logic to Vuex plugin (https://gitlab.com/mbajur/prismo/blob/master/app/javascript/src/store/plugins/actioncable.js) which seems to be an official place to put websocket stuff related to vuex.

However, the chrome dev tools still shows all my Vuex-orm entities as

[2018-07-10 19:52] cwittenb commented on #168
I further noticed that although the number of created objects is correct, the reference ids, ie. board_id is 0 or all objects.
Is this a related problem, or should I create a new one?

[2018-07-10 22:45] Kleemer commented on #180
Amazing ! I'm sure everything will work as soon as you release this 😄Thanks for your help !

[2018-07-11 00:39] kiaking commented on #168
Hm... Yeah, that is weird. I'll look into that problem along with this issue too! If it's not related, I'll separate issue for that.

[2018-07-11 01:45] kiaking commented on #180
This is now resolved by Vuex ORM 0.25.5 🔥  Thank you all for your report and feed back!

[2018-07-11 01:45] #180 closed

[2018-07-11 01:46] kiaking commented on #104
This feature is now available with Vuex ORM 0.25.5! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.25.5

[2018-07-11 01:46] #104 closed

[2018-07-11 13:32] theVannu opened #191 "Error when updating from 0.24.5 to 0.25.2 and higher"
Hi all guys,
I have a very strange (and probably stupid) problem that I am not able to resolve.
I have updated vuex-orm from 0.24.5 to 0.25.1, all run well. Then I try to update from 0.25.1 to 0.25.2 and my Vue application doesn't run, here the console error:

`TypeError: parent.database(...) is undefined[Ulteriori informazioni] bundle.js:5505:33
Puzzle</Schema.buildMorphOne
http://localhost:97/bu

[2018-07-11 13:33] theVannu commented on #188
@kiaking thanks for consider it ;)

[2018-07-11 18:42] yowzadave opened #192 "Container model for models of different type"
I want to define a generic `Product` model that can contain products of different type. Following your suggestion in #50 , my models look something like this:

[code]

My source data looks something like this:

[code]

This seems to sort of work—the state is populated w/ the normalized `entities` object, although there are a few things that I am not understanding:

1. It seems like I'm being overl

[2018-07-11 22:42] theVannu commented on #192
Hi, regard to your second question:
I use 0.24.5 release, in my case contents field contain 2 more field when I use dev-tools: id and schema. Id is the primary key of the related model and schema is the entity of the related model.  For example the content relation of your first product, in my case, is id:a and schema:widget. If I update the package to version 0.25.1 I have your same problem (cont

[2018-07-12 00:48] kiaking commented on #192
@yowzadave Hi! Thank you for the feedback!

Currently you can't do that... But this is quite nice idea I think, so we should consider to add such feature.

Yes, it is expected. Vuex ORM will decouple relationship, and deduplicate them, then save records to the state. Then, it'll rejoin the relationship when you fetch data through getters. So inside state, you wouldn't see nested relation.

This is

[2018-07-12 08:16] theVannu commented on #191
Hello @kiaking , thanks for reply. I show you a reduce version of my model because it's easier to read:

[code]

As you can see I have a Body Model that have One-to-One relation with BodyAttributes and have a Many relation with Section. Section Model have a One-to-One relations with SectionAttributes and Many relations with Column Model too.
Here my json structure:

[code]

Now I dispatch a create

[2018-07-12 14:47] madmike opened #193 "Many To Many relations"
Hello! I'm new to Vue and after some research of the best ORM Vue library I've found out this one the most beautiful which in addition is using the power of Vuex.
However as it is quite young library not all features which are so necessary are already implemented in it in addition some things can be refactored a bit too. So I can offer any help in its improvement.
I've already created an issue in

[2018-07-12 15:08] yowzadave commented on #192
@kiaking Thanks for your quick response! So just to make sure I understand—`belongsTo` uses the 'id' field of `Product` model and not the 'primaryKey' that I've defined?

[2018-07-13 05:16] kiaking commented on #191
@theVannu Hi! I've tested the exact same model and inserted the same data on my sample project and it is working. The Vuex Store is not empty. Is it possible for you to create reproducible project, or fiddle or something?

---

<img width="274" alt="screen shot 2018-07-13 at 14 15 23" src="https://user-images.githubusercontent.com/3753672/42673622-3fe91e00-86a7-11e8-950c-cc33f40c193b.png">

[2018-07-13 05:23] kiaking commented on #192
@yowzadave Oh sorry, no the `belongsTo` uses the "Primary Key" that you've defined. If you want to change that, you can pass 3rd argument to the `belongsTo` attribute.

[code]

[2018-07-13 13:06] phortx commented on #193
Seems. There are nice use cases for document based databases. Escpecially when you have large amounts of data you want to process fast.

However there is a reason the document based dbs aren't widly used for websites: The business logic in the most web based systems have data which is related to each other. Therefore it's stored in relational databases. The schema validation and features to join r

[2018-07-13 14:52] yowzadave commented on #192
Thank you!

[2018-07-13 16:04] siegy22 opened #194 "Unexpected rounding when defining a number field"
All numbers are automatically rounded when setting a value to a number field like this:

[code]

Here's a reproduction link: https://codepen.io/anon/pen/QBjOdR?editors=0010

I found out that the vuex-orm is doing a `parseInt` on [this line](https://github.com/vuex-orm/vuex-orm/blob/fc79dd45f0d5fe8f6b58dcc3262bf5bb56820afa/src/attributes/types/Number.ts#L35).
IMO this is not the expected behaviour.

[2018-07-14 09:02] madmike commented on #193
Well sorry for describing too much of my opinion. In fact sure I don't argue that every thing has its own use cases. Relational DBs sure has their benefits, however modern document related DBs with the help of wrapper libraries are able to create some kind of relations (based on indexes of foreign keys) and schema and in my experience it fits web design needs very well.
The functional programming

[2018-07-16 10:23] omarjebari opened #195 "Managing separate databases"
In order to only load the models that i need for a specific component i am defining different databases and attempting to only load the one that i need, eg

/store/complaints/
database.js
    import User from '../models/User'
    import users from '../modules/users'
    const complaintDatabase = new Database();
    complaintDatabase.register(User, users);
    export default complaintDatabase
index

[2018-07-16 11:00] omarjebari commented on #195
I have found that when the Container always registers ALL of the database definitions even if i am not importing them in my component.
When the Container registers the connection it uses the name 'entities' sos surely overwrites each database with the previous one.
I know you can namespace the connection (eg use 'customer_entities') but how would i then go about only importing that database to use

[2018-07-16 12:47] theVannu commented on #191
Unfortunately I am not able to create a reproducible project. When I dispatch the Create actions I get the Json Structure from Vue prototype:

`this.$store.dispatch('listEditor/bodies/create', {data: this.$myjson})
`
where myjson is the json object that I want insert into models, can this be a problem in your opinion?

[2018-07-17 02:15] kiaking commented on #182
@soutarrr7 どうも！ こちらいかがでしょうか？ 問題は解決されましたか＠＠？

[2018-07-17 05:00] kiaking commented on #194
Hi! Thank you for the feedback! Yeah indeed. Let's make this floatable. I don't know why I wanted to make numbers integer :/

[2018-07-17 05:06] kiaking commented on #195
Hi! Thank you for the feedback! I understand that you want to create 2 databases. I was thinking to add such feature too. But I'm not sure if having multiple Vuex Store instance in single app is supported.

Well, still maybe it's nice to have multiple Vuex ORM databases. However, it is going to make things bit more complicated. Also we need to consider if we're going to support multiple Vuex Store

[2018-07-17 05:08] kiaking commented on #191
@theVannu Hi! Maybe it's just a typo, but for the second example, you need to pass JSON object to the `data` property. Could this be the problem?

[code]

[2018-07-17 08:23] theVannu commented on #191
Unfortunately this not resolve the problem: I have done another simple test. I rewrite my Model Body and remove all others Models:
[code]

I dispatch my create action:
`this.$store.dispatch('listEditor/bodies/create', {data: {uniqueID: "iduniquebody"}})`

and now I have an error:
`TypeError: query.model is undefined`

the problem is inside this function, where entity var is evaluate:

[code]

[2018-07-17 08:38] kiaking commented on #191
OK, that error gets thrown when models are not registered correctly. Could you give me the code where you register models to the database via `database.register` method?

[2018-07-17 08:48] theVannu commented on #191
Ok! First error is that model's name is not Bodies, the correct name is Body.

This is my model registration (databaseed.js):
[code]
This is my store.js file, where I install plugin into Vuex:

[code]
As you can see I have registered more databases.

Finally I import my store.js into main.js (the entry point of my app)

[code]

[2018-07-17 08:51] kiaking commented on #191
Oh... I see now. OK You have multiple databases. OK. Sorry, that was a breaking change introduced at 0.25.2. It wasn't perfect before that, but I made database handling little cleaner.

Is it possible for you to merge those databases into one single database? Will there be name conflict? Maybe I need to bring back multiple database registration but need to think a bit about architecture (There is

[2018-07-17 08:56] theVannu commented on #191
I can't merge into one single database because I have name conflict between listEditor and globalSetting. Probably I can rename the modela and entities of globalSetting and merge all into one Database. Do you suggest me to merge Database and update to 0.25.5 or I can safely use 0.24.5 with multiple database (and wait for multi database registration in the next versions ) ?

[2018-07-17 08:59] kiaking commented on #191
I would recommend merging Database to one. This is due to the fact Vuex is not supporting multiple Store instance. I want to be as flexible as possible, but this discussion might take a while before we can find any solid answer.

Also, multiple database at 0.24.5 is not perfect as well (it wouldn't work with multiple Store instance I think). So sorry for your inconvenience but because of those rea

[2018-07-17 09:04] theVannu commented on #191
Thank you a lot @kiaking , you help me a lot. Your package is great and you do a great work ( I think that vuex-orm should be an official and supported repo of VueJS). I am going to merge my databases changing models and entities name. Have a nice day ;)

[2018-07-17 09:19] kiaking commented on #191
Thank you so much for the kind word!!! I hope it works for you. I'll do my best to continue improving the package!

[2018-07-17 12:40] omarjebari commented on #195
I think the reason i'm looking for this feature is due to the architecture of my app. Because i was new to all this Vue stuff at the beginning of the project i am only loading vue on pages where i need it hence i'm trying to only load the Models that i need for the specific page because i have a LOT of models.
It makes sense to have only one store to avoid confusion though.
At some point in the fu

[2018-07-17 12:41] theVannu commented on #191
Probelm fix, now all work as excpected! thank you

[2018-07-18 01:31] kiaking commented on #194
This issue is now solved by Vuex ORM 0.25.6! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.25.6

[2018-07-18 01:31] #194 closed

[2018-07-18 01:31] kiaking commented on #181
@mbajur Hi! Did you had any update on this 😃 ?

[2018-07-18 02:30] kiaking commented on #191
Great!!! I'm glad to see it worked for you! Please feel free to open another issue if you have any trouble! 👍

[2018-07-18 02:30] #191 closed

[2018-07-18 09:20] kiaking commented on #181
Well, I'm sad to hear that you are dropping Vue. But I hope you'll have a wonderful development experience with your new tool and build something amazing!

Feel free to open an issue if you have any chance to use Vuex ORM again in the future! 👍

[2018-07-18 09:20] #181 closed

[2018-07-19 08:10] mr-chick opened #197 "Reactive getters"
Greetings.

Quick question,

Are getters reactive?

If i use `this.$store.getters['entities/user/find']('id')` to retreive an user, it won't change the fields if the user data changes.

[2018-07-19 11:07] Gramatiik commented on #197
Hi @mr-chick, getters are reactive as long as you don't change the `id` field (which would mean changing the entity unique discriminator).

So if you update the user's informations, the getter will reflect the changes everywhere it is used and will be reevaluated everytime some of its informations are changed.

This is made possible with Vue's reactivity system (not especially related to VuexORM),

[2018-07-19 13:05] #197 closed

[2018-07-19 13:05] mr-chick commented on #197
OK, thank you

[2018-07-20 00:04] kiaking commented on #197
@mr-chick Do remember to use getters by computed property inside Vue Component! Otherwise it won't re-render the DOM.

[2018-07-20 03:37] rkingon commented on #44
in regards to the plugin code above:
[code]

I have a `static` property on the model: `endpoint` -- I would like to use this vs `state.$name` as the endpoint _could_ be different. how is this possible to get?

[2018-07-20 03:42] rkingon commented on #44
ugh, of course right after posting, i try this and it works
[code]
I swear I tried that earlier...

[2018-07-20 03:43] kiaking commented on #44
Nice! yes you can get Model class by that method : )

[2018-07-20 15:30] omarjebari opened #198 "Updating nested relationship"
I have a relationship structure like this:

Complaint Model
id
...
person_id
person (foreign key relationship)

Person Model
id
...
address_id
address (foreign key relationship)

I am pulling in a bunch of person objects via ajax and simply loading them into a data property to display a list of people.
The user can then select a person from the list and i want to update the complaint with this per

[2018-07-20 15:39] omarjebari commented on #198
I think the problem is related to the fact that i'm initially creating a Complaint model then attaching and empty Person model (with empty Address model). Then when i come to update it with a different Person model i am using a 'create' to remove the original empty model at the same time. At some point the computed properties re-evaluate and i have a Complaint with no Person attached to it.

[2018-07-24 09:36] kiaking commented on #182
OK, I'll be closing this issue due to inactivity. Please reopen if you still have any trouble!

[2018-07-24 09:36] #182 closed

[2018-07-24 09:42] kiaking commented on #198
@omarjebari Hi! Thank you for the feedback. I'm not sure how exactly the problem is occurring. If you are using `create` action, then the any existing record would be deleted so I think it is possible that you get Complaint with empty Person?

[2018-07-24 09:44] kiaking commented on #197
Ahah, I never used `vue-persist` but interesting. Good hear that you found a solution though!

[2018-07-24 09:50] kiaking opened #200 "Backend API plugin discussion"
Issue continuing from https://github.com/vuex-orm/vuex-orm-graphql/issues/39.

Related Issue: #44

Let's see how it goes with the API design!

/cc @phortx @madmike

[2018-07-24 09:51] kiaking commented on #44
Started new discussion at #200 so I'll be closing this one!

[2018-07-24 09:51] #44 closed

[2018-07-24 09:56] Gramatiik commented on #197
Glad you found what was causing trouble @mr-chick !

I didn't replied to your second message as the code seemed to be just ok !

Have a nice day everyone.

[2018-07-24 10:00] mr-chick commented on #197
Anyway, great job with the project, I use an laravel backend that returns models with their relations.

This plugin is perfect to parse the response and query the data.

[2018-07-24 15:11] rkingon commented on #200
I just started following the old thread, I created a (very quick) Axios HTTP implementation by creating a plugin that extends `Actions`.

I am happy to clean it up a little and share, it appears to work great. (I haven't done destroy yet since I haven't needed it on this project.)

Also, there is a library I previously used called `js-data` that was pretty nice. The way they implemented adapters w

[2018-07-24 15:58] phortx commented on #200
I've used that too, but had some serious trouble with js-data, but I really loved the adapter pattern too.

I think we should first make clear whether we seperate persistence and vuex actions or not. js-data doesn't that as far as I know.

[2018-07-24 16:52] madmike commented on #200
Hello! Nice to hear from you all here again!
As I've already told it would be great to have some kind of "clever" logic which would analyze settings and adapter had been installed - call persist method too. So it appeared that there is a problem with reactivity? Maybe try somehow to solve this issue?
Because splitting api on 2 or even 3 layers can seem a bit complicated. If you develop some projec

[2018-07-25 07:31] phortx commented on #200
I understand the wanting of having just one layer. I was on this train too very long.

Splitting in two layers are what I currently doing in the GraphQL Plugin and it works out very well. Because retrieving from the store and retrieving from the server happen in different stages of the component lifecycle.

Let's look at this vue container component

[code]

This is a simple component like we have

[2018-07-25 13:14] omarjebari commented on #198
Yes essentially i want to be able to attach nested objects (eg person with address attached) to another object (eg complaint). Can this be achieved using 'update' on the complaint model or do i need to create the complaint model from scratch with the new person/address?

[2018-07-25 15:28] kkyouhei opened #201 "Unnecessary record is created to belongsToMany pivot table"
references object to insertOrUpdate
![_2018-07-25_23_35_15](https://user-images.githubusercontent.com/300724/43210527-5164a966-906a-11e8-9de9-9fcd3adf1223.png)
https://codesandbox.io/s/l3n381925l

this's problem of first aid
delete id field from  pivot table and separately 'insertOrUpdate' will fix it
https://codesandbox.io/s/kkm1x71wjo

[2018-07-25 16:02] rkingon commented on #200
100% need two methods... one to  pull from client side "already in store" (synchronous) and one to grab from whatever remote (asynchronous)

There will be many times where you need to pull from local and not want to touch the server

[2018-07-26 09:17] madmike commented on #200
Well, sure there must be methods for pure client-side storage usage. I'm speaking about persistence methods which can handle two operations at once - create/modify/destroy local model and then at once send necessary HTTP request to api server. Such an interface seems quite intuitive to the new developer who came to such a library first time. Basically such methods as **create**, **update** and **d

[2018-07-26 12:41] phortx commented on #200
Actuall we have exactly that: We have some methods to work with the store, some methods to sync the with the server and methods that just do both of them.

Vuex-ORM defines the store methods (create, update, delete, find, findAll)
Vuex-ORM-GraphQL as a persistence plugin defines the sync methods (persist, push, destroy, fetch) and also a set of methods that just do both: deleteAndDestroy, updateAn

[2018-07-26 14:37] madmike commented on #200
Let's say it's almost so. Just the matter of naming.
For me it would be clearer if core store methods (create, update, find and maybe add here destroy) - would be overloadable in plugins. These methods are the common convention in some server-side ORMs. And in fact these server-side ORMs have much in common with such client-side ORM. There you can build a new model in memory and work with it witho

[2018-07-26 14:51] phortx commented on #200
It could but I think this way we would suffer a lot of flexibility. What if you want to destroy a record on the server,  but not delete it on the client side. In this case you have to clone your record first, call `destroy()` which deletes the record on the server an then you have only one record left, but this isn't very elegant I think.

Fortunately I get this from the apollo-client library and

[2018-07-27 20:07] madmike commented on #200
@kiaking wrote this table:

CRUD | Vuex Only | Backend Only | Both
-- | -- | -- | --
READ | find | fetch | get
Create | insert | persist | add
Update | update | push | edit
Delete | delete | destroy | remove

And you answered that it would be too complex.
I suggest to keep things simpler for the user. And choose the most intuitive method names to implement the functionality that is expected. As wa

[2018-07-27 20:20] madmike commented on #200
I used this code when was playing around with JSORM library and it works well:
[code]

[2018-08-01 09:47] kiaking commented on #198
@omarjebari Sorry for my late reply!

Yeah, currently Vex ORM doesn't support nested field with relationship. You need to create complaint model to have relationship. If you only need to update the nested object and if that object doesn't have any relationship, you could do that by following syntax.

[code]

[2018-08-01 12:14] myleshyson opened #204 "Help setting up with Typescript"
Hey! Do you have an example on how to setup this plugin within a Typescript project? I was able to setup Vue, Vuex, and Vue Router using typescript according to the Vuejs [docs](https://vuejs.org/v2/guide/typescript.html). I couldn't figure out how to setup this plugin however. Part of that is I'm VERY new to Typescript so I could be missing something simple. However if you have an example on how

[2018-08-02 01:54] kiaking commented on #201
Thank you for the report and the PR!

[2018-08-02 01:56] kiaking commented on #204
Hi! Thank you for the report! I haven't use Vex ORM with TS in the project I'm working on, but what kind of problem are you facing? I think it should work out of the box since all of the type declaration files are included.

[2018-08-04 17:17] razvanioan commented on #90
Looking a little bit into this, just by simple / manual updates into `model lifecycle hooks` I find it quite hard, as even if I manually update all `id` & `$id` fields using the framework itself, the `ids` of `entities` remain intact ...

Couldn't find the time (yet) for looking into some `smart` solution into the source code for this, and deleting & recreating new record with the new ID didn't se

[2018-08-08 06:02] pscheit opened #207 "How to update relationships"
Hi there,

thanks so much for writing vuex-orm, it's great!
I think the documentation is lacking a little bit information (and that relates to my question):
How can one update relationships?

E.g. my Usecase is the following:

[code]
I hope this is correct like this.

When I want to update now one container and replace a binding with another binding

[code]

That's all unclear to me:
- Which side

[2018-08-08 08:09] pscheit commented on #207
okay, i found my solution here - but some questions are still open

https://github.com/vuex-orm/vuex-orm-examples/blob/master/src/components/TodosAssignee.vue

[2018-08-09 01:36] kiaking commented on #90
@razvanioan Thank you so much for looking into this! I'll check this one as well. However, due to how Veux and Cue work, if we need to manipulate the key of the Object, we must recreate them. So I guess there's no other way than recreating at least the certain Object :/

[2018-08-09 01:45] kiaking commented on #207
@pscheit Hi! Thank you for the feedback!

You should update the record you want to update. Currently Veux ORM doesn't offer any sugar syntax to update the relationship. The only value you have to update is the `container_uid` at `Binding` model in this case (because that is the key connecting two models).

So, it should be something like,

[code]

[2018-08-09 05:11] pscheit commented on #207
In this code is newBinding a plain object or an instance of Model? (is both valid?)

[2018-08-09 06:32] phortx opened #208 "Automatically check Plugin compatibility in CI"
Hi,

the Pull Request with the pivot tables just brought me to the idea, that we could test if any change breaks plugins in the CI build of the vuex-orm core.

There could be a list of relevant plugins and the CI script clones each of the plugins in a dedicated directory, runs yarn/npm install, build and links the new version of the core in the respective plugin and runs the test suite of the plug

[2018-08-09 09:12] kiaking commented on #207
I think it's both valid (unless you set the property to `readonly`).

[2018-08-09 09:13] kiaking commented on #208
Yeah! this is quite nice idea. It would be really handy if this goes live.

[2018-08-09 09:38] kiaking commented on #198
@omarjebari Hi! Did the answer above worked for you?

[2018-08-09 09:38] kiaking commented on #204
@myleshyson Hi! Did you have time to look into this?

[2018-08-09 09:52] pscheit commented on #207
thank you :)

[2018-08-09 09:52] #207 closed

[2018-08-09 09:54] kiaking commented on #207
👍 🎉

[2018-08-09 11:52] myleshyson commented on #204
Hey Sorry for the late response. So I just tried it on a fresh laravel install and with the Nuxt TS starter and it works great! I was trying to switch an existing project over so maybe there was something in there I was missing.

[2018-08-09 11:52] #204 closed

[2018-08-09 13:09] paparent opened #209 "Sum aggregate"
Hi!

It would be nice to have a sum aggregate in query, next to count()/min()/max().

[2018-08-10 10:30] omarjebari commented on #198
Not exactly but i did get to the bottom of the problem.
In order to do an update on a relationship i ended up using .then() to create the attached object 'then' attach it to the parent object. In other words if the whole relationship needs updating i just split it into separate steps and it seems to work ok.

Many thanks for your help once again :)

[2018-08-10 10:30] #198 closed

[2018-08-10 10:45] omarjebari opened #211 "Autoincrement leads to id clashes when fetching records"
So the problem i have found can be understood by doing the following steps ...

Create a new model which has an autoincrement id. This will create a record with id: 1
Do an ajax call to pull in records from the server. If one of the records has an id of 1 then this clashes with the record already created. If we overwrite it then we lose the data that we used when creating the record on the client.

[2018-08-14 10:08] kiaking commented on #204
Great it fixed for you! Please open a new issue if you have any other trouble : )

[2018-08-14 10:09] kiaking commented on #209
Thank you for opening the issue! I'll look into this!

[2018-08-14 10:12] kiaking commented on #198
OK great it worked for you! Feel free to open another issue if you encounter any other trouble : )

[2018-08-14 10:18] #201 closed

[2018-08-14 13:38] alex83130 opened #212 "Can't access getters entities from associate module getters"
Is it possible to access entities getters in the associate module ?

Exemple : I have a model post, and a module posts, I would like use in the module :

[code]
(Ps: This code is only a example)

Thanks in advance !

[2018-08-16 16:23] zhouchang2017 opened #214 "Want to add http plugin, how to declare new methods or properties for Model"
I am trying to add an http plugin for the extension,
now I am having a problem, how to use the

Declare new properties, for example, I have a Product model now.
 `Fetch:()=>Promise<any>`
, typescript will report **"Property 'fetch' does not exist on type 'typeof Product'.
"**

I am trying to add the`index.d.ts` declaration file
as follows

[code]

But no effect, ask for help

[2018-08-17 22:19] autobrain-stanley commented on #212
@alex83130 could you set up an example in codesandbox.io ?

[2018-08-17 22:26] autobrain-stanley commented on #211
I would use the model to create a new instance outside of your database. `const greg = new Person({ name: 'greg' })` Then submit that instance to your server end-point for storage and return the newly created row. Then add that row to your database.

[2018-08-20 02:53] kiaking commented on #214
Hi! thank you for the report. This is interesting. I have never tried extending the model class within plugin declaration with TypeScript. The following should work with plain JavaScript.

[code]

But well yeah I think it is true that this will throw the error since Model class doesn't have static indexed property...

I'm not sure what is the best way to implement (extend) model class within Plugi

[2018-08-20 02:57] kiaking commented on #212
@alex83130 You should use rootGetters for that!

[code]

See the 4th argument : ) Detailed explanation is [here at Vuex Doc](https://vuex.vuejs.org/guide/modules.html#accessing-global-assets-in-namespaced-modules).

[2018-08-20 02:59] kiaking commented on #204
@Robhult Oh thank you so much! Hah this might work yeah.

[2018-08-20 03:03] kiaking commented on #211
@omarjebari Yeah I think one way to solve this problem is to do the method @autobrain-stanley has explained. I used to create such temporary data with in Data object inside Due Component.

Or we could assign some kind of UID as an ID. But then, after saving data to the server side, you must be sure to refresh the ID of the data you just created at the client side.

So I would recommend @autobrain-

[2018-08-20 05:31] phortx commented on #214
I'm doing it like this:

[code]

Maybe it helps :)

[2018-08-20 09:42] kiaking commented on #214
Ah OK, thanks! Well, that's kinda cool. So when the user wants to use TypeScript at their project, they should import PatchedModel as an interface...?

It would be nice if we can just somehow extend the imported class and let the user just import Model from `@vuex-orm/core`. But not sure how to do that... Could we do that by providing declaration file as @zhouchang2017 stated...? I need TypeScript

[2018-08-20 09:52] zhouchang2017 commented on #214
I think we can refer to the vue official ts type declaration. Since you look at your source code,
Should declare an Interface for Model，

[https://vuejs.org/v2/guide/typescript.html#ad](url)
[code]

[2018-08-20 09:58] phortx commented on #214
I think you misunderstood my example. I've done this in the GraphQL Plugin in order to declare my own model class and to avoid any TypeScript errors. Don't know whether that's a good idea and what issues this may result in when someone has a typescript based project, but it least it works within the graphql plugin and allows me do modify the model without having the compiler beefing around :D

Not

[2018-08-21 20:53] clockworked247 opened #215 "Enhancement: Query caching"
Hi @kiaking,

Thanks so much for your great library.  I've benefited so much from its existence.

I'd like to make a proposal for an enhancement that I'd be happy to implement: Query Caching.

If the particular part of the Store that you're querying has not changed since your last query, the query should return a cached result rather than perform another lookup across normalized data.

Would this

[2018-08-21 22:13] bradstewart commented on #200
I've been using a solution similar to @rkingon 's, except I'm just adding actions to the store modules at registration time rather than using a VuexORM plugin (simply because it was an easier integration with existing code).

I prefixed all of the action names with "api" to make it painfully obvious when things would hit the network or not. The abridged version:

[code]

It's by no means super fle

[2018-08-22 01:18] kiaking commented on #215
Thank you so much for the wonderful proposal! Yes, it would be super nice to have caching feature and would be awesome if you can work on!

Not sure how much it would relate to the implementation for this feature, but I would like to note the fundamental architecture improvement we're planning right now. It is about issue #163.

That is the long thread but simply put, what we are trying to do is;

[2018-08-22 09:28] alex83130 commented on #212
I try your solution but I have this error :
`vuex.esm.js:849 [vuex] unknown getter: parcours_creneaux_id`

With VueX Orm,  modules aren't refere in the VueX store instance, but I alsotrie with this but I have the same result :
`export default new Vuex.Store({
  strict: true,
  modules: {
    posts
  },
  plugins: [VuexORM.install(database)]
});
`

To show you my issue I would like create a codesan

[2018-08-22 12:08] siegy22 commented on #165
Any updates on this? 😢

[2018-08-22 14:27] #168 closed

[2018-08-22 14:34] kiaking commented on #168
Now this issue is fixed at Vuex ORM 0.26.1! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.26.1

Thanks to @kkyouhei for the awesome fix!

[2018-08-22 15:29] kiaking commented on #212
@alex83130 Hi! OK so there was a few fix needed. Here is the working example version of your code.
https://codesandbox.io/s/40mlnvpw10

1. Post models `id` field must be `id: this.attr(null)` instead of `id: 1`. The `null` doesn't have to be `null` since it is just default value so you could specify `id: this.attr(1)` if you want.

2. I misunderstood about your module needs. You can reference othe

[2018-08-22 15:39] kiaking commented on #165
@siegy22 Actually YES! The related discussion is going on at #163. That is the long thread but simply put, what we are trying to do is;

1. Create an index map of the relation and reference it instead of creating a whole new model instance. However this is planned to be implemented after version 1.0.0 because it might take long time.

If we implement above, you don't even need `lazy` method since

[2018-08-22 18:05] AELSchauer opened #216 "MorphMany bug when trying to attach records that don't exist"
Hi, I'm building an app where multiple models have related images. To improve performance, I only query my API for resources that I need on that page.

For example, on my DealsIndex page, I only load all deals without any related records. On the DealShow page, I load that specific deal with the related retailer (belongsTo), stores (belongsToMany), and images (morphMany) records.

<img width="734"

[2018-08-22 20:59] clockworked247 commented on #215
@kiaking Thanks for the info on what changes are going into 1.0.0.  I'll look them over and come up with a proposal.

[2018-08-27 07:46] alex83130 commented on #212
Yes it's exactly that, everything works, thank you very much !!

[2018-08-27 07:46] #212 closed

[2018-08-27 10:46] alex83130 opened #217 "Many to Many in another Many to Many"
Hi,

I'm trying to set up a double many to many.  Let me explain :

![image](https://user-images.githubusercontent.com/15250423/44655541-c90db300-a9f5-11e8-8bda-cb42ddbc912d.png)

I have 3 primaries entities : Itinary, Slottime, Events
Itinerary and Slottime are in Many to Many relation (ItinerarySlottime).
And ItinerarySlottime have a Many to Many relation with Event (EventItinerarySlottime).

Ne

[2018-08-27 10:53] alex83130 commented on #217
The only solution that I found is to connect the ManyToMany relation directly in the Slottime table but it's not exatly the correct structure of my data...

![image](https://user-images.githubusercontent.com/15250423/44656172-27d42c00-a9f8-11e8-9931-a7e77467f468.png)

Sandbox: https://codesandbox.io/s/rjvk3n460o

[2018-08-28 05:03] Glogang9 commented on #165
git rm [file]

On Aug 22, 2018 7:08 AM, "Yves Siegrist" <notifications@github.com> wrote:

Any updates on this? 😢

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/vuex-orm/vuex-orm/issues/165#issuecomment-415009847>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AieOzFKaiVVnfgEatV9xhsYDr

[2018-08-28 14:52] kiaking commented on #211
@autobrain-stanley Hi! Do you have any progress on this issue?

[2018-08-28 14:54] kiaking commented on #212
Glad it helped! Feel free to open a new issue if you have any other questions!

[2018-08-28 14:54] kiaking commented on #216
Hi! Thanks for the reporting! This seems like a bug due to the value being `null` as you mentioned. We had a similar issue with another relationship... I'll try to fix this and make a release!

Meanwhile, you could work around the issue by setting the value to `undefined` before inserting into the Vuex ORM. Sorry for your inconvenience!

[2018-08-28 14:55] kiaking commented on #217
Hi! I think you have wrong order of argument setup at `belongsToMany` relationship. Could you change the order at the Itinerary and Slottime as below and see what happens?

[code]

[2018-08-28 15:21] alex83130 commented on #217
@kiaking I do your change but I have the same issue : https://codesandbox.io/s/mm83j524xj

My data in enter is :

[code]

So normaly if I get the itineraries entities I sould have the same sructure but I have a error :

[code]
The Itinerary Id 2 -> Slottime Id 2 have overide The itinerary Id 1 -> Slottime Id 2

[2018-08-28 21:31] omarjebari commented on #211
It's an interesting problem. For me it is a bit confusing that the id field exists on both the server (db table) and the client side yet the client side id may have to be replaced with a different id once the data is saved on the server then this id needs to be passed back to refresh the id on the client side. Even if we immediately save the record on the server another user may have created a rec

[2018-08-29 19:37] AELSchauer commented on #216
@kiaking I was able to fix it for the time being by adding this code to that method:
[code]

I saw the same conditional added to the HasMany.attach() method.

Thank you for adding to the next release!

[2018-08-30 12:48] RickMeijer opened #218 "Model with morphOne doesn't update morphable entity on insertOrUpdate"
Hi,

First off: amazing project you're running, KiaKing. Super impressed. I hope I can contribute to it at some point in the future.  For now I'm afraid I'm to much of a newbie. So let's contribute in the form of a bug report! Maybe I'm doing something wrong, but I can't see it anymore.

I'm having trouble updating existing data with a morphOne/polymorphic relationship.
In the demo below there is

[2018-08-30 13:19] kiaking commented on #217
Thank you for checking! OK, I need to look into this deeper, but I'm short of time, so I'll get back to you once I've time! Sorry for the inconvenience.

[2018-08-30 13:20] kiaking commented on #216
Wow, thanks! Yeah, I think that works. Thank you for trying the workaround.

[2018-08-30 13:28] kiaking commented on #211
I think this is a valid solution. If you have any unique key other than `id`, for example, `email`, then it should work quite good! I do have an idea of introducing the "workspace" feature where you can store temporary record and commit it once you finish editing them. Not sure exactly how it works but it could be cool to have.

[2018-08-30 13:38] kiaking commented on #218
Hi! Thank you so much for your kind word and report! Those are the things makes me motivated : )

OK, the reason why it is creating a new record is because you don't have `id` field at `GeoData`. If you add `id` field to the GeoData record when inserting it, it will be updated. If it's hard for you to add single primary key to the GeoData, you could also define the composite primary key.

[code]

[2018-08-30 19:45] omarjebari commented on #211
Is it possible to declare a unique key (eg client_id) with an auto increment?

[2018-08-31 00:06] kiaking commented on #211
@omarjebari Yes you can. You can use `this.increment()` to the any key you want : )

[2018-08-31 09:10] RickMeijer commented on #218
Yeah; that's what I figured. But since it has a morphOne relationship I also figured that an ID should not be neccesary, since there's always one relation only.
I did not realize you could composite primary keys like that! That's supernice.
Time for some refactoring on other objects lol.

There's only one issue remaining; when I multiple items as an array only one relation gets inserted.
I've modi

[2018-09-02 00:26] omarjebari commented on #211
ok cool
i think this is the best option for my scenario.
many thanks :)

[2018-09-02 00:26] #211 closed

[2018-09-02 04:53] kiaking commented on #211
Glad it works for you! Feel free to open another issue if you have any other troubles!

[2018-09-02 05:01] kiaking commented on #218
Oh, I think this is a defect. In this case it should indeed create 2 geodatas. Thank you for the report!

I'll look into this and make a fix. Meanwhile you could workaround the issue by inserting records one by one, if that suits your needs...

[2018-09-03 08:49] RickMeijer commented on #218
I've written a sort-of plugin that timestamps the insertion/creation records that kinda slows things down right now since theres a boatload of mutations now, but I'll manage for now, thanks!

Oh, and using a composite primary key to fix non-updating morphOne relations doesn't scale, unfortunately.
I've also got a morphMany relationship from another model to geodata, so I can't use type and id sinc

[2018-09-04 02:28] kiaking commented on #218
Ah, I see. It's kinda hard to use `insertOrUpdate` method without a unique primary key because it's tough to determine if the record is new or existing one. Maybe there's some kind of solution...? I'll think about this...!

Thank you so much! There're a lot more that I want to do with this library. Need to make more time :rocket:

[2018-09-10 13:27] omarjebari opened #220 "Module build failed: SyntaxError: Unexpected token in model file"
I have a really fiddly error and no idea what the cause is. I have checked that all files are being imported correctly and even rolled back to a previous version of vuex-orm but i still get it. Just wanted to run it by you in case you've come across it before.

ERROR in ./resources/js/store/models/User.js
Module build failed: SyntaxError: Unexpected token (4:18)

  2 |
  3 | export default class U

[2018-09-11 01:30] kiaking commented on #220
I think this is due to compiler you're using. To use `static entity = 'users'`, for example in Babel you need `babel-preset-stage-2`. Please try adding below to your babelrc.

[code]

Or alternatively, if you don't want to add this, you can define the model property as below as well.

[code]

[2018-09-11 10:19] kiaking commented on #220
👍

[2018-09-11 15:39] kpilard opened #221 "New Model Functions: isDirty() and getDirty()"
Hey,

I would like to add two new methods to the model:

## isDirty(): boolean
This Method would check if some attributes in the model got changed:
[code]

## isDirty(attribute: string): boolean
This Method would check if the value of the specific key got changed

[code]

## getDirty(): object
This Method would return an Object with changed attributes

[code]

I could create a Pull Request for thi

[2018-09-12 02:33] kiaking commented on #221
Hi! Thanks for the proposal! I would love to see this implemented 👍

However, we might have to be careful on usage on this feature. Since Vuex is basically immutable, people might get confused when this feature is used in conjunction with actions. Maybe we can still mark following example dirty if we store model instances directly to the store – which isn'T right now – but I think we can add some

[2018-09-17 01:29] huy-tran opened #222 "v0.26.1 field.make is not a function"
@kiaking

Hi Kia, thanks for your great work on this library again.

I have recently upgraded from **0.23.4** to **0.26.1** and this error pops up:

`Uncaught TypeError: field.make is not a function`

Had a look at the source code and I saw this:

[code]

I wonder if I missed anything from the upgrade. I tried to reverted to **0.23.4** and everything is working fine.

I am looking forward to heari

[2018-09-17 09:30] kpilard commented on #221
In our Project we use the Model as copy of the data at that moment. We would use this feature to send only changed data to our API.
So your example wouldn't set the model as dirty. But maybe there are other use-cases.

If you compare it to a classic orm (databse-backend) the model is not dirty if you change a value directly in the database (Of course there are technical limitations here).

[2018-09-17 09:55] mr-chick opened #223 "Uncaught TypeError: Cannot read property 'reduce' of undefined"
Greetings,

I get this error and I'm not sure why.

When I try to run `$vm0.$store.getters['entities/employees/query']().with('projects').all();` in console I get:

`Uncaught TypeError: Cannot read property 'reduce' of undefined`
[code]
The model:

[code]

What could be the problem for this error?

[2018-09-17 09:56] kkyouhei commented on #222
@huy-tran
Hi huy-tran.

I interested this issue.
Would you please code to reproduce this problem.

[2018-09-18 23:42] huy-tran commented on #222
@kkyouhei

Thanks for your prompt reply. I was out of my office last 2 days so couldn't reply.

Here is the full error log

[code]

I checked my **Location** model

[code]

I haven't changed anything in my **Location** model. Reverting to `0.23.4`  and it works.

Thanks!

[2018-09-20 12:06] tvillaren commented on #221
Hey, my 2 cents on this as we use the same behavior (IsDirty flag on an instance, to know if anything has been changed on the instance) on our home-baked ORM (and currently trying out Vuex ORM as a possible replacement).

As in @kpilard's case, this is related to the back-end (and knowing if our store data is sync'ed to the persisted data, in the database).

I think this feature would be useful, b

[2018-09-21 09:47] kiaking commented on #223
@mr-chick Hi! thank you for the report and sorry for my late reply.

Maybe this is a bug. Could you provide me how you created data?

[2018-09-21 09:51] kiaking commented on #222
@huy-tran Hi! This is because you have nested object schema. This was deprecated by #138... Sorry for this but could you update your schema to not use nested object?

[code]

[2018-09-21 14:52] sinasita opened #224 "Retrieving relationships where field has no value set"
I try to do something like that:

[code]
Where texts is defined as

`texts: this.attr([]),`

in the contentElements-model. Is there a way to find all elements, where nothing is set?

[2018-09-22 07:49] mr-chick commented on #223
Hey

Since projects is defined as a hasManyBy relation, can it not be set when using insertOrUpdate?

I see now that I only set it if the API response provides a list of projects

[code]

[2018-09-24 13:07] tvillaren opened #225 "Nested Where clauses don't handle mixed conditions"
When trying to write nested conditions in the Where clauses, it seems that the results are off.

Syntax which I think should work (from reading the [documentation](https://vuex-orm.github.io/vuex-orm/guide/store/retrieving-data.html#query-builder)) is
[code]

I set up 2 different test cases, one for a `(A || B) && (C || D)` condition and one for `(A && B) || (C && D)` condition on a fork there: ht

[2018-09-24 18:17] tvillaren commented on #225
Pushed a fix on a branch https://github.com/vuex-orm/vuex-orm/compare/master...tvillaren:bugfix-nested-where

There were 2 issues:
*  the nested queries were added to the root query `where` array (and not the `newQuery` one)
*  grouping AND & OR predicates at the same level on one query led to an issue when trying to check emptyness of results in case of closure

Will check coverage and perf tomor

[2018-09-25 09:42] kiaking commented on #225
Thank you so much @tvillaren !

[2018-09-25 09:44] kiaking commented on #224
Yes I think what @tvillaren proposed should work!

[2018-09-25 10:09] kiaking commented on #217
@alex83130 Hi! So sorry for my late reply. I've looked into this.

Now I understand that this is happening because the slottimes with same ID gets merged by single nested layer, hence your comment 'The "Itinerary Id 2 -> Slottime Id 2" have overide the "Itinerary Id 1 -> Slottime Id 2"' is correct.

Now I'm not sure what is the right behavior for this one. Maybe we should do deep merging when norm

[2018-09-25 10:52] sinasita commented on #224
Oh thanks! It works perfectly

[2018-09-25 10:52] #224 closed

[2018-09-25 12:58] kiaking commented on #224
Great it worked! Feel free to open another issue if you have any trouble.

[2018-09-25 13:28] #225 closed

[2018-09-26 04:43] huy-tran commented on #222
@kiaking

Thanks for the update. It might break my application as I used it elsewhere. I might need to update my schema and upgrade then.

Thanks again!

[2018-09-26 04:43] #222 closed

[2018-09-26 09:13] kiaking commented on #222
@huy-tran Thank you so much for your kind understanding. Sorry for the inconvenience 😢

[2018-09-26 11:08] gonbi89 commented on #222
@kiaking

That's ok mate. Thank you and other contributors for your awesome works.

It's my very first project that I build API. When I first did it I thought nested attributes would look cleaner and tidier. But now I can see it makes uncomfortable a little bit when updating data.

I will definitely use VueX-ORM again in next projects.

Btw, what's your thought on performing CRUD on Model itself?

[2018-09-28 13:27] mithrilstar opened #228 "Defining a new specific type like this.array()"
Hello! First things first, thank you so much for this library, it will surely simplify a lot of things involved in building an app with even somewhat complex data schemas.

My question is about how to define a specific attribute type like this.string except i want it to be an array. The api response I have returns one field like this
`pets : ["dog", "cat"]` etc

It'd be great if accessing person.p

[2018-09-29 12:23] MiguelFreire opened #229 "Return inserted entities as collection"
After an insert is it possible to get the entities in form of a collection i.e an array indexed with id's?

Right now when you insert an array of data in the store:
`store.dispatch('entities/posts/create', {data: res})}).then((entities) => {})`
 you get an object of objects { Object1, Object2, ... , ObjectN} I was looking for something like Eloquent ORM does: ['id1': object1, 'id2': object2, ... ,

[2018-10-02 08:03] kiaking commented on #222
@gonbi89 Thank you for such a nice word!

You can absolutely do that!

[code]

It is actually documented over here : )
https://vuex-orm.github.io/vuex-orm/guide/advanced/interact-with-store-from-model.html

[2018-10-02 08:06] kiaking commented on #228
@mithrilstar Hi! Thank you for trying out Vuex ORM!

There's no `array` or `object` attribute type at the moment, but you can use `attr` to put an Array!

[code]

Then, the `pets` will return empty array if you don't provide any data.

[2018-10-02 08:11] kiaking commented on #229
@MiguelFreire Hi! Thank you for the feedback!

Currently, there's no way to get array back. The reason for this is, because user can pass data with relationships, and then, the created records could be more than one type of entity. For example, if you pass in User with nested Post, then, the return value will be;

[code]

But I have an idea of implementing some new method that returns only the top

[2018-10-03 16:49] MiguelFreire commented on #229
Thank you for your answer @kiaking.
I think a dictionary/indexed collection approach feels more natural.
Like this:
[code]

I can try to implement that method, and perhaps an insertWith to get the collection with all relationships just like I showed above. Do you think it's possible?

[2018-10-04 10:38] mithrilstar commented on #228
Thanks :) I'll use that tip

[2018-10-04 10:41] kiaking commented on #228
Great! Let me know if you have any other questions or issues 👍

[2018-10-04 10:41] #228 closed

[2018-10-04 11:00] kiaking commented on #229
Yeah, that could be one solution. I think there's more we can do with the returned object, but I would like to discuss this a bit more on edge cases first.

Your proposal is nice and I think this is what people are looking for in most of the cases. However, because Vuex ORM normalizes given records, there're few challenges that we must overcome.

Let's say we insert records of users. It could cont

[2018-10-04 14:29] kiaking commented on #82
Hi, I'll be closing this issue since it's going no where right now :/ Feel free to open another issue if there's any good idea that we can try out!

[2018-10-04 14:29] #82 closed

[2018-10-04 14:30] kiaking commented on #108
This is quite old issue, and there's no plan to add this any time soon. So, I'll be closing this for now. Please feel free to reopen, or create another issue if anybody has request on this feature!

[2018-10-04 14:30] #108 closed

[2018-10-04 14:33] kiaking commented on #200
@KaniRobinson has created [Vuex ORM Axios](https://github.com/vuex-orm/plugin-axios) plugin! So, lets create issues and PRs over there to make the library better : )

[2018-10-04 14:33] #200 closed

[2018-10-04 14:35] kiaking commented on #214
@zhouchang2017 Hi! Thank you for trying out on creating http plugin. Now, @KaniRobinson has created [Vuex ORM Axios](https://github.com/vuex-orm/plugin-axios). Let's bring the discussion over there if this still needs attention.

[2018-10-04 14:35] #214 closed

[2018-10-04 14:36] rkingon commented on #200
sweet! looks pretty cool, I have a couple projects I can try swapping it out on.

[2018-10-04 14:38] kiaking opened #231 "Save class instances directly to the store"
Save class instances directly to the store as discussed at #163. I've started working on to this and did few test implementations. It needs more work than I thought and there're many things to consider.

Implementation has started at #234.

There are many places we can refactor but to make development speed faster, I think we should go minimal on this.

### Breaking changes to the data structure

[2018-10-04 14:40] kiaking commented on #200
@rkingon There's more work needed! Feedback will be super welcome!

[2018-10-08 18:48] drkwolf opened #233 "orderBy and computed value"
is there a way to use order by with model's computed (getter) value ?

[2018-10-09 00:51] kiaking commented on #233
Hi! Not 100% sure what you mean but you could do this?

[code]

[2018-10-10 09:22] kiaking commented on #233
Thank you for the response! But, I'm still not sure if I'm understanding your question correctly... Your example looks pretty good and it should work fine... right?

Could you elaborate bit more about what problem you are trying to solve? 😢

[2018-10-10 13:38] drkwolf commented on #233
thank you for your interest !

first OrderBy gives wrong result with the above code
[code]
* you can see that orderby doesn't perform as it should
 * trying the same code without orderBy gives the same result
[code]
* the output values are correct, but the order are not. it seems orderBy ignore computed values

* after modifying the code  (adding setter, and amount value to static fields), orderBy

[2018-10-11 10:18] RickMeijer commented on #233
I'm having a similar issue. Trying to sort on the number of unread `hasMany.Messages` of a `User`.
Right now I'm sorting after the fact, since any computed parameter seems to be unavailable in a query(?). The fuzzy search also can't reach computed relationship properties.

I'm guessing

(via #231 ) is part of the problem. If the Models are instantiated on a get, the computed values are unreachable

[2018-10-11 10:32] kiaking commented on #233
@drkwolf Ohhhh OK, finally I got it. Yes, as @RickMeijer explained, you can't use computed property in orderBy method at the moment.

But, however, I'm currently implementing issue #234, and once this is done, you will be able to use computed property inside any query filters including orderBy 👍

I don't think it would take long before I can release the new version, so stay tuned! (and sorry for t

[2018-10-11 12:58] RickMeijer commented on #233
So I made [this awesome demo](https://codesandbox.io/s/6njo77oy7k) to help explain for naught? The horror! Anyways; good stuff, thanks. A work in progress should never be a problem as long as it's _work_ and _in progress_ (R.R. Martin/Patrick Rothfuss I'm looking at you.).

[2018-10-11 15:42] kiaking commented on #231
This is done by #234 and released with Vuex ORM 0.27.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.27.0

[2018-10-11 15:42] #231 closed

[2018-10-11 15:43] kiaking commented on #233
Vuex ORM 0.27.0 is released! 🎉  Now you should be able to use computed value in order by : ) Again, thank you so much for the report, and thank you for your demo @RickMeijer ;)
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.27.0

[2018-10-11 15:43] #233 closed

[2018-10-12 09:47] sinasita opened #236 "update nested property"
I have a model looking like this:

    import { Model } from '@vuex-orm/core';

    export default class Text extends Model {
      static entity = 'texts';

      static fields() {
        return {
          id: this.increment(),
          text: this.string(''),
          style: this.attr({
             opacity: this.number(0),
             fontFamily: this.string(''),
             ....

[2018-10-15 09:36] RickMeijer commented on #233
For the people in the future coming in from Google:
When I update the demo to 0.27, I don't see any changes on the sorting for relational data.
It seems like relational data isn't available before the data is retrieved, so orderBy a computed property only works if the computed property references the Models' own properties.
@kiaking  says as much in #231:

Correct me if I'm wrong though.

And sinc

[2018-10-15 09:44] kiaking commented on #233
@RickMeijer Ahhh good point. Yeah the property that refers to relationship, you can't do that. I wonder how other ORMs handles this.Maybe we could have this as a feature request if it's possible.

[2018-10-15 09:52] kiaking commented on #236
@sinasita Hi! Thank you for the feedback! The easiest way to update the Object (or Array) is to define the data property at Update method as closure. You could update the Object like this!

[code]

[2018-10-16 07:17] kiaking commented on #223
@mr-chick Hi! Sorry for taking long on this issue. The Vuex ORM 0.27.0 has released and this problem might have gone away. Could you try it one more time? Also, I'm sorry to tell you but the definition for has many by has changed a bit, you must now define separate field for ids and actual relationship.

[code]

[2018-10-16 11:09] kpilard opened #237 "0.27: Direct store mutation through model"
Hey,

I am not sure if this is a mistake or if we used the library incorrectly:

Our concept:
 - load Data in the Store
 - receive a model instance by id
 - change some values (e.g. `model.name = 'newName'`)
 - call our custom save Method in the Model
 => The save Method will make an API-Request. On success the new data will saved in the store.

This was possible because the getter created new ins

[2018-10-16 11:19] sinasita commented on #236
Ok that helped me, thanks a lot! Anyway, there was a little mistake in in your proposal:

    setTextProperty =  (id, property, value) => {
      Text.update({
        where: id,
        data(text) {
          text.style[property] = value;
        },
      });
    };

I changed the update(text) for data(text)...
And i needed the property value to be flexible .

vuex-orm is great! thanks for all th

[2018-10-16 11:19] #236 closed

[2018-10-18 15:40] lu40 opened #238 "Update relationships"
I was looking for a way to update relationships (like the [`attach` and `associate` methods](https://laravel.com/docs/5.7/eloquent-relationships#updating-many-to-many-relationships) and their counterparts used in Laravel's ORM) but couldn't find it. Is there any way to update relationships, else than inserting with related data or directly adding records to the pivot table (for the many-to-many ca

[2018-10-19 08:04] mr-chick commented on #223
OK, thanks for the update.
I'll try it ASAP

[2018-10-22 10:14] kiaking commented on #237
Hi! Thank you for the report!

Yes, this behavior is intended at 0.27.0. I know it was possible to mutate the retrieved records before 0.27.0, but I never wanted to recommend such usage.

Since Vuex ORM is just a Vuex plugin, mutating the value returned from getters should be considered as an anti-pattern.

I understand what you're trying to do, but I think it should be supported in a different wa

[2018-10-22 10:15] kiaking commented on #236
Oh sorry for my typo! And thanks for the fix. IT'll help somebody else having same trouble ;)

[2018-10-22 10:18] kiaking commented on #238
Thanks for the feedback! No, sorry but there's no such methods at the moment.

I do think this is a really nice feature and definitely we should support it! It might take time since there're lots of another issue, but I would like to keep this issue open and close when the feature is implemented : )

[2018-10-22 10:19] kiaking commented on #223
@mr-chick Thank you so much!

[2018-10-22 10:25] kiaking commented on #217
Oh I see.

Yeah it should fix and it should be possible with Vuex ORM, but maybe bit hard on server side...? Do you think you can fix the issue at your side? Or is there anything Vuex ORM can do to help solving this situation?

[2018-10-22 15:28] phortx opened #239 "0.27 Regression: Records break with persisted state"
See https://github.com/robinvdvleuten/vuex-persistedstate

[code]

----

[code]

Worked with 0.26.3, but breaks in 0.27 saying `Uncaught TypeError: t.$delete is not a function`.

This is a critical bug for my app. I downgraded to 0.26.3, but would be nice if we could fix that :)

[2018-10-23 03:44] okatsuralau commented on #239
The `hydrate()` method that was removed in the new version is also breaking my code and is crucial to my application since I used it to populate the template data before saving to an API and only after that persists in the store .

[2018-10-23 08:13] kpilard commented on #237
Yes, you are absolutely right.
Before we used this library, we cloned the data to fill our forms. We should do that now too.
Thanks for the response ;)

[2018-10-23 08:14] #237 closed

[2018-10-23 08:37] kiaking commented on #237
Thanks for your kind understanding! Please feel free to open another issue if you have any trouble!

[2018-10-23 08:47] kiaking commented on #239
@phortx Maybe this is not the case, but you need `data` key at `create` method.

[code]

The following test passes, so not sure what is going on here.

[code]

I think the error `t.$delete is not a function` is because the `n` is null? (failed to create record and returning `null`). Is it possible for you to create reproducible code?

---

@okatsuralau Oh sorry about that. That method was removed

[2018-10-23 08:49] kiaking opened #240 "Add method to correct the given data"
Ref: #239

From 0.27.0, the `hydrate` method in Model was removed, but seems like there was a use case for that. Let's implement it back.

[2018-10-23 08:52] phortx commented on #239
This was some kind of pseudo code, I have a data key sorry :)

I think this is really related to persisted state. I will create a JSFiddle later :)

[2018-10-23 09:45] alex83130 commented on #217
It was for a past project, I had done differently in server side, so it's ok for me :)
But maybe It's a nice fix if the case recurs again in the future for someone else.

Thanks you for your time @kiaking !

[2018-10-23 09:53] phortx commented on #239
https://codesandbox.io/s/nnvqylw3pj

The `window.location.reload()` is the magic line, that breaks everything. So this error occurs when the store is hydrated from the persisted state after the reload. Then the records seem to be broken.

[2018-10-23 12:27] ilyaskorik opened #242 "Incorrect behavior in SSR mode"
In SSR mode, we recover store from saved data:

[code]

But Models are not restored when the store is replaced in SSR mode, so accessors and mutators are not available.

[2018-10-24 09:05] kiaking commented on #217
Great to hear that! Yeah if somebody can comeuppance with nice idea, we could tackle this issue again. Thank you for the confirmation 😃

[2018-10-24 09:05] #217 closed

[2018-10-24 09:16] kiaking commented on #239
@phortx Thanks for the repro! But I'm not sure what is going on here. It doesn't show any error in the console...? Could you guide me to the point where the problem occurs?

[2018-10-24 09:28] kiaking commented on #242
Hi! thank you for the feedback! Interesting. I guess `replaceState` function is doing deep copy of the state? Hence model instances are becoming plain object maybe?

Is `window.__INITIAL_STATE__` list of model instances?

[2018-10-24 10:18] phortx commented on #239
@kiaking I get errors in the console :O Current Chrome

[2018-10-25 06:52] JonasKraska commented on #93
looking forward to use lifecycle hooks in models ...

[2018-10-26 09:33] kiaking commented on #127
Great! Yeah let me drop this one. If somebody else needs them in the future, we can think about it again 👍

[2018-10-26 09:33] #127 closed

[2018-10-26 13:29] kiaking commented on #242
This issue should been solved by Vuex ORM 0.28.0! 🔥  Thank you so much for the report!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.28.0

[2018-10-26 13:29] #242 closed

[2018-10-26 13:30] kiaking commented on #239
@phortx This issue should been solved by Vuex ORM 0.28.0! 🔥 Could you check out if the issue is fixed?
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.28.0

[2018-10-26 13:31] kiaking commented on #240
The `hydrate` method is back with Vuex ORM 0.28.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.28.0

[2018-10-26 13:31] #240 closed

[2018-10-26 13:32] kiaking commented on #143
The `new` method has arrived at Vuex ORM 0.28.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.28.0

[2018-10-26 13:32] #143 closed

[2018-10-26 13:37] phortx commented on #239
Will check it this weekend. Thanks!

[2018-10-28 17:00] phortx commented on #239
It is fixed. Thanks! :)

[2018-10-28 17:00] #239 closed

[2018-10-29 00:17] kiaking commented on #239
Great, Thanks for the confirmation!

[2018-10-29 10:55] dtkahl opened #247 "Update docs to use model class in examples"
This issue is not needed as soon as possible but would be nice for the 1.0 release.

Currently the code examples in the docs are almost always using the getter/action syntax like:
[code]

The model class syntax is often ignored:
[code]

I am working in a new co-worker into a project where we are using vuex-orm and he struggles with the docs because we are almost only using the model class syntax b

[2018-10-29 11:01] dtkahl commented on #247
If you agree with me I could contribute a pull request for this issue.

[2018-10-29 12:38] kiaking commented on #247
Hi! thank you for the feedback! And that would be super awesome!

Actually, I was thinking the exact same thing and were planning to rewrite docs before releasing v1.0.0. So if you could help me out with it, that would be very helpful.

However, one thing I want to make sure is to let users know there's 2 way of executing actions (via Model and via ordinally Vuex Actions). This is because I want t

[2018-10-29 15:10] rockfreak opened #249 "Syntax error in getting started documentation"
I do believe in this section the last } should be a ]

[Creating Data to Vuex Store](https://vuex-orm.github.io/vuex-orm/guide/prologue/getting-started.html#creating-data-to-vuex-store)
[code]

should be
[code]

[2018-10-29 22:17] rkingon commented on #238
+1

I'm finding myself in need of this as well. I have a scenario where I `insert` without relations. Later on, I `update` with relations. Problem is those relations do not get `inserted`

[code]

`someHasManyRelation` comes back empty

[2018-10-29 23:33] kiaking commented on #238
@rkingon Hi! Thanks for the feedback. I too think this issue is important but your case is not related to this one.

Use `insertOrUpdate` instead of `update` in that case. The reason why relationship is not inserted is because it's trying to "update" the relationship as well. Since relationships doesn't exists, they're failing at updating. By using `insertOrUpdate`, the relationships should be ins

[2018-10-30 09:17] kiaking commented on #249
Oh yes! Thank you for pointing this out. I'll fix it!

[2018-10-30 09:32] kiaking commented on #249
Done fixing! Thank you so much for the report 👍

[2018-10-30 09:32] #249 closed

[2018-10-30 10:19] paparent commented on #249
@kiaking I'll try to find time to finish my PR about linting JS in docs. it spotted that one!

[2018-10-30 10:21] kiaking commented on #249
@paparent Yeah that would be awesome! Thanks!

[2018-10-30 14:38] kiaking commented on #136
This is now possible with Vuex ORM 0.29.0! 🎉  However, I needed to introduce breaking change where you can no longer define lifecycle hook at actions... Please see the release note for more detail!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.29.0

[2018-10-30 14:38] #136 closed

[2018-10-30 14:38] kiaking commented on #93
@JonasKraska This is now possible with Vuex ORM 0.29.0! 🎉  However, I needed to introduce breaking change where you can no longer define lifecycle hook at actions... Please see the release note for more detail!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.29.0

[2018-10-30 15:33] rkingon commented on #238
@kiaking that totally worked. for some reason, I was under the impression `insertOrUpdate` was only for the top level model & wasn't thinking recursively.

highly appreciate vuex orm!

[2018-10-31 10:22] kiaking commented on #238
@rkingon Yeah currently the method (`insert`, `update` etc) gets applied through all relationships. Great hear that it worked! 👍

[2018-10-31 10:57] dtkahl commented on #247
While working on the pull request I came across a problem. Building the docs does not work for me. THis is what i have done so far:

[code]

But I am getting this error:

[code]

Did i missed a step in my setup? Maybe you can add a short section in the README.md how to develop the docs.

Another thing I came across is that the "Deleting Data" page is duplicate in "api" and "guide" folder with the

[2018-10-31 11:37] dtkahl commented on #247
I have now created the pull request (#251) without building the docs locally.

[2018-11-01 10:33] RickMeijer commented on #218
Sorry for the late reply.
I eventually found a way to work around it apparently, but I can't seem to remember what exactly it is I did. Two months ago the project looked a lot different than it does now. I'm not even sure if this issue is still relevant for it, to be completely honest.

Right now the main issue I'm dealing with is that updating (db/insert) one item triggers a refresh on all the it

[2018-11-01 23:46] huy-tran commented on #123
@malinushj

Hi mate,

Your API response must match with your VuexORM schema.

I removed the wrapped **data** key in all nested relation. For example:

[code]

What are you using for BackEnd? I am using Laravel and I had to customise the transformer.

Hope this helps!

[2018-11-02 07:20] malinushj commented on #123
@kiaking @huy-tran I ended up manually parsing the response into ORM models because for this response:
[code]
mapped like:
[code]
I would receive errors from the ORM, thinking it's because `location` is ambiguous for both having the data and relation attached to it? It's weird since I know this works if it was an array with `locations`.
Am I missing something?

[2018-11-02 08:30] #150 closed

[2018-11-02 08:32] kiaking commented on #123
This is really wired. It should totally work. The `belongsTo` relationship is one to one so the `location` should be an object, not an array. Are you sure you're using the `belongsTo` attribute?

[2018-11-02 14:12] malinushj commented on #123
@kiaking @huy-tran Ehm, I've had a second look and indeed it works, I have no idea why it didn't work the first time, will remain a mystery 👀
Thank you guys for your help! Love this package!

[2018-11-02 16:22] drkwolf commented on #233
hi,  the proposed fix doesn't work in my case, since my computed property depends on a relationship.

the problem here is that orderBy is executed before eagerLoading, loading the relationship inside the computed value is quick and dirty fix, i've made a working example (based on @RickMeijer example)  here https://codesandbox.io/s/lpz62qz8jz that expose the problem

[2018-11-02 19:06] drkwolf opened #252 "Lazy loading implementation prototype"
here's a simple  lazy loading  implementation using [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) that works for BelongsToMany, BelongsTo, HasManyThrough, HasMany, HasOne that's need review and suggestions

[PR diff](https://github.com/vuex-orm/vuex-orm/compare/master...drkwolf:master)

[2018-11-05 09:30] kiaking commented on #123
Great! Good to hear that : )  Please let us know if there's anything.

[2018-11-05 09:31] kiaking commented on #233
@drkwolf Yeah, in that case, you need to filter the result after the `get` call I guess. I wonder if there's a way to do this in other ORM's. I'm curious how would the API look like 🤔

I think it's not a good way to resolve relationship before the `where` clause because that is going to impact performance a lot.

[2018-11-05 09:31] kiaking commented on #252
Wow, thank you so much for the hard work! 🎉  I was thinking to do this by adding getters at Model, but yeah this is another way to go I guess.

One thing I'm not sure is whether to use Proxy. I love it, but it doesn't support IE11, which I need to support for my own project (I really don't want to but...).

What do you think about adding a handler to the Model when creating them and resolve the re

[2018-11-05 09:35] kiaking commented on #223
@mr-chick Hi! Just wanted to check in. Did you have any progress on this 😀 ?

[2018-11-05 09:36] kiaking commented on #229
This is nice feature and I would like to make it possible somehow, but haven't come up with good idea yet so I'll keep this open as an enhancement issue for now 🚀

[2018-11-05 12:03] drkwolf commented on #252
it's all thanks to your initial and current effort.

the advantage of using proxy is that we have a small changes

there's a polyfill for that, it supports IE9 and above : https://github.com/GoogleChrome/proxy-polyfill

i think there's no need for that, retirations added with 'with' are resolved as usual, for the others a proxy encapsulating the resolve function is assigned. and once a property is

[2018-11-05 13:10] paparent commented on #252
Hi,

I'm really not expert on Proxy, but I read that it's not something that you can polyfill.. Maybe Google found a was to do it anyway.

My 2 cents on that: Try to not use it, and when VueJS goes to major version 3, they'll use Proxy so VuexORM can follow that.

What you guys think?

[2018-11-05 13:14] mr-chick commented on #223
Hey, sorry for the late response.

As far as I can tell, the error is fixed.
I updated the relations too, and it's all good.

Thanks for the help.

[2018-11-05 13:14] #223 closed

[2018-11-05 15:29] drkwolf commented on #252
we can use defineProperty to achieve the same result as well, if Proxy is not an option
here's an implementation example
[code]

[2018-11-05 17:45] MiguelFreire commented on #229
Sorry for the late response but I've been without any time to grab this. Whenever I have time I'll try to implement this and get back to you

Cheers

[2018-11-05 22:14] rkingon commented on #171
i am hitting this too! although I do find `attr()` to be a decent work-a-round for now

[2018-11-06 14:54] Botz commented on #171
Do you have any updates for this? We have the same problem in our project. For now we are using the this.attr() workaround but a real solution would be great.

How about
[code]
to indicate if null is allowed.

[2018-11-07 09:44] kiaking commented on #223
Thanks a lot for the confirmation! Let me know if you encounter any other troubles.

[2018-11-07 09:45] kiaking commented on #252
About Proxy, it might be better to use `defineProperty`. As @paparent mentioned, I think we can follow Vue 3 to start using Proxy.

I'm not sure here. Since you've removed check for `this.load` property at Query, I think it is going to hit `eagerLoadRelations` at Loader every time user call `get` on query chain regardless of the existence of `with`.

Then inside `eagerLoadRelations`, it's calling

[2018-11-07 09:45] kiaking commented on #229
Thank you so much! That would be very very helpful : )

[2018-11-07 09:46] kiaking commented on #171
OK let's add this to the roadmap of Version 1.0.0 then! IT should be quite simple if we're going to take the path of  `.nullable()` chain.

[2018-11-08 01:06] rkingon commented on #171
should `nullable` be the default? I can think of more cases where `null` should be allowed than shouldn't.

if i remember correctly, mysql default does allow null.

it could be `.notNullable()` chain?

[2018-11-08 01:07] rkingon commented on #171
(that said - `boolean` should allow `null` by default) -- no value === `false` ?

[2018-11-08 10:40] kiaking commented on #171
@rkingon I'm not sure about making the nullable by default due to the inconsistency for the `boolean` attribute as you mentioned. That is going make `number` has `notNullable` chain and `boolean` having `nullable` so...

I think adding `nullable` isn't too much of a work, and for example, Laravel has this `nullable` chain on its ORM. One more reason is that I can't come up with good naming :p (`no

[2018-11-08 13:42] Botz commented on #171
Great, thank you!!!

[2018-11-08 15:29] rkingon commented on #171
thank you @kiaking !

[2018-11-10 07:50] yannickBoetzkes opened #254 "Second key value inside of .belongsToMany()"
Can someone please explain me how to add a second key to this.belongsToMany() function?

The relation is working fine but I have another key value pair besides the id that I want to be inside the related array.

I prepared a codesandbox to clarify the issue.

I want plannedQuantity to be inside of the productQualities array in productGroups.
plannedQuantity shouldn’t be inside the original product

[2018-11-13 13:57] kiaking commented on #254
Sorry if I'm mistaking, but I think you do have ProductQuality inside `productQualities` array don't you?

[code]

This is expected since it has the same primary key value of 2. If the 2 record has the exact same primary key, then it gets merged (overwritten). Vuex ORM requires the model to have at least one unique key or composite key. So if you need to have the same ID, maybe you need to define

[2018-11-13 14:21] yannickBoetzkes commented on #254
Hi @kiaking,
my example was a little imprecise.
I guess using plannedQuantity inside the ProductQuality model is wrong as it should only be shown inside the relation in productGroups.

[code]
I'm not sure how to achieve the desired behavior.

Thanks for your answer.

[2018-11-19 06:40] kiaking commented on #218
Closing the issue due to inactivity. If someone come up with nice idea for this issue, maybe we could tackle it then! Please feel free to reopen the issue if there's anything.

[2018-11-19 06:40] #218 closed

[2018-11-19 10:34] kiaking commented on #254
Sorry, I'm still not sure what is the expected result.

Following your example on CodeSandbox, you're trying to load ProductGroup __with__ ProductQualities.

[code]

And you're getting the result of;

[code]

The ProductQuality model is indeed only be seeing inside ProductGroup relationship, isn't it? The `productQualities` property only holds ProductQuality records.

I think I'm still missing you

[2018-11-20 10:06] yannickBoetzkes commented on #254
The problem is that the plannedQuantity is overwritten by the second object with a different plannedQuantity.
PlannedQuantity doesn't belong to the productQuality Model.
It belongs into the productGroup data.

The data I'm retrieving is
[code]

If I define plannedQuantity inside the plannedQuantity model it gets overwritten from within the second object.
I want each productGroup have its own produ

[2018-11-21 10:39] kiaking commented on #254
@Yackbz Thank you so much for your explanation! Now I understand.

OK, this behavior is intended at the moment. At first, in Vuex ORM, records must have its unique key to determine if the 2 records are same or not.

With your example, the primary key of ProductQuantity is `id`. So, if you have the record with same `id`, it gets overwritten. Because, if we don't, we lose a way to update a record wh

[2018-11-23 14:29] ozum opened #255 "WARN: Cannot stringify arbitrary non-POJOs"
Hi,

I installed and run [vuex-orm/vuex-orm-examples-nuxt](https://github.com/vuex-orm/vuex-orm-examples-nuxt) and I got warnings on terminal for every page refresh:

[code]

I get same warnings in my project, which uses latest Nuxt (v.2.3.2).

Kind Regards,

[2018-11-25 12:54] ozum opened #257 "'$id' is not a valid attribute name"
Hi,

I'm using ` v-bind` to pass all attributes as props from `vuex-orm-model` results in `v-for` like below:

[code]

Because of `$id` in records, I got following error:
`'$id' is not a valid attribute name.`

Except adding all attributes manually, how can I use results with `v-bind`?

[code]

Thanks in advance,

[2018-11-26 14:38] phortx opened #258 "Calling insertOrUpdate() multiple times with the same set of records with a morphToMany relation duplicates the pivot records"
https://jsfiddle.net/nkcr48p5/

[2018-11-27 10:53] kiaking commented on #255
Hi! Thanks for the report! I have the same warning for my Nuxt project as well.

Currently, Vuex ORM will work so you can ignore warning at the moment. The reason why we're getting this warning is that we've started to store class instance directly to the store. When the store gets hydrated at server side, Nuxt try to serialize the store and fails because there's class instance inside the store (f

[2018-11-27 11:01] kiaking commented on #257
Hi! Thank you for the feedback! I think you must specify `v-bind` key!

[code]

[2018-11-27 11:06] kiaking commented on #258
Thanks for the report! I'll look into it!

[2018-11-27 13:31] ozum commented on #257
Hi,

Thanks for the answer.

I'm also using your suggestion as a workaround (`:item`). However there are some pure components which expects attributes of the object as individual props. Also this is the reason `v-bind="someObject"` shortcut exist.

I think it is not easy job to refactor `vuex-orm` for this, but in next major iteration you may consider to change attributes starting with `$` with so

[2018-11-27 13:31] #257 closed

[2018-11-28 10:26] ozum opened #259 "Is this valid use of model?"
Hi,

I'm using heavy key-lookup in a joined relation. So I created an instance method like below:

[code]

Basically, on first call I add an attribute to instance (`_optionsById`) and filled it with data. For the subsequent calls, I return that data.

[code]

It seems working as expected, but I wonder is there any problem with that approach?

EDIT 2: I don't want `_optionsById` stored in vuex stor

[2018-11-28 16:13] Yackbz commented on #254
Sorry for the late reply. I'll try that out soon.
It seems to solve the issue. Thank you for the explanation.

[2018-11-29 09:10] malinushj commented on #221
@kpilard A simple solution in your case would be to extend the Model class to have an isDirty property, this is what I use:
[code]
You could also implement getDirty but it would imply a bit more logic.

[2018-12-03 12:03] kiaking commented on #255
@ozum OK thanks! I'll try communicate with Nuxt guys if I can.

[2018-12-03 12:06] kiaking commented on #257
@ozum Thanks for the feedback!

I didn't know that there're such syntax! Could you guide me to the docs?

[2018-12-03 12:10] kiaking commented on #259
No, you wouldn't want to do this. The reason is because currently, Vuex ORM is storing the class instance as is to the Store. Which means, the behavior might violate Vuex immutability. Which is, you shouldn't mutate the store state outside of store mutation.

Yes it will. Because, Vuex ORM stores class instance as is to the Store.

[2018-12-03 12:11] kiaking commented on #254
Great, thanks! Waiting for your reply then : )

[2018-12-03 12:13] kiaking commented on #221
Yes, @malinushj That would work perfectly. Would this make sense to you? @tvillaren

[2018-12-03 12:17] ozum commented on #259
Thanks for warning. I will not use it.

[2018-12-03 12:20] kiaking commented on #257
Oh thanks! Wow, I didn't know this. Hmmm... so maybe we should stop using `$` and `_` for the property hah... hmmmm. Well here's only `$id` which is affected in a record so we could come up with some another naming.

[2018-12-03 12:22] #259 closed

[2018-12-03 12:32] ozum opened #261 "id collision"
I mentioned this in a PR thread, but this is an important issue and should be in its own case.

I see that composite primary keys (ids) are merged using `_`. However it may cause collision in example below:

I didn't encounter this situation, because my keys are UUID, but just wanted to bring it in attention.

[code]

It may be better to store composite keys in an array: `$id: ["a_", "b"]`.

[2018-12-03 14:50] kiaking commented on #261
Ahhh... Yeah that's true. Good point, thanks for the feedback!

Well we can't store composite keys as array because why we're merging the keys is to use it as the key of the records.

[code]

But yes, we should avoid such collision... Maybe prefixing with `_` or maybe double underscore...? So it will be something like `__a_b`?

[2018-12-04 06:44] ozum commented on #261
I think `JSON.stringify()` is best bet then. Generates strings from arrays relatively fast and without collision risk. Also you can convert it back to array using `JSON.parse()` in case it is needed.

[code]

[2018-12-04 06:52] ozum commented on #255
There is some info about cause of this [here](https://cmty.app/nuxt/nuxt.js/issues/c7961) but no solution.

It seems it is related to a package called `devalue`, but I don't know what it is.

[2018-12-04 12:09] kiaking commented on #261
!!! Yeah your genius. Never thought of that approach. That should work definitely. Let's put this on the list for the future implementation.

[2018-12-04 12:20] kiaking commented on #255
Yeah. I think it's going to solve this unless we make internal change to the Vuex ORM.

Basically, Nuxt is hydrating the store state, and sending it to the client as a string. Then, at the client side, it uses that hydrated store. So, the state gets serialized before the store state is getting send to the client. Therefor, it throws that warning that it is failing to serialize the store state, bec

[2018-12-04 12:31] ozum commented on #261
By the way, how does `find` works with array keys (composite/compound keys)? I'm asking, because I can update `findIn`, `whereId` and `whereIdIn` according to this.

[2018-12-04 12:34] kiaking commented on #261
Currently it does nothing special. It looks up for the key with specified string. Within the state, the composite keys are merged as a string like `a_b`, so if you specify that key name, it fetches the record.

[code]

It would be great to support this! Haven't though but something like following API looks nice...? Not sure.

[code]

[2018-12-04 12:54] ozum commented on #261
Keys are already ordered in model:
[code]

So we don't need to feed key names.

[code]

This was the reason I write separate `findIn` methods instead of putting it in `find`. Otherwise we could not decide whether `find([1,2])` was array id lookup or multiple records with single id.

It seems easy to implement then. It is just needed to update key lookups in related methods. Below is example for `f

[2018-12-04 15:24] kevrousso opened #263 "insertOrUpdate doesn't allow data to be a function"
Title says it all. The `insertOrUpdate` function should allow data property to be a function so that I can update nested properties like so:

[code]
instead of having to manually figure out if the project is already in the store.

[2018-12-06 12:56] ozum opened #264 "Fields interface for TypeScript"
Using with typescript some of my model classes complains that `static fields()` does not have a return type.

I guess it required a return type of `Fields()`. How can we import and use it?

[code]

Edit:

Currently I'm using a workaround: `import { Fields } from "@vuex-orm/core/lib/model/Fields";`  but it should be a better way I guess.

Thanks,

[2018-12-06 18:47] Yackbz commented on #254
That’s great. It works and does the trick. Thanks

[2018-12-07 07:54] ozum opened #266 "No type check for models (TypeScript)"
Hi,

I have an example model in TypeScript. However even I access wrong field names type-check does not detect those.

[code]

One of the reasons of this is `[key: string]: any` usage in `Model.ts` and some other places. As you, of course, know this destroys all benefits of typescript.

How can we benefit type checks in `vuex-orm` models? Or is there any particular reason for current situation?

I

[2018-12-10 11:01] ekosynth opened #267 "How do I access models as in the examples?"
When I try to run :
`const person = Person.query().whereId(1).get();`

I get "ReferenceError: Person is not defined"

Do I need to import something in my components to use this syntax?

[2018-12-12 01:31] kiaking commented on #264
@ozum Ah, OK. Well, I guess we have to export all interfaces at `index.ts`. There're going to be a lot, so I don't know if that's the way to go... but. I wonder what other TS libraries are dealing with this.

[2018-12-12 04:37] kiaking commented on #267
@ekosynth Yes! You have to import model.

[code]

[2018-12-12 04:38] kiaking commented on #264
I just saw it! Thanks for your help!

[2018-12-12 04:39] kiaking commented on #266
Yes wonderful! I've checked the PR and will make a release soon!

[2018-12-12 08:36] ekosynth commented on #267
D'oh!, Thanks!

May I suggest adding this to the documentation?

[2018-12-13 13:44] ilyaskorik opened #268 "How get access to App or Router in model getters?"
For example, if I want to generate a URL based on the model data

[2018-12-13 16:06] ozum opened #269 "How to use with vuex-persistedstate"
Hi,

I'm using [`vuex-persistedstate`](https://github.com/robinvdvleuten/vuex-persistedstate) and `vuex-orm` with `nuxt`.

Also I have some vuex store data outside of `vuex-orm` created manually (not by `database.register`).

While vuex store data persisted between page refreshes, `vuex-orm` data is not. How can I do that?

Many thanks,

[2018-12-13 17:37] ozum commented on #269
I think I should asked the question in [vuex-persistedstate] repo, because it's onlu happening with data created in `nuxtServerInit()` and not seems to related to `vuex-orm`.

[2018-12-13 17:42] ozum commented on #269
I reopened case, because non `vuex-orm` data is persisted even it is created in `nuxtServerInit()`

[code]

Any suggestion?

[2018-12-14 09:50] kiaking commented on #267
Sure! That would be great 👍

[2018-12-14 09:52] kiaking commented on #268
Ahhh nice question. Currently you can't! You have to use vuex getters to do that. Maybe we could add option to call root getter from model getters.

[code]

[2018-12-14 09:56] kiaking commented on #269
Oh, really...? I though `nuxtServerInit` would work since persisting data inside `fetch` works. Maybe it7s because vuex-orm is recreating the module state at client side...?

[2018-12-14 10:09] ozum commented on #269
`vuex-persistedstate` also overwrites data on client side. To be compatible with `nuxt` server side rendering, `vuex-persistedstate` is registered as a `nuxt` plugin instead of vuex plugin as described [here](https://github.com/robinvdvleuten/vuex-persistedstate#nuxtjs). According to their doc it is related to ordering.

[2018-12-17 14:12] #178 closed

[2018-12-19 10:45] tvillaren commented on #221
Hello,

Yes, this does make sense.
I'm currently writing a small plugin which does that + add an `IsNew` flag. I'll push it to my github and we can see how to add to Vuex ORM (or keep it as plugin).

I feel like a lot of things are being added to Vuex ORM (or at least planned to be) and it's hard to keep up :)

[2018-12-19 14:33] ChuckBorris33 opened #270 "Changed behaviour when retrieving empty ManyToMany relationship"
When updating from version 0.26.4 to version 0.31.1 we encountered changed behaviour when retrieving empty ManyToMany relationships. I can't find this in change log so i might be bug.

Lets say we have model:
[code]
And we initialise data by:
[code]
In version 0.26.4 `Todo.query().withAll().find(1).assignees` would return `[]`

In version 0.31.1 `Todo.query().withAll().find(1).assignees` returns `

[2018-12-21 16:58] clementdubois opened #271 "Create two submodules"
I have a big project and I would like to create two separate submodules in a vuex way but it seems like I can only register one database in one unique namespace.

I there a way to have to distinct modules (each containing different vuex orm models).

I really don't want to register all Models in the same module :(

thank you :)

[2018-12-25 13:50] #264 closed

[2018-12-25 13:50] #266 closed

[2018-12-25 14:44] kiaking commented on #270
@ChuckBorris33 Hi! Thank you so much for the report! Well this sure looks like a bug... I'll look into it!

[2018-12-25 14:48] kiaking commented on #271
@clementdubois Hi! thank you for the feedback!

A long time ago, it was possible to register multiple databases to the store but I dropped it since it got quite messy in the code. Maybe it's time to rethink about this.

However, there are a few things we must consider before moving on. For example, I don't believe Vuex supports multiple store instance in a single application. So it kinda makes les

[2018-12-25 14:55] kiaking commented on #221
@tvillaren Hi! thank you so much for your awesome work! Looking promising. Very simple!

I'm open for discussion but I'm thinking it should be a plugin...? Since there could be some discussion regarding isDirty feature.

For instance, while Vuex ORM treats Vuex Store somewhat like a database, some might feel wired to flag some record dirty when it is "committed" to the store. I mean if it's actual

[2018-12-26 15:08] lucasbiguet opened #272 "Primary key: use id from object OR increment()"
Hi, first of all thanks for this project it has saved me a lot of time and efforts lately!

However I've been struggling on the proper way to initialize the 'id' property. My store is populated by an API so here's what I'd like to achieve:

- If a record is persisted in the API, use the object id. This is important to avoid breaking persisted foreign keys thus preserving associations.
- if a recor

[2018-12-29 06:39] djokone opened #273 "Lifecycle hooks doesn't work in Model Class"
Problem : Lifecycle hooks doesn't seem to work in Model Class
Hi, I've wrote my class like this :
[code]
And I'm expecting to see my console.log when I commit and update, but nothings append...
The only way hook works is with the global hook like this :
[code]

[2018-12-29 09:18] victor0210 opened #274 "How to design with states which are no relationship with each."
best practice of ActiveRecord in frontend?
how do I design state better like columns in db?

[2019-01-02 10:49] clementdubois commented on #271
Hi, I don't necessarily want to have multiple databases, I just want to have a hierarchy of submodules (like in native vuex). And I don't know if it's possible with vuex-orm because we have to register the database in the plugin section (in the root modules).

For instance I would like to be able to have two different modules, let's say "payment" module and "products" module and in each module I w

[2019-01-04 08:04] yarnball opened #275 "Sample data for ManyToMany example"
Hi @kiaking ,

Very nice project.

I'm also having trouble getting ManyToMany relations working. I've read been over the docs quite a bit.

Would you be able to provide a sample of what the data would look like? EG for the `create` command to initialise with data?

I tried with the example below, but I do not see any related `Roles` on `User`.

I am populating with using the dispatch, such as: `th

[2019-01-06 11:02] kkyouhei commented on #275
@yarnball
Hi.

I make example data below.
Please look in created function of App.vue.
https://codesandbox.io/s/31qlx272pp

I look your initialize data.
Cause is non nested maybe so neste or call create function each model.

[2019-01-06 12:11] kkyouhei commented on #273
Hi @djokone

I don't reproduce your problem.
https://codesandbox.io/s/xz90ny3mxq

Can you give reproduce problem code ?

[2019-01-06 23:55] yarnball commented on #275
Thank you for that very clear example!

A quick last question- is there a method of cascading deletion or would that be manual?

For example, in if I delete a "Car" is there a way your library will find related Users and remove that car?

FYI- my example above would look something like this

[code]

[2019-01-07 09:11] kkyouhei commented on #275
As far as i know, There is no cascade options.
afterDelete lifecycle maybe useful if you delete the association records.

[2019-01-07 12:32] kiaking commented on #272
@lucasbiguet Hi! Thank you so much for the feedback!

OK, this is not expected. If the value exists at `increment` key (ex. `id` field), it should use the value instead of generating new value. So it might be a defect. In that case, the PR is very welcome!

That's being said, for your question on how to generate unique ID syncing with the backend is another question and the `increment` might not b

[2019-01-07 12:32] kiaking commented on #274
@victor0210 Hi! Thanks for the interest on Vuex ORM!

Sorry, I'm not sure what your question is. You can definitely design your state like DB column. Like this?

[code]

[2019-01-07 12:33] kiaking commented on #271
@clementdubois Oh, I see. That use case is something I haven't thought about it yet. Might be interesting.

To make it clear, my understanding is it would be something like below. Correct me if I'm wrong.

[code]

If my understanding is correct, it might be interesting but to be honest, this is going to make things really complicated on Vuex ORM side :p  For instance, could `products.category ` ha

[2019-01-07 12:33] kiaking commented on #221
@tvillaren Hi! Sorry for my late reply and not being so clear. What I meant by "it should be a plugin" is I thought at somewhere we were discussing to add this feature into the core or not. And I couldn't find it now :p

It is all up to you! It would be an honor for me to see the plugin listed under vuex-orm namespace, but it's completely up to you. If you would like to, let me know at Slack or so

[2019-01-07 12:34] kiaking commented on #275
@yarnball Currently not! Vuex ORM doesn't have any cascading feature. But since you brought it up, that would be a nice feature to have though. Maybe we can create a new issue for that and track it as enhancement request.

[2019-01-08 07:20] victor0210 commented on #274
To put it simply, when we design the table structure on the server side, most of the time we are integrating business data and dividing the dimensions, but the front end will have a lot of non-business related states, so how can they not pollute ORM?

[2019-01-08 08:00] Kleemer opened #276 "Multiple with, with multiple closures"
Hi Vuex-ORM community, and happy new year !

I was trying to do something like:

[code]

What I expected from that is a list of users, with all the posts and their likes, but also the videos attached to the user that has the videoId as their ID. If I try this with only one of the `with` I have part of what I want (because it's missing the other `with`) but the data looks good, however both togethe

[2019-01-08 13:53] kiaking commented on #274
Oh OK. Well, the schema you define at Vuex ORM doesn't have to match the server side DB schema. So you can define those non-business related state however you want. You could define either field properties or just define plain class properties.

Let's say you have backend Post model and the schema looks like below.

[code]

It is perfectly fine for you to define Vuex ORM schema like this.

[code]

[2019-01-08 14:00] kiaking commented on #276
@Kleemer Hi! Thank you so much for the report!

Yes, that use case – Multiple `with` – is expected to work. And your method calls look good to me and it should get what you would expect.

Is it possible for you to create a reproduction code for this issue? Or can you try if anything changes if you remove where query?

[2019-01-09 12:54] phortx opened #277 "Support some kind of Query Language"
It would be really nice when Vuex-ORM would support some kind of simple query language to write queries instead of the current query API.

[2019-01-10 13:06] kiaking commented on #277
Hah, never thought of that! What kind of language? Like SQL? (Might be very tough though).

[2019-01-10 13:06] kiaking commented on #272
Glad you found a way out!

Yeah, I understand your point. I was always thinking to have “workspace” feature is a better option. Where you create any temporary data under `workspaces` module, then commit when the change is finalized. It should look something like below.

[code]

Thank you so much for your feedback though! Please feel free to open another issue if there's anything 👍

[2019-01-10 13:20] phortx commented on #277
Yes, just like SQL. Maybe something more simple. And we don't have to support everything. And maybe there's already a parser lib vor something like that, don't know :D

[2019-01-14 05:57] victor0210 commented on #274
all right, thks

[2019-01-15 11:34] kiaking commented on #274
I hope you found a way! Please don't hesitate to open another issue if you have anything else! ✋

[2019-01-15 11:34] #274 closed

[2019-01-15 16:03] kkyouhei commented on #258
Hi @phortx

I discovery first aid to this issue.
please look below at line 6.
https://jsfiddle.net/kkyouhei/efogj93a/7/
before
[code]

after
[code]

and I fix this issue continue.

[2019-01-22 14:34] kiaking commented on #271
@clementdubois Hi! have you ever had a chance to look into my comment? Let me know if it makes sense!

[2019-01-22 14:34] kiaking commented on #273
@djokone Hi! Do you have any update on this? It would be helpful if you could provide a reproduction code.

[2019-01-22 14:35] kiaking commented on #276
@Kleemer Hi! Do you have any update on this? It would be helpful if you could provide a reproduction code.

[2019-01-23 07:44] Kleemer commented on #276
@kiaking hi, sorry I really did not have time to try again since last time ! Updating my whole codebase would take me too much time for now, so I will just guess that I missed something silly.
I will close this issue for now, and re-open if needed, is that fine with you ?

Again thanks for all the help !

[2019-01-23 23:18] #276 closed

[2019-01-24 11:30] kiaking commented on #276
@Kleemer Oh OK! Sorry I didn't know that the issue went away for you :p  Glad to hear you found a way out!

Yes! Please don't hesitate to open another issue if there's anything.

[2019-01-24 23:45] djokone commented on #273
Hi guys sorry for the delay, I've resolve the issue. When @kkyouhei send me the problem link I've saw that my vuex-orm package wasn't updated to the last version. I've done it and now everythings working has expected ;) Thx guys and sorry for the inconvenience.

[2019-01-24 23:45] #273 closed

[2019-01-25 15:57] willhoyle commented on #255
If anyone coming across this wants to get rid of the warning you can change either one of the following env vars on the server:
[code]

Check a list of log levels here for consola: https://github.com/nuxt/consola/blob/master/src/types.js

Here is the discussion on nuxt.js issue board: https://github.com/nuxt/nuxt.js/issues/4026

Note I believe you need nuxt version >=2.2.0

[2019-01-26 04:57] ozum commented on #255
@willhoyle Doesn't it suppress all log messages then?

BTW, I didn't know this option thanks for the suggestion.

[2019-01-27 02:32] willhoyle commented on #255
I believe it only suppresses the logs from the devalue lib.

It’s actually weird behaviour that it logs stuff by default unless I’m missing something here.

[2019-01-28 16:25] DoubleB123 commented on #56
Hey @kiaking, sorry to resurrect an old issue, but I know normal vuex getters cache and only are rerun if the relevant state updates. Do you know if these getters have the same behavior?

[2019-01-29 12:33] kiaking commented on #255
Wow, thanks for the tip! This is gonna clean up my terminal log quite a bit.

I guess it's expected for Nuct to output this warning. Before it was error and service were crashed (Good thing it became warning).

Still not sure how to handle this problem. I'm thinking for a while but, maybe we should make Store state POJP (plain old JavaScript Object). But not sure.

[2019-01-29 12:50] kiaking commented on #56
@DoubleB123

**Short answer:**
No, it will not cache the getters result.

**Long answer:**
Vuex ORM uses pure Vuex getters, so it has **the same behavior** as Vuex. However, Vuex ORM uses getters as a function so that you can take arguments. In this case Vuex will not cache the result as stated [here at the documentation](https://vuex.vuejs.org/guide/getters.html#method-style-access).

Does this a

[2019-01-29 12:51] kiaking commented on #277
@phortx Any idea how would the API look like?

[2019-01-29 12:53] kiaking commented on #273
@djokone Ah, thank you so much for your update! Great to hear it worked for you. Please open another issue if there's anything!

[2019-01-29 15:46] tvillaren commented on #277
Seeing this makes me think that Vuex ORM already has a Query language, which is the Query API.
It is not too complicated, except maybe the for filtering data (as part of a project, I actually built a Predicate Model with an adapter to Vuex ORM queries).

I'm curious about what would be this other QL. Something like LINQ ?

[2019-01-29 16:17] tvillaren commented on #221
The [Plugin Change Flag](https://github.com/vuex-orm/plugin-change-flags) is now an official Vuex ORM plugin, should we close this issue?

[2019-01-30 00:44] willhoyle commented on #255
It seems like the problem in the devalue lib is that it's checking for a toJSON method.

I was able to completely get rid of the warnings by making a plugin to modify the Model.

[code]

Would it make sense to make this toJSON method included in vuex-orm instead of a plugin?

[2019-01-30 09:40] kiaking commented on #221
Oh Yes! We should. I'm just gonna wait a bit more until the package gets published 👍

[2019-01-30 10:08] kiaking commented on #56
Currently, there's no way to fetch a single record directly via Vuex ORM API. Because all of the fetching is done by Query class.

However, since Vuex ORM is just a wrapper for the Vuex, you could access store state directly.

With your example, you could do something like this.

[code]

By doing this, you gain the caching mechanism of Vuex. It is going to be hard for Vuex ORM to handle these kind

[2019-01-30 10:14] kiaking commented on #255
Oh wait what!? Really? If this is going to fix the problem, I think it definitely should go in to the Core.

But I couldn't find a source where devalue is checking `toJSON` method. Could you guide me to the code? I just want make sure if this will not break anything 🤔

[2019-01-30 10:42] ozum commented on #255
@kiaking, that would be a nice solution to this problem

[2019-01-30 10:44] willhoyle commented on #255
Yup it's here: https://github.com/nuxt/devalue/blob/5f2c22949fc8e41d60c84be36a6603809e821b59/src/index.ts#L134

[2019-01-30 10:49] kiaking commented on #255
@willhoyle AHHHH NIIIICE! Very cool! This is the Nuxt forked version of devalue hah. Sorry I was looking at original devalue package.

I think adding toJSON method to the model is good! One concern is that maybe the Nuxt will change this behavior in the future but even if they did, toJSON method will do nothing for Vuex ORM users anyway.

Wonderful! Thank you so much @willhoyle for finding this! W

[2019-01-30 12:22] willhoyle commented on #255
I'm a bit busy with work right now so I won't be able to do it until the weekend but go ahead if you don't mind!

I think adding the method wouldn't break anything since if the user defined a toJSON method in their model, it would just overwrite the internal toJSON method anyways.

[2019-01-30 12:31] DoubleB123 commented on #56
Awesome, I appreciate the replies and all the work you've put into this!

[2019-01-30 22:55] Kleemer opened #281 "this.morphMany field default value is undefined when trying to retrieve it"
Hi,

Came across this bug yesterday while updating to the latest version (v0.31.2).
One of my model has a standard morphMany : `media: this.morphMany(Media, 'model_id', 'model_type')`
However, it looks like whenever the back-end does not fill the field, and I'm trying to query my model using `.with('media')` that this one is `undefined`.  It looks like the default value of this kind of relationshi

[2019-01-31 07:01] nagwan commented on #275
@kkyouhei  thank u for the example

@kiaking thank u for such an awesome plugin

[2019-01-31 07:13] nagwan opened #282 "manyToMany relationship returns undefined"
first of all i really want to thank u @kiaking for such an awesome plugin , it is really helpful
unfortunately i am stuck in many to many relationship

i have an account model that may have many users or not and each user may have accounts or not

here in my models
[code]

the problem is ‘users’ is always undefined and the same for ‘accounts’ while trying to query the user model with accounts

[co

[2019-01-31 07:39] phortx commented on #277
I thought of something like SQL. But a object oriented approach is sexy as well. I just think of something which is more powerful then the current query API :)

[2019-01-31 07:56] kiaking commented on #255
@willhoyle Got ya! I'll create PR for this and make a release soon. Thank you so so so much for finding out the solution for this! ❤️

[2019-01-31 09:21] SargoDarya commented on #214
I would reopen this as it's not possible with TypeScript to augment classes in definition files. What @kiaking wrote actually should kind of work but only when the d.ts file of vuex-orm would specify it as an interface instead of a class.

[2019-01-31 16:00] tvillaren opened #284 "Loss of reactivity when using same entity as root and in retrieved relations"
As discussed on Slack, here is the type of issue I'm trying to solve:

- I have a component with a Customer entity displaying fields like FirstName, LastName...
- I have a sub-component which takes as input an Address entity displaying other fields.
- My Customer entity has one Address (and vice-versa), linked by the CustomerId FK on Address.
- One of the Address component <span> visibility relies

[2019-01-31 17:45] tvillaren commented on #163
After reading this whole discussion about indexing a couple of times, I went through our (the company I work with) homemade JS Dataset library - which was built a couple of years ago and that we're looking to replace by Vuex ORM - to see how this was done and it is really close to the pattern presented by @Xcelled.

We're not using Vuex but I'll translate into Vuex "wording" to project my view on

[2019-01-31 18:05] willhoyle commented on #255
No problem! It’s the least I could do considering all the great work you’ve done on this lib!

[2019-02-03 05:43] kiaking commented on #56
Thanks! Those are the words that make me soooo happy! ❤️

[2019-02-03 05:45] kiaking commented on #281
Hmmm. maybe. Could you provide me the reproduction code so that I can first make failing test case for this? Like model definition and insert records.

[2019-02-03 05:48] kiaking commented on #277
Hmm. OK. I'm not sure here either 😀  I'l let this issue be open for couple more weeks and see if someone gonna come up with crazy idea.

[2019-02-03 05:50] kiaking commented on #214
@SargoDarya Ah, you got point. Yeah it has to be interface. But the `d.ts` file should be in plugin package, not in Core isn't it?

[2019-02-03 05:58] kiaking commented on #90
This is now implemented in Vuex ORM 0.31.3 🎉  However, it will not update related records, only the primary one.

The reason is, because usually when you update database field, it will not automatically update relationship ids by default. I'm thinking we should have another API, or some option to do that. We'll follow up that feature at different issue where we're discussing about adding relations

[2019-02-03 05:58] #90 closed

[2019-02-03 05:59] kiaking commented on #255
Done! This is fixed at Vuex ORM 0.31.3 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.3

Again, thank you @ozum and @willhoyle for finding the solution for this! 👍

[2019-02-03 05:59] #255 closed

[2019-02-03 06:00] ozum commented on #255
Thanks @willhoyle

[2019-02-03 06:02] kiaking commented on #93
Now every issue we planned to resolve before version 1.0.0 has completed! 🎉

Now I'll look through current issues to see if there's any bugs that we should fix before releasing v1.0.0, and I would like to refactor the whole doc at this point. Then, make the long awaited release.

We're almost there! 🚀

[2019-02-05 01:08] kiaking opened #286 "Return only the top level record on data creation"
Currently, creation methods such as `insert` and `update` return all entities which were created. For example;

[code]

The reason why it returns like this, instead of just returning a user record, is because when you have nested child relationship, for example, the user has many posts that belong to the author (user), then it was hard to determine which record was actually the top level entity.

[2019-02-05 09:35] kiaking commented on #284
OK, the first and the most, you should avoid setting the value returned from Vuex Getter.

At `mounted` hook in `customer-form` component, you are directly assigning query result, and you are trying to update the value with `v-model`. This is essentially the same as doing something like this.

[code]

Since Vuex ORM is returning Object or Array of Object, technically you might able to modify the d

[2019-02-05 10:14] tvillaren commented on #284
Thanks @kiaking for the answer and code on: https://jsfiddle.net/73yu4tpa/3/

Bottom line is:
* always use `computed` to display information
* always use `$update` (or any commit-related method) to update data

[2019-02-05 10:14] #284 closed

[2019-02-05 11:38] kiaking commented on #284
Great it worked for you! 🎉

[2019-02-06 11:20] clementdubois opened #288 "Bidirectional tree hirarchy query with recursiveAll explode"
Hello there,

I tried to have a tree hierarchy (with nodes, child and parent) but when I try to query the structure with withAllRecursive it quickly explode in memory.

here is a model example :
[code]

And the query to fetch the nodes :
[code]

The first problem is that I just want node's children but I can't control that with withAllRecursive method. Maybe a withRecursive(fields, depth) would he

[2019-02-08 22:34] ajgagnon opened #289 "hasMany not storing array of child ids in parent"
Hi There!

Thanks for a fantastic library! There seems to be an issue with the hasMany method not storing child ids in the parent. I just ran a test on the Todo Example application and it seems to have this issue. Here's the todo item:

![image](https://user-images.githubusercontent.com/2569725/52509808-23bf5380-2bbf-11e9-90f6-cc9aa3890038.png)

And you can see the Use has an empty array for the T

[2019-02-11 16:17] rkolpakov opened #290 ".withAllRecursive() retrieving empty relations and subrelations when key is null"
Hi there.

In my case i have few relationships with keys which might be null. But when i call _.withAllRecurcive()_ method, orm starts retrieving data by this null keys and returns instances with empty fields.

Here is my sample:

[code]

Here is output after ORM processing:
![image](https://user-images.githubusercontent.com/13422270/52576449-23c68a00-2e31-11e9-84d8-1e1b187392ad.png)

Is this the

[2019-02-12 09:26] kiaking commented on #282
@nagwan Hi! Sorry for my late reply. The model definition looks good. We have a test similar to your definition but it's passing so I'm not sure what is going on. Is it possible for you to provide some reproduction code?

[2019-02-12 09:30] kiaking commented on #163
@tvillaren Thanks for the detailed feedback! And yeah basically that is what we should do.

It's just we need to take time to implement this because there're some nasty edge cases for complex relationship such as HasManyThrough or belongsToMany. In those relations, we must update when pivot table got modified as well. Sure we can do that, but it's going to take some work until we finish everything

[2019-02-12 09:35] kiaking commented on #281
@Kleemer Thank you so much! let me check if I can make failing test case for this.

[2019-02-12 09:37] kiaking commented on #214
@SargoDarya Hi thank you so much for the proposal! The PR would be awesome!

Oh I didn't know we needed the interface not the class. Hmm...

[2019-02-12 09:41] kiaking commented on #288
@clementdubois Hi! Thank you for the report!

Ah yeah. That could be nice feature addition.

OK, currently that is how it works. It fetches nested relationship as a new relationship each time. It might fix when we implement index hash spamming discussed at #163. Just for curiosity, how many records do you have?

[2019-02-12 09:44] kiaking commented on #289
@ajgagnon Hi! thank you for the feedback!

Actually this is how it should be. The parent will not store ids for children. Vuex ORM will lookup for the relationship when fetching it.

Does this explanation make sense to you?

[2019-02-12 09:51] kiaking commented on #290
@rkolpakov Oh no that is not what we want. The field should be empty (entirely null) for the `belongsTo` relation. Let me look into this!

[2019-02-12 12:00] kiaking commented on #221
Finally sorry for taking long, now the [Change Flags plugin](https://github.com/vuex-orm/plugin-change-flags) is available as @tvillaren mentioned! I'll be closing this issue out.

Thank you so much @tvillaren for this awesome work! 🎉

[2019-02-12 12:00] #221 closed

[2019-02-12 13:00] #258 closed

[2019-02-12 13:10] rkolpakov commented on #290
Made a PR #291

[2019-02-12 14:52] ajgagnon commented on #289
Ah, okay, makes sense! So I'll need to do a relationship query for that?

Maybe I could submit a pull request for the documentation here if you're up for it

https://vuex-orm.github.io/vuex-orm/guide/prologue/what-is-vuex-orm.html#what-is-it-like-to-use-vuex-orm

![image](https://user-images.githubusercontent.com/2569725/52643760-46918680-2ea3-11e9-847c-7dd2b21d8150.png)

But maybe not necessary i

[2019-02-13 12:06] nagwan commented on #282
@kiaking hi, for me everything worked fine too as long as there are users attached to the account and vice versa, the problem started when i changed the dummy data i used for testing, i wanted to test the case if the account has no users and if the user has any accounts

here is the code
[code]

[code]
[code]

thank u for your efforts and time

[2019-02-14 05:33] bentleyo opened #294 "Issue updating BelongsToMany pivot data when using a composite key"
Thanks for the awesome plugin @kiaking !

I've run into some problems with updating data on a BelongsToMany pivot table when using a composite key. Not sure if I'm doing something incorrectly. Here is a failing test I added to `BelongsToMany_Persist.spec.js`:

[code]

[2019-02-14 05:34] bentleyo commented on #294
Just to clarify, the problem is that the `type` field isn't populated on the pivot table.

[2019-02-14 08:23] phortx opened #295 "Relations with combined primary keys"
... are currently not possible. Can we have that?

like `this.hasMany(Thing, ['key1', 'key2'])`

[2019-02-14 16:49] tinco commented on #179
I don't get it, how would you fill the associations store? Do you mean that your "accounts" are preloaded in a different request? I'm running into this issue as well, but I'm not sure whether it's due to my relationships being polymorphic or something else yet.

[2019-02-14 17:07] tinco commented on #179
Never mind, I was an idiot and had forgotten to register the association model to my database. It populates the association stores automatically for me.

[2019-02-14 21:03] bertBruynooghe commented on #286
I do not think this is a real problem, as destructuring solves this problem rather nicely, I think.

Your first code snippet can be written as:

[code]

And from now on you can refer to `user` and `post` without bothering about the complexity of the object at creation.

I now have a number of situations where I'm rather interested in one of the children, so I wouldn't welcome the change as a good

[2019-02-14 21:16] bertBruynooghe opened #296 "auto-increment on create only"
I have an issue with long keys where an auto-increment on create only would be very handy, or perhaps there's another solution?

The issue is as follows: say my `Post` has a GUID as id, and the `Comment` has a concatenation of the post's GUID with some id that is unique in the context of the Post, and this is the way I get it from the backend. With lots of comments, the store takes up a lot of mem

[2019-02-14 22:03] jasonpolito opened #297 "[ Documentation ] Retrieving Data typo"
https://vuex-orm.github.io/vuex-orm/guide/store/retrieving-data.html#query-builder

![image](https://user-images.githubusercontent.com/2179946/52820530-3da6dd80-307a-11e9-808c-a01c9abcdcaf.png)

[2019-02-15 10:24] kkyouhei opened #298 "belongsToMany is return undefined if nothing references records"
I expected [].

ex: https://codesandbox.io/s/zmzpz0pr4

[2019-02-16 18:53] bertBruynooghe opened #299 "hasMany ignores localKey argument"
This jasmine test fails: `comment.index` contains `post.id` iso. `post.index`...

[code]

[2019-02-16 19:25] bertBruynooghe commented on #296
FYI: I fixed the problem as follows; in multithreaded systems it might create issues, but in javascript it seems save to me:

[code]

[2019-02-16 19:25] #296 closed

[2019-02-16 20:56] getriebesand opened #300 "natural ordering"
Is threre a way to use a custom comparer on orderBy? e.g. with localeCompare?

I need to order like this:
1
2
5
21 a
105

[2019-02-17 04:12] lucasgonzalez0 opened #301 "this.$store.getters.entities/auth/find is not a function"
Hi!

[code]
Error in render: "TypeError: this.$store.getters.entities/auth/find is not a function"

Now, if i remove

it does not generate an error, but no working.
Why does not it work?

[2019-02-17 15:01] kkyouhei commented on #298
this issue close because duplicate.
https://github.com/vuex-orm/vuex-orm/issues/282

[2019-02-17 15:01] #298 closed

[2019-02-19 09:34] kiaking commented on #289
@ajgagnon Yes! You should use `with` chain when you need to load the relationships.

[code]

That would be more than welcome! ❤️

[2019-02-19 09:43] kiaking commented on #294
Oh, yeah I think that test should pass so looks like it's indeed a defect. Let me look into it!

[2019-02-19 09:45] kiaking commented on #295
Ahh... Yeah you are right. We can't do this at the moment. I think there was an another issue about handling composite key ids more nicely, so let me mark this an enhancement along with that!

[2019-02-19 09:46] kiaking commented on #179
@tinco Glad you found a way! Let me know if you have anything else 👍

[2019-02-19 09:59] kiaking commented on #286
Thank you so much for the feedback! I wasn't thinking about destructing. Yeah, your example looks really neet and I kinda dig it.

I see your point as well on how you're interested in child relations. However, there's a thing I'm concerning about is that the entities you get as a return value from `create` or `insert` method merges all nested same entity.

I mean if you insert "Users" that have "P

[2019-02-19 10:00] kiaking commented on #297
Ah thanks! I'll fix it!

[2019-02-19 10:04] kiaking commented on #299
@bertBruynooghe Thank you for the report! Hmmm... this is odd. Let me look into it!

[2019-02-19 10:08] kiaking commented on #296
@bertBruynooghe Hi! thank you for the tips! And I'm glad you found a way out. I think this is safe because currently Vuex ORM runs synchronously. So the order of beforeCreate hook execution should be always same 👍

[2019-02-19 10:10] kiaking commented on #300
@getriebesand Ah, not at the moment. I think this is going to be nice feature addition to the orderBy method. Maybe custom callback as the 1st argument 👍  There are few bugs I have to tackle so implementing this might take a while. But I'll mark this as an enhance meant issue!

[2019-02-19 10:12] kiaking commented on #301
@lucasgonzalez0 I'm not sure. It should work. Are you sure you've registered Auth model to the database?

[2019-02-19 10:15] kiaking commented on #271
I'll be closing the issue for inactivity. Please feel free to reopen it if there's any 🤝

[2019-02-19 10:15] #271 closed

[2019-02-19 10:16] bertBruynooghe commented on #299
@kiaking FYI: it does work if localKey is (part of?) the primary key...

[2019-02-19 10:25] kiaking commented on #299
@bertBruynooghe Oh thanks for the hint!

[2019-02-19 10:25] kiaking commented on #277
And couple of weeks has passed. I think it's interesting idea, though I guess we should focus on version 1 release and other higher priority issues. Anyway, thank you for the feedback! 🤝

[2019-02-19 10:25] #277 closed

[2019-02-19 11:56] #282 closed

[2019-02-19 11:59] #290 closed

[2019-02-19 12:12] kiaking commented on #297
I've fix the doc, and deployed it. thank you so much for the report! 🤝

[2019-02-19 12:12] #297 closed

[2019-02-19 12:15] kiaking commented on #282
This issue is fixed with Vuex ORM 0.31.5 🎉  Thanks @kkyouhei for the wonderful fix!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.5

[2019-02-19 12:48] jasonpolito commented on #297
Great package 👍

[2019-02-19 13:27] kiaking commented on #297
Thank you so much for the such a nice word! ❤️

[2019-02-20 13:28] gegenschall commented on #231
This has been a breaking change for me. I cannot effectively upgrade Vuex-orm.
Is there any way to get back to the old behaviour where this works?

[code]

[2019-02-20 14:23] nagwan opened #303 "ManyToMany relationship updates only one side with CRUD operations"
i am trying to work with many to many relationship in a complete CRUD system
the system is all about users each has an account or more, where the same account may be shared among group of users.

here in the models
[code]
[code]

[code]
if we try to update an account everything works just perfect and all the fields updated except for the users field, the changes are discarded regardless we added o

[2019-02-21 05:00] twnaing opened #304 "TypeError: Cannot read property 'toString' of null"
My Model has the following field definition

[code]
I am using `vuex-orm` with `plugin-axios` (both setup as plugins in Nuxtjs).

With the following code

[code]

error arises.

related to #151 and the error arises from [vuex-orm.js:2773](https://github.com/vuex-orm/vuex-orm/blob/master/dist/vuex-orm.js#L2773) because `newId` is `null` at that point.

[code]

What am I doing wrong? or is it a bug?

[2019-02-22 00:37] vesper8 commented on #252
really looking forward to lazy loading being available in the master! : )

[2019-02-24 10:52] kkyouhei commented on #299
Hi @kiaking I trying this issue.

[2019-02-25 13:11] kiaking commented on #231
@gegenschall Hi, sorry for the inconvenience. It was a necessary change to be able to store class instance directly to the store and there's no workaround without changing your model schema.

You need to change your schema to something like below.

[code]

Of course, you have to change wherever you use `nodes` property too...

[2019-02-25 13:19] kiaking commented on #303
@nagwan Hi! thank you for the report.

I think you're not using `fetchUsers` defined as `computed` property in your template? For change to be visible – reactive – you need to use that computed property to display records.

[2019-02-25 13:23] kiaking commented on #304
@twnaing Hi! Thank you for the report! Not sure what is happening. Did you register the model to the database? If yes, is it possible for you to create simple reproduction code for this? It might be a defect.

[2019-02-25 13:24] kiaking commented on #252
Oh yes me too...! Just need little more while though 😢

[2019-02-25 13:25] kiaking commented on #299
@kkyouhei Thank you so much!

[2019-02-25 13:26] #299 closed

[2019-02-25 13:53] nagwan commented on #303
@kiaking  if u mean in display-users component, no i am following the same pattern in the users side, i just found the issue became so long so i wrote only the accounts side

in display users-component i am using the following computed to fetch users
[code]

thank u for your efforts and time

[2019-02-25 13:55] kiaking commented on #303
@nagwan Oh, OK. Thank you for the explanation. I need to take a bit time to look into this. I'll get back to you if I see any progress!

[2019-02-25 13:59] nagwan commented on #303
and btw if i am not using computed no changes will appear in the users side, but what i have here is different the account is added to the selected users but the users don`t added to the account

thank u waiting for your replay

[2019-02-26 08:28] bertBruynooghe commented on #299
Thank you!

[2019-02-26 21:04] yowzadave opened #307 "orderBy - null values sort ahead of defined values"
Perhaps this is by design, but it seems that sorting using `orderBy` sorts entities with null values _ahead_ of entities with defined values. This is not the way ActiveRecord works—in that case, any undefined value will sort after any defined value. Is there a way of using `orderBy` on a field that has some null values, and having the null values sort to the end?

[2019-02-26 21:17] danielnolan opened #308 "Is there a way to sort by the order inserted"
I'm trying to use this with vuedraggable and I need to be able to sort by the array index not by id or some other model attribute.

[2019-02-27 10:06] gegenschall commented on #231
Allright. It doesn't make my code look nice but I guess that's the only way :)
Thanks anyway!

[2019-02-28 11:12] janKroll opened #309 "WhereId and WhereIdIn"
This Query-Functions **whereId** and **whereIdIn** currently dont exists although they are mentioned in the documentation.

https://vuex-orm.github.io/vuex-orm/guide/store/retrieving-data.html#query-builder

The current alternative is User.query().where('id', id => [1, 2].include(id)).get()

[2019-03-02 02:33] trevorpe opened #310 "Add single table inheritance (STI) feature."
This doesn't seem possible currently, but is there any plan (or even ability: I'm not a JavaScript guy) to have inheritance mapping similar to [Doctrine's single-table inheritance](https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/inheritance-mapping.html#single-table-inheritance)?

I have a case where I have multiple types of tasks, each a subclass of `Task`. It seems that t

[2019-03-02 11:50] dousybox opened #311 "Improve the ORM relationship and methods"
I have collected some useful ORM relationships, and try to corresponding them to Vuex ORM methods.

But some of them have no corresponding methods.

Can anyone help me improve the table below?

### normal
|Relation                       |Method       |Mapping|Example|
|-                              |-            |-      |-      |
One To One                      |hasOne       |1 -> 1 |User.id -> P

[2019-03-04 10:09] cmartinho opened #312 "Many to Many - Nuxt SSR - Pivot not updating"
First of all, thank you for the awesome work and the time you put into this @kiaking.

Now, i've been having an issue with Nuxt (2.0.0) and Vuex-orm (0.31.6) pivot Base State.

I've got a many to many relationship declared and i'm using AsyncData to get the payload and then insert them into the models.
When running it from the SSR, the **Pivot table does not get filled** (but the blocks / entry mo

[2019-03-04 17:56] tvillaren commented on #89
Hello,

I build another version of a soft-delete plugin for Vuex ORM, based on @cjcrawford 's version but I didn't want to overwrite the Vuex ORM `delete` method so instead I implemented a `softDelete` method (with the same signature).
I also needed a `$isDeleted` boolean flag to be set so added that in.

My plugin is available at https://github.com/tvillaren/vuexorm-softdelete-plugin if anybody i

[2019-03-05 16:49] rkingon commented on #310
We have a similar situation.

Say we have a base model `Loan` and two inheritance models `PersonalLoan` `AutoLoan` that both `extend` `Loan`. `User` model `hasMany` of this inheritance collection.

(trying to use a primitive example).

An API payload could look something like:
[code]

Upon digestion of the API payload, it would be nice to assign the class based on `type` -- so if `type === 'PERSON

[2019-03-05 19:53] rkingon commented on #310
I forked an existing Code Sandbox to help illustrate. https://codesandbox.io/s/ppk0lplz2j

What we have here is a `User` that `hasMany` `Loans` -- We have additional models `PersonalLoan` `AutoLoan` which extend `Loan` -- trying to find a way to tie the `Loans` to their respective models based on the `type` attribute.

The reason is that we may have very different class methods, computed propertie

[2019-03-06 20:31] rkingon commented on #310
As a test, I tried to "nest" the "types"

Here is a codesandbox: https://codesandbox.io/s/k9q5w2wmj7

I've changed the DTO a bit to have "specific" fields nested within the parent, so essentially:
[code]

it's not my favorite approach, but would work...

sorry to blow up this thread -- just something we're desperately working on!

[2019-03-07 06:50] trickymast3r commented on #179
@tinco same here i wasted 3 hour to digg on vuex-orm source ... and after this read i know i forgot to register XD XD XD

[2019-03-09 01:28] dousybox commented on #312
You payload should like below:
(Entry Example):
[code]

[2019-03-10 06:30] Leruiz opened #314 "[Error] Reflect is undefined in IE"
When use the latest version, e.g. v0.31.6, there is an error ``` Reflect is undefined```  when running in IE. Polyfill has been imported into the project, however, which did not work. So I used an older version, v0.30.0, then solved this problem.

[2019-03-10 12:24] kkyouhei commented on #309
Hi @janKroll

What's your vuex-orm version ?
whereId and whereIdIn maked from vuex-orm v0.31.1 bacause please confirmation your vuex-orm version

https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.1

[2019-03-10 16:28] Gilux commented on #303
If it can help, I think I ran into a similar problem :

I have Company, CompanyTechno and Techno models
[code]

In my AddCompany component which is a form, I have a multiple select which gives me an array of techno IDs.

After saving my new `Company` entity, I have 2 `CompanyTechno` entities created, each one with `techno_id` filled, but `company_id` is null.

As a temporary fix, I replaced `id: t

[2019-03-11 06:43] nagwan commented on #303
@Gilux , it looks good but what is the use of `Date now()`
  as a temporary solution also i tried something different, i used promises to get the new added account id then i used  `` User.query().whereIdIn(newAccount.users).get()``
then i startd to map over each user and add the new account id to  the accounts array associated to each user , and i dropped the relationship 😞

[2019-03-11 11:55] Gilux commented on #303
@nagwan I use `Date.now()` to get the current timestamp (in milliseconds). In my use case, it's impossible that a user may create 2 `Company` entities at the same time, so I'm sure it will be unique and I won't encounter duplicate primary key issues.
But it remains certainly a dirty solution 😆

[2019-03-12 06:22] nagwan commented on #303
so we will have to wait till vuex orm gives us a clean solution 🙃

[2019-03-12 14:56] pimeo commented on #303
@kiaking After made some researches few days ago, I think the main trouble is about using the increment method in Model class that does not work correctly when it is coupled to a primaryKey and used as a relation (and also whenever the primaryKey property name use to match any relations).

Relationship management works if the property name used as primaryKey is pre-filled before inserting record i

[2019-03-12 15:52] kkyouhei commented on #308
Hi @danielnolan

I use vuedraggable and vuex-orm by my project and It is usable no problem.
Could you tell me your problem please ?

[code]

[2019-03-12 16:13] kkyouhei commented on #307
Hi @yowzadave

Thank you for your report!
Maybe there is no way to solve the problem now...
[code]

But I'll be able to resolve this problem.

[2019-03-12 16:46] danielnolan commented on #308
@kkyouhei My issue is persisting the order to the store. I have a group of lists, if I move one of the lists and try to save the order, when the lists are reloaded they are in order by id, since the orm orders by model id by default. I'm using v-model like the vue-draggable docs show for using with vuex.
[code]
[code]

[2019-03-13 06:08] nagwan commented on #303
@pimeo

i don`t understand this part

[2019-03-13 11:37] dtkahl opened #317 "Usage of Object.assign is not polyfilled properly"
The files in `dist/` are using `Object.assign` and most of the time it is polyfilled properly. However in the function `mapValues` its used without the polyfill which causes IE11 to stop working.

[code]

There is a workaround for this issue but I think this should be fixed to be compatible with IE11.

**Workaround**
Add this to the `vue.config.js` of your project:
[code]

[2019-03-13 15:25] RomainLanz commented on #266
Hey all! 👋

Has this been released yet?

[2019-03-19 10:12] RomainLanz commented on #93
Hey 👋

Looking at the issue #171 it seems that you want by using the `nullable()` approach. I really believe having a `notNullable()` would be better. This is what we are using in Adonis for our migration. The main reason we do so is because there's higher chance that the field is null by default than it's not.

Nevertheless, this isn't so important 😝

I'm currently using TypeScript with your libr

[2019-03-20 16:18] tvillaren opened #319 "JSON.stringify ignores "internal fields""
Following update introducing the `toJSON` method in the Model class (see https://github.com/vuex-orm/vuex-orm/issues/255), the JSON.Stringify method (which uses the Object-defined `toJSON` if it exists, as explained on [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#toJSON()_behavior)), now ignores the internal fields introduced by Vuex ORM and

[2019-03-21 19:27] bertBruynooghe opened #320 "Issue with foreign key as part of the primary child key."
Multiple insertion with same parent goes wrong if foreign key is part of the primary key:

[code]

[2019-03-23 00:59] kkyouhei commented on #320
Thank you for report!
I’m going to look your report in a few day.

[2019-03-24 11:09] kkyouhei commented on #320
I found first aid.
add post_id to Comment data.

[code]

[2019-03-25 07:41] bertBruynooghe commented on #320
Yes, the second testcase seems to be fixed by
https://github.com/vuex-orm/vuex-orm/pull/306

As for the first aid: it is exactly to avoid this kind of things that I choose to use Vuex ORM ;)
But it could come as a stopgap solution for now ...

[2019-03-25 09:02] kkyouhei commented on #320
Sorry, But if you need a quick fix please use first aid.
I'll find out how to fix in the meantime.

[2019-03-26 10:13] josh-m-sharpe commented on #159
I too had this error: `Cannot read property 'hasPivotFields' of undefined`

In my case it was caused by attempting to use a model before registering it correctly.  That is, I forgot to include this line: `database.register(AwsSync, aws_sync)`

It might be nice to have a slightly more useful error message in this case?

Cheers

[2019-03-26 14:39] #294 closed

[2019-03-26 14:49] kiaking commented on #294
@bentleyo Sorry it long, but this is fixed with Vuex ORM 0.31.7! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.7

[2019-03-26 21:03] lino commented on #304
The issue is that the default value of id is null and the IdFixer component is broken, as it accesses toString of null.

[2019-03-27 00:06] bentleyo commented on #294
Awesome! Nice work @kiaking and @kkyouhei 🎉

[2019-03-27 04:38] go4cas opened #321 "[FEATURE REQUEST] - Access to fields in pivot model"
Currently when defining a many-to-many relationship, one does not have direct access to all the fields in the pivot model, from the entity.

[2019-03-28 12:19] sinasita opened #322 "freeze and stop reactivity"
Is there a way, to put huge datasets in the orm store and retrieve the data, but avoid keeping them reactive to boost performance?

[2019-03-28 13:41] marianagarciaferreira opened #323 "Use with preFetch ?"
i try use preFetch quasar framework but store no change.
how use with pre initial state?

[2019-03-28 14:56] kiaking commented on #231
@gegenschall Sorry for that and so sorry for my late reply. I hope everything works for you.

[2019-03-28 15:12] #323 closed

[2019-03-28 15:13] marianagarciaferreira commented on #323
Is devtools bug!

[2019-03-28 15:55] innovate-invent opened #324 "Missing documentation"
Please document API methods discussed in documentation.
Expected parameters and return values/types need to be specified.
Some of the methods I am referring to are Model.insert(), Model(constructor), Model.$save(), Model.attr(), Model.hasMany()... etc.

[2019-03-29 10:52] lino commented on #304
The issue can be mitigated by changing primary keys to this.increment()

[2019-03-30 06:14] kkyouhei commented on #322
Hi @sinasita

vuex-orm have not your need function currently.

[2019-03-30 07:03] kkyouhei commented on #321
Hi @go4cas

I don’t know what you want to do.
Please give me example code?

[2019-03-30 07:55] kkyouhei commented on #314
Hi @Leruiz

Thank you for your report.
I research this problem.

[2019-03-30 16:02] josh-m-sharpe opened #325 "app grinding to halt when loading many objects"
My app has 4 models.  The app initially just loads Folder data (via an API) and then loads that data in the vue like this:

[code]

If a folder is opened, I make a second API call which loads all the folder's files and their associated ExternalDriveSyncs and AwsSyncs.

That folder data gets loaded into vuex-orm like this:

[code]

For one folder (that has 305 files) the app grinds to a halt.  It b

[2019-03-31 03:41] HenryTabima commented on #288
watching your code I realized that your `parent: this.belongsTo(Node, "parentId"),` should be `parent: this.belongsTo(Node, "id"),`

[2019-04-01 05:49] Fnxxxxo opened #326 "Are there any object projection utility provided?"
I means object properties mapping. Something like the Schema of Normalizr which can be used to map complex and wired data coming from API.

[2019-04-01 09:58] go4cas commented on #321
@kkyouhei ... something like this:
`Employee` model:
[code]
`App` model:
[code]
`EmployeeApp` model (pivot table):
[code]
I can easily get all the `Apps` assigned to an `Employee`, but how do I get to `appUser` (which is on the pivot model)?

[2019-04-02 15:17] jpenaroche opened #327 "Insert custom pivot Fields"
Hi, First at all... awesome library!!! But i have a huge problem. How can i insert custom fields in my Many To Many Polimorphic Relation.
This is my gist of relationships...
https://gist.github.com/jpenaroche/16d289a97c2cedd889d7172ec41a92d4

[2019-04-02 15:20] jpenaroche commented on #327
I have two custom fields in my pivot Table (Mediable) but when i pass my api data vue-orm doesn't insert these fields (order, tag) :\

[2019-04-03 09:25] stygmate opened #328 "How to define fields that will not be serialized ?"
all is in the title !

[2019-04-03 09:36] tvillaren commented on #328
Hello @stygmate,

You want to add "internal fields" to your models that will not be exposed when using `toJSON`?
You can read this issue exposing which fields are serialized: https://github.com/vuex-orm/vuex-orm/issues/319

If you want to have other fields, just don't add them to the `static fields()` definition :)

[2019-04-03 10:57] stygmate commented on #328
@tvillaren

where and how ?

[2019-04-03 11:15] tvillaren commented on #328
[code]

[2019-04-03 11:39] stygmate commented on #328
@tvillaren that simple 😭 ! thank you !
is there a way to enforce typing ?

[2019-04-03 12:03] tvillaren commented on #328
You mean, like when using the `this.string(null)` from Vuex ORM?

If so, I'm not sure to understand fully what is the use for the internal field you want.
If you want it to still be handled by Vuex ORM, you probably want to keep it in the `static fields()` definition and maybe create a plugin to ignore some fields for serialization.

What is more precisely your need?

[2019-04-03 12:14] stygmate commented on #328
@tvillaren don't bother with that, I have found my way.

out of scope question:
how to avoid collision between id created by increment by vuex-orm and id coming from my api ?
Any sort of general guideline ?
I see that $id become "_no_key_x" when id is null.

Have i to create relation filling the localkey with $id ?

like:
[code]

[2019-04-03 12:19] tvillaren commented on #328
I'm not familiar with Vuex ORM auto-increment feature (I use GUIDs for all my IDs).
You can join us on [Slack](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTI0YjE5YmNmMDIxNWZlNmJhM2EyMDg1MDRkODA4YmQwMDU5OWRkZmNhN2RmOTZkZGZkODQxZTRkYjhmYmJiNTY), probably more people will be able to help there.

[2019-04-03 20:17] stygmate opened #329 ".toJson() not always serializing relation."
I'm wondering why when i do `MyModel.find(x).toJson()` not all my relation are serialized. and it work with `MyModel.query().withAll().whereId(x).first().toJson()`

[2019-04-03 20:24] #328 closed

[2019-04-04 08:09] tvillaren commented on #329
You need to load the relation you want to serialize.
That's why it works in the second case.

If you want to load specific relations, you can use `with('bars')` (see https://vuex-orm.github.io/vuex-orm/guide/relationships/retrieving-relationships.html)

[2019-04-04 10:15] #329 closed

[2019-04-04 14:08] jpenaroche commented on #312
@dousybox  Well, i have this Many To Many Polimorphic Relation, and i pass the payload with the same fieldnames as declared on vuex-orm models..., but vue-orm doesn't insert these fields (tag, order). But the weird thing is that i set primaryKey attribute and then those fields are inserted but the query builder doesn't load.
My Other question is, when i set my primaryKey array vuex-orm duplicates

[2019-04-04 22:01] pimeo opened #330 "Model query using the with handler returns always all entities"
I found that there is a mistake when making a condition using the `with` handler. To better understand the issue, I have covered the problem by creating a test based on yours owns. It is possible that I haven't understood the way to use the with handler but to be sure I prefer to share you my test to detect if it is or not a critical issue.

I have seen that in order to query a model relationship

[2019-04-08 03:23] okatsuralau commented on #314
I was able to fix this issue including a pollyfil for the Reflect object.

https://github.com/okatsuralau/vuex-orm/blob/master/src/polyfills/index.ts#L3

[2019-04-08 13:01] kiaking commented on #289
Closing this issue since it seems to be resolved by the comments. Please feel free to reopen it if you have any additional issues! 🤝

[2019-04-08 13:01] #289 closed

[2019-04-08 13:04] kiaking commented on #301
@lucasgonzalez0 Hi! any news on this issue? Just checking in.

[2019-04-08 13:05] kiaking commented on #304
Ah thank you for the report! Need to look into it. I'll mark this as a bug and try making test case first.

[2019-04-08 13:12] kiaking commented on #307
@yowzadave Also mentioned in PR #316 but I've also confirmed that this is same for the lodash, so I would like to keep it as is at the moment.

I too understand that it seems bit wired because `null` is kinda ultimate 0 (the smallest). Also, I understand that we don't have to follow lodash spec, but since lodash is widely used library so I think it make enough sense to stick with it.

Thank you so

[2019-04-08 13:12] #307 closed

[2019-04-08 13:14] #317 closed

[2019-04-08 13:21] kiaking commented on #317
This is now solved with Vuex ORM 0.31.8 thanks to @kkyouhei. Thank you @dtkahl for the report!

[2019-04-08 13:31] kiaking commented on #311
@dousybox Hi! Thank you for the detailed map! This is amazing. Coming from Laravel backend, I didn't know most of this. I'm not sure if Vuex ORM should have full set, but sure this issue is going to be a dictionary to look up when considering a new relationship implementation.

I would like to focus on other issue that stopping Vuex ORM hitting v1.0.0, but I would like to keep this issue open unti

[2019-04-08 13:44] yowzadave commented on #307
Thanks for the consideration—understand that there are differing opinions on the right way to handle this.

[2019-04-09 10:31] SebastianSmolorz commented on #314
I am still seeing this problem in 0.31.8 running in ie11

[2019-04-10 07:20] bertBruynooghe opened #333 "how to indicate required fields"
It would be very handy to mark fields as required as is done in many other ORM frameworks.
Especially primary keys should be able to be marked as not nullable, as this has lead up to a number of hard to discover bugs in our app lately...

I guess we ourselves could do some tricks with intercepting the dispatch on every model, but this is rather tedious...

[2019-04-10 21:01] mhluska opened #334 "Support JSON:API spec"
It would be interesting if this supported the [JSON:API spec](https://jsonapi.org/).

It seems like currently the format supported by vuex-orm is the default JSON serialization format of Rails? Currently I am converting my JSON:API responses to an intermediate format that vuex-orm understands which seems to negate the performance benefits of JSON:API.

[2019-04-11 08:17] kiaking opened #335 "toJson method for collection"
Request from Slack. It might be nice to have `toJson` method that can convert all models into POJO.

Maybe we should wrap the result with Collection class instead of an plain Array 🤔  Because people may want to do things like;

[code]

This case, the static method can’t handle it.

[2019-04-11 09:18] malinushj commented on #327
hi @jpenaroche !
I experienced a similar issue because vuex-orm will query the `mediable_type` by the entity name when making the relationship. In your case `mediable_type = 'users'`. If you don't have that in your data then it won't work

[2019-04-11 09:20] malinushj commented on #327
As per the order and tag, are those just primitve data types? int and string?
Can you add a gist of an API response example?

[2019-04-11 09:27] kiaking commented on #89
@tvillaren This is wonderful! Great job 🎉

I'm really on to this. If you don't mind let's merge them together.

[2019-04-11 09:28] malinushj commented on #321
@go4cas You can map the pivot table as you would with any model:
`Employee` model:
[code]

`EmployeeApp` mode:
[code]
... Something like this, might not be 100% but you get the idea.
And then you can access the many to many relations through the pivot model

[2019-04-11 12:05] geraldbiggs opened #336 "Accessing $namespace without argument returns undefined"
Present:
User.$namespace() returns 'entities/users/undefined'

Desired behavior:
User.$namespace() returns 'entities/users' or 'entities/users/'

Workaround:
User.$namespace('')

Personal use case: I persist to non relational storage. Much of the data is dynamic to the point of each entity containing a roadmap to it's appropriate vuex module.

[2019-04-11 13:16] jpenaroche commented on #327
thanks @malinushj for your answer, this is a link to another posted issue with my classes and with the response data that i received from api..., you can see in my screenhots, how the esctructure of my model, when i set primaryKey Array, the model is ok, but vuex-orm doesn't retrieve that model, instead it gives me another ghost model  (second photo) with the pivot data doesn't setted :\ , so my p

[2019-04-11 19:23] malinushj commented on #327
@jpenaroche The pivot models are added twice because once you are receiving your pivot from the api as `mediable_type = 'App\Src\Domain\Models\User'` which is different from your entity name set in the User model

[2019-04-11 19:28] malinushj commented on #327
I'll leave you an example of what works for me:
[code]
[code]
[code]
[code]

[2019-04-11 21:30] vesper8 opened #338 "anything equivalent to Mysql 8 / Postgres Window methods?"
Given a single id, and given a pre-determined ordering, I want to know what are the previous and next id to the one I'm currently displaying. Is there a way to achieve this with Vuex ORM currently?

For instance say you have posts ordered by created_date, and their Ids are 4,9,2,10,14,18,2,21. But instead of just 8, you have 8000.

And you're currently viewing post ID 14. How do you know in an eff

[2019-04-12 12:55] vesper8 opened #339 "how to return only specified columns ?"
I mean like this

[code]

Is it possible? I tried adding the array to query(), to get(), to all(), to select(), to columns()

It doesn't look like this exists right now?

[2019-04-12 12:59] vesper8 commented on #338
I got it to work with this but this is only for a very simple example where the ordering is by id, will have to tweak it to allow to work when more dynamic conditions/sorting is applied

[code]

[2019-04-12 14:11] jpenaroche commented on #327
@malinushj  well, i changed my mediable_type attribute from Api to User and i setted my entity attribute to User, but i'm still having the same result..., i mean, those attributes.., tag and order doesn't load from response, now vuex-orm doesn't create ghost model, but tag and order attributes still are null :(
Anyway , in your example you don't set any exlusive attribute in Taggable Model, you on

[2019-04-12 14:12] jpenaroche commented on #327
Try to set other attributes in Taggable on pivot model, an then watch in devTools the store...

[2019-04-12 14:40] jpenaroche commented on #327
Now, testing i discovered that when i set tag and order attributes in relathionship declaration...

`export class User extends Model {
    static entity = 'User'

    static fields() {
        return {
            id: this.attr(null),
            name: this.string(''),
            email: this.string(''),
            active: this.boolean(true),
            is_admin: this.boolean(false),

[2019-04-12 16:17] malinushj commented on #327
Hmm, here a possible fix:
[code]

I'm using this pattern quite often, hope it does the trick for you as well

[2019-04-13 08:01] kkyouhei commented on #314
Hi @okatsuralau @SebastianSmolorz
@SebastianSmolorz  Thank you for PR.
By the way, Is it fixed to Reflect.keys change to `const keys = Object.getOwnPropertyNames` ?

[2019-04-15 05:38] kiaking commented on #301
Closing the issue due to inactivity. Please feel free to reopen it if you gave anything 🤝

[2019-04-15 05:38] #301 closed

[2019-04-15 09:19] kiaking commented on #310
Hi! Sorry for my late reply. Maybe I'm not getting your requirement, but to extend the model, I think you could do this?

[code]

This is going to create a fields that combines both parent and it self.

[2019-04-15 09:20] kiaking commented on #179
Yeah, we should have more friendly errors for sure :/

[2019-04-15 09:21] kiaking commented on #309
@janKroll Hi! Any update on this? Maybe you meant that the function does exist but not documented? (That should be fixed yes.

[2019-04-15 09:25] kiaking commented on #308
@danielnolan Ah, currently no. You need to have field to determine the order so you can sort by that.

I agree that there is a situation you might want keep the order of records that has been inserted, but not sure if this can be easily done. Because Vuex ORM works kinda like DB, any component can insert record to the Store.

So even you can preserve the inserted order, another component might jus

[2019-04-15 09:27] kiaking commented on #266
@RomainLanz Yes it should!

[2019-04-15 09:29] kiaking commented on #93
Ahh Interesting. Maybe it is. Or at least, if we set `nullable`, make the default value as `null`.

[code]

[2019-04-15 09:33] kiaking commented on #319
Oh, thank you for the report! Yeah, this is a problem, and we should fix it. Currently, we are just calling `$toJson` method on the model, and that is why this is happening. We should have a separate method that stringily everything because yes this might break Nuxt integration as well in some occasion.

[2019-04-15 09:36] kiaking commented on #159
@josh-m-sharpe Thank you for the report! Yes, we should have better error messages :/

[2019-04-15 09:38] kiaking commented on #324
Oh yes we should! Thank you for mentioning. I'm planning to revise the documentation before we hit v1.0.0 so stay tuned!

[2019-04-15 09:42] kiaking commented on #322
@sinasita Unfortunately not at the moment. But even we were to implement such feature, I think it should be made as a plugin. Since Vuex ORM is a wrapper for the Vuex, unless Vuex supports such things natively, I don't think Vuex ORM should either.

Also, there should be many ways to do this with integrating with other libraries such as Loki maybe. I'll keep this issue open as an enhancement in ca

[2019-04-15 09:49] kiaking commented on #325
Hmm... 1208 records is not small for the frontend app, but still I don't think it's too big for Vuex ORM. We have performance test case with more than 4000 records and it finishes in about 10~15ms.

I'm guessing there's some N+1 thing going on. Could you paste the Vue Compoent code where you actually fetch and render the records?

[2019-04-15 09:52] kiaking commented on #288
@clementdubois Hi! Any updates on this?

[2019-04-15 09:53] kiaking commented on #326
@Fnxxxxo Not at the moment. I agree that it should be useful to have this feature. Do you have any proposal API for this?

[2019-04-15 09:56] dantodev commented on #143
Hi @kiaking, Since 0.27.0 the `make` method is missing on the model instance. You suggested me to use this one. Is there any replacement? The `new` Method is not doing the same thing. I want to get a Model instance with default Values without persisting it to the store.

the `make` method internally used a method called `fill` which is gone as well. But there is also the method `$fill` could this

[2019-04-15 10:05] kiaking commented on #330
@pimeo Hi! thank you for the feedback!

The result is expected. To get the "users" which has matching relation constraints, you should use `has` or `hasWhere`.

The `with` constraint limits the number of relation, not the model that is queried.

So for your example, it is expected that you get all users. To get only the users that have posts with `published` value of `true`, you need to do this.

[2019-04-15 10:07] kiaking commented on #333
@bertBruynooghe Hi! Thank you for the feedback. I agree, it is nice to have validation for the fields.

We should implement this...!

[2019-04-15 10:09] kiaking commented on #334
@mhluska Hi! Thank you for the feedback! I think if we have #326, we could do this. I'm not 100% sure if the core library should have JSON:API mapping feature built in (it might should be a plugin) but I agree that we should have some kind of way to map data structure.

[2019-04-15 10:11] kiaking commented on #336
@geraldbiggs Thank you for the feedback! Yap, that is how it should be. We should improve this one. 👍

[2019-04-15 10:13] kiaking commented on #339
@vesper8 Thank you for the feedback! Currently you can't do this. But, the things is Vuex ORM is accessing JS object directly in Vuex Store, so you might not need this feature? I mean it doesn't change much on performance perspective.

Could you elaborate a bit more on your use case?

[2019-04-15 10:16] kiaking commented on #338
@vesper8 Hi! Thank you for the feedback. Yeah this might be a tough feature. Currently, we store all records as objects, so the order is not guaranteed (even the order of ID could be different). So as you mentioned, the only way you can do this is by something like your example code.

Maybe we could add method like `next` and `prev` to achieve this.

[2019-04-15 10:18] kiaking commented on #314
Hmmm. maybe we should import core-js stuff for all possible polyfills...

[2019-04-15 10:20] kiaking commented on #143
@dantodev Hi! Sorry for many confusion here. Yes, you can use $fill, but it's pretty much same as doing `new User({ ... })`. Would this work for you?

[2019-04-15 10:24] dantodev commented on #143
If this results in creating a model instance without storing an empty model to the store this would work for me.

[2019-04-15 10:32] kiaking commented on #143
@dantodev Yes, that is what it does. It will create a model instance, but it will not store them to the store.

[2019-04-15 11:28] trevorpe commented on #310
Thanks for the reply, @kiaking.

I think the feature both I and @rkingon were referring to would be handling the polymorphism of this inheritance tree *in relationships* (i.e. the inverse side of that loan-to-user relationship). Currently, it seems that one must create a separate entity. Essentially, the difference is that `type` key refers to the *current entity*, not another through a relationsh

[2019-04-15 15:10] rkingon commented on #310
@trevorpe 💯

[2019-04-15 15:52] sinasita commented on #322
There is a way for vuex, when data gets passed via Object.freeze(data)

[2019-04-15 18:17] jpenaroche commented on #327
Ok, thanks @malinushj  , with your fix I inserted all pivot data inside pivot attribute, but i can't make a query with pivot attributes so, i included another attribute which contains the relation with Mediable model, and i tested with my query and it works!!!, but only works when i don't set the primaryKey array in Mediable model.
To summing up, with your fix and the another attribute to set the

[2019-04-15 18:36] pimeo commented on #330
Hi @kiaking

Thanks for you answer. I will test your example to verify that the expected value is right (and I can provide you the test if you want to add to the current tests).

Also to be clear with the documentation when I see the following example:

[code]

Can you confirm me that this is a valid and expected code/output result, and that we won't have posts as results with published state set

[2019-04-15 21:24] jpenaroche commented on #327
Ok i did it with this fix... is a little tricky and i think is not optime but i couldn't find another way to make it.
[code]

[2019-04-16 00:33] kiaking commented on #310
@trevorpe Thank you for the clarification! I think I understand now.

This is an interesting idea. I have no experience with Doctrine but never done the same in ORM like Eloquent or Active Record.

Currently, all relationship refers to a single entity (which in this case would be an intermediate table which has `morhTo` capability). I think technically it is possible to refer to multiple entities.

[2019-04-16 00:35] rkingon commented on #310
@kiaking I am surprised you have not used this in Active Record -- it is where I learned it from!

https://api.rubyonrails.org/classes/ActiveRecord/Inheritance.html

[2019-04-16 00:39] kiaking commented on #322
@sinasita Oh, thank you for the information! I think we need to check if that is really going to boost performance or not. I'm bit worried about it because Vuex ORM uses a function as a getter and Vuex would not cache the result. But it might stop calling the function if the store state is indeed non-reactive.

However, making whole entities freeze with some global option might be easy to do, it w

[2019-04-16 00:44] rkingon commented on #310
@kiaking I think ideally, you would not specify the `type` on the relationship level, but rather in the model.

Very similar to `fields()` we can have `types()` where you build a map of types. The `key` is the possible value of the attribute `type` and the `value` is the `Class`

[code]

This way you can map out the expected types. By simply passing `type` as an argument, you wouldn't necessarily

[2019-04-16 00:53] kiaking commented on #330
Ohh sorry yeah that documentation's comment is a bit confusing. It sounds like it returns only the matching "users" rather than "posts".

Yes. We have a simpler test case for this.

[code]

Here there are 2 posts relates to the user with id of 1 but we only retrieve the post with the id of 1. If we were to fetch all users on above test case, then the result would be like below.

[code]

[2019-04-16 01:18] kiaking commented on #310
Thank you for the reference! Well I'm too Laravel guy I guess: )

This is pretty cool and I'm willing to go for it. But first, I need to focus on fixing other bugs and publishing v1.0.0, but I would like to keep this issue open as an enhancement. Meanwhile, maybe someone could tackle this issue.

[2019-04-16 07:39] pimeo commented on #330
Ok now it's clear ! Thank you for your response. I will close the ticket.

[2019-04-16 07:39] #330 closed

[2019-04-16 07:50] sinasita commented on #322
Thank you for being interested in the usecase...

It's about the configuration of a book. There are some presets from different categories (coming once from an API) and they never change, but they can be added to the product. So what's done so far is, that those presets are no entities of the vuex-orm, because I experienced some performance issues, when there were loads of them. I added them seper

[2019-04-16 09:10] kiaking commented on #330
Great! Sorry for the confusion. I'm planning to rewrite the whole documentation before hitting v1.0.0 so I'll make sure to update doc to be easier to understands. Thank you for the feedback! 🤝

[2019-04-16 09:20] kiaking commented on #322
@sinasita Thank you so much for the explanation! So for your case, freezing a single entity (the presets) is required. I think we could implement it relatively easy. Having `freeze` option at the model might do well.

I would like to test the performance difference and such before merging it to the core though. I'll mark this issue as an enhancement for now. I need to tackle other bugs before maki

[2019-04-16 12:44] kiaking commented on #89
Now Vuex ORM Soft Delete plugin is refreshed! It has v1.1.0 release. Due to that, I'll be closing this issue. If you find anything, please open an issue at the plugin repo! 🤝

[2019-04-16 12:44] #89 closed

[2019-04-16 13:51] ChasLui commented on #333
Recommended reference to this project https://github.com/hapijs/joi

[2019-04-16 14:41] josh-m-sharpe commented on #325
Folder has many files.  The initial request to retrieve just folder data looks like this:

[code]
This request only retrieves folder data.  There is no nested/associated data in the payload.

The app makes subsequent requests (after clicking a link) to retrieve a given folder's files:

[code]

This payload does have nested data for ExternalDriveSync and AwsSync.  So these requests tend to have a a

[2019-04-16 15:02] rkingon commented on #310
I took a quick peek and realized the project is in TypeScript. I've yet to dabble in TS, so I might do more harm than good, unfortunately.

For example purposes, here is STI in Laravel: https://github.com/tightenco/parental

[2019-04-16 23:47] kiaking commented on #333
@ChasLui Thanks for the reference! 🤝

[2019-04-16 23:59] kiaking commented on #325
@josh-m-sharpe Thanks for the info!

This part bugs me. Even you have thousand of records, fetching list of records wouldn't be that slow since Vuex ORM iterates only once per entity. Even you have 2 relationship from Folder to ExternalDriveSync and AwsSync, Vuex ORM will only iterate 3 times for 1 fetch request.

So I'm guessing there's some part in your app that are trying to fetch records many

[2019-04-17 00:05] kiaking commented on #310
@rkingon Thanks for the reference! I really like the idea so I'll make sure to come back to this. While doing so, maybe it would be cool if we can start discussion on designing the API. Like where and how to declare `static types`, and how everything should work and such.

[2019-04-17 01:37] trevorpe commented on #310
I've not dabbled in TypeScript either, but I might have some free time later this week or next week to take a peek under the hood.

Until I dig into a bit more code, I can't really speak to anything too low-level, but from a high-level I see a few decisions/considerations to keep in mind:
1. **How to define the discriminator mapping?**
I like @rkingon's idea of a static `types()` method.
1. **How

[2019-04-17 03:19] rkingon commented on #310
To chime in on @trevorpe points

**How to define the discriminator mapping?**
Sounds like we're all in agreement here

**How to define the discriminator key?**
I think it could default to `type`, overridable by a static getter, ie: `inheritanceColumn` (that is the name rails uses: https://api.rubyonrails.org/classes/ActiveRecord/ModelSchema/ClassMethods.html#method-i-inheritance_column-3D -- doesn

[2019-04-17 03:43] kiaking commented on #310
I mostly agree with you guys as well.

**How to define the discriminator key?**
I like the idea of `type` as well. It sounds more related to `types`. But maybe we could be bit more explicit and go with `typeKey` like `primaryKey`.

[code]

**Should this polymorphic entity work in the existing relationships?**
I agree with @rkingon. If a user is defining STI, then the user should be expecting to ge

[2019-04-17 13:18] trevorpe commented on #310
I think the idea of defaulting to `type`, but allowing one to override it using `typeKey` makes sense.

I also think that existing relationships should be used and behave as expected. Entities without polymorphism would behave as they do now, and "new" polymorphic entities would have the proper instances be returned depending on the value of the type key.

I agree that having everything in a singl

[2019-04-17 13:31] kkyouhei commented on #320
my report

Record will be one in ` Normalizer.process`, because I'm thinking about modify ProcessStrategy.getId .
But i don't have good idea...

[2019-04-17 17:04] rkingon commented on #310
+1 on `typeKey` as it is consistent with `primaryKey`

[2019-04-18 06:30] Fnxxxxo commented on #326
@kiaking Sorry for late. Now, I personally use [node-object-mapper](https://github.com/wankdanker/node-object-mapper) and [morphism](https://github.com/nobrainr/morphism). But I am still finding something goods as Normalizr but suitable for vuex-orm

[2019-04-18 14:32] dousybox commented on #311
@kiaking Thank you for your recognition, I'm very glad that it can be useful.

These table are the referrances that I used to find relational functions in my project.

When I sorted out the mapping table, I found that some relationships did not appear in the documents.

So I searched somthing about orm, then find out the [Laravel framework](https://laravel.com/docs/5.8/eloquent-relationships).

An

[2019-04-18 17:10] ChuckBorris33 commented on #270
@kiaking Hi. It's fixed since version 0.31.5.

Thank you very much !

[2019-04-18 20:59] nvitaterna opened #342 "Inserting parent data from child"
Is there any way to insert/update parent data when it inserted through a child?

For example, if a Post has many Comments, and a User has many Comments, then I retrieve a list of comments:

[code]

This doesn't seem to add the user/post models to their respective stores.

[2019-04-18 21:38] nvitaterna commented on #342
Rough coding job, but here is an example of how I got it to work
https://gist.github.com/nvitaterna/da79c25dd52c37de6dcea2db33e732ca

[2019-04-19 03:29] kiaking commented on #311
@dousybox Thanks! I think this mapping is pretty useful in general. Since these kind of things are tend to be different on every frameworks (even the names).

[2019-04-19 03:34] kiaking commented on #270
@ChuckBorris33 Thank you so much for the confirmation! Glad to hear that 👍

[2019-04-19 03:34] #270 closed

[2019-04-19 03:39] kiaking commented on #342
@nvitaterna You need to define inverse relationship from comment to user and model. Your model should also have foreign keys.

[code]

[2019-04-22 16:38] trevorpe opened #344 "Binding "this" for lifecycle hooks"
I have entities that have many associations to others and store their ID. I generally need to access the entity by the IDs of the related entities rather than the ID of the entity itself, so I've been trying to use a static property to maintain a cache rather than querying every time.

I have several types of the entity, so I have a parent class that I inherit from and would like to have each subc

[2019-04-22 23:56] kiaking commented on #344
@trevorpe Thank you for the report! Yeah I definitely think `this` should be bound to the Model class. This is unexpected. We must fix this.

[2019-04-23 06:54] kiaking commented on #288
Closing the issue due to inactivity. If this is performance issue, it might be fixed by implementing index hash mapping discussed at #163.

Though please feel free to reopen the issue if there's anything! 🤝

[2019-04-23 06:54] #288 closed

[2019-04-23 07:19] ZMomo opened #345 "Feature Request: Add filtering to delete All"
Hey,

I think it would be interesting to add a feature to the deleteAll method to delete filtered data.

ex: User.DeleteAll(1) would delete all data from User with id 1, for now we can either delete data from all Users or delete specific users but not all their associated entities.

It could be nice to implement an instance method $deleteAll()
exemple:
let user = User.find(1)
user.$deleteAll()

[2019-04-23 08:26] kiaking commented on #327
I think this issue is as same as #321? Correct me if I'm wrong but I think it's now about accessing field at pivot record... right?

If so, I would like to close this issue and process this at #321.

[2019-04-23 08:27] kiaking commented on #339
@vesper8 Just checking in. Is there any update? 😃

[2019-04-23 08:33] kiaking commented on #345
@ZMomo Hi! Thank you for the feedback!

OK, so I think what you want is a way to delete any relationship associated to the entity. Yeah, that might be nice. But I would like to discuss about the API.

Since there is already `deleteAll` method, I think we should have different name, or either accept option. An entity could have bunch of relationship, so I think it's more safe to let user to specify

[2019-04-23 08:48] ZMomo commented on #345
Hi @kiaking ,

I think it's even more convenient this way ! I think it would be awsome !

Thanks for fast response.

[2019-04-23 08:53] kiaking commented on #345
@ZMomo Great! Thank you for the confirmation. There're other issues I have to tackle so it might take awhile to implement this, but I think it's nice feature to have! Meanwhile maybe someone can tackle this one. 🤝

[2019-04-23 08:54] ZMomo commented on #345
Maybe it would be nice to have a bit more complexe querying:

`// Delete user with id of 1 and any posts associates with the user.
User.delete(1, {
  cascade: ['posts']
})

// Delete user with id of 1 and all relationships associates with the user.
User.delete(1, {
  cascade: ['*']
})

// Delete user where id 1 and all relationships associates where entitiy is not post.
User.delete(1, {
  cascade:

[2019-04-23 09:37] vesper8 commented on #339
I can't really tell if performance is an issue. My Post model contains quite a lot of columns and in some cases I only want to interact with / display a small subset.. say 1 or 2 columns out of 15+

I just figured that by filling up posts with all that date and looping through it when I'm only using a small part, might be bad for performance.

Probably barely noticeable if at all, just would be a

[2019-04-23 13:08] jpenaroche commented on #327
@kiaking no, it's not the same issue; this is about to insert fields in pivot table that are not among the basics fields on morphable type table.  In this case tag, and order fields.
But i have another doubt, i have in this case n elements in mediable table, but these elements are matched by those attributes (media_id, mediable_id, mediable_type, tag, order), but vuex-orm can only set elements wit

[2019-04-23 14:05] kiaking commented on #320
This is now fixed with Vuex ORM 0.31.10 thanks to @kkyouhei! 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.10

[2019-04-23 14:05] #320 closed

[2019-04-24 13:34] Dishwasha opened #346 "Support remapping types for polymorphic entities"
An API may return a polymorphic type that the frontend may want to remap to a differently named vuex-orm entity.  For example, if morphTo uses record_type to map to entities and record_type has ```'team_members'```, remapping this to a model of ```entity = 'users' ``` may be preferred, especially if the API cannot be modified.

[2019-04-24 15:03] ulises-castro opened #347 "How save data vuex-orm in persistent mode"
I tried to create models with default values from localStorage but i don't have idea how to keep saved data in vuex-orm when user close tab or refresh page

anyone has idea how to do that ? and a little example.

Thanks.

[2019-04-24 20:02] stop-start opened #348 "Retrieving all relationships while filtering on hasMany relationship"
I'm trying to retrieve all models filtered by a hasMany field they have (simplified code below) as well as retrieve their belongsTo model fields. In other words, retrieve all "assignments" where "assignment_dates"  has a certain "date", and retrieve all the fields from all the relationships (course/category/assignment_date).
When I try to do this it always returns an object with all fields null ev

[2019-04-25 01:40] kiaking commented on #339
@vesper8 Hi! thank you for the confirmation.

You might be right! Not sure if there's going to be huge performance improvement, but I too agree that in some cases it might. Also as you mentioned, this is the pretty common feature for the ordinary ORM so I think it's nice to have.

I'll keep this issue open as an enhancement and edit the title so maybe someone can tackle this issue.

[2019-04-25 01:49] kiaking commented on #327
@jpenaroche Ahh OK, I think I'm getting close to understanding your issue... But not 100%. Sorry for my lack of understanding but could you give me the input and output you wish to get from the model declaration? So that I can create failing test case for this and tackle on.

Like when you insert some object, what should be stored, and how you're trying to retrieve the data.

[2019-04-25 01:51] kiaking commented on #346
@Dishwasha Hi! Thanks for the report. There should be a way to map the data structure. This is definitely good enhancement to have. 👍

[2019-04-25 01:58] kiaking commented on #347
@ulises-castro Hi! thank you for opening issue! Could you give us some example of what you're trying to do?

So, you have data in localStorage, and you want to load them when application starts, then modify the data, and save them to the localStorage...? Which part are you having trouble with?

[2019-04-25 02:21] kiaking commented on #348
@stop-start Thank you for the report! OK I've confirmed. The issue is some how course and category gets `null`, right? This is wired issue but I strongly think this is a defect. I'll look into it!

[2019-04-25 02:22] kiaking commented on #314
I think this is resolved by #320 and it is included in Vuex ORM 0.31.10. Please let me know if you find any further issue on IE!

[2019-04-25 02:22] #314 closed

[2019-04-25 14:04] kevinmarrec opened #349 "TS Error : Cannot find module 'normalizr'"
# Description
When using VuexORM in a TypeScript project, there are errors regarding `normalizr` module not found. I checked `package.json` and the package is in `devDependencies`, instead of (I guess) `dependencies` ?

# Screenshot
![Screenshot from 2019-04-25 15-37-39](https://user-images.githubusercontent.com/25272043/56739913-1d795600-6770-11e9-86d4-e9af030303c0.png)

[2019-04-25 21:27] stop-start commented on #348
Great thanks!
It's not only course and category but also the assignment_dates array is empty.
I thought maybe the way I query the data wasn't right.

[2019-04-25 23:10] spaceemotion opened #350 "Clear data without "deletion""
I've been testing this plugin for a bit now and would like to integrate it into my project, but got a question regarding managing state.

Showing a table with thousands of records (let's say "users") is usually done via server-side pagination.

The problem I am having is how I can fetch the new data from the backend and replace the current state with it - without calling any of the delete actions.