[2017-10-26 07:25] CinKon opened #8 "Lodash and moment.js really necessary?"
We just managed to integrate vuex-orm in our project, but had to determine that it adds ~1mb in vendor-files by adding complete lodash.js and moment.js.
Is this really necessary?

[2017-10-26 07:32] kiaking commented on #8
Hi! Thank you so much for using Vuex ORM!

Vuex ORM uses lodash and moment but I too agree that it doesn't need complete lodash.js and moment.js.

The reason why this is happening is because me lacking the knowledge of bundling TypeScript...

Do you know any way to add only required functions from lodash or moment? Or would it make difference if I move those library to peer dependencies in package

[2017-10-26 07:38] CinKon commented on #8
Thanks for your reply.
I never touched TypeScript, so i can't help you with that.

For lodash in ES6, you could just use `import debounce from 'lodash/debounce'` to only get debounce and required additional functions.

The problem with moment.js is mainly, that it adds all localizations, even if you need only one. For your project, that might be necessary, since you need to support all languages a

[2017-10-26 08:27] kiaking commented on #8
Ahah. That is easy. OK I'll do that.

You have good point. date-mutation is just "nice to have" feature and definitely not the must. I wasn't thinking so deeply about this but I agree that Vuex ORM should have little dependencies as possible.

So, I'm thinking to add more general mutation feature and remove moment from this package. Something like below.

[code]

The above will do same as current

[2017-10-26 08:48] CinKon opened #9 "Documentation wrong?"
Either the documentation is wrong, or we can't find the correct way to create and mutate the store (https://revolver-app.gitbooks.io/vuex-orm/store/creating-and-updating.html).

TL;DR: Use `dispatch` instead of `commit`.

We tried to work with your commit approach, but always got the message: `[vuex] unknown mutation type: entities/user/create`

actions.js:
[code]

component.vue:
[code]

models/us

[2017-10-26 10:57] kiaking commented on #9
Oh yes, the documentation is wrong. Thanks for the mention.

You want to use `dispatch` instead of `commit`. So the following should work.

[code]

And for the side note, you can use `commit` (and `dispatch`) on root entities module. So the following will do the exactly same thing.

[code]

I'll fix the doc!

[2017-10-26 10:59] CinKon commented on #9
For long-term: a working Demo would be great ;)
Maybe I'll commit one, when i have time...

[2017-10-26 11:19] kiaking commented on #9
That would be super awesome! (I'll try to make one too...

[2017-10-26 11:20] #9 closed

[2017-10-27 05:18] kiaking commented on #8
@CinKon Just wanted to let you know that I released v0.9.0 which includes breaking change on import syntax. From version 0.9.0, you must use following syntax.

[code]

Also you must call `install` method when registering Vuex ORM as a plugin to the Vuex.

[code]

I've updated the docs as well. Sorry for the inconvenience.

[2017-10-27 06:22] CinKon commented on #8
Please take care of your documentation ;)

[code]

This wont work.

Either

[code]

Or

[code]

I found this inconsistency in your [gitbook](https://revolver-app.gitbooks.io/vuex-orm/getting-started.html) as well.

[2017-10-27 06:23] CinKon commented on #8
But thanks for the update 👍

[2017-10-27 06:34] CinKon commented on #8
[code]

For completeness ;)

With this, eslint goes crazy (`Caution: `VuexORM` also has a named export `install`. Check if you meant to write `import {install} from 'vuex-orm'` instead`)

[code]

[2017-10-27 07:28] kiaking commented on #8
Wow, thank you for the fix! (as always). I've updated the doc and published.

[2017-10-27 07:40] kiaking commented on #8
OK, I've removed moment and introduced a new way to define mutator and released 0.10.0! You can find docs at https://revolver-app.gitbooks.io/vuex-orm/model/mutators.html.

This has reduced the bundle size to about half before moment. I hope it helps reducing your project bundle size as well :)

[2017-10-27 08:08] CinKon commented on #8
Thanks for your fast fixes!

[2017-10-27 08:10] #8 closed

[2017-10-28 19:54] silentlight opened #11 "Remove action"
Hello,

Great job on this package. It really looks promising.

One thing that I've been looking for is ability to remove item. How can I do that?

[2017-10-29 04:03] kiaking commented on #11
Hi, thank you for checking out Vuex ORM!

Remove feature is not implemented just yet! And Yes, I'm going to add it soon.

Meanwhile, you could do something like below to remove items from the store.

[code]

[2017-10-29 08:56] silentlight commented on #11
Great.

Thank you for your hint!

[2017-10-29 09:51] kiaking commented on #11
@silentlight I've added the feature! Once I release next version, you'll be able do `store.dispatch('entities/users/delete', 1)` to remove data from the store.

[2017-10-29 14:57] kiaking commented on #11
Now `delete` action is available at Vuex ORM 0.11.0 and it's released! [Doc is here](https://revolver-app.gitbooks.io/vuex-orm/store/deleting-data.html).

[2017-10-29 14:57] #11 closed

[2017-10-30 11:22] silentlight opened #13 "hasMany relationship returns null instead of ids"
Hi again,

I am using hasMany relationship on my model like so:

[code]

When I `Insert` apps it all works as expected. I see my apps and roles in the store and each app has array of role ids under `roles` attribute.

The problem is when I try to query all apps.
I use `this.$store.getters['entities/apps/all']()` to get all my apps. All is good but each app has `roles` parameter set to `null` inste

[2017-10-30 11:36] kiaking commented on #13
Hi @silentlight

You need to use `with` method to query relationship together with app. Could you try below code?

[code]

Doc: https://revolver-app.gitbooks.io/vuex-orm/store/retrieving-data.html#load-relationship

[2017-10-30 12:13] silentlight commented on #13
@kiaking This works as expected. Thanks :)

[2017-10-30 12:27] kiaking commented on #13
Glad I could help! Don't hesitate to open another issue if you have any other questions 😃

[2017-10-30 12:27] #13 closed

[2017-10-30 15:27] silentlight opened #14 "Finders"
Hi @kiaking

This is not an issue but something I wanted to share with you.
I was wondering why do we have those two `normal` selectors:
`const users = store.getters['entities/users/all']()` and
`const users = store.getters['entities/users/find'](1)` aside from query builder.

For me for instance, it would be much easier to have syntax like below for those two:
`const users = store.getters['entiti

[2017-10-30 16:03] silentlight commented on #14
Ok I think I found answer to my own question. For getting all records I can just use:
`const users = store.getters['entities/users/query']().get()` and for finding single record by primary_key I can just do `const users = store.getters['entities/users/query']().first(1)`.
Coming from Ruby world I thought that the number we provide to `first` means how many first items do we want to return :)

[2017-10-30 18:22] kiaking commented on #14
Hi @silentlight. Thanks for your feedback! I appreciate it. It makes Vuex ORM become a much better library.

You have a good point, and I think I'll reconsider the API.

The reason I made those two selectors – `all` and `find` – is because I was trying to adapt to [Laravel](https://laravel.com) (Framework like rails for PHP) API. Laravel has exactly same `all` and `find` method ([doc can be found

[2017-10-31 10:44] silentlight commented on #14
Sounds good @kiaking. Thanks!

[2017-10-31 10:54] silentlight opened #15 "Nested object as a field"
Hello,

Is it possible to have nested structure like below?
[code]

It seems that for such a case normalization does not work.
As a side not, I was able to make it work with normlizr.
Is there any way to make it work?

Thanks!

[2017-10-31 11:07] kiaking commented on #15
Interesting. I never thought of this usage.

Thank you for trying out! It does not work because currently, Vuex ORM does not iterate nested object, only the top level.

Actual code where Vuex ORM creates Normalizr schema can be [found here](https://github.com/revolver-app/vuex-orm/blob/master/src/Schema.ts#L39).

For now, there is no way to workaround this issue (I think), but it is possible to ad

[2017-10-31 17:46] silentlight commented on #15
@kiaking using normalizr you can do it like this:
[code]

[2017-11-01 03:13] kiaking commented on #15
Thanks! Much easier than I thought. I'll work on it.

[2017-11-01 13:16] sldobri opened #16 "a demo"
make a demo

[2017-11-01 13:21] kiaking commented on #16
Yeah I should. I'm planning to make one 🚀

[2017-11-06 11:21] silentlight opened #19 "Mutated values in where clause"
Hi @kiaking,

Is there any way to use `mutated` value inside of the `where` clause?
I have a datetime attributes for which I use `mutators` to convert them to moment objects. It would be nice to use these moment objects inside my where clause so that I can simply do something like this: `.where(record => record.started_at.isBetween(self.startTime, self.endTime))`. Of course I can convert `record.s

[2017-11-06 11:46] silentlight commented on #19
Interestingly, I cannot convert to moment object inside of `where` clause like so:
`.where(record => moment(record.started_at).isBetween(self.startTime, self.endTime))` because I get `"ReferenceError: __WEBPACK_IMPORTED_MODULE_0_moment___default is not defined"` error.

[2017-11-06 11:49] CinKon commented on #19
The moment-Library was removed to to unnecessary dependency-load. #8
You have to mutate the values yourself

[2017-11-06 11:49] CinKon commented on #19
Or add moment.js manual

[2017-11-06 11:51] silentlight commented on #19
Yes, I added moment.js manually and inside of my model I have:
[code]

[2017-11-06 13:04] kiaking commented on #19
Hi @silentlight

First thing first, I think you have to import `moment` where you define your where clause.

[code]

Also, make sure to upgrade Vuex ORM to 0.11.1 which was released just a few hours ago. 0.11.1 fixed an issue where you couldn't use local variables in where clause.

Next about original issue where you wanted to use mutated value in where clause. Your example using moment sounds ver

[2017-11-06 17:28] silentlight commented on #19
@kiaking My problem has been solved when I updated to 0.11.1 version. Now I can use `moment` inside where clauses. That's great! Thanks!

Going back to using mutated values inside of where clause, I think you brought up good point. If we only use mutated values than there will be no way to get an original value in where clause.
We could also add second parameter to where closure like so:

[code]

[2017-11-07 12:29] kiaking commented on #19
Nice! Great to hear that : )

Hah, yeah that would solve the problem. Nice idea!

I would instead make the first argument to be the original value since if there's no mutator, two arguments are going to be exactly same.

The last thing to consider is that we are going to have to instantiate a new class every time there's closure in where clause. I guess mainly this is going to impact performance w

[2017-11-07 21:26] silentlight commented on #19
@kiaking Sounds good. I think that your idea about checking second argument could do the thing :)

[2017-11-08 13:41] kiaking commented on #15
Now nested object schema is supported with version 0.11.2!
https://github.com/revolver-app/vuex-orm/releases/tag/v0.11.2

@silentlight Thank you for bringing up this idea : )

[2017-11-08 13:41] #15 closed

[2017-11-08 14:05] silentlight commented on #15
Awesome. Thanks @kiaking!

[2017-11-09 15:54] silentlight opened #20 "first() does not respect orderBy"
Hi @kiaking

I have a following query:
[code]

first() returns always first entity without respecting order. From the code above I expect to get time log with biggest value for stopped_at. Instead, I always get first entity. Am I missing something?

[2017-11-09 15:56] silentlight commented on #20
A workaround would be to do this:
[code]

But since we have `first()` I thought that I can use it in conjunction with `orderBy`.

[2017-11-10 02:23] kiaking commented on #20
Wow this sounds like a bug. I'll look into it! (If it's a bug, I think it wouldn't take long to fix it).

[2017-11-10 11:16] silentlight commented on #20
Great! Thanks @kiaking

[2017-11-10 11:22] silentlight opened #21 ".get returns null"
Hello again @kiaking

I have a question regarding `.get()` method. In an example like below:
[code]
If no records are found we receive `null`. So to pass it to `v-for` or pass it to component as a required prop I have to first check if it is not null. Wouldn't it be more intuitive if `.get()` returned empty array `[]` if no records were found? I am coming from Rails world and that's what I am used

[2017-11-15 08:34] mastermunj commented on #16
I've started liking the ORM, although a demo covering various aspects of ORM will definitely help a lot for beginners like me.

[2017-11-15 12:35] kiaking commented on #21
Hi @silentlight

Thank you for your advice. I've checked Laravel as well, and it does return `[]` (empty array). So yeah I think you got the point.

I'll make this change!

[2017-11-15 12:36] kiaking commented on #16
Thank you for liking ORM! I really do think we need example or demo. I'm working on so stay tuned!

[2017-11-15 12:38] silentlight commented on #21
Sounds good @kiaking :)

[2017-11-18 13:29] kiaking commented on #20
This issue has been fixed with VUEx ORM 0.11.4!

@silentlight Thank you for reporting this issue!

[2017-11-18 13:29] #20 closed

[2017-11-22 18:13] timoschwarzer commented on #21
A workaround is to append `|| []` to your expression like this:
`const users = getters['entities/users/all']() || []`
Then `users` will be an empty array when there are no users.

[2017-11-22 18:20] silentlight commented on #21
Good point @timoschwarzer. That's exactly what I am doing right now, but as you said it would be nice if that was a default option :)

[2017-11-23 05:39] kiaking commented on #21
Hi forks!

This issue is now fixed with Vuex ORM 0.11.5. It will now return empty array instead of null.

If you were doing

[code]

as a workaround, this update will not break them, but you are now free to remove `|| []` part from your code 👍

Thank you all for your support!

[2017-11-23 05:39] #21 closed

[2017-11-23 05:52] timoschwarzer commented on #21
That's great! Thanks! :smile:

[2017-11-24 13:27] CinKon commented on #11
It would be nice to delete ALL entities at once :)

[2017-11-25 04:09] kiaking commented on #11
@CinKon Hah, indeed. I don't know why I never thought about that. I'll add that feature!

For now, you can achieve same by passing empty array to the `create` action (but I think delete all feature is more intuitive).

[code]

Wondering how API should look. Maybe delete method without payload...?

[code]

[2017-11-25 04:11] kiaking commented on #11
@CinKon Oh by the way, when you say "delete ALL entities" do you mean to delete all existing entities data (For example not only users but posts, comments or any entities that are registered to the database)?

[2017-11-25 04:12] kiaking opened #24 "Add delete all feature"
Raised from #11.

[2017-11-29 10:45] CinKon opened #25 "Use defined fields as default"
Is there a way, to use defined fields as default values, if the `create` or `insert`-method doesn't contain all keys?

Let me give you an example:

Model:
[code]

Insert:

[code]

With this, the store only contains `id` and `username` for this entity, but I'd need all the other keys.

[2017-11-29 11:40] CinKon opened #26 "Feature Request: Sort, Limit, Offset"
I think it woul be a huge improvement, if vuex-orm could provide the following functions:

- `limit`
- `offset`
- `sortBy`
- `sortDir`

I hope you can see my motivation behind this :)
If you have a large amount of entities, you might want to paginate them. To be able to do this nicely with vuex-orm, you'd need the functions above.

[2017-11-30 13:50] mastermunj commented on #24
Came across need for this. On logout, I'd like to delete all entities at once.

As of now it's tedious to delete each type of entity one by one.

[2017-11-30 13:51] CinKon commented on #24
See https://github.com/revolver-app/vuex-orm/issues/11#issuecomment-346917375

[2017-11-30 13:55] mastermunj commented on #24
That works for only one type of entity, whereas I need single call to delete data from all defined entities.

[2017-11-30 16:49] kiaking commented on #24
Hi all,
Thanks for your feedback!

This sounds very valid use case. I was wondering if needed that feature or not but yeah lets add this. I'll work on this issue and make sure it will be implemented.

[2017-11-30 17:05] kiaking commented on #25
YES, recently I came across this issue too. Thank you for bringing up.

The reason why this happens is because default value of Model get sets when instantiating Model but not when creating data in to store. So maybe as you may already know if you use getters to fetch the data, all the field will be there within model instance with its default value regardless of the store state.

Which means the

[2017-11-30 17:16] kiaking commented on #26
You are completely right. We should add these.

Vuex ORM do have orderBy method right now. (and I thought I documented this and went to check the URL, then found out it wasn't... damn... sorry about that).

You can do this.

[code]

Is this same as `sortBy` and `sortDir` (Dir stands for direction?)? Or is those different kind of features?

[2017-12-01 07:18] CinKon commented on #26
Yeah, of course `orderBy` is the more common term.
And yeah, `dir` stands for `direction` ;)

Is it possible to chain the `orderBy`-Method? So I could say

[code]

To sort the entities by name, and if the name is equal -> by age?

I'd really appreciate the `limit` and `offset`-functions ;)

[2017-12-01 10:46] mastermunj commented on #26
Yes, chaining `orderBy` is possible.

Reference: https://github.com/revolver-app/vuex-orm/blob/508e5edc4c025638376a4db3fbb6d6c345651e94/test/unit/Repo_Retrieve.spec.js#L315-L318

[2017-12-01 12:58] mastermunj commented on #26
Created PR #27 for offset & limit. Hopefully it caters the need. 😊

[2017-12-01 15:13] kiaking commented on #26
@CinKon

As @mastermunj mentioned, yes you can! It will work as you would expected 🚀

[2017-12-01 15:36] kiaking commented on #26
Thanks to @mastermunj, Limit & Offset feature is now available at Vuex ORM 0.12.0 🎉

The documentation is ready too!
https://revolver-app.gitbooks.io/vuex-orm/store/retrieving-data.html#order-by

Thank you all for your great support!

[2017-12-01 15:36] #26 closed

[2017-12-01 15:59] mastermunj commented on #24
Created PR #28 with possible fix.

[2017-12-01 16:10] #24 closed

[2017-12-01 16:25] kiaking commented on #24
Thanks to @mastermunj, this feature is available at Vuex ORM 0.13.0 🎉

You can now use;

[code]

[2017-12-04 16:27] NZX-DeSiGN opened #29 "Error when loading relationship on entity created with omitted relation property"
Hi,

First thanks for your awesome plugin and forgive my english please !

If I create an entity and omiting the relationship property, the entity is added to the store without error. But when I try to get the entity with it relation, I'm getting the following error "TypeError: Cannot read property 'map' of undefined".

I think it come from a lodash method and to solve that issue we must create de

[2017-12-06 03:19] kiaking commented on #29
Hi, thanks for reporting!

Yeas this is related to #25 and by fixing #25, this issue should also go away. Which means I should harry fixing that 😈

[2017-12-06 12:44] CinKon opened #30 "'entities/deleteAll' won't work if one or more entity contains no data"
`dispatch('entities/deleteAll')` throws the following error, when there are empty entities:

[code]

[2017-12-06 15:25] kiaking commented on #30
Wow... hm... I'll look into this. Not sure why `entity` is undefined. It should always be there if the module are registered to database. Anyway this sounds very much like a bug.

[2017-12-07 08:05] mastermunj commented on #30
Actual way of using deleteAll on all entities requires passing empty object. Unfortunately I could not find better way of doing it so.

[code]

@kiaking docs does not reflect these as they are removed in fixes you implemented post merge of PR #28 in https://github.com/revolver-app/vuex-orm/commit/bedf80016d7cb6cb465befc9b29a5a0b1f8f2203

[2017-12-07 08:09] kiaking commented on #30
Aha. my fault then. So sorry about that. I'll look into it.

[2017-12-07 13:53] kiaking commented on #30
I've made PR #31 to make `deleteAll('entities/deleteAll)` syntax work. @mastermunj May I ask you to review the PR when you have time? Test is passing but I wanted to make sure I'm not missing anything since it seems like you had some concern about implementation 🙏

[2017-12-07 13:56] mastermunj commented on #30
LGTM. Please go ahead.

[2017-12-07 14:12] kiaking commented on #30
This issue has been solved with Vuex ORM 0.13.1. Thank you all for your help! And sorry about the doc @mastermunj. I should have noticed it or at least tested...

[2017-12-07 14:12] #30 closed

[2017-12-13 08:54] CinKon opened #32 "`where` with relation-condition?"
Is it possible, to set a `where`-condition for relationships?
Your documentation covers the case to filter the relationship-elements, but i want to filter the main-element depending wether at least one relationship-element exists or not.

Here's an example:

`user.js:`
[code]

`absence.js:`
[code]

`modules/user.js:`

[code]

[2017-12-13 16:09] kiaking commented on #32
Unfortunately no... You cannot use where clause with relationship fields right now. To achieve the desired result, you must filter through the result of the query (not sure if I can call this "workaround" though...).

But this should be able and we should add this feature. I'm thinking to add `has` method to do this.

[code]

[2017-12-14 08:53] CinKon commented on #32
I would suggest `has` and `hasNot`.
`doesntHave` sounds pretty unfamiliar to me for cases like this.

[2017-12-14 08:56] CinKon commented on #32
But let's think a little more forward with this:
Could it be possible, to extend the `has`-Method?
Like I could say something like "has more than 2 absences" or something.

I think conditions like this COULD be very complex, if the system allows it. For sure you could always filter the results afterwards...

[2017-12-14 11:31] kiaking commented on #32
Fair enough. Lets go with `hasNot` then.

Nice idea. To do this, how about following idea.

First we'll implement aggregate methods such as `count`, `max`. Then use that method in the closure.

[code]

So the internal logic is; if the closure returns true, then fetch that user.

Else if closure returns query object, execute that query and if the result is not empty, then treat them as true.

[code

[2017-12-14 11:39] CinKon commented on #32
Your last suggestion would strip down the code, but i don't think this is really necessary.

[2017-12-14 12:00] kiaking commented on #32
Great. So lets implement the closure pattern first, and then maybe the shorthand one (the last suggestion). 😃

[2017-12-18 17:11] kiaking commented on #25
@CinKon I made PR #33 to solve this issue but I want to confirm the behavior with you. Would you mind looking at the PR and let me know what you think?

[2017-12-18 17:12] kiaking commented on #29
Made PR #33 which should solve this issue.

[2017-12-19 15:35] kiaking commented on #25
This issue is fixed with Vuex ORM 0.13.2.

@CinKon Thank you for your support as always!

[2017-12-19 15:35] #25 closed

[2017-12-19 15:38] kiaking commented on #29
This issue should be fixed with Vuex ORM 0.13.2. If you still have some related problem after updating Vuex ORM to 0.13.2, please feel free to reopen this issue.

[2017-12-19 15:38] #29 closed

[2018-01-02 14:57] CinKon opened #34 "Multiple where-conditions won't work"
Happy new year! 🎉

Unfortunately, when I try to get entities like this:

[code]

`where('roleId', 3)` is being ignored.

[2018-01-03 03:44] kiaking commented on #34
Happy new year! 🎉

And what!? OK I'll look into this 👨‍🎤

[2018-01-03 03:55] kiaking commented on #34
@CinKon OK, I'm trying to reproduce this but not sure how... Could you give me the example of the data that `where('roleId', 3)` is being ignored?

I've created test case something like this but it works as expected.

[code]

[2018-01-03 06:29] CinKon commented on #34
Ok, looks like we understand this differently.
When I put multiple `where`-Conditions in a row, I'd expect to act them like `WHERE foo = 'bar' AND foo2 = 'bar2'`, but your example makes no difference for me to the `orWhere`-Conditions.

This would be a example I'd expect:

[code]

Since the both conditions are chained with `AND`, both of them have to apply.

Point is, I'm missing an `andWhere`-Fun

[2018-01-03 07:45] kiaking commented on #32
This feature is now possible with Vuex ORM 0.14.0!

I've implemented the string operator as well. Please read docs for more detail.
https://revolver-app.gitbooks.io/vuex-orm/store/retrieving-data.html#querying-relationship-existence

[2018-01-03 07:45] #32 closed

[2018-01-03 08:20] kiaking commented on #34
Thanks for the info! Thats is exactly how things should work I say.

I'm trying to reproduce this issue but somehow I can't. The example code of yours actually works. I've added the test here https://github.com/revolver-app/vuex-orm/pull/36/files#diff-32780d4d8d0fa4cfd793aea28325a424R184 but it's passing 😢

Maybe it has to do with `orWhere` condition. When `orWhere` is set, the prior `where` will

[2018-01-03 08:54] CinKon commented on #34
Yeah, i was afraid that this would be the case...
Is it possible that you could make it so that the `orWhere` only effects the last appearing `where`-Function?
So that

[code]

results in

[code]

Your last example should look like this to me:

[code]

[2018-01-03 10:21] kiaking commented on #34
Ah Now I see.

It is possible to make `orWhere` only effects the last appearing `where`, but I don't think that's the way to go about it. Because you could add `where` at any time and the order of `where` might not be always guarantied. In fact, `where` is used internally when resolving relationship, so I think there will be some case you would end up getting unexpected result.

I've checked other

[2018-01-03 10:32] CinKon commented on #34
I think your last example would be more consistent, but I'm fine with both, as long as they work 😄

[2018-01-03 13:13] kiaking commented on #34
OK great, I'll implement the nested query clause. Please workaround your issue with former example for now (it works with current version).

[2018-01-03 14:13] kiaking commented on #34
I've implemented the feature in Vuex ORM 0.14.1! 🎉

Now, when passing closure to the first argument, it will also receive query builder as second argument. By using the query builder, you may nest the where clause. This is useful when you want "group" the where clauses.

[code]

I wasn't thinking much but this resulted in enabling unlimited nested queries! (I wouldn't recommend nesting too deeply

[2018-01-03 14:13] #34 closed

[2018-01-04 15:36] kiaking commented on #14
Now this issue is solved by Vuex ORM 0.14.2! Please see the [release note](https://github.com/revolver-app/vuex-orm/releases/tag/v0.14.2) for more detail 🎉

[2018-01-04 15:36] #14 closed

[2018-01-09 23:00] afixia opened #37 "Feature Request: Query Addons"
I've implemented a hacky solution to implement fuse.js (fuzzy object search library) to filter api data based on user input before calling your create method.

It would be convenient to extend the Query class to provide my own fuse.js interface for regex matching.

I understand I can use the source code to extend your classes, but I think it would a great feature to allow add-ons in the install co

[2018-01-10 03:34] zagreusinoz opened #38 "Feature Suggestion: Auto increment id fields"
Have an **option** which will have the ORM automatically increment the id of new records if the id is not supplied.

[2018-01-10 04:49] zagreusinoz commented on #16
Is it something we can help with?  Did you get started?   I'd love for this to become popular, it deserves it.

[2018-01-10 13:47] kiaking commented on #37
This is a very interesting idea, and I would love to work on to this. I want to discuss how to implement this feature.

To extend Query or Repo class, the simplest way I came up is something like below.

[code]

It will treat Repo and Query as a singleton. What do you think?

If you have any preferred way to tackle this issue, I would love to hear that.

[2018-01-10 13:48] kiaking commented on #38
Sound good! I'll work on to this!

[2018-01-10 13:51] kiaking commented on #16
I haven't started this yet. It would be really nice if someone could create simple project that shows the benefit of using Vuex ORM. I was thinking some application that shows Blog post with many comments and user editing feature. So that if you change user info, it will update all related comment author or something like that.

if someone has a better idea of what example application should look

[2018-01-10 16:44] afixia commented on #37
I like the idea of using query.extend() as to inherit class methods. One of the parameters of fuse is an array of column names (object properties) and in order to keep it dynamic I would like to have access to the model api to set all fields (minus primaryKey).

I will play with this idea today and let you know. Thanks for the feedback!

[2018-01-10 18:26] nanotronic commented on #38
Not everyone deals with autoincremented IDs. Besides its bad practice.
It would be better to let the dev let plugin an ID-Generator, like an UUID-Generator.

[2018-01-10 23:29] cjcrawford commented on #37
I'm a little green on typescript, so I'm hoping to trigger some ideas...

Can you use namespacing / modules to allow [Declaration Merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html) ?

Here's some example code for an add-on that felt pretty simple

**Plugin Install**

[code]

**Main Plugin Code**

[code]

[2018-01-11 03:51] kiaking commented on #38
I was planning this to be optional as @zagreusinoz mentioned. I agree not everyone needs increment feature. So, I'm planning to add `increment` method.

[code]

[2018-01-11 04:49] kiaking commented on #37
Thanks for the feedback guys. OK I've thinking about this and I wanted to tweak how things work a bit.

First of all, I was checking how Vue plugins works and how Vuex plugin works. There is a difference which Vue plugin lets extend Vue it self (not vue instance) but Vuex plugin lets extends store instance (not Store it self).

And how Vuex ORM plugin should work is it needs to extend VuexORM (Mod

[2018-01-11 05:12] cjcrawford commented on #37
Love it. Excited to test it out!

[2018-01-11 16:03] kiaking commented on #37
I've created PR #39 to add this feature. It's not fully ready but I would love to hear feedback!

@afixia
Is it possible for you to start building the addon and create repository? I will be more than happy to look into it and give some help if you need any.

[2018-01-11 17:21] cjcrawford commented on #37
Yes I will start the search plugin repository and share after testing.

I think we should create a new requirement / optional documentation on how we can expose add-on processing methods to the Query class that trigger before the limit and sort get applied.

Perhaps in Query class you can add a protected array of callback functions to execute in the process lifecycle that must return records.

Thi

[2018-01-12 01:41] kiaking commented on #37
Thank you for trying out things!

I like the idea of having `records` array to store entity's data. It's not implemented so I'll do this!

However, I think maybe we might need to add lifecycle hook feature.

It is possible to store all entity records on query construction (and I will), but Vuex ORM has to wait to modify that records until the user execute `get` or `first` method. This means Vuex O

[2018-01-12 03:17] cjcrawford commented on #37
I started my plugin repo based on the #40. After using my PR and my plugin repo I tested on a large project currently using VuexORM and it works great!

Happy to adjust the plugin to work within your scope, I was just giving you a quick idea of what I wanted to be able to do.

Here's the init plugin: https://github.com/cjcrawford/vuex-orm-plugin-search

[2018-01-12 03:45] cjcrawford commented on #37
Love the lifecycle hooks as it provides greater flexibility for future plugins. Let's do it! It's also very Vue like in the approach. Perhaps by exposing events a user could implement their own methods without needing a plugin :)

This particular plugin just needs access to records before limit() but changing to hook into a beforeLimit event would be just as easy to do.

[2018-01-12 12:51] kiaking commented on #37
Wow this is awesome! Thank you for the great work! I'll finish up #39 first then release it. After that I'll start creating the lifecycle methods. I'll add issue for that.

[2018-01-12 12:53] kiaking opened #41 "Add lifecycle hook to the Query class"
From issue #37.

Add feature to hook into Query's process method.

To do this, I'm thinking to add the following lifecycle.

1. beforeProcess
2. beforeWhere
3. beforeOrderBy
4. beforeLimit
5. beforeGet

[code]

[2018-01-12 13:52] kiaking commented on #37
@cjcrawford I was refactoring some Query code, and I would like to ask you if it's ok to change `this.records` of Query to be an Array instead of an object. I think it would be easier for vuex-orm-plugin-search too.

Let me know if this is going to a problem!

[2018-01-12 16:03] cjcrawford commented on #37
Yes. That works for me. Saves me from having to map the records then having to reduce them back to Object.

I wanted to keep your structures in tact in my pull request but if you want to change it to an array, go for it.

[2018-01-14 06:35] kiaking commented on #37
Now Vuex ORM 0.15.0 is out with plugin support! [See the documentation](https://revolver-app.gitbooks.io/vuex-orm/plugins.html) for the final docs!

[2018-01-14 06:35] #37 closed

[2018-01-14 16:48] kiaking commented on #16
I've created the example application [at here](https://github.com/revolver-app/vuex-orm-examples). Please let me know if you have even more awesome idea of a demo by creating issue at the example repo 🎸

[2018-01-14 16:48] #16 closed

[2018-01-15 05:57] zagreusinoz commented on #38
That's great kiaking, exactly what I was thinking so that it's optional.

[2018-01-15 12:20] EnglishAdam opened #42 "Static property in example, vs static method getter."
Hi,

In your [GitBook example](https://revolver-app.gitbooks.io/vuex-orm/content/getting-started.html) you use a static class property to identify the entity:

[code]

This may not be recognized in most JS environments/linters/post-processors and throw an exception. It may be worth defining it as a static getter, via the static method:

[code]
Kind regards,
Adam

[2018-01-15 15:07] kiaking commented on #42
You have a good point! I was used to using static property, but it needs babel-preset-stage-2. Thank you for pointing out.

Yes, it's totally OK to define it as a getter, but I could make static function work too.

[code]

Just my personal opinion, but I think the simple method is more common use case than getter, maybe.

So I would like to make Vuex ORM able to treat both static property and meth

[2018-01-16 01:10] kiaking commented on #42
Oh wait, we have `static primaryKey` too. Hm...

It is kinda pain to enable every single property as a function... So maybe documenting various option might be enough.

[2018-01-16 01:19] kiaking commented on #42
@EnglishAdam I've added note on the doc at #43. Does this make sense to you? If this is all we need, I think I can merge it and close this issue 🎸

[2018-01-16 14:05] VRuzhentsov opened #44 "Having http plugin – REST API backend support"
Hi. Is it have sense to merge functionality from this repo https://github.com/aarondfrancis/vue-model ?

I think it would be nice to extend the functionality of the orm, or should it be done in the form of a plug-in thanks to the 0.18 version?

Or, if it develop as a plug-in, it will turn into dependency hell

[2018-01-16 15:24] cjcrawford commented on #44
I'm actually working on a http plugin now that provides similar functionality for populating entity data. The vue-model package is a great inspiration and a very nice package as a standalone solution when not using vuex.

A direct merge doesn't look like a good fit as there are a lot of overlapping functionality and vuex-orm is very specific to the vuex plugin lifecycle.

The customizable methods

[2018-01-16 16:02] kiaking commented on #44
I agree with @cjcrawford. It's very nice to have http resource feature working nicely with Vuex ORM, but I wouldn't want to build it into the core package for several reasons.

Mainly because it's hard to choose which http library to use. Should it be axios? superagent? or fetch polyfill? I think it would be nicer to have the plugin something like `vuex-orm-axios` to expand the functionality.

Als

[2018-01-16 16:06] VRuzhentsov commented on #44
@cjcrawford I also see a great props from using vuex instead that `vue-model`, that wi can also install a lot of plugins, for example persistedState

I'll be happy to wait for this http plugin

By the way, maybe we should not close the task, maybe someone else will have ideas on this occasion

@kiaking
About choosing http library, we can try to check property `Vue.$http`, in case if developer alre

[2018-01-16 16:15] kiaking commented on #44
Oh yes, we could check $http, but my point was that every http library has slightly different api which is not fully compatible with each other. If we build http resource feature on top of axios, I don't think it's going to be easy for user to switch it to the superagent. Then user have to use two http library on that project and it kinda pain especially when you have lots of configuration such as

[2018-01-16 16:35] kiaking opened #45 "Add max and min aggregates"
We should have this as a basic feature, and also to implement #38 .

[code]

[2018-01-16 17:41] kiaking commented on #45
Done. Waiting for the next release.

[2018-01-17 03:11] kiaking commented on #42
Thank you so much for the confirmation! There's nothing wrong with defining property as a getter.

I'll merge the PR and close this issue. Please feel free to open another issue if you find anything else I can do to make docs better!

Again, thank you for the feedback ❤️

[2018-01-17 03:11] #42 closed

[2018-01-19 14:54] paparent opened #47 "Load nested relation"
Hi,

I'd like to know how to load multiple nested relation.

[code]

What's the syntax ?

Thanks !!

[2018-01-19 15:15] kiaking commented on #47
Aha, in such case you need to use closure.

[code]

Probably I should add this to the doc.

[2018-01-19 20:57] sigmoidbigfoot opened #48 "Support for composite primary keys"
For some datasets, the primary key may not be a single field, but a composite of multiple fields.

For example, in SQL you might define a table with a composite primary key like
[code]

It would be nice if vuex-orm supported composite primary keys so existing datasets with these keys don't need to be altered to include a single field primary key.

[2018-01-19 22:23] paparent commented on #47
Thanks a lot ! It works 👍

[2018-01-20 02:49] kiaking commented on #47
Glad I could help!

[2018-01-20 02:55] kiaking commented on #48
Good point! This won't be hard to implement so I'll work on to it. I'm thinking to enable `primaryKey` to accept array of key.

[code]

[2018-01-22 05:15] kiaking commented on #38
The feature is implemented by #49. This will enabled in next release!

[2018-01-22 06:53] CookieJon opened #50 "Mixed-type fields?"
Is it possible to define a field on a Model that may contain more than one type of Model, or an array containing different types of Models.

Something like normalizr's schema mapping function, giving control over how entities are contructed/deconstructed:
https://github.com/paularmstrong/normalizr/blob/master/docs/api.md#schema
 "If your input data is an array of more than one type of entity, it i

[2018-01-22 20:19] AlexandreBonaventure opened #51 "Relation without foreignKey – Add hasOneBy relation"
Hi,
Is there a way to define unilateral hasOne relation without foreignKey ?

Great package!
Thanks.

[2018-01-22 23:48] CookieJon commented on #51
Seems to work using just the primaryKey, despite the docs using foreign key as the example.

[2018-01-23 02:42] kiaking commented on #50
It sounds interesting. I would love to look into this more. However, I'm not sure of your desired use case.

Could you give me some example of how it might look like to use this feature? Like how to define Model and what kind of output is expected through getters or actions?

[2018-01-23 02:52] CookieJon commented on #50
Sure. Thanks for responding. Let me get my thoughts together and get back to you.

By the way,  thanks for this library! I was struggling this stuff for ages... wasted huge amounts of time trying to invent a solution myself, before realising it had already been solved. Tried "npormalizr" but it didn't go far enough... this ORM+VUEX combination is the first library I've actually been able to make i

[2018-01-23 02:56] kiaking commented on #51
Hi! I'm not sure if I understand the issue correctly here. You need foreignKey to determine if that record is related to the others. Are you looking for something like `hasManyBy` method for `hasOne`?

[Has Many By Doc](https://revolver-app.gitbooks.io/vuex-orm/model/relationship.html#has-many-by)

@CookieJon Your example is still using foreignKey which is `id`, which is fine because foreignKey co

[2018-01-23 03:03] kiaking commented on #50
Oh no, thank "you"! for using this library and giving me feedback! Those kind words are the best reward I can get :)

Looking forward to seeing your example!

[2018-01-23 03:28] AlexandreBonaventure commented on #51
Hi, yes I’m exactly looking for the `hasManyBy` version of `hasOne`

[2018-01-23 03:30] CookieJon commented on #51
@kiaking Yikes! I see you're right - my example only worked by coincidence, with incorrect palettes being returned that happened to have the same content.  :-S

[2018-01-23 03:58] kiaking commented on #51
@AlexandreBonaventure OK! Yeah, we should have that feature (I don't know why I didn't make it when I implemented hasManyBy relation). Let me work on to it.

@CookieJon It could work in some situation I guess? Especially with hasOne relation since there will always be only one related record so having an exactly same ID (primary key) for both models could make sense :p (I wouldn't recommend though

[2018-01-23 07:00] CookieJon commented on #50
Hi Again,

Okay, I've had a think and I'm back. :-)

Couldn't work out what I'm really trying to ask most, so I've put my use-case down in one big example with a few "how-to" questions along the way.  Now I realise this is a lot, so if it's not appropriate to ask for this kind of help/suggestion in this form I completely understand.

Anyway, here's a simplified & contrived example of what I'm tryi

[2018-01-23 08:08] kiaking commented on #50
Thanks for the example! Now I understand.

At first, the Bitmap and Platte should have "HasAndBelongsToMany" relationship which Vuex ORM doesn't support yet. I should implement it. (many to many relations is must-have feature for the ORM anyway).

After implementing many to many relations, you first define the "pivot table" model. And make them associate with the pivot model.

[code]

Next, for Co

[2018-01-23 10:43] CookieJon commented on #50
Wow! Thanks for such a detailed explanation.

Ok, so now I see that it's just a matter of these features not having been implemented yet, I don't feel so stupid not being able to work it out. :-)

After reading a bit more I get that ORM really is just relational DB. Makes total sense.

Please don't implement anything in your library just on my request (it's so not important!) although I guess as y

[2018-01-23 11:27] kiaking commented on #51
Oh wait minute. Isn't `hasOneBy` exactly same as `belongsTo` relation? I've added `hasManyBy` because there was no inverse relation of `hasMany` like `belongsToMany`.

@AlexandreBonaventure Would `belongsTo` method satisfy your needs? Or are looking for something different?

[code]

[2018-01-23 11:32] kiaking commented on #50
Yeah it's trying to be. Bit different from other ORM since usually ORM generates SQL, instead Vuex ORM manipulates JSON (Vuex Store State) through ORM like api syntax.

Yeah as you mentioned, I'll implement those anyway! Thanks for bringing up though. I had ManyToMany relationship on my ToDo list for long but since no one was asking for it, it kept dropping its priority lol

[2018-01-23 11:51] kiaking commented on #48
This feature was added by PR #52. It will go into next release!

[2018-01-23 13:44] AlexandreBonaventure commented on #51
@kiaking Not exactly, this is what I meant by `unilateral`. My use-case goes like this
[code]
You see, if I insert this data
[code]
I expect to have
[code]

[2018-01-23 14:32] kiaking commented on #51
OK I see. I've checked it and your use case can still work with `belongsTo`.

[code]

If you define your model like above, you should get what you want with `create` action and also when fetching data. Even I didn't know that you can actually specify the same field as foreign key but, it works :)

However, it is indeed one way relation. What I mean is that if you create data through `users` module

[2018-01-23 14:44] sigmoidbigfoot commented on #48
Thanks for the quick turn around on this!

[2018-01-23 14:48] kiaking commented on #45
This is now possible with Vuex ORM 0.16.0!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.16.0

[2018-01-23 14:48] #45 closed

[2018-01-23 14:48] kiaking commented on #38
This is now possible with Vuex ORM 0.16.0!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.16.0

[2018-01-23 14:48] #38 closed

[2018-01-23 14:48] kiaking commented on #48
@sigmoidbigfoot No problem! Hope it works for your needs!

This is now possible with Vuex ORM 0.16.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.16.0

[2018-01-23 14:48] #48 closed

[2018-01-23 16:32] paparent opened #53 "The `hasMany` relationship doesn't rely on primaryKey"
Hi,

The `hasMany` relies on `id` instead of the configurable `primaryKey`. Should be using the custom value :)

https://github.com/vuex-orm/vuex-orm/blob/master/src/repo/Repo.ts#L655

(I'll try to fix it.. dunno if hard).

[2018-01-23 16:38] kiaking commented on #53
Thank you for the report! I just fixed this issue few seconds ago 😅
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.16.1

Thank you for finding out this bug though! It was so easy miss. Also, we should add feature to have custom local key too (it is another issue but.

[code]

[2018-01-23 16:38] #53 closed

[2018-01-23 16:54] paparent commented on #53
Thanks a lot ! Works like a charm now 🥇

[2018-01-23 16:56] kiaking commented on #53
Glad I could help 🎉  Feel free to raise issue if you need anything else 🚀

[2018-01-26 03:44] tjsteinhaus opened #54 "Getting all data for a model isn't returning relationship data"
I'm trying to get all data that's related to a model and then also all the relationship data as well. When outputting this: `this.$store.getters['entities/evaluations/query']().get()` my relationship attribute returns undefined.

If I run: `this.$store.getters['entities/evaluations/query']().with( 'assessors' ).get()` It returns an empty array for the attribute's value.

However if I run: `this.$s

[2018-01-26 03:49] kiaking commented on #54
Hi!

If `this.$store.getters['entities/evaluations/query']().find()` is returning relationship, that's a defect. I haven't check this yet but sorry if this is happening. You must use `with` method if you want to load relationship.

So, `this.$store.getters['entities/evaluations/query']().with( 'assessors' ).get()` should work as you expected.

The test for this function is passing so it's hard for

[2018-01-26 03:56] tjsteinhaus commented on #54
Odd, for some reason it's not returning the data on finding just one now.

Here is my Evaluations Model:
`import { Model } from '@vuex-orm/core'

import Assessors from './Assessors';

export default class Evaluations extends Model {
  static entity = 'evaluations'

  static fields () {
    return {
      id: this.attr(null),
      userId: this.attr(null),
      name: this.attr(''),
      dairy_loc

[2018-01-26 04:05] kiaking commented on #54
OK I found it. Your foreign key is wrong. For example `Evaluations` should have foreign key of `evaluationId`. So I think you should change relation definition as below and it will work.

[code]

[code]

To have relationship between Accessors and AssessorsIndex, AssessorsIndex need to have field that hold the id value of Assessors. Do you have one?

[2018-01-26 04:24] tjsteinhaus commented on #54
Of course! Can't believe I missed that, thank you!

[2018-01-26 04:24] #54 closed

[2018-01-26 04:27] kiaking commented on #54
Glad I could help! Let me know if you have any other questions 👍

[2018-01-26 11:56] kiaking commented on #19
It has been a while, but this feature is now available with Vuex ORM 0.16.2!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.16.2

[2018-01-26 11:56] #19 closed

[2018-01-26 13:47] tjsteinhaus commented on #53
@kiaking Does this work for hasOne as well?

[2018-01-26 14:16] kiaking commented on #53
@tjsteinhaus Yes it does. I've fixed both `hasOne` and `hasMany` 😃

[2018-01-26 14:18] AlexandreBonaventure commented on #51
Yes, it is indeed working for my use-case, thanks for your answer. Issue can be closed to me.

[2018-01-26 14:23] kiaking commented on #51
@AlexandreBonaventure Thank you for the confirmation! Maybe I should add to the doc that you can specify foreign key to the same field being defined.

Please feel free to reopen this issue or open another issue if you have any trouble 🕶

[2018-01-26 14:23] #51 closed

[2018-01-26 14:28] tjsteinhaus commented on #53
Can you identify what the issue is with my models then? It doesn't appear to be working and I'm on the most recent version of Vuex ORM.

[code]

[code]

Both Assessors attribute 'info' and AssessorsIndex attribute 'assessors' are returning null.

[2018-01-26 14:40] kiaking commented on #53
OK the correct way of defining this two relationship is as follow.

[code]

[code]

Basically, if the model it self has the foreign key, then that model "belongs to" other model. Since Assessors has foreign key of `assessorIndexId`, then Assessors belongs to AssessorsIndex, and AssessorsIndex "has one" Assessors.

[2018-01-26 15:10] tjsteinhaus commented on #53
It's still not working that way either. Basically AssessorsIndex is just a list of different types of Assessors and the Assessors is a list of all the assessors in an evaluations. So there will be a lot of assessors and the assessorIndexId only hasOne index from the AssessorsIndex.

In the Laravel backend 'info' basically returns the data from that row in the AssessorsIndex.

I'm trying to replica

[2018-01-26 15:24] kiaking commented on #53
Strange. To farther investigate, I need to know the response JSON from Laravel and how your are storing that data into Vuex ORM. Is it possible for you to send me the actual code? (if it's ok with you, email me at kia.king.08@gmail.com). Also maybe database schema from Laravel migration file could be helpful too.

With your models, my imagination is you have these kind of workflow.

[code]

Yes it

[2018-01-26 15:53] tjsteinhaus commented on #53
I just figured out what the issue was. I'm trying to call more than one relationship under a relationship. See code below:

[code]

If I take out `.with( 'assessors.group' )` it displays all the data that should be under the relationship for 'info'. If I add back in `.with( 'assessors.group' )` it displays the data that should be under the relationship for 'group' but not 'info'. Is there a way to

[2018-01-26 15:58] kiaking commented on #53
Ah OK. If you want add more than one nested relation, you need to use closure.

[code]

Could you try the above code?

[2018-01-26 23:27] AlexandreBonaventure opened #56 "Question: Computed/Getter in model definition ?"
Hi again,
Quickly, is there a way to define some computed/getter directly in model. Is it recommended to use es6 getters in Model class (I guess it will some have reactivity issue) ?

Use case :
[code]

[2018-01-27 04:20] kiaking commented on #56
You can define any getter or method in the model class 😃

[code]

You won't have reactivity issue. If the state in the store gets updated, these getter or method also will be updated 👍

[2018-01-28 18:36] lewebsimple opened #57 "Data persistence with a backend"
Is data persistence possible with a backend (REST or other) ?

Thanks for such a great plugin!

[2018-01-29 03:35] tjsteinhaus opened #58 "Feature Request: Getter in Model with Relation data"
I have a getter setup in my model and I'm trying to get data that is being used in a relation but it's not appearing. I think it would be great for this data to appear in the getter.

I also have the relation setup in my query so the data is there.

<img width="740" alt="screen shot 2018-01-28 at 9 35 01 pm" src="https://user-images.githubusercontent.com/5176701/35492547-250983ce-0473-11e8-8e69-12

[2018-01-29 03:40] #58 closed

[2018-01-29 03:56] kiaking commented on #58
Oh, have you resolved this? Just wanted to check in if you closed this issue by mistake or it was intended : )

[2018-01-29 04:02] kiaking commented on #57
Hi! This issue is related to #44. Vuex ORM doesn't have specific feature to save data to the backend. Also, it will not be implemented to Vuex ORM core but there is a plan to create plugin to do that.

Having feature to save data to the backend is not that easy in terms of the design. For instance, what http library should we use? (axios, fetch, superagent?) or how should we design the endpoint (i

[2018-01-29 04:02] #57 closed

[2018-01-29 04:04] kiaking commented on #44
I'll change the issue title to make it easier to identify that this issue is about having api backend support!

[2018-01-29 22:56] AlexandreBonaventure commented on #56
Great, thanks!

[2018-01-29 22:56] #56 closed

[2018-01-29 23:36] kiaking commented on #56
Glad to help! 🎉

[2018-01-30 09:11] phortx commented on #44
Hi @kiaking ! Very nice project, thank you for your amazing work! :)

I have to quickly integrate our backend HTTP API (GraphQL via Vue-Apollo) to Vuex-ORM. Can you give me any advice how you would make that? Are there any hooks I can use or can I just overwrite some methods?

If I understand how to implement that, I would publish a vuex-orm-apollo plugin after I have a working implementation.

Th

[2018-01-30 09:16] phortx opened #60 "Convenience Methods"
Many ORMs provide model methods like `.find()`, `.create()` or `.save()`. With Vuex-ORM we have to use rather long lines like `this.$store.dispatch('entities/users/create', { data: { ... } })` or `this.$store.getters['entities/users/query']().find()`.

What do you think about convenience methods like `.find()`, `.first()`, `.create()` and so on on the model class, that dispatch those events agains

[2018-01-30 16:06] kiaking commented on #60
It could be a nice idea. In fact, I also thought same when I first created Vuex ORM. I'm not sure if we should implement this feature, but I'm very open to discussing it.

By the way, if you just want to shorten the line, you could consider using [map helpers](https://vuex.vuejs.org/en/modules.html) (maybe you have already had though but). This is the pure Vuex way to go about shortening the metho

[2018-01-30 16:26] kiaking commented on #44
Hi @phortx, thank you for the kind word 😃

I'm not familiar with vue-apollo (nor GraphQL), so it's a bit hard for me to give you the best answer, but I think overriding modules actions and getter is the way to go (or create dedicated getters or actions).

So you're right about extending `subActions.ts`! However, Regarding plugin, modules are not exposed to `components` argument right now. Why? Bec

[2018-01-31 07:01] phortx commented on #44
Good Morning (at least in germany)!

Thank you, @kiaking for the quick and useful answer.

Basically, GraphQL no magic. It just defines a API by accepting POST requests with JSON payload. In the JSON you define what data you want to have and you get a similar looking json with the data back. Pretty simple. There isn't a client library necessary at al basically. However apollo is a lib with some ni

[2018-01-31 08:53] phortx commented on #60
Maybe via store Plugin with param? So the developer can register the store via

[code]

I've seen similar patterns for Vuex.

This is a good reason, however, I think this can be solved by documentation, which can describe what those methods actually do: nothing except dispatching.

I always try to keep my components as clean as possible. Because they grow automatically. I'm not a big fan of boiler

[2018-01-31 11:00] phortx opened #61 "How to setup many to many relations?"

[2018-01-31 11:04] kiaking commented on #61
Good question! You can't, currently. I have plan to add it (ref #50). And guess I need to hurry 🚄

[2018-01-31 11:11] phortx commented on #61
oh oh 😱

When do you think, you can finish that? :)

[2018-01-31 11:18] kiaking commented on #61
Soon I guess. Maybe I can finish them at weekend.

[2018-01-31 11:22] kiaking commented on #60
Nah, I meant we are getting store instance during installation, but we must hold that store instance at somewhere. Maybe we can assign to the model, or maybe I can assign them to the database instance. Anyway, this is something I need try and figure out.

Good point. If we can solve prier issue (where to hold store instance), then it will be pretty easy to implement this. I'll try looking into thi

[2018-01-31 12:06] kiaking commented on #44
Thanks for your code! And yeah I'll be waiting for your plugin : )

Overall class definition and usage look fine by me, but, if it were me, I'd slightly change the implementation of `findAll`. If you assign users to `this.data` in your component like that, you will lose reactivity. Every time you update your Vuex Store, you must manually call `User.findAll()` inside your component.

If that is int

[2018-01-31 12:07] phortx commented on #60
this sound very logical to me :)

Thanks!

[2018-01-31 12:07] phortx commented on #61
You Sir are my personal hero of the week :)

[2018-01-31 12:16] phortx commented on #44
Reactivity is on my ToDo list. Thanks for your advice :)

I understand what you did there, but in this case, the component developer has to deal with the data source (fetching). I'd prefer a way in which everything works with a `User.findAll()` call. If that's not possible, then I'd fallback to this solution.

[2018-01-31 12:43] kiaking commented on #44
Interesting. Maybe this is not your point, but would it be less awkward if you name the method something like `refresh` or `sync`? Because you know, if that component has child component that uses same state, the child component don't have to call `fetchAll`.

The parent component;

[code]

Then in child (UserList) component;

[code]

In this case, UserList component doesn't have to call `fetchAll

[2018-01-31 12:56] phortx commented on #44
I think, I'd pass the users as a prop into the child component. But let's assume we don't want to do that for `[enter reasons here]`. In this case I (as a random component developer :D) would expect `User.findAll()` to have some kind of caching (another point on my todo list), also I think apollo does some caching internally (therefore the in-memory-cache thingy).

In a (for me) perfect world I'd

[2018-01-31 14:26] phortx commented on #44
That's the point :)

I like the idea of dropping the CRUD mindset for a more practicable view. Thinking about that, I came to the conclusion that we basically have 2 layers: The model layer and the persistence layer.

On the model layer (which is used by the component developers) we care about getting models and working with them. That's the ORM part (this project) and we don't care where these da

[2018-01-31 15:31] kiaking commented on #44
I like the public API of the model (`load`, `save` and `destroy`). It's simple. I've thought many time on implement those, but couldn't figure out how to use them in the component while having reactivity work.

Let's make simple Vue Component as an example and see how it will change way we implement things. The following is the pure Vue Component without Vuex ORM and without backend integration.

[2018-01-31 16:39] phortx commented on #44
Wow. Thanks for the long answer!

For me this looks much more complicated than it should actually be. With my current JS-Data setup (and thats what I wish for Vuex-ORM) the example above would like this:

[code]

I'd prefer to call `user.save()` on save-button click but for the sake of the example, we save it after the input changes.

What are the arguments against this example? (Maybe you already

[2018-01-31 17:01] kiaking commented on #44
Hah, that could work if you are going to make another way to update other components by event hub that you mentioned.

I think the biggest arguments from me is the reactivity issue, which you already mentioned as a downside where other components which are using the same model are not updated automatically.

If we can manage that through eventHub, maybe it could work well. However, not sure how to

[2018-01-31 17:25] kiaking commented on #41
This is now available with Vuex ORM 0.16.3!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.16.3

[2018-01-31 17:25] #41 closed

[2018-01-31 19:05] tjsteinhaus opened #62 "Add last()"
Would you be able to make a quick way of getting the last item? Like first() but create one called last(). Or if possible, when creating/inserting new data, it could return the last id that was created? Or return the whole object?

[2018-02-01 02:01] kiaking commented on #62
Yea I could. I'll work on to it.

This is nice to have! I think returning whole object would be more flexible so I'll go with that path.

[2018-02-01 07:00] phortx commented on #44
Yes that whats I thought of. Another solution would be if Vuex-ORM itself acts as a event hub and allows something like this:

[code]

This leads me to the question: Could this complete built into the model? Each model instance could have an event listener and updates it's attributes and relations when an update happens? 🤔

This is a kind-of reactivity because the other models only update when one

[2018-02-01 12:56] kiaking commented on #44
Yea, it wouldn't be easy but possible I guess. But before going into details on how to implementing them, I think we must consider something.

If we are going implement EventHub so that multiple components can sync each other, then we wouldn't need Vuex. Because the main purpose of Vuex or Flux architecture is to do that "syncing". If we were to reimplement that feature by the different way, that

[2018-02-01 13:12] phortx commented on #44
Oh ... you're right. I highly admire you knowledge about Vue, Flux and everything around here.

I think I'm still too MVC handicapped 🙄  I'm starting to change my mind how things with Flux work.

Full ack! And everything makes sense of me. However I'm somewhat lost right now. After all what do you thing would be the best solution, the bast API for the component developer (aligned with Flux but wit

[2018-02-01 13:37] kiaking commented on #44
Currently what I think it would be better (not best maybe) is let developer care if they want data to be persistent, or not. I think in many cases developers would want to care.

So Vuex Store (Vuex ORM) is kinda cache. If you save data into Vuex, it is not persistent. If you refresh the browser, it goes away.  And sometimes we want that! For example, many of my application need that feature. I wo

[2018-02-01 13:54] phortx commented on #44
I think my brain hurts. However I like you're comparison to git.

The more I think about it, the more I feel it makes sense to decouple persistence and state, just like you said.

What about this (could be that this is the same as you suggest just other wording ;) )

[code]

[2018-02-01 14:02] kiaking commented on #44
Oh yeah, that's same as my example but yours is better in terms of error proofing : )

[2018-02-01 14:09] phortx commented on #44
Alright, that sounds like we're on the same track now 🎉  :D

I think the only part you have to change on Vuex-ORM are the convenience methods and to expose everything relevant to the Plugin API, document everything and then I (and others) can setup persistence plugins. Some kind of "How to write a persistence plugin" section in the documentation would be really awesome and would help a lot. Then I

[2018-02-01 14:24] kiaking commented on #44
Actually I did this yesterday. With Vuex ORM 0.16.3, you can override all modules to add new action, mutations and getters : )
https://vuex-orm.gitbooks.io/vuex-orm/plugins.html

For example, if you want to implement new `fetchAll` action via plugin, you can do this.

[code]

That's really a nice idea. We should. Let me add that to my list 🍺

[2018-02-01 14:28] phortx commented on #44
That was fast :D Thanks!

When do you think, you will you approach the model methods (`find()` and so on)?

[2018-02-01 14:37] kiaking commented on #44
Not sure, I feel there maybe some edge case that might take awhile to solve. Or not. But it would be very nice if could start on working with creating actions and mutations and such. Because even though I've manage to create model method, you would still need to create actions and mutations and then call them inside model.

[2018-02-01 14:40] phortx commented on #44
You're right. I'm asking because I'm working on a project for my company and I'd like to use Vuex-ORM, but if it's not ready (with apollo integration) soon, I can't use it :)

[2018-02-01 14:42] kiaking commented on #44
Yeah, looking very much forward to see the plugin though, and as you know, I'm following your project ; )

[2018-02-01 15:04] phortx opened #63 "Relations not working"
Probably I'm doing something wrong, but I'm sure you know what ;)

https://jsfiddle.net/51vrmud1/1/

Generates: `TypeError: Cannot read property 'name' of null` because `user.agency` is null.

[2018-02-01 15:09] tjsteinhaus commented on #63
@phortx On line 70 change it to this `this.users = store.getters[`entities/users/query`]().with('agency').get()` You need to tell it that you want to use the relationship in your query.

[2018-02-01 15:13] tjsteinhaus commented on #62
Awesome! Yes, it saves me from doing another query every time I'm inserting new data into a model to get the last or object.

[2018-02-01 15:25] phortx commented on #63
Oh I think, I missed that point in the docs 🙈

Thank you very much :)

[2018-02-01 15:25] #63 closed

[2018-02-03 16:46] paparent commented on #47
@kiaking  Hi !

I have similar issue like this one. Instead of a belongsTo relation, it's hasMany !

So, I can do:

[code]

But this doesn't work:

[code]

Is it possible ? :)

[2018-02-03 17:13] kiaking commented on #47
Hm... That's strange. Can you give the model schema so I can look into it more?

[2018-02-03 17:40] timoschwarzer opened #66 "Empty hasMany and hasManyBy relations should return an empty array instead of null"
Example:

There are two models: Model1 and Model2.
Model1 has an attribute with a `hasMany` or `hasManyBy` relation to Model2.

When querying a Model1 with no related Model2s, the attribute is null.
I think it should be an empty array instead to match the `find()` behavior, which returns an empty array when there are no results.

[2018-02-03 17:42] kiaking commented on #66
Yes it should! It seems like there's a missing test 👿  Needs to fix this.

[2018-02-03 18:04] timoschwarzer commented on #66
I'll make a PR for that if you haven't already started :wink:

[2018-02-03 18:05] kiaking commented on #66
Wow that would be amazing! I haven't worked yet! 🚀

[2018-02-03 18:14] kiaking commented on #66
By the way, I think this is happening somewhere in the constructor at the Model class. When "many" type relation is fetched from the store by Repo class, it should been returning empty array.

Model will set `null` to its relationship if it's not **queried** (at least that was my plan :/ ). But should keep them as empty array if user did query.

So my plan was;

[code]

P.S.
I haven't look into it

[2018-02-03 19:14] timoschwarzer commented on #66
I use
[code]
and `steps`, `target_users` and `target_groups` are always `null`.

[2018-02-03 19:16] kiaking commented on #66
Yea, it must be a bug 🙅‍♂️

[2018-02-03 20:10] timoschwarzer commented on #66
PR: #68

[2018-02-04 08:44] kiaking commented on #66
Hooray! Now this is possible by Vuex ORM 0.17.0! Thanks you for the amazing PR 🎉

[2018-02-04 08:44] #66 closed

[2018-02-04 08:48] kiaking commented on #61
Now Many To Many relation `belongsToMany` is available at Vuex ORM 0.17.0!

Please refer [documentation](https://vuex-orm.gitbooks.io/vuex-orm/relationships/defining-relationships.html#many-to-many) on how to define the relationship.

[2018-02-04 08:48] #61 closed

[2018-02-04 08:49] kiaking commented on #50
The first requirement for this issue – Many To Many – relation is now available with Vuex ORM 0.17.0! 🎉  Please [see the doc](https://vuex-orm.gitbooks.io/vuex-orm/relationships/defining-relationships.html#many-to-many) on how to define it.

[2018-02-05 17:34] skilltryck opened #70 "getters['entity/myEntity/query']().get() returns all entities as instances of myEntity"
Sorry for the cryptic title.

I have a few models.
In total they have 18 different entities as of now.
One model "myEntity" only has 2 entities right now.

If I call `getter['entities/myEntity/query']().get()` I get a return of 18 entities, all forced into the format of myEntity, and therefore they have ID:s and other fields that overlap, but the other fields are null.

Is it me doing something wr

[2018-02-05 17:44] kiaking commented on #70
Hi! Thanks for the feedback.

Maybe you have same `static entity` value in different models? Not sure. Could you paste your Model definition of "myEntity"?

[2018-02-05 18:30] skilltryck commented on #70
Sure, here are two of my definitions:
[code]
[code]

[2018-02-05 18:49] kiaking commented on #70
Thank you for the code! The models look just fine. OK, now I'm having trouble understanding your issue here. Is it possible for you to paste the data inside state before you try to fetch data? Inside the store, it should look something like this.

[code]

If you have above structure inside your store, and if you call `getters['entity/sUsers/query']().get()`, then you should only get `sUsers` data.

[2018-02-06 13:29] phortx commented on #44
I've pushed some basic proof of concept code into the vuex-orm-apollo repo now :) There's still a lot of work to do and quality to improve, but now we have something to talk about.

However, seems like the code example above doesn't work. See https://github.com/phortx/vuex-orm-apollo/blob/master/src/index.ts (`setupFetch()`).

When I call `store.getters[`entities/users/fetch`]()`, I get

[code]

a

[2018-02-06 15:22] kiaking commented on #60
Thank you for the ideas! I think mostly good, but if we're going to implement model methods, it has to be mapped with Vuex Module method, that is;

1. create
2. insert
3. all
4. find
5. query
6. update
7. delete
8. deleteAll

I'm fine with the same method having a different name, for instance, we could add `update` and `save` that both do same thing (and a user can choose whichever they like). We

[2018-02-06 15:30] phortx commented on #60
I understand that argument, however I think at least providing them in vuex-orm without any implementation would define some kind of consistent API so that all plugins use the same method names and the user can swap them. If we find another way to keep this kind of consistency between the plugins, via documentation for example, that's ok for me.

Personal taste. Coming from Rails, where models hav

[2018-02-06 15:42] kiaking commented on #44
@phortx Wow this is really cool! Thank you for your great work 🎉

The reason why `store.getters['entities/users/fetch']()` is not working is because you're defining "actions" in `setupFetch()`. You need to define `getters` if you want it be accessible via getters.

If you're defining fetch as an action, then you should call it as `store.dispatch('entities/users/fetch')`.

[2018-02-06 16:05] timoschwarzer commented on #70
Can you show us the code where you register the models with vuex-orm?

[2018-02-06 16:07] timoschwarzer commented on #70
For me, this sounds like you have inserted/created data into the wrong model pool somewhere.
E.g. you wrote `myOption/insert` somewhere where it should be `sthElse/insert`.

[2018-02-06 16:09] kiaking commented on #60
Yeah, it could be nice if plugin author can follow such convention. However, maybe having such method already defined in Vuex ORM could oppositely affect plugin author.

That is, basically when you define a plugin, you might create a new method, or override existing method. For example, your library vuex-orm-apollo defines `fetch` which isn't present in Vuex ORM right now. There's no problem with

[2018-02-06 16:38] phortx commented on #44
Of course! Now I feel really stupid 🙈  :D

Thank you, I will try to finish a prototype of the plugin tomorrow.

[2018-02-06 16:39] phortx commented on #60
That's exactly what I thought of :) This allows to keep the `fetch()` calls even if there is no persistence plugin  like in the test environment where you can mock it and so on.

[2018-02-07 07:01] phortx commented on #44
With `dispatch' it works. Thanks.

I need to access the model field definitions (to read the relations, properties etc). How can I achieve that? Before with my model base class I just did `this.fields()`, however within the plugin I can't find the model itself.

[2018-02-07 11:37] phortx commented on #44
I solved this now by passing the database as option into the plugin, but that's not optimal I think.

[2018-02-07 14:15] phortx commented on #44
Also I have a working proof of concept for reading data from a GraphQL API (saving is the next step)

https://github.com/phortx/vuex-orm-apollo

[2018-02-07 14:27] phortx opened #72 "@vuex-orm namespace & Plugin package naming"
I wanted to publish the orm-vuex-apollo plugin with the name `@vuex-orm/plugin-apollo`, because the search plugin uses a similar name and well it made sense for me.

I got `Error: Forbidden : @vuex-orm/plugin-apollo`, which actually makes sense, due to the fact that this namespace doesn't belong to me.

Should I simply rename my plugin or does it make sense to have all plugins under the same names

[2018-02-07 14:51] kiaking commented on #60
Oh I see. Yeah that's good.

[2018-02-07 14:57] kiaking commented on #72
It would be nice to add it under the vuex-orm namespace if you're OK with it! Let me email you so that I can add you to the organization and such 👍

[2018-02-07 14:57] #72 closed

[2018-02-07 14:58] kiaking commented on #72
@phortx And sorry, I didn't know your email address :p  Could you send me your NPM account at kia.king.08@gmail.com ?

[2018-02-07 15:07] kiaking commented on #44
Nice!!! Great work!

Yeah, for now, I think it's good to path database instance as an option. But I think I should prepare a cleaner way to access each model.

[2018-02-08 11:14] phortx commented on #60
There's still something that bothers me: In my list above all methods do either read/write from/to the store or are for syncing the store with the backend except for `destroy()` and `destroyAll()`, which do both: deleting from the store AND from the persistence. This is some kind of inconsistence and may irritate the user. Also I can imagine use cases where you want to delete a model from the stor

[2018-02-08 18:00] kiaking commented on #60
I like the idea of using the word delete and destroy. It fits at least for me. So I guess all CRUD method has 2 each which one is save only to Vuex and the other is persist to the backend. I found few missing maybe, below is the my understanding.

| | Vuex Only | Persist |
| --- | --- | --- |
| READ | find | fetch |
| CREATE | create | persist |
| UPDATE | update | persist |
| DELETE | delete | de

[2018-02-08 20:11] phortx commented on #60
Everything correct :)

The point with the two persist methods is true. This is no problem if we know that this is a new record (not persisted) or not. If we don't keep that information, I'd suggest following pairs:

- create/insert and persist
- update/save and push

[2018-02-09 09:40] iNaD opened #73 "New Action: insertOrUpdate"
Today I stumbled upon a common use case which currently isn't covered by vuex-orm.

## Idea

Add an action `insertOrUpdate` (couldn't think of a better name) which will insert new records into the collection or update records already existing.

[code]

## Use case

In my case relationships aren't always returned by the API. You can specify which relationships should be embedded in the response to

[2018-02-09 11:37] kiaking commented on #73
Hi! Thank you for the request! I think this is a very good feature to have. I think the method name `insertOrUpdate` is good too.

I think it is good for Vuex ORM to have this feature 👍

That would be super awesome! However, the implementation should be in Repo class. So, if you're not so familiar with the Repo class, I could implement this. What do you think?

[2018-02-09 11:41] kiaking commented on #60
Ah "push" is nice. 👍  Yeah now it becoming pretty solid.

[2018-02-09 12:20] iNaD commented on #73
Thank you for the fast response. I will have a look at the Repo and how it processes the create and update actions. If I get stuck I will write you 😉

[2018-02-09 13:21] timoschwarzer commented on #73
Can we extend the update mutation with a property `insertMissing`?

[2018-02-09 13:42] kiaking commented on #73
@iNaD Great! Thanks. I think you can follow `repo.insert` method to see what it is doing (it actually calling Query class to perform non relational things such as fetching record or modifying states). Maybe I should document this but the role is;

**Repo** – Responsible for handling data normalization and relationals. Repo will not mutate or reference state directly but do anything related to rela

[2018-02-09 15:12] timoschwarzer commented on #73
Maybe `insertMissing: true` → Insert all missing data, `insertMissing: ['foo', 'bar']` → Insert boo and bar when updating.

[2018-02-09 15:59] kiaking commented on #73
Hah, that's nice idea. However, when I think about it, I don't think it's possible to pass relational (nested) data to the `update` action...

We should first update that and then add that option I guess.

[2018-02-09 17:49] kiaking commented on #62
Both returning newly created object from action and the `last` method has been implemented at Vuex ORM 0.18.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.18.0

Thank you for the feedback! I hope this will help strip down your code a bit : )

[2018-02-09 17:49] #62 closed

[2018-02-10 08:43] phortx commented on #60
That's probably not the final version, but I as promised, I want to share my base model class with my convenience methods, which currently work great for me.

So we have something to talk about and maybe already some code to copy'n'paste :)

https://gist.github.com/phortx/1a6d24c0e379e1490a285fa7f985d187

[2018-02-10 09:17] phortx opened #75 "0.18.0 Regression?"
Seems like the new version is breaking my plugin:

[code]

doesn't work: `vuex.esm.js:417 [vuex] unknown action type: entities/users/persist` :(

With 0.17 it worked.

[2018-02-10 10:45] kiaking commented on #75
Hm... Could you give the underlining code? I couldn't find `persist` method in vuex-orm-apollo :/ From the error message, seems like action registration is broken.

[2018-02-10 10:48] kiaking commented on #60
Yeah looking good! One thing is that probably the instance methods is going to be prefixed by `$`. It is just a convention model currently has (same with Vue instance methods).

[2018-02-11 08:15] phortx commented on #75
Oh sorry I don't pushed that yet :)

From the `install` method:
[code]

And the persist method:

[code]

[2018-02-11 08:17] phortx commented on #60
That's ok, I think. But just out of curiosity: what's the reason for the `$` convention?

[2018-02-12 04:56] kiaking commented on #75
This is strange. Maybe something to do with this bindings? Because the following test passes.

[code]

Can you check what happens when you change that code to this?

[code]

[2018-02-12 05:02] kiaking commented on #60
It just makes things bit safer for a user not having to worry about the conflict when defining their fields in the model.

For example, if we have `update` instance method in the model and user defines `update` fields, then the `update` method will be override and user may not be able to use that method.

And it's kinda Vue world convention. Vue also uses `$` for the instance method so I'm just fo

[2018-02-12 19:50] phortx commented on #75
Hmm I can't reproduce it. Now it just works. Sorry for the issue :(

[2018-02-12 19:52] #75 closed

[2018-02-12 21:46] timoschwarzer opened #77 "Insert action should return updated object"
When inserting an object with an ID that already exists in the store, the updated entity isn't returned. I think this would be a nice addition.

[code]

[2018-02-13 01:38] kiaking commented on #77
Hah, this is unexpected. I though I covered this situation too but I haven't wrote test for this. Let me check 🔥

[2018-02-13 01:39] kiaking commented on #47
@paparent I'll close this issue due to inactivity. Please feel free to reopen it if you still having trouble! Thanks.

[2018-02-13 01:39] #47 closed

[2018-02-13 01:40] kiaking commented on #70
@skilltryck I'll close this issue due to inactivity. Please feel free to reopen it if you still having trouble! Thanks!

[2018-02-13 01:40] #70 closed

[2018-02-13 05:17] timoschwarzer commented on #77
Ah, okay. I thought this is intended because you wrote "**returns newly**  created entities" in the changelog. Thank you!

[2018-02-13 05:17] timoschwarzer commented on #77
Ah, okay. I thought this is intended because you wrote "**returns newly**  created entities" in the changelog. Thank you!

[2018-02-13 16:09] kiaking commented on #77
OK I've wrote test for this case and unfortunately it's passing.

[code]

Is it possible for you to create reproducable code?

[2018-02-14 07:39] timoschwarzer commented on #77
I will take a look...

[2018-02-14 12:05] phortx opened #78 "Deleting or Updating without knowing the id?"
I have a variable containing a record. This records `id` field is `null` because it was newly created and the client can't know the id which will the server assign.

Now I want to update or delete this record. Who can I achieve that?

[2018-02-14 15:21] kiaking commented on #78
Yea, this can be difficult in such situation. As a best practice, you want to always assign primary key no matter what. You could use `this.increment()` attribute to automatically generate one.

Then, from Vuex ORM 0.18.0, you can get newly created object via return value of the action, you can determine which id to pass to delete method.

[code]

Even if you use `this.increment()` as an attribute

[2018-02-14 15:27] kiaking commented on #73
Thanks to @iNaD, this feature is now implemented in Vuex ORM 0.19.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.19.0

[2018-02-14 15:27] #73 closed

[2018-02-14 15:37] phortx commented on #78
Sounds good, I will take this way for the apollo plugin! Thanks :)

[2018-02-14 15:40] kiaking commented on #78
🚀 👍

[2018-02-14 16:24] iNaD opened #79 "Let `update` return updated records"
As already discussed in #73 the `update` action should also return the updated record(s) like the other actions. This would streamline the action API.

Like the other changes this shouldn't break existing applications?

[2018-02-14 21:02] clockworked247 opened #80 "Unable to see child models within object state"
Hi there, thanks for the great plugin for Vuex.  I'm still struggling to get it working, unfortunately.

Apologies in advance, I've been going through the docs and trying out the example calls to Vuex ORM: https://vuex-orm.gitbooks.io/vuex-orm/store/retrieving-data.html

I must be doing something wrong...

Given the following Models:

**App Model**

[code]

**Workspace Model**

[code]

I create an

[2018-02-14 21:12] iNaD commented on #80
If I understand you correctly, you missed [Retrieving Relationships](https://vuex-orm.gitbooks.io/vuex-orm/relationships/retrieving-relationships.html) while reading the docs.

So the correct query should be similar to this:

`myVue.$store.getters['entities/apps/query']().with('workspaces').all()`

This retrieves all apps including the workspaces relationship. The same applies when Retrieving a si

[2018-02-15 00:59] clockworked247 commented on #80
@iNaD Thanks for your comment and yes, I did miss that page.  The with() API looks very elegant and intuitive, but unfortunately, I can't get it to return the child model state with the query you posted or any of the queries seen in the documentation.

`myVue.$store.getters['entities/apps/query']().with('workspaces').all()`
Return:

[code]

But if I check my state, the workspaces definitely exist:

[2018-02-15 01:45] clockworked247 commented on #80
I removed the belongsTo() definition (redundant) in the child Workspace model and made sure to add an when creating the app.  ie.

[code]

When I call:
qconsole.Vue.$store.getters['entities/workspaces/query']().all()

Both workspaces come back in the query, but neither of them  has it's "appId" property set to 1, the parent's ID.

Isn't that something that should happen automatically, linking the

[2018-02-15 01:50] clockworked247 commented on #80
https://vuex-orm.gitbooks.io/vuex-orm/relationships/inserting-relationships.html

You have to specify the parent IDs within the JSON data.

*facepalm*  Ok, yea.  I should have read deeper.  Apologies for the noise.

[2018-02-15 01:50] #80 closed

[2018-02-15 02:48] kiaking commented on #80
@clockworked247 Hi just wanted to follow you up on this.

Yes, it is recommended to explicitly define parent ID in JSON data.

However, Vex ORM will define correspond id automatically when ever possible. For example;

[code]

See how `user_id` and `author` field is filled with users id. So you could define your Post model like following and belongsTo relation will still work.

[code]

But, this is

[2018-02-15 05:12] DennisOng commented on #50
Just started using this package for the past few days and just wanted to say thanks for the superb effort @kiaking ! Also went down the route implementing a similar thing manually using normalizr and things was getting messy, this package really simplifies that.

Also wanted to add that "Many To Many Polymorphic Relations" would be super useful for our use-case, but trying to workaround it now usi

[2018-02-15 05:45] clockworked247 commented on #80
Hi @kiaking, thanks for clarifying.

I inferred from the first example in these docs:
https://vuex-orm.gitbooks.io/vuex-orm/relationships/inserting-relationships.html
that the children needed their own IDs defined as seen in the example JSON used in the create statement.

[code]

Anyway, once I took out the explicit definition in the data, the ORM did it's magic and created the ID from the relatio

[2018-02-15 05:56] clockworked247 commented on #80
@kiaking, would you expect the create method to work with parent->child->grandchild relationships represented in the data?   I'm not seeing the IDs be generated by the ORM for the grandchild.

[2018-02-15 12:45] phortx commented on #78
Will this also work for pivot models where the primary key consists of the two foreign keys? 🤔

[2018-02-15 14:03] phortx commented on #78
If using this method now for delete/updating outdated records. But there is a reactivity issue.

The process ist:

- create a new record via `const user = User.create({ ... })`
- id is generated automatically, let's say its `42`
- call `user.persist()`
- the record is serialized and saved to the server
- the server returns a new record with the real ID, let's say it's `1337`
- the store is updated

[2018-02-15 15:01] phortx opened #81 "Delete not working / not reactive?"
See https://jsfiddle.net/51vrmud1/12/ and click on one of the `X`s.

Expectation: User will be removed from the list.
Actual behavior: Nothing happens.

[2018-02-16 01:40] mesqueeb opened #82 "Caching computed properties per item."
Dear @kiaking

I currently have an actual Todo list application that I've been building for over a year now. A very long time ago I had a problem after integrating Vuex that it was difficult to have `getters` or `computed properties` saved on a per item basis who's return values are all _cached_.

Therefore I made my own solution by building one Vue instance per item.

I am currently wondering if

[2018-02-16 15:13] AlexandreBonaventure opened #83 "Implement lifecycle hook – Subscribe to insert/update with relationships"
Hello,

For my use-case, I want to be able to subscribe to any changes that happens to a model (created/deleted/updated instances). It works fine with `store.subscribe` vuex API, but vuex-orm does not fire relationship mutations when inserted from their parent relationships for instance (which is not an issue by the way).

[code]

You see, if I insert this data
[code]

I want to be able to subscri

[2018-02-16 21:10] AlexandreBonaventure opened #84 "Updating relationships Bug ?"
Hi again,
https://codesandbox.io/s/1wvjq1jxw3

When defining inverse hasOne relationship. update fails to update relationship/ insert succeed.
Is that expected behaviour ?

[2018-02-16 21:49] iNaD commented on #79
While digging into a solution for the `update` action, I found some missing cases and tests belonging to composite primary keys.

I think I will create a PR for this first, before starting the Promise based update action.

[2018-02-16 23:34] iNaD commented on #78
So I looked into what is stored when no id is given and what is available via public API.

Using this testcase:

[code]

As you can see the record is created as `_no_key_0` (generated by ``return id !== undefined ? id : `_no_key_${this.count++}` `` in `idAttribute` from [Schema.ts:129](https://github.com/vuex-orm/vuex-orm/blob/v0.19.0/src/Schema.ts#L129)), id is `null` as expected, but `$id` shoul

[2018-02-16 23:52] iNaD commented on #81
Found the bug. It has to be `user.$dispatch('delete', {where: id})` or `user.$dispatch('delete', id)`.

`user.$dispatch('delete', {id})` which equals `user.$dispatch('delete', {id: id})` won't work 😉

[2018-02-17 00:03] iNaD commented on #84
Hi,

the update method is currently under rework, because it misses a lot of functionality which is already implemented in some of the other actions.

One solution would be to use the newly introduced `insertOrUpdate` action, which handles relationships. I applied it to your sandbox code, so you can see it in action here: https://codesandbox.io/s/kw8662o643

[2018-02-17 04:42] kiaking commented on #50
@DennisOng Thank you for using Vuex ORM! Yes, I'm working on with morph relation currently : ) It's bit complicated, so it might take time but stay tuned! I wouldn't think it takes too long though.

[2018-02-17 04:56] kiaking commented on #80
Yes `create` method work with grandchild nested relation (it can go deep as you can get). However, ID generation wouldn't always work regardless how deep the nests are. It has several reasons why not (depending on relation type too), but again, it is recommended to provide related id manually for the best consistent result.

[2018-02-17 07:08] kiaking commented on #82
I'm not sure if Vuex ORM would be more memory intensive compared to your solution. Maybe it will, maybe not. We have to do the benchmark to find out.

If you use Vuex ORM, it might be easier to construct your query and reduce some boilerplate.

However, could you elaborate a bit more on what kind of problem you had and how your solution is solving it? Not sure if you were having a problem with Vue

[2018-02-17 07:27] kiaking commented on #83
Thanks for the feedback. Yeah this can be tough to catch via `store.subscribe` method. Maybe it depends on what you want to do when subscribing to the book model change, but I think it would be good for Vuex ORM to implement such lifecycle hook that users can subscribe to.

To do so, I'm thinking to add method that you can define on modules for example something like `onInsert` method.

Could you

[2018-02-17 07:46] kiaking commented on #79
Merged the #85! Thanks for the PR!

[2018-02-17 07:56] kiaking commented on #78
Hm, yeah @iNaD is correct with the behavior, but the thing is id-less records must be avoided at first place. `_no_key` thing is used mainly with conjunction with `this.increment` attribute, so that after normalizing data, Vuex ORM updates those `_no_key` records with incremented id. If users are not using `this.increment` attribute, they should always provide id value.

However, it always good to

[2018-02-17 08:01] phortx commented on #78
@kiaking alright, thx :)

[2018-02-17 08:02] phortx commented on #81
@iNaD Thank you dear! That seems to work :)

[2018-02-17 08:02] #81 closed

[2018-02-17 08:02] kiaking commented on #84
OK, this is actually the feature request, since I wasn't thinking of passing related records to `update method`. Currently `update` method only supports non nested relation data. I think it's nice to support this feature so we should!

However as a workaround as mentioned by @iNaD, I think you can use `insertOrUpdate` method to get what you want!

[2018-02-17 08:15] iNaD commented on #78
In general if you really need IDs before sending data to a server you should consider using UUIDs or similar conflict save primary keys. Then the server would return the same id and you can easily update the local records from the response.

This makes your life a lot easier (if it is an option).

[2018-02-17 08:23] mesqueeb commented on #82
Vuex getters with an ID attached didn't cache anything for me.

Eg. As in the Vuex example
[code]
I had set up computed properties on a per item basis like the above. But this didn't cache the results and would recompute every time it's called. That's why I invented the new Vue instance per todo item and now each item can have its own computed properties which are reached properly.

But then a yea

[2018-02-17 17:56] kiaking commented on #50
Polymorphic relations are implemented by #86! It will be available on next release 🚀

[2018-02-17 22:22] GERJohnson opened #87 "Many to Many Relationship insert data without relational data breaks"
I looked at your documentation and tried to implemented the Many to Many relationship.

It seems to break if I want to insert new data that does not have the relationships included.

Here is a sample code I forked from another post :-)

https://codesandbox.io/s/n7kvyzrj8p

[2018-02-19 08:26] phortx commented on #78
I'm developing the vuex-orm-apollo plugin and I don't want to force the developer into any ID format.

I'm going the way with increment and we'll see if this leads to any issues.

Thanks!

[2018-02-19 12:05] kiaking commented on #82
Thanks for the info! I haven't checked this caching behavior as much, but I'm afraid to say that I think Vuex ORM act as same as Vuex, since the underlying getters code for the vuex is pretty similar to your example.

It is something like this.

[code]

It might be nice if there's some good library that can be integrated easily as discussed in the following issue (I noticed your name here too).
ht

[2018-02-19 12:11] kiaking commented on #87
Hi! Thank you so much for the report! Yes this is a bug and I've fixed it at this commit 8116b60fe5fbe6f9f439951fb91a7a350f836ac3. It will be fixed at next version. Was missing this test.

[2018-02-19 12:17] kiaking commented on #78
Great you found a hint for your way.

I kinda thought it might be nice for Vuex ORM to have something like `replace` action that replaces existing data with a different ID.

[code]

Maybe you could use this method to replace existing record with new one fetched from the server. What do you think?

[2018-02-19 13:20] AlexandreBonaventure commented on #83
Yes, I feel like adding lifecycle hooks to models definition could be a great feature. My need is mostly about tracking changes on models to fire some persisting cache/save some data in local database

[2018-02-19 14:39] timoschwarzer commented on #77
I didn't forget this, I'm just short on time... I'll take a look the next days...

[2018-02-19 15:12] kiaking commented on #79
Implemented at #79! This will be available on next release.

[2018-02-19 15:15] iNaD commented on #79
You meant #88 ;) great work, glad I didn't start any coding yet :)

[2018-02-19 15:56] kiaking commented on #79
Oops, yap #88 :p Refactoring for insertOrUpdate is not started though ;)

[2018-02-19 17:02] kiaking commented on #50
Now the Vuex ORM 0.20.0 supports polymorphic relation 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.20.0

Thank you all for being patient on this, and thank you all for bringing this up!

[2018-02-19 17:02] #50 closed

[2018-02-19 17:02] kiaking commented on #79
Now Vuex ORM 0.20.0 is out with this feature enabled 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.20.0

[2018-02-19 17:02] #79 closed

[2018-02-19 17:03] kiaking commented on #87
This is fixed at Vuex ORM 0.20.0.
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.20.0

Sorry for the inconvenience and thank you again for reporting this issue!

[2018-02-19 17:03] #87 closed

[2018-02-19 17:17] kiaking commented on #83
OK, thanks for the confirmation. I've been thinking about lifecycle hooks but not sure where to define it just yet if it should be in model or module (or maybe both). I'll think about it and try to come up with nice API 😃

[2018-02-19 17:19] kiaking commented on #77
Thanks! Take your time though 👍  I don't think it matters but Vuex ORM 0.20.0 is just released so maybe it would be nice if you could try on that version.

[2018-02-19 18:06] tjsteinhaus opened #89 "Add the ability to hide row if item has a deleted_at column and its not null"
Like the title says, it would be great if we could tell it to not display a row if the deleted_at column isn't null. Just like Laravel and other frameworks.

Currently I would have to add a where clause, it would be great if it does this automatically if it's set.

[2018-02-19 18:43] cjcrawford commented on #89
This would be a good case for a soft delete plugin. I can throw one together quick.

[2018-02-19 18:49] tjsteinhaus commented on #89
@cjcrawford Yes, soft delete. Couldn't think of the term!

[2018-02-20 08:56] razvanioan opened #90 "Feature Request: Update key values & sync relations"
First of all, really nice job here ;)

Being very new to Vue / Vuex and reading past few days the guides, examples and stuff (so my head is about to blow), documenting for a project that I need to do, I came across with the question how to handle DB structured data with the ecosystem, and then I've found your ORM plugin.

One thing I don't understand just yet, trying to combine this with a REST AP

[2018-02-20 11:11] soutarrr7 opened #91 "How to use with nuxt.js"
Thank you for make vuex-orm.
I wanna use it with nuxt.js and mode of nuxt-store is module.

I wanna know that how to register  vuex-orm database on vuex plugin.

[2018-02-20 11:20] soutarrr7 commented on #91
I'm so sorry.
solution of this problem is on document of nuxt.

[2018-02-20 11:20] #91 closed

[2018-02-20 14:12] tjsteinhaus commented on #90
I'm actually working through this currently with a project. I have everything working for pulling in data from the REST API and storing it, along with making sure everything works for offline as well. I just started working on the piece to sync data back up to the server after being offline and I'll try and report back once I have more of a clear answer for you, but for now I'll try and explain ho

[2018-02-20 16:24] kiaking commented on #89
This is quite good idea I think. Maybe it can be included in Vuex ORM Core though. @cjcrawford Do you have any idea on how the API should look like? Maybe `static softDelete` property on model might be good...? I like the idea of following Laravel API though.

[code]

[2018-02-20 16:25] tjsteinhaus commented on #89
@kiaking The way you have it in your example is the way I would expect it to be.

[2018-02-20 16:26] kiaking commented on #91
Glad you could find the solution! Please feel free to open an issue if you encounter some trouble : )

[2018-02-20 16:51] kiaking commented on #90
This is a kinda complicated issue that we should seriously discuss. We had few discussion on #78, but it's still not concluded.

This issue should be fixed. Honestly, I wasn't thinking about when people update its primary key, but when they do, it should update its object key as you would expect.

I've talked a bit about `replace` method to accomplish this on #78.

[code]

However, I think we cou

[2018-02-20 16:52] kiaking commented on #78
Similar issue has opened (#90) and it is more focused on that thread so lets bring this discussion over there. Would be really nice if I can get some ideas!

[2018-02-20 16:52] #78 closed

[2018-02-20 19:16] razvanioan commented on #90
Hm, maybe I've missed the `replace` method in the guide, I'll give it a try !

It sounds better than deleting and reinserting the record, this might get a strange fuzzy reactive update in the views ...

As for updating related records, why to parse all the store data ?

For the moment, knowing the relationships myself, I will try to manually search the related records using `query` and use `update

[2018-02-21 17:24] kiaking commented on #90
Oh no, sorry that `replace` method is not implemented yet! It was just a proposal on that thread. Sorry for the confusion. : (

Well because it is not always obvious that some model relates to the other.

For example, let's say a user defined following models.

[code]

Now, if we look at Post model, we can easily see that it belongs to a User, but User class has no idea that Post belongs to the Us

[2018-02-21 18:03] razvanioan commented on #90
**Idea: Could an event bus be a solution here ?**

 * models having `id / keys` chnaged / updated to $emit such an event
 * related models to automatically listen for such events, and in case it applies to them, query it's data for the old keys and updated accordingly

[2018-02-22 00:38] kiaking commented on #90
Hah, yeah that is a good idea! I'll give it a try. I think that works 🤝

[2018-02-22 04:42] clockworked247 opened #92 "Can't access getters from module action"
I want to have much of my application logic in the store modules.   I am attempting to make use of the Vuex-ORM getters to retrieve a field from the model:

ServerInteractions Model
[code]

serverInteractions Module (just the actions)
[code]
This code throws an error since this getter function does not exist.

Looking at the getters object, it only contains the getters local to my module + a few a

[2018-02-22 05:01] kiaking commented on #92
You don't need `entities/serverInteractions` in your actions because it's namespaced.

Use it like this.

[code]

By the way, if you want to fetch the first record, you could use `first` method.

[code]

[2018-02-22 10:10] clockworked247 commented on #92
Perfect, thanks.  I was going in circles trying to get that working.  Your last suggestion is much cleaner code too.   Thanks for the tip!

[2018-02-22 10:10] #92 closed

[2018-02-23 03:33] kiaking commented on #92
No problem! Glad I could help. Feel free to open an issue if you have any other trouble 😃

[2018-02-23 05:05] kiaking opened #93 "Roadmap To The Version 1.0.0"
I think it’s time to consider bumping Vuex ORM version to 1.0.0. The biggest reason is that luckily, I hear many people using Vuex ORM to build their application, and there are already few plugins out there. Hence we should fix the API and make whole application more stable.

But another reason is that Vuex ORM has almost all relationship types supported. We do have other feature requests as well,

[2018-02-23 05:37] clockworked247 opened #94 "Module pre-seeded with state?"
If there's a forum I can ask questions on, I'm happy to go there.  Apologies for continuing to post here.  I'm still struggling with use of this library.

Background: I am porting over a vanilla JS + jQuery app to Vue and am struggling with the shift from a pure JS Object hierarchy in which my objects have their own state and methods for acting on that state.

In the Vue + Vuex paradigm we're deal

[2018-02-23 05:45] kiaking commented on #94
No worry about forum. We don't have one so you can just use issue for the questions ❤️

For your case, simply define `name` method in the model.

[code]

[2018-02-23 06:37] iNaD commented on #93
Thank you for the awesome work already done. Coming from Ember.js and other frameworks already having an ORM etc. I was pretty lost at first using Vue for SPAs.

As we already talked on Twitter, I think removing Lodash as a dependency would be great. It is a very good library, but at the same time it's another dependency which is pulled in and most of the functionality is natively available in js

[2018-02-23 06:44] clockworked247 commented on #94
@kiaking Thanks.  That's so simple.

Follow-up: This may be bad design, but can these class methods get access to the rootState and/or other Module actions/getters?

Use case:  Person hasMany Books

[code]

[code]

Code creating and calling method
[code]

So in this example, the child object is accessible (I think...), but it's possible I might also want to access unrelated objects (ie. the app st

[2018-02-23 12:16] phortx commented on #93
Yey, I thank you too for your awesome work on this wonderful peace of software :)

The plan looks good and I think the roadmap is very reasonable in my opinion.

[2018-02-23 13:28] kiaking commented on #94
When using Vuex, you should almost always avoid mutating the value outside of mutation handler. Which means when you want to update the value, use actions.

When using Vuex ORM, you may do that through the model method as well because the model has `$dispatch` method which dispatches actions.

[code]

I think this does what you want, but I'm not 100% sure because I don't know the actual specificat

[2018-02-23 15:29] timoschwarzer opened #96 "belongsTo relationship is broken since 0.20.0"
I have a Message with an author field, which is a User entity. When fetching the Message with `.with('author')` the author field is null since vuex-orm 0.20.0.

I wrote a test for this case. It fails in 0.20.0 and passes in 0.19.0.
https://github.com/vuex-orm/vuex-orm/pull/95/commits/977b4ea11fdf89e3d3faa45aa1dcfd891c4236a6

I'll try to bisect the commit that causes the problem.

[2018-02-23 16:26] timoschwarzer commented on #96
This is the first commit where the test fails:
https://github.com/vuex-orm/vuex-orm/commit/4f6cb71dc46e9b67b900c251885c1dac653116f9

[2018-02-23 16:36] timoschwarzer commented on #93
I can just say what the others already said. Thank you for your hard work and for your instant and nice support everytime @kiaking! This library is awesome! :100:

[2018-02-23 16:46] timoschwarzer commented on #77
Hmm, seems like the issue is resolved / never existed / whatever :man_shrugging:
I'll reopen when I encounter this again.

[2018-02-23 16:46] #77 closed

[2018-02-23 16:48] kiaking commented on #96
Damn sorry this is my bad. When refactoring largely on 0.20.0, I forgot to implement auto relational filed generation. I'll fix this soon with more complete solution. Before the id generation woke only with `belongsTo` relation with certain order ob nested data.

For a short time before I fix this, you have to manually set `user_id` for the Message model :(

[2018-02-23 16:59] timoschwarzer commented on #96
No problem! Take your time, I can just stay on 0.19.0 for the time being. :sweat_smile:
Keep up the great work! :smile:

[2018-02-23 19:10] kiaking commented on #77
Oh well, good news then! Thank you for checking 👍

[2018-02-23 20:25] clockworked247 commented on #94
@kiaking Yes, thanks.  I know this.  I should have left out the mutations comment.  I meant just actions and getters.

Thanks for the example use of getter & dispatch.  My app is quite complex, so I just tried to create a simple example here to illustrate the issue I was facing.

I'll play around a bit more with this today and will eventually close this issue.  I just want to make sure I don't hav

[2018-02-24 04:18] kiaking commented on #94
OK, great. Feel free to ask here if you have any other trouble!

[2018-02-24 04:25] kiaking commented on #96
This is fixed at Vuex ORM 0.20.2! 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.20.2

Sorry for the inconvenient!

[2018-02-24 04:25] #96 closed

[2018-02-24 04:28] kiaking commented on #93
Thank you all for the such a kind word! You guys are seriously making me cry 😭

@iNaD Yeah lets add one in here. I'll make issue for that and link to the list.

[2018-02-24 04:34] kiaking opened #98 "Remove lodash from dependency"
To reduce file size and dependency, we should eliminate the use of lodash. There're quite few functions used in Vuex ORM so we'll just eliminate them one by one.

In terms of dependencies, we could just remove everything from `dependencies` and move to `devDependencies` since Vuex ORM publishes bundled files as same as Vuex. Vuex doesn't have any dependencies, they even put Vue to the `devDependen

[2018-02-24 06:46] timoschwarzer commented on #96
No problem and thank you for your work! :smile:

[2018-02-25 03:06] kiaking commented on #96
👍

[2018-02-26 10:39] iNaD opened #100 "Retrieve type fields only"
Currently the `$fields` method on the Model returns all kind of fields (as well as the static `fields` method) and there are methods to retrieve all `Increment` fields or all fields for `belongsToMany` relationships.

I only want to send modified values to the server and while iterating on the available fields I'm checking for their types (e.g. `field.constructor.name === 'Attr'`). This works fine

[2018-02-26 21:37] razvanioan commented on #93
Hi again @kiaking

Two more items that maybe I'm missing :)

* **v-model sync**
I see that now v-model can be used to read record data but it would have been nice to be able to update it as well (without the need of an update event)
* **model validations**
Maybe this can already be implemented as I've just understood that models are classes that we can add custom methods to

[2018-02-27 04:24] longuid opened #101 "How to update 'hasManyBy'？"
i have a very complex project, vuex-orm saved me. but how to update array?

[demo](https://jsfiddle.net/languid/adzcdgmx/3/)

when  update hasManyBy field, array be merged （in demo case, parameter cannot by delete）;

i  found  the code:
[code]

how to solve the problem? thx!

[2018-02-27 14:54] kiaking commented on #100
OK, I didn't know that uglify do such thing!

You could try importing `@vuex-orm/core/lib/attributes/types/Attr`. Notice `lib`. This is the directory where all of the files be placed. I don't think this should be the solution but maybe it can be a workaround until we implement something that solves this problem.

Vuex ORM itself doesn't provide any reactivity. It's achieved by Vuex and Vue.

Sorry

[2018-02-27 14:59] kiaking commented on #93
Hi @razvanioan, thanks for the feedback!

Yea you can add any validation method to the class if you want. I don't know if having validation feature in the model or Vuex ORM is a nice idea or not. Because when using Vue, most of the time I think validation is done at Vue Component level. Using something like Vuelidate.

Do you have any proposal API for defining validations? Maybe it worth discussin

[2018-02-27 15:18] kiaking commented on #101
Oh OK, this is yes a problem. Sorry I haven't thought enough about updating Array... This issue must have some kind of solution, but for now as a workaround, please use `insert` method and replace the whole record. It's a pain so, sorry for that.

This problem is not specific to `hasManyBy` but the `update` itself. As you mentioned, `update` method recursively merges the passed value so you can't

[2018-02-27 16:05] longuid commented on #101
thanks for your reply,  i played vuex-orm a whole day,
now, i add a middle table to solve this problem,  (i know is really stupid ...)

[demo again](https://jsfiddle.net/languid/3g3hx1ah/1/)

the first way is my hope,  😃 ，will make data structure simple

[2018-02-27 16:19] kiaking commented on #101
Thanks for confirming! yea the 1st should is a must I think! We should work on to it.

[2018-02-27 16:32] longuid commented on #93
hello @kiaking ,
i think Model can add some simple function, like remove, update,
its will make code simple.

(i will read all the code, hopefully i can help in the feature,  O(∩_∩)O  )

[2018-02-27 17:06] kiaking commented on #93
@longuid Thanks for the comment! Actually I think that is #60 ? We're planning to add model method like `user.create` or `user.update()` which does pretty much same as `store.dispatch('entities/users/create')` or `store.dispatch('entities/users/update')`.

[2018-02-27 23:29] clockworked247 commented on #94
@kiaking is there a shortcut way to return all objects in a hierarchy?   For instance:

Current code containing statements that go 4 levels deep:

[code]

written like:

[code]

It'd be nice to just shortcut all the explicit "with" calls and just return the full object hierarchy.

Thanks.

[2018-02-28 01:49] clockworked247 opened #102 "Chained .with() calls that include nested relationships fail"
Given the following query:

[code]

Only the last with() call ('queries.pane.profile') has an effect on the item returned from the store.    I've swapped around the with() invocation order and can confirm that only the last relationship is applied.

[2018-02-28 01:51] kiaking commented on #94
`withAll` method could be a good feature addition! All create a new issue for that 👍

However, be careful with your use of with, you can't do that. You have to nest queries if you want to call nested `with` which have same top level name.

Vue.$store.getters['entities/workspaces/query']()
  .with('queries', (query) => {
    query.with('pane', (query) => {
      query.with('query').with('explore.ob

[2018-02-28 01:53] kiaking commented on #102
Just in time, I've wrote this #94 too but you have to nest the queries.

[code]

I had many people having trouble with this syntax so I'll create another issue to resolve this one too!

[2018-02-28 01:54] clockworked247 commented on #102
Yea, we crossed paths there... apologies.  Thanks for looking into the fix.  The ability to chain nested relationships would be helpful.  I'll use this method for now.   Thanks!

[2018-02-28 01:55] clockworked247 commented on #94
Thanks @kiaking   Closing this issue.

[2018-02-28 01:55] #94 closed

[2018-02-28 01:59] kiaking commented on #94
Glad to help!

[2018-02-28 01:59] kiaking opened #103 "Add `withAll` method that retrieve all relations"
Raised from #94. It would be nice to have method like `withAll` that will load all of the relation at once.

[code]

[2018-02-28 02:04] kiaking opened #104 "Make nested relation loading work with same top level relation name"
Currently, if you have multiple nested relationship loading with `with` method, it doesn't work and you have to pass closure and nest the query.

[code]

I saw many people having trouble with not able to write prior syntax. S, I think we should make it able to do that.

[2018-02-28 02:05] kiaking commented on #93
Added #104 to the list. I saw many people having trouble with this one 🔥

[2018-02-28 02:06] clockworked247 commented on #102
I see the dilemma.   Could you only resolve the "has" type (hasMany, hasOne) relationships and ignore the "belongsTo" ones?   This way, you would only be resolving the children/grandchildren/great-grandchildren/etc of the parent query.

Not sure how to make that clear in the API though.

Maybe I need to better understand how belongsTo() and with() relate.  I hadn't thought of that child-parent rel

[2018-02-28 02:13] kiaking commented on #102
I wouldn't think adding method that fetch only "has" type method. Because how about when you want to fetch non circular relation with belongsTo? For example when you have something like User hadMany Post, Post belongsTo Project. Wouldn't you want Post to retrieve Project as well?

Well I think your data schema is quite complex. Which I'm very happy because you're using Vuex ORM in such complex pro

[2018-02-28 05:52] clockworked247 commented on #102
@kiaking Very slick.  I like it.  Thanks.

Yes, I agree, you would want it to retrieve Project as well.

Hmm, well my only - likely throwaway - idea would be to then allow for resolution of all relationships up until you get to the same entity type you are querying from and stop there (including any siblings of my same type... ugh, that's where it could get really hairy).

Considering all the rela

[2018-02-28 14:52] kiaking commented on #102
Yes, it does become quite complicated. I think we should introduce some easy way for the user to define their query scopes. Something like [Laravel has](https://laravel.com/docs/5.6/eloquent#query-scopes).

[2018-02-28 15:04] iNaD commented on #100
Hmm thought I already tried importing from `@vuex-orm/core/lib/attributes/types/Attr`, but that seems to work. Thank you 🙂

Sadly the check for `field instanceof Attr` (or `Type`, because that includes `Increment`) doesn't work for me:
[code]

`instanceof` is always returning false. Sometimes Javascript's behaviour is really confusing... 😕 Maybe I missed something and using `instanceof` the wrong

[2018-02-28 15:14] kiaking commented on #100
Damn, I think imported class from `@vuex-orm/core/lib/attributes/types/Attr` has become different from uglyfied bundles...

So I guess adding method such as `User.isAttr('name')` is the way to go. Those method should be useful regardless of your issue 🚀

[2018-02-28 15:22] kiaking commented on #93
Now Has Many Through relation is out! https://github.com/vuex-orm/vuex-orm/releases/tag/v0.21.0

[2018-02-28 15:30] iNaD commented on #100
It doesn't even work in dev where it isn't uglyfied. That's what is even more confusing. Before encountering this error I used `field.constructor.name === 'Attr'` which obviously doesn't work anymore. But `instanceof` surprisingly doesn't even work in dev.

Would be `isAttr` also true for `Increment` fields?

[2018-02-28 15:50] kiaking commented on #100
Hugh, I think that's because Vuex ORM bundles modules into one file when exporting. And it result in different object maybe.

Maybe, if you import Model from `@vuex-orm/core/lib/model/Model` and extend it, maybe it would work? But either way, I don'T think this is the recommended approach :/

No, so we should add `isType` which match all the type (Attr and Increment), and `isRelation` match all re

[2018-02-28 16:11] iNaD commented on #100
But `isType` seems pretty generic, doesn't it? Maybe we should elaborate on this a bit more before implementation.

[2018-02-28 17:45] timoschwarzer commented on #103
That's funny, I was just about to create an issue for this... :sweat_smile:

[2018-03-01 01:58] kiaking commented on #100
You mean the word `type` is too generic so that user may think it would return true for everything...? The word `type` is used internally, and indeed I was struggling on this naming, so I love to hear some idea on this!

Here is basic rule Vuex ORM currently has.

1. All fields are called `Attribute`.
2. Nonrelational fields are called `Type`. I have a plan to add more specific in future too, for

[2018-03-01 02:00] kiaking commented on #103
Haha, great, we should thank @clockworked247 for bringing this up I guess : )

[2018-03-01 08:54] iNaD commented on #100
Hmm what do you think of this?

[code]

or

[code]

In my opinion (if it worked for me) `field instanceof Type`, `field instanceof Number`, `field instanceof Relationship` would be the cleanest and most easily extensible solution. I just have to find the reason why it fails :/

[2018-03-01 14:28] richardkmichael commented on #60
As a newcomer considering using the library, I read this issue and wanted to comment:

I found `push()` surprising as a persistence method.  `push()` feels local (Vuex/ORM only), because it is reminiscent of Array's `push()`.

I'd suggest `patch()` for the persistence "update" method because it will be a suggestion (just like `fetch()`) that the action might be remote (i.e., a reminder that you mi

[2018-03-01 14:30] phortx commented on #60
Sound pretty reasonable, @richardkmichael I'd agree with you :)

[2018-03-01 15:18] kiaking commented on #100
I've confirmed that if I expose Attribute classes, then `instanceof` operator will work. So, I released Vuex ORM 0.21.1 that enables this!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.21.1

Could you try using following syntax and see if it works for you?

[code]

[2018-03-01 16:32] timoschwarzer commented on #103
Is there someone making a PR? If not; I'll do this one...

[2018-03-01 20:05] timoschwarzer commented on #103
Implemented in https://github.com/vuex-orm/vuex-orm/pull/106

[2018-03-01 20:07] timoschwarzer commented on #102
I like the query scopes idea!
For now, I implemented a `withAllRecursive` method that fetches all relations **to a certain depth** (default 3).
See: https://github.com/vuex-orm/vuex-orm/pull/106

[2018-03-01 20:48] timoschwarzer commented on #104
Because it was easier to implement, I added a new syntax to the `with` method which can fetch multiple sub relations of a relation, e.g. `with('posts.comments|likes'`.
See: https://github.com/vuex-orm/vuex-orm/pull/107

[2018-03-01 20:52] timoschwarzer commented on #102
See my comment here for the multiple `with` calls: https://github.com/vuex-orm/vuex-orm/issues/104#issuecomment-369725969

[2018-03-02 07:29] razvanioan commented on #93
Regarding validation on the model itself.

I have a lot of experience with the ExtJS framework, which has `validators` defined on the [model](http://docs.sencha.com/extjs/6.5.3/modern/Ext.data.Model.html#cfg-validators), and this is making sense.

Think that you might use a particular model in multiple components / views.

Why should you (re)write simple validations connected to the model(s) in ea

[2018-03-02 12:55] iNaD commented on #100
Yes it works 🎉 Even uglyfied in production. Thank you so much @kiaking

But I'm still wondering why this works and importing directly does not 🤔 Maybe one would have to dig deeper into the whole bundling, imports etc. of webpack to find the reason.

[2018-03-02 12:55] #100 closed

[2018-03-03 02:29] #103 closed

[2018-03-03 02:30] kiaking commented on #103
Thank you so much for your great work! This is pure awesome!

[2018-03-03 02:36] kiaking commented on #104
@timoschwarzer Thank you for your hard work! It's awesome.

I really like `with('posts.comments|likes')` syntax and I think this is the way to define it, but I still think we should support the separated `with` define also since people would likely to write like that ; ).

[code]

[2018-03-03 02:40] kiaking opened #108 "Add Model validation feature"
Raises from #93

Base idea from @razvanioan.

I would love to discuss this idea further to design the specifications.

[2018-03-03 02:41] kiaking commented on #93
@razvanioan Yea that makes sense. It could be good idea to have this kind of feature. I want to discuss how the public API should look like. I've opened #108 for this so let's continue the discussion there ❤️

[2018-03-03 02:44] kiaking commented on #100
Great it worked fro you! I think the reason is because `@vuex-orm/core` is bundled js file by Rollup and not exactly same as the source code. I guess the best practice is to don't import anything from `@vuex-orm/core/lib` but instead expose through `@vuex-orm/core` :p

[2018-03-03 03:14] kiaking commented on #82
@mesqueeb Have you found anything on this topic? I haven't done anything particular though wanted to check in on your situation.

[2018-03-03 06:44] timoschwarzer commented on #104
@kiaking I will make a PR for that in an hour or two.

[2018-03-03 06:51] timoschwarzer commented on #108
I don't think that should be a part of vuex-orm. For things like that you can always define a `validate` method in your models and call it from somewhere. Since update returns the updated model, you should be able to chain it like this:

[code]

[2018-03-03 07:06] kiaking commented on #104
@timoschwarzer NIICE! Thank you so much! Looking forward to it 👍

[2018-03-03 07:12] kiaking commented on #108
Yea, thinking about this I pretty much agree with you. Maybe it would be nice to have this feature as a plugin though. Things like default validators, clean way to define the rules, and maybe the easy way to define error messages too.

But yes, I don't think it should be implemented in the core since there'll be quite a bit of code. And it's going to be a waste as of the bundled file size if peopl

[2018-03-03 10:19] razvanioan commented on #108
Ok, I agree that validation maybe should not be part of the core, but as a plugin or custom code inside model definition, but my question to you would be:

- If the model doesn't validate, should the update be made ?

[2018-03-03 12:37] mesqueeb commented on #82
@kiaking Thanks for checking up!
I haven't had the time to test yet... : S
I will eventually and report here!
A recursive component's computed properties through a vuex store still stay a big problem for me.

[2018-03-03 13:12] timoschwarzer commented on #108
You maybe want to insert a custom action into your module:

[code]

[2018-03-03 15:52] iNaD commented on #108
I would also go for module extension by a plug-in or yourself. And validation either as model extension or an extra validator.

Looking at Laravel, neither the model, nor the ORM handles this. It's done before processing, so the vuex module should be the right place or at component level.

My components use vuelidate, import a validator which contains vuelidate rules for the model, and check befor

[2018-03-04 02:36] kiaking commented on #101
This issue has been fixed with Vuex ORM 0.22.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.22.0

Thank you for raising this issue! Hope this will will make your coding easier 👍

[2018-03-04 02:36] #101 closed

[2018-03-04 02:40] kiaking commented on #82
@mesqueeb Gotcha! Looking forward to it : )

[2018-03-04 02:52] kiaking commented on #108
I would say it depends on the application you're building, but most of the case, I think the update should be made. This is same for other validators such as Vuelidate but on frontend, you would want update Vuex state even it has error so that user can input forms. What you would really want to prevent is to send those data to the server isn't it? It is actually safe to update local state since it

[2018-03-05 03:05] ljwrer opened #110 "Update with mixed type id got success but got fail when query"
[code]
since query with mixed type would fail,maybe it should throw a warn or error when update,
otherwise query should be success

[2018-03-05 05:55] kiaking commented on #110
Ah, yea this could lead problems. To solve this problem, I have a plan to add more strict attributes such as `this.string()` or `this.number` instead of `this.attr()` that should convert `'1'` to `1`.

It's kinda hard to throw warn since ID can be `string`, and changing type of the id field is OK if a user wants to do that.

I think adding strict attributes is a way to go here.

[2018-03-07 07:39] kkyouhei opened #111 "hasOne relationship return empty model object or null"
https://codesandbox.io/s/4x0qnn088w

### version 0.20.0
<img width="548" alt="_2018-03-07_16_30_50" src="https://user-images.githubusercontent.com/300724/37079207-21a147a6-2225-11e8-997a-ce0f2c1ced09.png">

### version 0.21.0
<img width="510" alt="_2018-03-07_16_30_59" src="https://user-images.githubusercontent.com/300724/37079209-259bfc34-2225-11e8-8393-2613f872fb72.png">

Which one is correct?

[2018-03-07 10:14] razvanioan opened #112 "question: custom actions"
Is there an easy way to define custom actions for a Model / Module ?

I have a model, which is having a JSON field (which I don't want to define as a related submodel, as it can have various properties depending on different options of the model itself), that's why I also store it as JSON inside my DB (which is a traditional relational DB)

How can I safely update one (or more) properties from thi

[2018-03-07 11:13] kiaking commented on #111
HasOne should return `null` if the relation can't be found. so the 0.21.0 was wrong I guess.

[2018-03-07 11:20] kiaking commented on #112
With Vuex ORM 0.22.0, you can pass a closure to the `data` property of the update action to have full control in such case!

[code]

Would this make sense for you?

[2018-03-07 11:27] razvanioan commented on #112
Wow, that's working as expected !

I was starting to implement custom `actions` and `mutations` inside the `Module` (not `Model`), but this solution it's much simple ;)

Thx man ;)

[2018-03-07 11:27] #112 closed

[2018-03-07 11:51] kiaking commented on #112
Glad I could help! Feel free to open another issue if you have any trouble 😃

[2018-03-07 12:47] razvanioan commented on #112
So I ended up with this multipurpose update solution, valid for entire form / model, which handles dynamically both cases: direct model values or JSON attributes, maybe some others will embrace this solution

**model.js** - name it's a JSON object, but not a related model

[code]

**component.vue**

[code]

[2018-03-07 19:34] razvanioan commented on #110
they have to be taken into account in both: getters & setters, just for consistency

I just hit this issue when I default numbers in models using ... numbers, but updating them into forms converts them into strings and this breaks filtering and stuff ...

[2018-03-08 14:01] zywind opened #113 "Inserting many to many relationship doesn't seem to work"
I tried loading data that contains many to many relationships. I found that though the relationship fields are populated, the pivot table isn't. I have code like below:

[code]

And I tried loading the cluster data, which has the examples field. Though the clusters entities are correctly filled, the examples entities' clusters fields are still null, and the pivot table cluster_example is empty.

I

[2018-03-08 16:17] zywind commented on #113
I tried populating the pivot table manually, and it seems to work. However, querying the nested object is horribly slow. I have a query like so:
[code]
And it takes about a minute to finish. There are about 2000 records in the pivot table. Is this performance to be expected?

[2018-03-08 17:23] kiaking commented on #113
It will be generated automatically if you save the record that containing the relational records. For example, Vuex ORM has following test case.

[code]

In above code, the data object is a user, and the user contains roles within the object. In this case, the pivot table should be populated. However, if save each record separately, then pivot table would not be populated because Vuex ORM has no i

[2018-03-08 18:08] zywind commented on #113
Thanks for your quick response!
You're right. I was populating the example data first and then the clusters. I'll populate all the data together now.

I have about 2000 ClusterExample records and 50 cluster records. It would be great if the performance problem can be fixed.

[2018-03-09 02:49] zywind commented on #113
I tried inserting parents and children together and the many-to-many relationships were indeed automatically populated. Though I found that automatic relationship insertion seems to only work between parents and children. If I have another level of nested objects, the relationships were lost. So I had to issue several calls to go through every pairs of relationships to insert them all. This is fin

[2018-03-09 15:11] kiaking commented on #113
Well, that's unexpected :/ This is another issue I should fix. Thank you for the report!

About this problem, I've tried to reproduce, and I did. Yes, it's super slow when you have lots of pivots records (in your case it's ClusterExample). I don't know how long it took since my test timed out. Which means it took so long that I had to quit.

Then I've tweaked few implementations, and I managed to

[2018-03-09 15:18] zywind commented on #113
Wow! Thank you so much! 250 ms for that many records is definitely enough!

[2018-03-10 02:28] soutarrr7 opened #114 "Can i detect change to use insert method"
Hi ! Thank you for make this module.

I wanna change data to use getter when use insert method.

`
const data = await this.$axios.post('/api/admin/item/create', formData)
 dispatch('entities/items/insert', { data: data }, {root: true})
`

`
computed: {
    list () {
      return this.$store.getters['entities/items/query']().where('item_category_id', this.item_category_id).orderBy('id', 'desc').get

[2018-03-12 14:36] longuid opened #116 "i think we need a logo :>"
YES

[2018-03-13 04:04] kiaking commented on #114
Hi! Thank you for your feedback.

Are you trying to load data depending on the data inserted via `insert` action? (You want to change `this.item_category_id` when new data is inserted?)

In that case, the insert action will return newly created data so you could use that info.

[code]

[2018-03-13 04:09] #111 closed

[2018-03-13 04:10] kiaking commented on #116
Well yeah indeed we have! Check our organization page. Maybe we should add it to the README : )
https://github.com/vuex-orm

[2018-03-13 06:55] #116 closed

[2018-03-13 16:37] kiaking commented on #114
OK、せっかく言葉が通じるので日本で行きましょう！ 😃

これって、新しくデータをinsertしても、computedなオブジェクト（この場合`list`）が画面上更新されないって問題でしょうか＠＠？

ちょっとまだ問題が完璧に理解できておらず｡･ﾟ･(ﾉД`)･ﾟ･｡ もう少し情報をいただけると幸いですm(_ _)m

[2018-03-13 16:54] kiaking commented on #113
The performance issue should've been solved via Vuex ORM 0.23.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.23.0

Could you try this version to see if everything works for you?

[2018-03-13 18:45] zywind commented on #113
Awesome! I will test it ASAP! Thank you so much!

[2018-03-13 19:44] zywind commented on #113
Hmm, I'm having some trouble populating the many-to-many association table again. My payload for initializing the store has this structure:
[code]
So it should have all the information needed to populate the cluster_example association table. But while the cluster entities do have their example children filled, the association table is still empty. Furthermore, even if I re-insert from the `cluste

[2018-03-13 19:55] zywind commented on #113
I updated the Relations_BelongsToMany test case to below, and it indeed fails:
[code]

[2018-03-14 01:35] zywind commented on #113
I tried manually inserting the association table and then tried querying. It's super fast now. I can't feel any delay!

[2018-03-14 16:15] kiaking commented on #113
Great! At least one problem is solved now ; )

I'll look into the automatic pivot table creation issue... Not sure what happened since I didn't change those logic so... Well we'll see!

[2018-03-16 00:54] DennisOng opened #119 "Error normalising data when morphToMany relationship key doesn't exist"
Stumbled across this today, seems like there's an issue normalising the data when the relationship key is missing, at least for the morphToMany relationship:

[code]

Trying to insertOrUpdate with this project object
[code]
(Notice the tag key is missing in the data)

TypeError: related is undefined                vuex-orm.esm.js:6894

[2018-03-16 02:25] kiaking commented on #119
Thanks for the report! I've reproduced it and made a fix at #120. I'll merge this and release the new version soon!

[2018-03-16 03:56] kiaking commented on #82
Hi! I'll be closing this issue due to inactivity. Sorry if I couldn't help here. Please feel free to reopen the issue if you find anything or you have farther question.

Thank you!

[2018-03-16 08:09] soutarrr7 commented on #114
ありがとうございます！

はいその通りです！
新規でインサートした際にlistが更新されず画面にインサートしたものが表示されなくて困っています。

ややこしくて申し訳ないです・・。

[2018-03-16 15:51] kiaking commented on #119
This is fixed with Vuex ORM 0.23.1!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.23.1

Thank you for reporting this issue and I hope the new version will help your development ❤️

[2018-03-16 15:51] #119 closed

[2018-03-16 16:08] kiaking commented on #114
う〜ん、謎いですね。この[Example](https://github.com/vuex-orm/vuex-orm-examples)でも`insert`は使っていて、ちゃんと画面が更新されるのを確認してます。なので、なにか違いがあるのかもしれません。

こちら、より深い調査のために、差し支えなければ今のコードを動かせる形でいただけたりしますか？ ここに貼るのが問題なら、 kia.king.08@gmail.com に直接メールいただく形でもOKです！

[2018-03-17 00:19] DennisOng commented on #119
This package is already helping with our development a alot! Thanks for the fix

[2018-03-19 00:06] DennisOng opened #122 "Issue trying to remove a relationship on a many-to-many"
Hi, not sure if this is an expected behaviour or a bug, but there seems to be an issue with removing a many-to-many relationship.

Scenario: User has a many-to-many relationsthip to Role, similar to the case in the documentation

Initial State
[code]

Trying to 'insertOrUpdate' the user with the role removed
[code]

Expected: The single entry within roleUsers to be removed

What's happening: Relat

[2018-03-19 02:25] kiaking commented on #122
Ah, yeah, this is kinda intended I guess. However, this is an interesting situation. I think we should find some solution here but not sure if the pivot table should be removed in this case.

Because I think we don't want to remove related records in other relationship such as `hasOne`.

[code]

State within Vuex ORM is temporary; if there isn't a record, it doesn't mean there isn't on the server

[2018-03-19 07:13] huy-tran opened #123 "Nested relationship creation"
I am working on a project of Laravel + VueJs. I use PHP Fractal to transform my api data to the following structure
[code]

It works perfectly when I create a Member Model by getting the data key on **member** But when I have a look at the relationship (belongsTo between Member - User ) then I got the following schema

[code]

Should I reduce the API response first then dispatch the VuexORM create

[2018-03-19 07:38] kiaking commented on #123
I would say reducing the data before hand is better approach since it makes things more clearer. You could define nested fields (Vuex ORM supports this) but I think it'll lead to some unexpected behavior...

[code]

And also it wouldn't work with many relation I guess. So the best solution is to make change on server side to return without `data`. If this is common structure, we could think of han

[2018-03-19 13:27] huy-tran commented on #123
@kiaking Thanks for your prompt reply. I do love your work on this library.

So the workflow should look like: Fetch API -> restructure data response -> interact with VuexORM.?

Furthermore I have some issues with relationship definition.

[code]

[code]

[code]

With these definitions, I am able to do

[code]

I can see the related *user* and *locations* inside *member*. But trying to do the reve

[2018-03-19 17:15] kiaking commented on #123
Yes, in your case, unfortunately, that is the path you have to take for now. It kinda sad though, because the one of the biggest power of Vuex ORM is that it does such restructuring for you :/

Revers you mean fetching `Member` through `User` right? That's odd because if the Member can retrieve the User, User should also be able to fetch Member. Your model schema looks valid.

Is' possible for you

[2018-03-20 17:30] dombavetta opened #125 "Querying with relationship does not attach related entities"
I have two classes **Facility** and **ServiceLine**, Facility has a _one to many_ relationship with **ServiceLines**. The **Facility** object has a list of related service line ids and **ServiceLine** has a foreign key identifier for a **Facility**. It is my understanding that I can either use `serviceLines: this.hasManyBy(ServiceLine, 'serviceLineIds'),` when defining the Facility fields or use `

[2018-03-21 00:24] dombavetta commented on #125
this has been resolved, after removing the constructor the related entities are properly being attached.

[2018-03-21 00:24] #125 closed

[2018-03-22 23:32] DennisOng commented on #122
Hmm interesting one...

For the first example you gave
[code]
In fact in our case, we would like to remove the relationship to the phone if the 'phone' key is null. (Just the relationship, not the phone entity itself). So if a key is provided we would take that as the full data for the relationship. On the other hand, if the key is missing they we would not update the relationship.

However, l agr

[2018-03-23 13:46] AlexandreBonaventure opened #126 "Query undefined retrieve last entity"
version: 0.19.0

**Repro**
[code]
**What is expected ?**
Passing undefined to find method should not retrieve data. (Or maybe documentation should make this more explicit)

[2018-03-25 04:30] kiaking commented on #122
To be more flexible on this issue, maybe at first step, this can be solved by incrementing the lifecycle hook like `onCreated`.

Because when we think about ordinally DB, if you remove a record, all references to that record won't be deleted unless you (the user) set up an FK constraint and cascade.

So in your example, even outside the ORM, if you try to reinsert a user with the same old ID, you

[2018-03-25 04:32] kiaking commented on #126
Hi thanks for the report! This expected now but rethinking about it, I think we should change the behavior to return null if the `find` method is called without argument (equals to passing undefined).

Currently `find` method act as exactly as same as `first` method so it fetches the very first record if there's no argument. But yeah with the name `find`, I think it shouldn't be used without the a

[2018-03-25 04:38] kiaking opened #127 "Add method to determine the field attribute type"
Currently, Vuex ORM uses `instanceof` operator to determine the model field's attribute type. A user could do the same for the app they're creating by importing attributes from the core package, ex. `import { HasOne } from '@vuex-orm/core'`.

However, there's a problem with this approach that when someone tries to do this in another package, for example, with Vuex ORM plugin, `instanceof` will fai

[2018-03-25 05:06] kiaking commented on #113
Thanks to @afsardo, this issue has been solved by #128 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.23.4

[2018-03-25 05:06] #113 closed

[2018-03-25 09:34] DennisOng commented on #122
Great idea for a first step. Having lifecycle hooks/model events would give flexibility including for this case. I wouldn't think it's a blocker now since it can be easily worked around, but definitely will be a nice addition :)

[2018-03-25 14:48] phortx commented on #127
Would love to see that as soon as possible. I think this will not work in production: https://github.com/vuex-orm/vuex-orm-apollo/blob/master/src/queryBuilder.ts#L302

Thanks for your help! :)

[2018-03-26 02:08] kiaking commented on #122
Great. OK, let's start implementing hooks then. It is in roadmap for version 1.0.0 too 🚀

[2018-03-26 02:11] kiaking commented on #127
Yeah that code might break. We should have this methods!

[2018-03-26 02:57] kiaking commented on #83
I was thinking about the implementation of the lifecycle hook event, and here I would like to share my thoughts. It might be harder than I thought.

Let's say we add `beforeCreate` and `afterCreate` hook. To define those hook, I think it's nice to be able to define both in modules (in action), and models.

[code]

Now, it is easy to imagine that a user would like to dispatch another action in this

[2018-03-26 12:44] paparent commented on #104
Hi,

That's a great addition ! Good job @timoschwarzer  !

I don't know if it's easy to implement (or maybe it's done) :

It would be nice if we could load nested relations, and the last is a closure. Like this:

`.with('brands.products', (query) => {...})`

[2018-03-26 14:11] kiaking commented on #104
Sadly it doesn't work right now. Maybe we could make it to work that way though. It might be a nice addition.

[2018-03-26 17:40] kiaking commented on #98
Finally it's done! Now all of the lodash is gone. Also I've moved all dependencies to the devDependencies as same as core Vue and Vuex libraries. User will be using the bundled code so there's no need to add them to the dependencies ; )

[2018-03-26 17:40] #98 closed

[2018-03-26 18:03] kiaking opened #129 "Return all of the created records when inserting or updating the state"
The question is, should `create` or `update` method return all of the records that were being created or modified, or should it return just the root data object that was passed to those methods?

Currently, Vuex ORM returns only the root data object that was being created. For example, if you pass a user data that contains post data, even though the post is created, it returns only user data. Shou

[2018-03-26 18:13] timoschwarzer commented on #104
I think we should not allow this type of relationship loading. We should rather detect when this syntax is used and throw a warning in the dev build of vuex-orm.

[2018-03-26 19:17] aronwolf90 opened #130 "How use it with JSON API specificaccion"
My idea is create kind of plugin for vuex-orm, to use this standart.  A JSON-APi call look something like this (more complex examples on http://jsonapi.org/):

[code]

Why pick something like vuex-orm for this? to use the information like hasMany to maintain the relationships consistent.

**what I need for this?**
- a way to tell vuex-orm to use "relationships.author" as relationship
- a way to ac

[2018-03-26 20:26] #130 closed

[2018-03-27 02:44] kiaking commented on #104
@timoschwarzer Well yea maybe. I wonder what Laravel does for the eager load constraints on nested with clause by dot syntax. But I agree that it might be confusing. It is not very clear if that constraint is applied to `brands` or `products`.

[2018-03-27 02:46] kiaking commented on #130
Hi! Thank you for the feedback. Did you find solution? I just wanted to check you in that you didn't close this issue accidentally.

[2018-03-27 02:57] kiaking commented on #127
Wow hey @phortx You know what, I think you can work around this issue simply using `instanceof`.

Get attribute like `HasOne` from the `component` object you can get from plugins `install` method.

[code]

This should work because the class included inside `components` is coming from vuex-orm/core that the end user uses.

I still think we should implement convenience method like `isAttr` but, unti

[2018-03-27 06:34] phortx commented on #127
Very nice idea! :) I will try that ASAP

[2018-03-27 06:40] timoschwarzer commented on #104
@kiaking Oh, my message was confusing. It wasn't a reply to @paparent but to the syntax of the OP message.

[2018-03-28 02:13] kiaking commented on #104
Oh no my bad. Maybe yeah. I would like to know how Laravel handles this though. It's not documented so I need to the check.

One valid use case that I can think of using this syntax is when you need to construct query builder function that dynamically builds up the query chain. In such case, maybe it's useful to have this syntax.

[code]

Obviously you could workaround above case in other ways, bu

[2018-03-28 08:55] kkyouhei opened #131 "HasManyThrough get only last record"
## relastionship
Country -> User -> Post
Country  ---------> Post

## code example
https://codesandbox.io/s/3kz8jkpx1

### version v0.22.0
<img width="271" alt="2018-03-28 18 03 41" src="https://user-images.githubusercontent.com/300724/38019436-844160ce-32b2-11e8-813a-e94c2e255023.png">

### version v0.23.4
<img width="234" alt="2018-03-28 18 03 50" src="https://user-images.githubusercontent.com/3

[2018-03-28 11:36] kiaking commented on #131
Wow, thank you so much for the report! What the hell is going on here... This is a obviously the regression.

[2018-04-01 02:37] kiaking commented on #83
I've started this at #133. It works pretty well right now ❤️

[2018-04-01 02:38] kiaking commented on #122
I've started implementing lifecycle hook at #133 🎉  Still might take a bit of time but I think you can see the idea.

[2018-04-01 02:39] kiaking commented on #129
Started implementing this inside with #133.

[2018-04-02 10:32] philippkuehn commented on #82
@kiaking Hey, I'm interested in this topic too. There was already a discussion about caching for getters with arguments in vuex (https://github.com/vuejs/vuex/issues/777).

And in the official docs of vuex there is a section about getter functions and that they are not cached (which is bad).

[code]
I think vuex-orm is under the hood using getters like obove, right?

I'm working on a spa for over

[2018-04-03 02:22] Kleemer opened #134 "Order by in query with nested fields"
Hi,

**Scenario :** I have a One-To-Many relationship between Step and Element.

I would like to have the possibility to orderBy (steps.elements.order, 'asc') for example, but I do not think it is something that exists right now.

The issue I have right now is that when I update the order of the entities and query Steps again the order returned is the same as the first time, even though the 'order

[2018-04-03 12:03] kiaking commented on #82
Hi! Yes, Vuex ORM is using getters. Or more precisely, Vuex ORM is just a predefined getters indeed.

Since we got from 2 person who are interested in this issue, sure let's reopen and see what we can find. I too think this would be super cool feature to have.

I don't know how we can tackle this though. Do you have any hint here?

[2018-04-03 12:05] kiaking commented on #134
Hi! When adding constraint to the relationship, you need to use nested query constraint. You can add `orderBy` to the `elements` like this 👍

[code]

[2018-04-03 12:23] CinKon opened #135 "Help with nested relations"
Sorry to bother via Git-Issue, didn't know where else to ask (can't imagine StackOverflow goes this far ;) )

I have a model with 3 Layers:

[code]

I need a getter-query, where:

- I search for a term in the values of the cells
- I get only rows, which contains cells with matching search-term-contents (hope that's clear :D )
- I get only categories with rows left

I made it this far:

[code]

But

[2018-04-03 12:34] kiaking commented on #135
Hi! You could join [Slack Channel](https://join.slack.com/t/vuex-orm/shared_invite/enQtMzMxMTY4MzcwOTYzLTYwZDFjNTgzZDk4MDJlODJmMzk5NmNmZDBiYjIyMTVjMDk1MGRkYTEyYmNkMGM4MjRkNGJmYTBhNTIxYTA5OWI) if you are the Slack guy : ) But filing a new issue is no problem too! ❤️

Could you elaborate a bit more on how it should work? Are you getting an empty `rows`? Or are you getting `rows` without cells? It wo

[2018-04-03 12:40] #135 closed

[2018-04-03 13:27] #131 closed

[2018-04-03 14:02] kiaking commented on #83
Lifecycle Hook is now supported by Vuex ORM 0.24.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.24.0

I would like to make it able to define lifecycle hook at models too, but I'll create new issue for this.

[2018-04-03 14:02] #83 closed

[2018-04-03 14:04] kiaking opened #136 "Define lifecycle hooks in the model"
Currently you can define lifecycle hooks at actions. I think it's nice if we could define them inside model as well especially when we finish implementing #60.

[2018-04-03 14:06] kiaking commented on #84
This is now supported by Vuex ORM 0.24.0! Now you can pass object with relationship to the `update` method 🎉

[2018-04-03 14:06] #84 closed

[2018-04-03 14:07] kiaking commented on #89
Just wanted to let you know that plugin implementation has started at https://github.com/vuex-orm/plugin-soft-delete 🎉

[2018-04-03 15:30] kiaking opened #137 "belongsToMany won't create correct pivot table on certain case"
The pivot table for the `belongsToMany` relation won't get created if the name of the key that defines the relation is different from the entity name of the related model.

[code]

[2018-04-03 17:00] funtastic-pbc commented on #102
`withAll` is perfect.  Thanks @kiaking

[2018-04-03 21:43] cjcrawford commented on #123
I had this issue using fractal. I fixed it by providing a default serializer so my nested relations didn't transform into a data object within the related includes.

[2018-04-04 00:40] Kleemer commented on #134
It was actually all in the documentation ... Thank you so much ! 👍 And keep up the great work !

[2018-04-04 01:52] kiaking commented on #134
Glad I could help! Let me know if you face any other trouble 👍

[2018-04-04 01:52] #134 closed

[2018-04-04 02:24] mesqueeb commented on #82
Yeah. There's no good working solution for caching getters. My solution in the original post works though. Although I don't know if this is the best approach...

If that approach is acceptable I could always try to implement that into this Vuex ORM library.

[2018-04-04 03:48] huy-tran commented on #123
@kiaking @cjcrawford Hi guys, I had to refactor my Fractal so VuexOrm can work with. I haven't got any issues so far.

@kiaking One issue is sometimes when I update or insert a new record with relationships. When viewing data inside Vue Devtool I can't see the reference key, it's `null`.

However when running a query builder I get the expected result.

Thanks guys !

[2018-04-04 12:59] kiaking opened #138 "Drop support for nested schema definition"
Is it OK to drop support for nested fields definition?

[code]

This syntax is making things really complicated in many places since we have to go walk through whole nested schema every time we interact with the schema object. It would make everything much cleaner if we can restrict such definition.

If you need to store json (object) or even an array, you can always do that with `this.attr` attri

[2018-04-04 13:02] kiaking commented on #82
I would love to see the implementation though! Since Vuex core is not implementing it, I wonder if this changes any api when using `getters`. Currently I'm not being able to picture how it would look after implementing this.

[2018-04-04 13:06] kiaking commented on #123
Great! Glad to hear it's working.

This might be expected behavior. If you pass `null` to the primary key, it will use `null` as key. Currently, everything except `undefined` is a valid key value : ) And query builder can get nulls too.

Anyway, I'll close this issue since it seems like solved. Please feel free to open another issue if you have any other troubles! 🍻

[2018-04-04 13:06] #123 closed

[2018-04-04 13:16] autobrain-stanley commented on #138
I feel like it should be fine especially considering that this could work just as well:
[code]
Perhaps there could even be something along the lines of:
[code]

[2018-04-04 15:08] kiaking commented on #137
This issue has been fixed by #139 and will be included in the next release.

[2018-04-04 16:48] kiaking commented on #110
Started implementing this at #140 🏗

[2018-04-05 23:58] kiaking commented on #137
This issue is now resolved with Vuex ORM 0.24.2!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.24.2

[2018-04-05 23:58] #137 closed

[2018-04-08 04:30] timoschwarzer commented on #138
Exactly my opinion ↑

[2018-04-09 17:45] aronwolf90 commented on #130
Hi,
**It was not accidentally**; I closed  It because after thinking more about the problem I come to the conclusion that I have to use my implementation more time before I can decide how integrate vuex-orm into it. **Thanks for your interest** :)

[2018-04-09 23:53] kiaking commented on #130
Thanks for the confirmation! Glad it wasn't unintended : ) Let me know if you have any request on Vuex ORM!

[2018-04-10 12:49] kiaking commented on #114
こちら、 due to inactivity ということで、一旦クローズとさせていただきますね＞＜ もし何かあればどうぞお気軽にReopenしたり、新規のIssueを立ててください！ よろしくお願いします　m(_ _)m

[2018-04-10 12:49] #114 closed

[2018-04-10 12:51] kiaking commented on #122
OK, I think this issue can be closed now since the lifecycle hook is implemented. Please feel free to reopen, or create another issue if you have any other trouble! Thank you so much for your feedback 🚀

[2018-04-10 12:51] #122 closed

[2018-04-11 15:03] kiaking commented on #110
This is now possible with Vuex ORM 0.24.3 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.24.3

[2018-04-11 15:03] #110 closed

[2018-04-11 15:03] kiaking commented on #126
This is fixed with Vuex ORM 0.24.3 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.24.3

[2018-04-11 15:03] #126 closed

[2018-04-11 22:15] sydhenry opened #142 "Many - to - Many loading correctly, but not initializing"
I am currently following the [Defining Relationships](https://vuex-orm.github.io/vuex-orm/relationships/defining-relationships.html) documentation and can't get the relations to be retrieved.

Using Vue.js devtools you can see when it is on my component, it doesn't have it's tags.
![screenshot_20180411_143033](https://user-images.githubusercontent.com/12238856/38645304-780939d0-3d98-11e8-84bc-7a7b

[2018-04-12 07:42] kiaking commented on #142
Hi! Thank you for the report.

The reason why you get empty array in `tags` in `events` when fetching via getter is because getter will remove any relationship if there isn't one. So that is expected, but if you do have relationship, it should fetch the object.

I've tested at my side and it did reproduce. It fixed by using plural on `entity` name. Could you try changing `static entity = 'tag'` to

[2018-04-12 07:48] kiaking commented on #142
Daah I found a fix. I'll fix this soon. Could you workaround this issue by making the entity name of Tag to match the key that defines the morphToMany? In your example the entity name of the Tag should be `tags`.

[2018-04-12 07:55] sydhenry commented on #142
So I made that change and while I haven't gotten it to work in my component (it has been what 5 min?) but `$vm0.$store.getters['entities/event/query']().withAll().find("5ac4028b930c5c4c441fe925")` does return the tags Array.

This fell under the 'no way that is the issue' category for me. I was just about to go to sleep, but the plurality of the `entity` is important, and fixes the issue as far as

[2018-04-12 07:58] kiaking commented on #142
Yes, sorry for that. It's actually not the plural issue, currently Event is trying to look for related entity name when creating pivot table which is `Tag.entity === 'tag'` where it actually has to find the key name for the relationship field which is `tags`. So if you change `Tag.entity` to be `tags`, it matches the key name so it succeed on retrieving... Really stupid issue but test case was usi

[2018-04-15 20:34] phortx opened #143 "Implement action to create a fresh record with default values."
[code]

I've expected, that this creates a post with the default attribute values. But it seems I have to pass at least one attribute in the data object.

For me this is a bug. What do you think?

[2018-04-16 02:24] kiaking commented on #143
This is expected at the moment. It not only doesn't create default record, but it will delete all record in the state when passing empty object to the `create` action. So it acts almost as same as `deleteAll` action.

This is kinda useful when you want to just simply sync backend state and frontend, because you can just pass any kind of response to the `create` action and the state will be refresh

[2018-04-16 06:00] phortx commented on #143
Ah ok, nice to know. This feels like a trap actually. But if it's intended and documented, it's ok I think.

A new action would be nice! :)

Thanks for your fast answer, Kia.

[2018-04-16 09:49] kiaking commented on #143
OK, let's implement `new` then! 🔥

[2018-04-16 09:59] kiaking commented on #142
This has been resolved by Vuex ORM 0.24.4! Sorry for the inconvenience!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.24.4

[2018-04-16 09:59] #142 closed

[2018-04-18 08:20] Kleemer opened #145 "Nested morphOne entity"
Hi, I have a question about how the ORM is working right now.

**Scenario :** House hasMany Doors
Door morphOne to Post
Door morphOne to Video
(not the best naming I know)

Now when I get my data from my database, it looks like this :

[code]

However, if I do a dispatch('entities/houses/create'), the entities created are in houses and in doors, but not in posts.
Would it be possible to do that or

[2018-04-19 02:57] kiaking commented on #145
Ah, interesting. Currently, this is expected behavior, because, from that object, there isn't `post` object hence Vuex ORM will not create posts.

So for now, the easiest workaround is to fetch all posts from the server separately and store them in the ORM. Then, `doors` will automatically fetch related posts when retrieving through getters.

If we were to add a feature to implement `post` in this

[2018-04-19 03:00] kiaking commented on #143
Or one thing I just came up with, is what if we let `create` method create a new fresh record if no payload is passed. It works like `new` but with same API.

[code]

[2018-04-20 10:05] kiaking commented on #82
Does anyone have any news on this topic (sorry not from my side...

[2018-04-20 11:56] toinbis opened #146 "Cascade update"
Hi,

great package! I wonder if that's possible to achieve such workflow:
- I create posts objects;
- I loop through each of the post object capturing post id, and then on each iteration create comment object passing post_id;

I'd expect post's "comments" array to have the list of comments. Currently comments and posts get created, but posts does not get updated with corresponding comments array.

[2018-04-20 23:59] kiaking commented on #146
Hi! Thanks for the feedback. I'm not sure what you mean by "posts does not get updated with corresponding comments array". Could you give me the example code?

[2018-04-22 06:10] phortx opened #147 "insertOrUpdate return value"
I've inserted a record via insertOrUpdate with some relations. I've expected to get the inserted/updated record or an array of all inserted/updated objects, but it only seems to return the last inserted/updated record. Is this wanted?

[2018-04-23 20:53] phortx opened #148 "create returns existing record"
A `create` call returns an already existing record instead of the new one (a new one is actually created in the store!). When I query the last record after creating it, I have he correct one ...

(will create a JSFiddle in the next days)

[2018-04-24 13:45] phortx commented on #148
Ehm it might be that I have an old Vuex-ORM version ... I will upgrade and give it a try 😀

[2018-04-24 23:58] kiaking commented on #148
Ah OK, gotcha! (Hoping it's a version issue lol

[2018-04-25 05:43] phortx commented on #148
Yes it was! Sorry for bothering you, my friend :D

[2018-04-25 05:43] #148 closed

[2018-04-25 10:38] kiaking commented on #148
OK! Nice! Thanks for the confirmation : )

[2018-04-26 04:34] Kleemer commented on #145
I think that the feature could create an empty post record with everything as default value, but if you receive something like :

[code]
then it should update the fields automatically, so here we would have a Post :
[code]
And a Door :
[code]
Does that makes sense to you ?

[2018-04-27 00:05] kiaking commented on #145
Thanks for the confirmation. I thought that should be how it works right now. Do you define `this.morphTo` attribute at Door model? If you are defining it and if still Post is not created, then it is a defect.

[code]

[2018-04-27 01:35] Kleemer commented on #145
I was not actually, but I added it and it did not change anything, all the Doors are correctly inserted, but nothing in the Post store.

Can it be a naming issue ? My Post entity is actually called PostTexts and the Door.doorable_type returned is 'post-text', but maybe it should be 'postText' ? I'm going to try that when I can

[2018-04-27 02:57] kiaking commented on #145
Hmm.. Thanks for the confirmation! I'll test my self too and get back to you!

[2018-04-27 14:14] phortx commented on #147
Also fixed by using the latest version. Sorry

[2018-04-27 14:14] #147 closed

[2018-04-27 14:17] phortx commented on #143
Some background: I have a nice `crud-page` component which auto generated a page with a data table, loads records, let's me edit them, create them, delete them, look at them and stuff.

This crud-page just gets the model class as param, so it can't know what properties this model has. When it should create a record in an abstract way, I simply can't pass anything. Looks like this:

[code]

And the

[2018-04-30 05:54] kiaking commented on #143
Yeah, how about the no argument idea?

[code]

Or maybe we should have `new` method. Or even both,

[2018-04-30 07:11] phortx commented on #143
+1 for the `new` action, because it's the same Rails ActiveRecord (and maybe other AR implementations) works :)

[2018-04-30 09:38] mesqueeb commented on #82
@kiaking Unfortunately, I'm seeing performance issues with `new Vue()` instances in my app:
a To-do list where all items all need about 25 computed properties. It works great until about 500 items. In the 1000 item range there's really heavy memory usage... (my web app uses 1.2 GB memory)

Do you know how to create a custom JS class with computed getters that will be cached, without all the bloat

[2018-04-30 09:49] kiaking commented on #82
@mesqueeb Are you using Vuex ORM? Sounds like it's complex situation though. 1.2 GB is too big I think but if you cache things, it's going to use more memory.

Is it possible for you to provide me your app example where you use 25 computed property without cache system? For example, retrieving 1000 records in Vuex ORM is around 25ms to 100ms. It depends on what kind of relationship you have and wh

[2018-04-30 10:16] kiaking commented on #60
Finally, this is implemented at Vuex ORM 0.25.0 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.25.0

There's no `save` method yet but I'm willing to implement it. I'll raise new issue for this! Thank you all for your patient!

[2018-04-30 10:16] #60 closed

[2018-04-30 10:19] kiaking opened #150 "Add save method to the model"
From Vuex ORM 0.25.0, it is now possible to do things like `User.create()` or `user.$update()`. However, those method are pretty much just an alias of store methods. To be able to do things bit more like active record implementation, I think it's nice to have `save` method where model field value gets saved to the Vuex Store.

[code]

[2018-05-01 02:42] kiaking commented on #146
@toinbis Hi! Just wanted to follow up on this. Could you take a look at my comment and elaborate a bit more on this issue? thanks!

[2018-05-07 22:04] clockworked247 commented on #150
+1 to this @kiaking I actually implemented this myself in all my Models.  It'd be nice to have this baked into the library.  Thanks!

[2018-05-07 22:59] clockworked247 opened #151 "TypeError: Cannot read property 'toString' of null vuex-orm.esm.js Line 2817"
Hi @kiaking,

I just updated to v0.24.4 to see if the new version had a fix for another issue I'm facing.  Upon updating my app broke with the following error:

TypeError: Cannot read property 'toString' of null  vuex-orm.esm.js Line 2817

Which is part of the new IdFixer class, method processRecords().  The issue is that my ID is ```null``` and the code assumes the value is NaN or a String.

----

[2018-05-07 23:16] clockworked247 commented on #151
Feel free to close this if you think this is just bad form on my part.  :)

[2018-05-08 01:36] kiaking commented on #151
Hah, interesting. I'm willing to fix this if I can. I'm not sure why this happening. Since if the id is null, it should be converted to `'_no_key_XX'` and become string on normalization process. Is it possible for you to create reproducible code for this issue?

[2018-05-08 14:03] kiaking commented on #146
I'll be closing this issue due to inactivity. Please feel free to reopen it or if you find any other issue! Thanks.

[2018-05-08 14:03] #146 closed

[2018-05-09 00:15] kiaking opened #152 "Deep relationship loading fails with morph relation"
Reproducible Example: https://jsfiddle.net/51vrmud1/37/

When trying to load relation through morphMany relation, it some how retrieves the record with default values. Not sure why this is happening but it seems like caused by morph relationship...

/cc @phortx

[2018-05-10 10:06] mesqueeb commented on #82
No not at all..... I think no one in the world has any solution for this lol. It's so weird, I'd expect a lot of people trying to cash computed properties on an item basis, as you would with vue-components, but in the vuex store instead.

My setup is still:
- item-based computed props as vue instances
- store getters for general groups of items, like "due items" etc.

I think that before I had som

[2018-05-11 01:11] clockworked247 commented on #151
I'm just going to close this since I fixed the issue on my end.

[2018-05-11 01:11] #151 closed

[2018-05-11 10:59] kpilard opened #153 "whereHas does not work in ManyToMany Relationships"
Hey,

I think the current implementation of whereHas doesn't work in ManyTo Many Relationships.

Here is an short Example

[code]
=> returns the correct 4 Items

[code]
=> returns the same 4 Items.  But it shouldn't return any Item.

[2018-05-12 01:08] kiaking commented on #151
OK, thank you! If you have any other trouble, please let me know : )

[2018-05-12 04:21] Xcelled opened #154 "Terrible performance with belongsTo"
I'm trying to use vuex-orm to manage a huge dataset. I've defined a belongsTo relation from one entity (`materials`) to another (`items`). There are approximately 28,000 items.

When selecting 4 materials using `with('item')`, the performance is so bad it hangs the page and I have to kill it with task manager. I did some digging and I found out that in the `load` method of `BelongsTo`, the query i

[2018-05-12 13:10] UncertaintyP opened #155 "Loading the same related models in multiple relationships merges them"
In this [jsfiddle](https://jsfiddle.net/c17neocb/) I have created a `Location` model that has many `Event` models.

One relation is called `past` the other `upcoming`. Loading both of them or loading them separately returns all 5 events (past as well as upcoming) on the respective locations property.

But having a look at the state of the store reveals it has the correct values.
![screenshot from

[2018-05-14 00:54] huy-tran opened #156 "Create or Insert a model without touching relations"
Hi,

Is there any way to **create** or **insert** a model without affecting its relations. My use case here is let's say I have a collection of `User` models. When click on a `User` I'll fetch its relation such as `Member`.

So now when I run (assuming I defined relationship between `User` and `Member`)

`store.dispatch['entities/member/create', { data: member }]`

It does create a `Member` model

[2018-05-14 04:36] kiaking commented on #82
Hmm... This is going to be tough, since Vuex ORM is using Vuex, and if Vuex is not going to implement the caching system, I don't know if there's anything we can do.

However, I think it's important to find out exactly where the performance issue is. Is it rendering speed? Is it calculation cost?

Either way, to help you out, I need some working app example that illustrates your problem to dig dee

[2018-05-14 04:37] kiaking commented on #153
Thank you for the report! I'll look into this!

[2018-05-14 04:40] kiaking commented on #154
Oh thank you for the report! 28,000 is the biggest number I saw someone using Vuex ORM. I think this can be improved (thanks to your research!). Let's fix this.

[2018-05-14 04:49] kiaking commented on #155
Oh well, this is expected behavior right now.

Since `past` and `upcoming` attribute defined at `Location` class is referencing same `Event` model and same foreign key `localtion_id`, when fetching data from the state, the result is going to be the same hence you get all 5 events back.

`past` and `upcoming` property in the state you posted (`locations`) are indeed the ID of the related items, but

[2018-05-14 04:52] kiaking commented on #156
Hi! So the `member` contains `user` record too right? In that case, you can pass `create` / `insert` / `update` / `insertOrUpdate` option to each preset methods. In your case you could do something like this.

[code]

[2018-05-14 05:56] huy-tran commented on #156
Hi @kiaking ,

Since I fetched **users** already so when fetching **member** from the server, I don't want to include the associated **user** (to save a query to database).

That means there's no `userId` in my `member` model.

Hope it makes sense. Thanks for your reply!

[2018-05-14 06:05] kiaking commented on #156
Ahah. Could you paste the `member` data that you're trying to save to the state? I'm wondering if there is a bug where user would get created even if there aren't users data in member's record that you're trying to save.

[2018-05-14 10:16] huy-tran commented on #156
@kiaking Just checked the code. I do have `userId` but no related model from the Server. So I don't think any bug on your great plugin. I ended up creating via `new Member(data)` and store it different than Vuex-ORM `data` collection. By doing this I can use it on specific Vue component, without affecting the whole data.

Thanks for your prompt reply!

[2018-05-14 10:16] #156 closed

[2018-05-14 20:03] UncertaintyP commented on #155
Thanks for the clarification, I just didn't expect it to work this way but `hasManyBy` is totally what I'm looking for.

Your recommendation of creating multiple models is no option for me as the location -> past/upcoming relation was just one of many examples in my app that have this problem and I wanna keep the models folder slim ... `hasManyBy` is just cleaner ;-)

[2018-05-14 20:03] #155 closed

[2018-05-15 01:32] kiaking commented on #156
Oh OK! Glad you found a fix : )

[2018-05-15 01:34] kiaking commented on #155
Glad it worked for you! Let me know if you face any other trouble 👍

[2018-05-16 08:02] mesqueeb commented on #82
I'm working hard to release my app to the public soon. Now in the final design stages for V1 launch.
It's a really big app so making a prototype with just that what is slow is quite hard, as my itemGetters are used all over the app! : )
I'll keep you posted!

[2018-05-16 08:31] Kleemer opened #157 "hasOne relationship not working, but belongsTo works"
Hi,
I'm trying to use a simple hasOne relationship like this : **element** _hasOne_ **logic**.
However sometimes the **logic** is null. When it's the case, the function HasOne.attach just does not work and it crashes. I then tried to put a **logic** _belongsTo_ **element** and it works correctly.

Am I missing something ?
Thanks in advance for the help !

EDIT : Using belongsTo doesn't work either

[2018-05-17 01:54] kiaking commented on #82
Got ya. Hope someone would find cool solution for this 👍

[2018-05-17 01:57] kiaking commented on #157
Hi thanks for the report! It sounds like a some edge case defect... Could you paste the model definition of `logic` and `element` and I can try reproduce and fix them? 🔥

[2018-05-17 02:27] kiaking commented on #152
This might not be a defect since `withAll` will only fetch one level deep relation. You need to use `withAllRecursive`. However, if you create morphRelation through `create` method, fetched data with `withAll` will contain record with default value instead of `null` and this is a defect. Looking into it.

[2018-05-17 02:45] Kleemer commented on #157
Hi, of course !
Here is the Element Model :
[code]
And here is the Logic Model :
[code]
It's not more complicated with that ! Thanks for your quick answers, as always :)

[2018-05-17 13:53] huy-tran opened #159 "Many - Many doesn't work"
Hi @kiaking ,

I am encountering the issue `Cannot read property 'hasPivotFields' of undefined` when trying to setup Many - Many relationships.

I am using Laravel as Backend so my data structure is
![2018-05-17_23h48_15](https://user-images.githubusercontent.com/15810919/40181627-e796d388-5a2c-11e8-939c-1da40955d7b4.png)

Member model is:

[code]

Book Model:

[code]

MemberBookModel

[code]

Tha

[2018-05-18 20:34] siegy22 opened #160 "Circular dependency problem when using hasMany/belongsTo"
I have the following problem:

Let's assume I have comments which belong to a user, and a user who has many comments.
How do I define `belongsTo` on the Comment, as well as `hasMany` on the User?

[code]

So with this example you'll have a lookup error when defining `belongsTo` in the Comment class.
If you split these two in two separate files, you will result in a circular dependency.

How do I s

[2018-05-21 02:36] kiaking commented on #159
Hi! Thank you for the report! The error sounds like it's not available to find the model. Could you give me the `entity` name for the models? Or maybe you should do this...?

[code]

[2018-05-21 02:40] kiaking commented on #160
This is kinda bundler related issue. For example, not sure why but the example you gave me works fine with my setup. It doesn't throw any error. In fact the exact same setup is defined at almost everywhere at Vuex ORM test cases. I'm thinking this because the `fields` is method, and it is evaluated on the run time.

However, if you wish, you can actually use String to define relationship 😃

[code]

[2018-05-21 03:50] huy-tran commented on #159
@kiaking
Hi mate,

The `entity` names are `member`, `book` and `memberBook` respectively. I don't know if the issue of coming from my `pivot` key?

Is it possible for you to show me the data response structure you used in the example?

Thanks heaps!

[2018-05-21 08:26] kiaking commented on #145
@Kleemer Hi! Sorry for taking so long, but could you take a look at following code? I was trying to reproduce the issue and I failed. The following code is working as you would expect. Is this the equivalent setup to yours?

[code]

[2018-05-21 12:28] kiaking commented on #159
Hmm... strange. OK, so the following test is passing.

[code]

Now, the key name `pivot` will be ignored by Vuex ORM because it doesn't show up on your model definition. But it shouldn't throw any error... It looks like it should work.

Is it possible for you to provide me the full code or create reproducible fiddle? You could send me an email if the code is too private to show to the public! kia.

[2018-05-22 13:17] UncertaintyP opened #161 "Slack link is inactive"
Hey guys,

sadly the Slack invitation link in the Readme.md is inactive. Could you be so kind to update it?

Best regards

[2018-05-23 00:03] kiaking commented on #161
Wow sorry about that and thank you so much for reporting! Here is the new link!

https://join.slack.com/t/vuex-orm/shared_invite/enQtMzY5MzczMzI2OTgyLTAwOWEwOGRjOTFmMzZlYzdmZTJhZGU2NGFiY2U2NzBjOWE4Y2FiMWJkMjYxMTAzZDk0ZjAxNTgzZjZhY2VkZDQ

I'll update the README too!

[2018-05-23 00:05] #161 closed

[2018-05-23 01:35] kiaking commented on #153
Hi! I've created test case for this and seems like it is passing. Could you take a look at following code and see if there're any difference from yours?

[code]

[2018-05-23 02:07] kiaking commented on #154
I've created PR #162 to address this issue! Now with 8 items loading belongsTo relation from 30,000 records finishes in about less than 300ms 🎉  I think it is solving the issue now. I'll make a release soon.

[2018-05-23 05:45] Kleemer commented on #145
My setup is the same as yours, and the only differences I can see are :
- Like I told you Post is PostText for me but I don't see that as being an error
- In the object I am adding to the store, I have ` commentable_type: 'post-text'`
- In my store, in Comments, commentable is not empty, it actually has the full PostText in it, and the PostText entity store is empty

It was because my commentable_

[2018-05-23 06:01] #145 closed

[2018-05-23 11:42] kiaking commented on #145
Oh OK! Glad you found a fix! It was nice for me to that I could add more tests : )  Feel free to open another issue if you have any other trouble!

[2018-05-23 17:19] Xcelled opened #163 "Relations refacoring ideas"
Continuing from #162:

How do you mean?

I think you misunderstood what I meant. I'm saying that vuex-orm probably shouldn't go overboard in the types of queries that it does - because relational databases could do them much better anyway. So if a user needed that level of complexity, they'd be better off going with sql.js or something else that's a "true" relational database. Vuex is for reactive

[2018-05-25 02:20] transtone opened #164 "0.25.1 forEach of null bug"
when use 0.25.1, it get error when store is empty:

![image](https://user-images.githubusercontent.com/46688/40522797-119539da-6005-11e8-82af-0710ffebcb68.png)
![image](https://user-images.githubusercontent.com/46688/40522836-41fbc2ba-6005-11e8-8c19-c1a904ffe191.png)

I get version back to 0.25.0, the bug is gone.

[2018-05-27 07:13] dtkahl opened #165 "Lazy load relations"
Is there a way to lazy load relations on an existing entity? Currently the only way to retrieve relations is through query:

[code]

I'd like to be able to do this:

[code]

In my case this would be helpful because I like to provide a queried model instance by a vuex getter but do not want to retrieve all possible relations by default but only if they needed.

[2018-05-28 01:42] kiaking commented on #163
I meant mainly about the performance impact on when creating the records (indexes).

Oh yeah I see. That true.

Yeah that could be a nice option. If the cost is too hight, maybe we can extract it as a plugin later.

Hah, that's valid point I guess. I totally forgot about Class component lol.

---

OK so I like to try out this idea. It might take a while since it's a quite large architecture change

[2018-05-28 01:57] kiaking commented on #164
Wow thanks for the reporting! Let me look into this!

[2018-05-28 01:58] kiaking commented on #157
Thanks for the investigation! Sorry I didn't had time to look into this just yet but I'll be soon!

[2018-05-28 02:01] kiaking commented on #165
Yeah this is nice feature I think. I was thinking to add function base relationship resolver something like this.

[code]

Currently it's a bit hard to implement lazy load after fetching data since when `find` is called, the data is already being fetched. But I agree you don't always not want to eager load everything.

[2018-05-28 03:59] kiaking commented on #160
@siegy22 Hi! Did the above answer solve your issue? I would like to close this issue if there're no further questions : )

[2018-05-28 07:00] siegy22 commented on #160
Yes it did!

I forgot to add `with('post')` when I added `post: this.belongsTo('users', 'user_id'),`. So I already tried that 😄

[2018-05-28 07:00] #160 closed

[2018-05-28 09:32] kpilard commented on #153
Yes I will look into it today.
Thank you 👍

[2018-05-29 12:49] EminDemiri opened #166 "View correct devTools of relationships"
is there a way to correctly view the relationships when using vueDevTool in the vuex section?
By displaying your ToDo demo, I display the user object with an empty todods array even when the user has different todos.

thank you

[2018-05-31 03:17] kiaking commented on #160
Great you found a fix! No it is not documented yet and I should! I wasn't quite sure if I wanted to go with using String as a argument since I didn't had circular problem until you raised the issue. (I did implement the string feature because I thought maybe the circular might become an issue though). So yeah I should add it!

[2018-05-31 03:22] kiaking commented on #166
Hi! Thank you for opening the issue.

No, you can't see the relationship in the Dev Tool. The relationship is resolved when you fetch data via getters and the getters are dynamic so you won't know what relationship will be resolved until you try to.

And I don't think this can be supported. Since decoupling the relationship and save them separately to the state is the one of the main reason why Vu

[2018-06-01 17:36] Xcelled commented on #163
I still think the cost should be quite small for a hashtable-style index.

Yeah it is a large change unfortunately. I think storing instances directly and then making a new relation system is the way to go :)

[2018-06-01 20:04] myleshyson opened #167 "Duplicating Reactive Model Instances"
Hey I was wondering if it's possible to duplicate a model and keep all of its properties reactive. I don't know if I'm asking that right, but what I mean is this. Let's say I have a select field with options and a currentlySelected field. Whenever I add an option I want that option to be the currentlySelected option. However when I try to update that option, the currentlySelected option does not u

[2018-06-04 00:47] kiaking commented on #167
I think you can! And it seems like your example looks good... Could you paste the Vue Component where referencing the state?

[2018-06-06 14:40] myleshyson commented on #167
Hey I just did a test component and it works great! I'm not actually sure what I was doing wrong before. I'm trying to setup a component with a select field, and each time you add an option, the currentOption updates which allows you to update the data. I'll paste it here just in case anyone else wants to know how to do it.

[code]

Then in the user module...

[code]

[2018-06-06 14:40] #167 closed

[2018-06-06 15:10] kiaking commented on #167
Glad it worked! 🎉  Let me know if there's anything I can do : )

[2018-06-07 08:07] dtkahl commented on #143
A `new` method which creates a new model instance without adding this instance to the vuex state would be really helpful.

I wrote a workaround method for my model classes:

[code]

[2018-06-10 08:19] razvanioan commented on #90
Hi there @kiaking,

I've been _quiet_ for some time, as being busy with lots of projects & tasks, like we devs always are ;)
I've seen you've managed to complete some of the tasks on the **v1** roadmap, which is nice.

Is there any progress / news regarding this one in particular one ?
I'm close to the point I have to deal with this into my project, and have to find a working solution ;)

Maybe I'

[2018-06-12 13:31] kiaking commented on #143
@dtkahl Hah, maybe you could do that with `const user = new User({ ... })` ? Or you could do `const user = User.make({ ... })` too I think. To get the model instance without saving it to the store. It will not normalize the given object though...

[2018-06-12 13:32] kiaking commented on #90
Hi! Sorry for making you wait! I really want to make this happen but I was having been very busy these days... I hope I can find time to tackle this one soon!

[2018-06-12 17:41] razvanioan commented on #90
No man, don't get me wrong.
I was just curious if you get a chance to work at this point, you don't have to apologise

As promised, and being close to need this, I will let you know if I can tweak something out of it ;)

Thx,

[2018-06-13 00:18] kiaking commented on #166
@EminDemiri Hi! Did the answer above help you in anyway? I think it's quite hard to support your request by its nature :(

[2018-06-13 01:41] kiaking commented on #90
Thank you so much! It would be very helpful if you can find some solution to this...!

[2018-06-13 13:06] dtkahl commented on #143
Yes, that works.

[2018-06-13 19:10] cwittenb opened #168 "Auto increment the ID value when the value is null"
I have encountered an unexpected behaviour trying to insert nested data into the store - all objects where just created, so they do not have an ID yet.

Here are my models:

[code]

When I call:
[code]

where data equals:
[code]

The returned entities looks like this:
[code]

Query for ID with holds:
[code]

I can not make any sense of this...
Why is only the last Hold created?
Am I doing somethin

[2018-06-14 02:34] ltinyho opened #169 "how to unregister database"
I want to use vuex-orm in vuex module,can i unregister vuex-orm when router change?
[code]

[2018-06-14 02:44] kiaking commented on #168
Hm... Could you try removing `id` field from `holds` to see if that make any difference? It should work with `null` but maybe this is a defect in somewhere and I would like to see if it changes anything!

[2018-06-14 02:46] kiaking commented on #169
Nice request! Currently we don't have unregister option in Vuex ORM, but could you try this? I think it would work

[code]

[2018-06-14 02:49] ltinyho commented on #169
nice, it is work, thanks!

[2018-06-14 02:50] kiaking commented on #169
👍  I think it would be nice to have `uninstall` method so I'll change this issue title and make it feature request!

Thank you for the reporting : )

[2018-06-14 06:57] ltinyho opened #170 "computed state confuse"
I can't understand why can get array relation in Vuex state, but array relation is empty in component getters.

vuex state
[code]
component getters
[code]

`image 1`
![image](https://user-images.githubusercontent.com/28479270/41395980-29a58b3c-6fe2-11e8-933a-e6e8cc758ef3.png)

`image 2`
![image](https://user-images.githubusercontent.com/28479270/41395989-2cacb918-6fe2-11e8-999a-592a65d1fee7.png)

[2018-06-14 07:49] cwittenb commented on #168
Thanks for your quick reply.
Yep, that's it!
I'm passing `Hold()` objects to `insertOrUpdate`. If remove those id fields beforehand (`delete hold.id`) to remove those `id`-fields - it just works as expected.

[2018-06-14 07:52] cwittenb commented on #168
... and if I set those ids to `id = undefined`, that also works fine.

[2018-06-14 23:59] kiaking commented on #170
Hi! Sorry, I'm not sure what your question is... Is everything working fine but you just want to know why the relationship can be resolved by having an empty array?

If that is the question, then the answer is because Vuex ORM is not using that array (`answers`) value when resolving the relations via getters. It looks up for the foreign key defined at model schema definition.

Would this answer ma

[2018-06-15 00:03] kiaking commented on #168
Thank you for the confirmation! Now I understand that this is the at least expected behavior right now that Vuex ORM will treat `null` as a valid value. So the id key would not getting incremented.

I guess there's no point of arrowing null as a value when defining `increment` field, so let me fix this to be same behavior as `undefined`!

[2018-06-15 07:28] cwittenb commented on #168
Thank you for looking into it! Would be great to have a fix, as the workaround - deleting fields beforehand - feels rather clumsy. :)

[2018-06-18 12:36] timoschwarzer commented on #170
It's probably because you use a query and don't request resolving the relationships with the `.with(...)` method. You'd have to do something like this:
[code]

[2018-06-18 14:58] razvanioan opened #171 "update field value with null"
If I define model with fields of type number or string, having as default values null it works fine, like so:

[code]

But when I want to update these fields with null (clear any other value) like this:

[code]
It doesn't work as expected, and it gives me these values instead:
[code]
Am I missing something ?

Ok, maybe for strings I can use empty string to clear out, but for numbers maybe I don't

[2018-06-18 16:31] kkyouhei commented on #164
It reproduced.
please look this project api.js line 29.
https://codesandbox.io/s/zk99v19044

@kiaking can i fix it ?

[2018-06-18 18:34] razvanioan opened #172 "question: get action payload in lifecycle hooks"
Is there a way to obtain the action payload inside a lifecycle hook ?

For example what's being requested to update in a beforeUpdate hook ?

I see the `record` is having the new values in the update request, but do I need to check all fields in order to see what's being changed ?

[2018-06-19 00:56] kiaking commented on #170
Ah wait also I think you need to change model definition as following I think.

[code]

[2018-06-19 01:40] kiaking commented on #171
Hi! Thank you for reporting! OK, there's 2 issue overhear.

For the first one where setting the default value as `null` was unexpected and I intended to make them as `''` or `0` in that case. So for me, this part is a defect.

However, I too was using `number` and felt like I needed a way to set `null`. So it becomes more like Number or Null kinda attribute.

To do this, I'm thinking to add `nulla

[2018-06-19 01:41] kiaking commented on #164
If you can fix it YES!!! That would be super wonderful! Thank you so much for taking effort on reproducing the issue! 👍

[2018-06-19 01:59] kiaking commented on #172
Yes! You can access the current value by obtaining the getter context. But I think having access to the previous state is a nice idea. However, I think we should be documenting that namespace issue as well.

Not currently. Since right now, lifecycle hook is retrieved each time the lifecycle is called. I think having a way to not execute some hook is a good idea. Maybe something like this?

[code]

[2018-06-19 04:27] razvanioan commented on #172
Yeah, actually getting the record like I did, you have access on it's state before the requested update.

On the second parameter that you set, it's the record with updated values, that you can check and allow or not.

In my check I needed to know if the field ’status’ value has been changed in the current request or not.

That's why it should be nice to have in there also the payload (data reques

[2018-06-19 04:45] razvanioan commented on #171
Actually I don't understand the overkill with suplementary ’nullable()’ option

Maybe only because you really want to assure that the field has the specified type
But a string or a number can be null, on JS or even DB

I think that by default they should be able to be set as null of desired

Think if someone doesn't know / read about extra nullable option to a field and tries to set null
Or he kno

[2018-06-19 08:51] kiaking commented on #153
@kpilard Hi! I'll be closing this issue due to inactivity. I've merged the test case anyway so it was nice to create regression test anyway 🎉

Please feel free to reopen this issue if you still encounters it 👍

[2018-06-19 08:51] #153 closed

[2018-06-19 09:12] razvanioan commented on #172
Regarding async actions, I mean a user confirmation

It's a good ideea to wait for a Promise(resolve, reject) which can be either an API call or more usefull a user confirmation from UI, in order to continue with the requested change or not

[2018-06-19 09:37] kiaking commented on #172
That is true, but it is more flexible so I think it's a way to go for a first step : )

It is a pretty cool idea. Not sure how the API would look like though...

[2018-06-19 10:00] Tronix117 commented on #15
Typings do not seem ok though

[2018-06-19 10:03] kiaking commented on #15
@Tronix117 Hi! Sorry we're dropping this feature as stated in #138 . And it's my fault but the dropping is already happening ;(

[2018-06-19 10:04] kiaking commented on #138
So, I'll drop the support for this (and indeed it's already dropped). There're several place in the code where I have to delete but since it's already not working, I'll just close this issue to mark as this is already something that happened.

[2018-06-19 10:04] #138 closed

[2018-06-19 10:36] Tronix117 commented on #138
Has the `hasOneBy` solution been implemented, or any workaround to keep a clean schema without using `this.attr('')` ?

[2018-06-19 10:38] kiaking commented on #138
`hasOneBy` would be equal to `belongsTo`! I'm thinking to add `this.json({ ... })` (or `this.object()` maybe) attribute in the future and provide some easier way to update the nested object, but not implemented yet.

[2018-06-19 10:52] kiaking commented on #163
OK, I'm having trouble that maybe storing class instance to the state wouldn't make many benefits.

The reason is even if we store class instance to state, we have to clone that instance in the getter to support eager loading the relationships since we have to "mutate" the record and we can't do that inside getters.

If we're going to clone the instance (and it's not that easy in JavaScript), mayb

[2018-06-19 19:58] Xcelled commented on #163
The way I solved that was by doing away with eager/lazy loading completely. Instead, each property was just a lookup each time - but thanks to the hashmap indexes, the lookups were almost instantaneous. As a reminder:

[code]

I'd argue that eager/lazy loading doesn't make much sense in that context. Actually, I'm not sure it makes much sense at all to eager-load anything in vuex-orm, at least in

[2018-06-20 00:55] kiaking commented on #163
Thank you for your feedback!

I understand having lookup approach via getter, but how can we filter the relationship individually upfront?

Let's say we have User that has many Post, and in Vue Component we want to have 2 users collection with different posts filtering.

[code]

With above example, both computed property references same user record where `id` of 1, but it has to have a different n

[2018-06-20 02:06] kiaking commented on #166
@EminDemiri I'll be closing this issue due to inactivity, and I think it's hard to support this feature :(

Thank you for your feedback and please feel free to open other issues if you have any trouble!

[2018-06-20 02:06] #166 closed

[2018-06-20 02:48] Xcelled commented on #163
This is true, but this is a *good* thing. In fact, I don't see how you could effectively do it otherwise. With an index-based relation system, fetching all the posts for a user is as fast as a lookup (to get the list of post IDs for that user) and then _n_ lookups to get the post instances. Worst case, each post belongs to one user, so loading the user list means M + N performance (where M is user

[2018-06-20 03:21] kiaking commented on #163
Well, you got a point. Maybe there wouldn't be a much of a benefit on eager loading the relation if each item belongs to the only subset of related records. And I'm pretty sure that that's is the nearly 100% the case.

---

#### About the Lodash idea

I like the approach where we can do the on-demand loading of the records, but I was thinking to add that feature as an addition to the eager loading

[2018-06-20 03:27] kiaking commented on #163
My point here is, that I'm not against having a hash index and each record look up to those indexes. The point is I'm thinking that it's quite hard to use Vuex State directly by referencing them.

I think we need to first make the copy of the state anyway. I mean that's what other ORM's does. It'll first fetch records from DB via SQL, then do something with those records. Instead of fetching data

[2018-06-20 06:13] Alezco commented on #157
Hey, I just ran into this issue as well. The workaround that @bradstewart posted seems to work! @kiaking Did you have time to work on this? Your help and your time are always appreciated.

[2018-06-20 06:21] Xcelled commented on #163
I'm short on time for the next day or two, but I wanted to briefly respond.

First, yeah, indexes and filtering/storing instances are two distinct but related problems. We've now expanded beyond my original intent haha, but I think it's a good thing to look at all of this!

Philosophically, I think that composing like you did it the 2nd way makes for better code since you can do other things with

[2018-06-20 14:18] ltinyho commented on #170
@kiaking it is not work, the `options qid` is null. Thank you for your answer.

[2018-06-21 01:11] kiaking commented on #157
@Alezco Yeah I should really! I think I can work on this weekend 👍

[2018-06-21 01:14] kiaking commented on #163
Well yeah you got a valid point. I'll try organize the overall flow on data creation to fetching them and see how the architecture should be.