[2019-04-26 08:25] tvillaren commented on #350
Hello,

How do you insert data currently in your store?
If you use the `create` method (as described here: https://vuex-orm.github.io/vuex-orm/guide/store/inserting-and-updating-data.html#inserts), the store data is flushed before inserting the new one.

Is that what you're looking for?

[2019-04-26 09:21] spaceemotion commented on #350
Yes, seems like I've missed that! Does it only affect the User model though, or does it also clean up their relationships?

[2019-04-26 09:23] kiaking commented on #350
@spaceemotion It only affects User model! However, if you have nested relationship, say user has many posts, then the posts will also be cleared. In that case, you can control the behavior by passing an option.

[code]

[2019-04-26 09:27] spaceemotion commented on #350
Nice, so in case I want to paginate through my data, but keep the currently opened User (let's say a sidebar view), with all its relationships I can do the following?

[code]

In which case it would properly merge all models and relationships?

Let's say I got a company assigned to each user (many users share the same company), will the company model then be taken from the new data or my existing

[2019-04-26 09:31] kiaking commented on #350
@spaceemotion Oh yes that should work just fine. The relationship should work as expected too. Just be careful not to include company relation in that users data. Or if you do, remember to do:

[code]

[2019-04-26 09:32] spaceemotion commented on #350
Thanks! that insertOrUpdate should do the trick then.

Closing this as the question was answered. Cheers!

[2019-04-26 09:32] #350 closed

[2019-04-26 09:33] kiaking commented on #350
Glad you found the answer! Feel free to open another issue if you have anything.

[2019-04-26 15:11] jpenaroche commented on #327
@kiaking ok;
models:
Media model

[code]

Mediable model
[code]
[code]
Response Data:
[code]
Query:
[code]
As you can see, in my Mediable model declaration, i have to set manually (tag,order) pivot attributes for use in queries later..., and using this way well it worked, but vuex-orm set mediable elements using primary key with keys type id which are setting on declaration of the relationship, so

[2019-04-27 16:03] xaralis commented on #214
Any progress on this?

[2019-04-28 06:19] bertBruynooghe opened #351 "second level creation of pivot tabel elements bug?"
After I tested the solution of vuex-orm/issues/320, I discovered a similar issue with 'second level' creating an item of a pivotable directly, which results in wrong entries in the pivot table.

I pasted the test code here, but you can also run it from https://repl.it/@bertbruynooghe/VuexORM-issue-pivot-table-elements-second-level-creation ...

[code]

[2019-04-29 11:23] phortx opened #352 "hasManyThrough with string IDs doesn't work"
... probably.

I've discovered it while implementing https://github.com/vuex-orm/plugin-graphql/pull/91.

https://github.com/vuex-orm/plugin-graphql/pull/91/files#diff-73279083556e37e12ba8818c5e2d8b00R999 because `tariff.tariffOptions` is undefined.
With integer IDs the tests pass.

https://travis-ci.org/vuex-orm/plugin-graphql/builds/524843410

[2019-04-29 16:14] tvillaren commented on #310
Hello,

Has anyone started working / fiddling on this?
Just encountered the same issue and might give it a try in the next days.
I've been reading all comments and the design proposed sounds good to me!

[2019-04-29 16:19] trevorpe commented on #310
I'm using the work-around for now and it's working just fine, and I don't really have the time to commit to much, so if you'd like to tackle this, feel free.

I'm happy to help where I can, I just have higher priority items that need my focus, so I can't really commit to learning enough about the code base to implement this feature.

[2019-04-29 16:40] tvillaren commented on #310
I know the feeling :)
What do you call "the workaround" ?

Currently, if I have different types of Loan coming from an API, I was unable to create the corresponding instances in the state (i.e if I want to do an `insert` of the "base Loan" entity but with an array of derived Loans, it will not create the derived ones accordingly. Am I right?

I need to organise my thoughts as well on this and fini

[2019-04-30 00:11] ulises-castro commented on #347
Hi Kiaking, I don't have idea how to implement localStorage in models or what is the right way to keep data using localStorage, vuex and vuex-orm

[2019-04-30 14:03] trevorpe commented on #310
The workaround is described in #50 and #192, but it is pretty well as follows:
[code]

[code]
With the work-around, the base class has to define some sort of field to hold the fields on the sub-types and refer to it through a `morphTo` relationship, keeping the same IDs between both.

What we were discussing was the idea of having single-table inheritance, where the `Loan` class can be sub-classed

[2019-05-02 15:34] rkingon commented on #83
Sorry to bring this one back to life, but per the code above...

[code]

the hook only passes in the `record` -- which is normalized. sometimes it is also very handy to have the `payload`/`data` as well.. Can we pass this into the hooks as well?

[2019-05-02 16:24] ambischof opened #354 "A way to change the name of actions added to modules? action name conficts"
ORM adds actions such as `create`, `insert` and `update` but I want those names for other things /libraries.
Is there any way to namespace the ORM specific actions that get added to modules? It would be great you could optionally change the actions that are created to something like, i dunno, `orm-create` or something.

[2019-05-03 01:50] wkasem opened #355 "Two Vuex Orm Instances On same Page Error"
[code]

[code]

[code]

but works fine if there only on usage of vuex orm

[2019-05-03 07:38] narnikgamarnikus commented on #347
Since vuex-orm is just a set of abstractions over `vuex`, you can use any plugin for persistent, of your choice:
- https://github.com/championswimmer/vuex-persist/
- https://github.com/robinvdvleuten/vuex-persistedstate

[2019-05-03 07:41] narnikgamarnikus commented on #312
The same issue

[2019-05-03 13:03] kevadiya93 opened #356 "hasMany gives null array"
Hi,

For nested data with array of object

[code]

In model field declare with hasMany(....)
but it gives null array

Can you suggest me proper field declaration for array of object?

[2019-05-03 16:06] Uysim opened #357 "with not working with many to many"
When I use Post.query().with("tags").get(). Tags will return empty array for many to many

[2019-05-06 18:22] eladyaniv01 opened #358 "Mapping nested Objects"
Assuming my API returns Nested Objects like so

[code]

and my models are like so

[code]
Now,  i want to end up with 2 sets,  but construct binding relationships between them like so

- Parent  ->  The Parent Object
- Parent.Child -> the Children SET belonging to the Parent
- Child -> All of the Children of all Parents

How is it possible verify that if i update some entry in Child, lets say the

[2019-05-07 08:35] kiaking commented on #349
@kevinmarrec Hi! thank you so much for your report!

This is interesting. Since the published package are bundled into single JS file so it should include Normalizr. Or maybe TypeScript loads things from different place...? Maybe the type declaration file is imported from source of Normalizr... Let me check on this!

[2019-05-07 08:43] spaceemotion commented on #349
@kiaking I got the same error(s) when using the vue-cli's TS setup + installed vuex-orm on top of that.

[2019-05-07 08:49] kiaking commented on #327
Ahhhh Finally I see! Yeah I get it. You got point. I wasn't thinking about this use case. But surely yeah we need this.

We have other issue where adding feature to map response structure to some custom object tree. I think we can keep in mind about this issue. Since clearly, to achieve this, we need some way to tell Vuex ORM that the key `pivot` inside Media belongs to intermediate table.

[2019-05-07 08:54] kiaking commented on #349
@spaceemotion Thx for the info!

[2019-05-07 09:00] kiaking commented on #214
@xaralis Not much! I haven't had time to check typings with plugin integrations.

[2019-05-07 09:23] kevinmarrec commented on #349
@kiaking You're right, TypeScript is indeed looking for the declaration file of `normalizr` which is missing as it's not a dependency.

Only workaround I found is installing `normalizr`.

The package being light and 0 dependencies itself, I think it can be kept under `dependencies` as logic fix.

[2019-05-08 09:03] kiaking commented on #351
Oh thank you so much for the report! Seems like we should tackle this one too.

[2019-05-08 09:07] kiaking commented on #83
@rkingon Thank you for the feedback! Oh yeah that's so true. Could you create a issue for that? So that it gets a bit more attention 🤝

[2019-05-08 09:12] kiaking commented on #354
@ambischof Hi! Thank you for the feedback!

Yeah I can understand this is sometimes frustrating. However, I strongly feels that this is going to clutter the code base quite a bit. I don't think other ORM libraries such as Active Record or Eloquent supports these kind of feature as well.

Maybe changing the method name on module is possible, because module method names are anyway just a string so w

[2019-05-08 09:14] kiaking commented on #355
@wkasem Hi! Thank you for the feedback. I'm not sure what is the issue here. Are you trying to install 2 databases to 2 Vuex Store instance?

[2019-05-08 09:16] kiaking commented on #347
I think @narnikgamarnikus is right. You could use any library combined with Vuex ORM. Would this make sense to you @ulises-castro ?

[2019-05-08 09:22] kiaking commented on #356
@kevadiya93 Hi! Thank you for the feedback. Are you trying to save array of data which is not relational data...? Then you could just use `this.attr()` to store anything.

[code]

[2019-05-08 09:24] kiaking commented on #357
@Uysim Hi! Thank you for the report! Sorry but I need more info on this. The test is passing so I think here's something wrong with either data, or Model schema definition.

Could you provide us a reproducible code for the issue?

[2019-05-08 09:31] kiaking commented on #358
Resolved at Slack conversation. Starting at https://vuex-orm.slack.com/archives/C9QRJRVA7/p1557219763140700

[2019-05-08 09:31] #358 closed

[2019-05-08 09:42] kiaking commented on #349
@kevinmarrec Thanks! Yeah I think that's the way to go about it. Let me just check on this by setting up typescript project at my side and see if everything works.

[2019-05-08 10:48] eladyaniv01 opened #359 "Add to the docs, how to make vuex-orm and vuex-persistedstate play nice together"
So,  i have been trying to find a way for the user to refresh his browser and not lose the store data that is being set with `vuex-orm`,  and the way to do it is like so,
since the plugin list is immutable, you need to make sure your `vuex-persistedstate` comes AFTER the `vue-orm` plugin,  or  `VuexORM.install(database)`
a deeper explanation involves how the internals of `vuex-persistedstate`,
to

[2019-05-08 14:34] Dishwasha opened #360 "Add support for multiple independent entities namespaces"
A larger single page application may be composed of a number of features that may be better served by having isolation between the models and overlapping entity types to reduce unintended side effects.  Currently VuexORM supports a single database and Vuex entities namespace which is configured globally.  Extending this to support registering multiple VuexORM databases and linking models to those

[2019-05-08 17:34] wkasem commented on #355
yes , i have two vue instances each one with it's own database

[2019-05-09 09:39] kevinmarrec commented on #349
@kiaking I've checked on 2 projects where I installed `normalizr` dependency, everything worked.
It just don't feel smooth having `normalizr` dep in my project's `package.json` files, as it should be in `vuex-orm` one :)

[2019-05-12 14:11] Uysim commented on #357
@kiaking  Sorry I think it is my mistake. Now it is working fine. Thank you for you time. I'll close this issue

[2019-05-12 14:11] #357 closed

[2019-05-13 02:04] kiaking commented on #357
Oh OK. Glad to hear you found a solution! Feel free to open another issue if there's anything 🤝

[2019-05-13 09:15] kiaking commented on #356
@kevadiya93 Oh that error is coming from some where outside Vuex ORM. The library wouldn't throw such error. Could you provide me your Model definition and how you're inserting data?

[2019-05-13 09:16] kiaking commented on #360
@Dishwasha Thank you for the feedback! Yes, I think that make sense. I'll mark this as an enhancement and see if we can introduce such feature.

[2019-05-13 09:21] kiaking commented on #349
@kevinmarrec Thank you for the confirmation! I just want to make sure if moving `normalizr` to `dependencies` at Vuex ORM side would really solve the problem. I agree with you too that it should, but just to make sure.

[2019-05-13 09:54] kevinmarrec commented on #349
@kiaking Well I don't think there really is other solution, as the issue is about a missing dependency.
If a package (`vuex-orm`) uses type definitions of an external `package`, it must have them shipped. It could have been `@types/normalizr` but types are not under such repo but in the same package as code source : `normalizr` (https://github.com/paularmstrong/normalizr/blob/master/index.d.ts).

[2019-05-13 10:23] kiaking commented on #352
@phortx Hi! I've added test case for this at PR #361, but it is passing. Can you find any difference between your test case...?

[2019-05-13 10:50] kiaking commented on #303
OK, I've created test case and I think I've reproduced this. It happens when combining with `increment` attribute. I'll be working on to this.

[2019-05-13 11:15] geraldbiggs opened #362 "MorphTo with relation data stores incorrect result in Vuex"
When providing entity data through the morphTo relation, it stores resulting data in vuex inconsistent with other relationship types. Example follows:

[code]

Other relationships will typically store _null_ in vuex. Depending on ways data is persisted - this blank entry can lead to unintended results such as overwriting the actual post.

[2019-05-13 15:34] tafelnl opened #364 "Weird relationship behavior"
I currently have something like the following:

[code]

[code]

When I insert a `Invite` with a `User` attached to it, all works well.
So the following...

[code]

...works great.

But the weird thing is this: when after the above code I do this:

[code]

And after that I do the following query:

[code]

I somehow get the Invite, but then joined with Jane Porter instead of John Doe.

Is this expec

[2019-05-14 09:45] kiaking commented on #362
@geraldbiggs Hi! Thank you so much for the report! It does indeed look very much like a bug. Need to look into it.

[2019-05-14 09:49] kiaking commented on #364
@tafelnl Not sure exactly why that's happening, but you need to add few more schema definition on your Models.

[code]

[code]

Could you try adding fields mentioned above to the Models and try again? 😃

[2019-05-14 13:03] tafelnl commented on #364
Ahh yeah, I think I was a little bit to enthusiastic when simplyifing my models to post here. When I'm at work I will double check it..

[2019-05-14 15:11] rkingon opened #365 "Make denormalized data available in hooks"
Reference:
https://github.com/vuex-orm/vuex-orm/issues/83#issuecomment-488720951

Currently, via hooks, normalized data has been passed through. However, sometimes it is quite useful to have the denormalized data as well -- as when dealing with relations, that normalized data is no longer present.

Reference the above url for more details! Thanks @kiaking !

[2019-05-14 15:19] kiaking commented on #303
Finally this is fixed with Vuex ORM 0.31.11! Thank you for the report and the patients!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.11

[2019-05-14 15:19] #303 closed

[2019-05-14 21:08] davestewart opened #366 "Question: why Vuex ORM and not just JS ORM?"
Hey there,

Just having a quick scan of the project, and it looks super-advanced, clearly it solves the problem it set out to. I've not used any code yet, or delved deep, but I do have one question, which leads to some follow-on questions:

Why is this based on Vuex?

Pretty much all of the code looks like pure JavaScript - why muddy it with the Flux pattern and Vuex?

Does basing it on Vuex provi

[2019-05-15 12:50] phortx commented on #352
Hmm still failing. I've created a jsfiddle :9

https://jsfiddle.net/8qg13e4n/8/

[2019-05-15 13:58] kiaking opened #367 "Morph To Many not working when combining with increment id"
Report from @phortx at Slack.

Fiddle:
https://jsfiddle.net/ukhLncq7/1/

When defining all model with `increment` primary key, this is happening. We don't have test for this.

[2019-05-15 14:23] matlow opened #368 "plugin axios graphql"

[2019-05-15 14:23] #368 closed

[2019-05-15 14:23] kiaking commented on #364
@tafelnl Thanks! Hope things go well 🤝

[2019-05-15 14:27] kiaking commented on #365
@rkingon Hello thank you for the feedback.

Yeah this is good to have. Thank you for opening issue. Let's track this as an enhancement request.

[2019-05-15 14:35] kiaking commented on #366
@davestewart Hi! Thank you for the interest in Vuex ORM!

The biggest reason is because it depends deeply on Vuex's (and Vue's) reactivity system. For that, we must go through Vuex Mutation. For example, Model methods is actually calling Vuex Mutation, it's not manipulating JS object directly.

It might be cool to have similar library for plain JS object instead of Vuex Store. I have a strong inte

[2019-05-15 14:38] kiaking commented on #352
@phortx Thanks for the confirmation! I've confirmed the fiddle too. Hmm... it might be something to do with custom primary key... Let me add another test to check that!

[2019-05-15 14:46] kiaking commented on #325
@josh-m-sharpe Hi! Any updates on this?

[2019-05-15 14:47] kiaking commented on #342
@nvitaterna Hi! Did you had chance to try the code above?

[2019-05-15 14:49] kiaking commented on #308
I'll be closing the issue due to inactivity. Lets come back if there're more needs on saving insert order!

[2019-05-15 14:49] #308 closed

[2019-05-15 14:50] kiaking commented on #309
I'll be closing this issue due to inactivity. Feel free to reopen it if there's anything!

[2019-05-15 14:50] #309 closed

[2019-05-15 14:50] nvitaterna commented on #342
@kiaking Sorry I had forgot to reply. This has worked perfectly, thank you!

[2019-05-15 14:50] #342 closed

[2019-05-15 14:51] kiaking commented on #342
@nvitaterna Glad to hear it helped! Please feel free to open another issue if there's anything 🤝

[2019-05-15 22:13] marcelo-rebello opened #369 "[Feature Request]: Add a meta object to Attributes"
Would be great if you add an optional parameter to the Attribute class
So that you can something like
`
static fields () {
    return {
      id: this.attr(null),
      name: this.attr('', { label: 'Full Name', validation: 'xxx', ... })
    }
  }
`
This way you can easily create components and form generator that use the same model definition as VuexOrm.

I believe that this is a simple addition t

[2019-05-16 00:20] kiaking commented on #369
@marcelo-rebello Hi! Thank you for the feedback! Interesting idea. However, Model is just a class so you could already do similar thing, and I think this way is bit more easier to handle such options.

[code]

Then you could use that in your component however you like.

[code]

What do you think?

[2019-05-16 00:59] marcelo-rebello commented on #369
Hi @kiaking,

I don't like this approach. you have to create another data structure tightly coupled with the model definition, and also manually linking the values between two structures ( eg. value: this.name )
Also, define a form element in this way can be trick went you have relations.

if you just add an optional meta attribute field, a can navigate between models to automatically generate com

[2019-05-16 20:10] bovesan commented on #346
When data is normalized from a one-to-many source, the _type and _id coming from the backend should probably just be ignored. I'm new to vuex-orm though, so I could just be missing the proper way to do it. Here is my current workaround:
[code]

[2019-05-16 20:49] Dishwasha commented on #360
I would like to assist in the development of this feature.  Do you have any design suggestions that I could begin researching?

[2019-05-18 07:18] c8r821 opened #370 "Type issue in query.with"
The types for query.with in [Query.ts](https://github.com/vuex-orm/vuex-orm/blob/master/src/query/Query.ts#L436) do not match those recently updated in [Loader.ts](https://github.com/vuex-orm/vuex-orm/blob/master/src/query/loaders/Loader.ts#L10)

I'll happily submit a PR for this!

[2019-05-19 12:56] jimmiejackson414 opened #372 "How to add data to entities?"
I apologize for the noob question, but I _really_ want to get this to work! I come from a Rails background and vuex-orm will make it so much easier for me to work with Vuex, as well as normalizing my data structure as it's coming in deeply nested. I know Issues is not where you'd normally ask these types of questions, however I asked a [question on Stack](https://stackoverflow.com/questions/562045

[2019-05-19 18:00] lucasb commented on #304
Hi @kiaking! I have faced the same issue here. Let me explain what I found, maybe it can be helpful:
Model definition:
[code]
when I call the new method the same error message rise up.
[code]
I believe the issue here is happening because of how ```isNaN``` works.
when the value is ```undefined``` or a ```String``` it returns true, but when it's ```null``` the return is false. Look here:
[code]
A p

[2019-05-21 06:43] kiaking commented on #352
@phortx Oh wait a minute, that fiddle is defining `belongsToMany`, not `hasManyThrough`. (still it's an issue though). Is this issue about `belongsToMany` at first place?

[2019-05-21 06:52] kiaking commented on #352
And I think there was issues in the fiddle. I think I've got it fixed.
https://jsfiddle.net/cq73agos/

You were referencing the key which didn't exist.

[code]

Also, Vuex ORM was version 0.30.0 so I upgraded to 0.31.11.

Could you take a look at it?

[2019-05-21 08:53] phortx commented on #352
Oh you're right I think mixed hasManyThrough with belongsToMany.

It's about belongsToMany here.

Looking at your change, I think I misunderstood how this works at all. I thought I have to pass the primary key field of the model, but rather I have to pass the foreign key.

I will try this in my test and close the issue when it works :)

[2019-05-21 09:34] phortx commented on #352
It works! Thank you very much :) We need more builtin warnings :P

[2019-05-21 09:34] #352 closed

[2019-05-21 12:02] phortx commented on #367
I need this. Do you have any plans when this will be fixed? :)

[2019-05-22 18:29] merlosy opened #373 "Simplify Typescript definition"
Hi!
First, thanks for this plugin, it really helps for complex data structure!

However, it feels like type definition are a overly complicated.

For example those prototypes:
[code]

`Item<InstanceOf<T>>` is actually equivalent to `<T extends Model>`
and
`Collection<InstanceOf<T>>`  is actually equivalent to `T[]`

If it's the same, why bother redefining everything? Especially since it makes thin

[2019-05-23 08:00] kiaking commented on #369
@marcelo-rebello thank you for the feedback! Yeah I see your point. And I'm now thinking having meta data could be useful in many ways.

Maybe we could introduce additional chainable option to attributes, like:

[code]

This way, we don't have to worry about argument order, but also we could add meta data to any attributes.

[2019-05-23 08:10] kiaking commented on #360
@Dishwasha Thank you so much! OK so the internal architecture is like this right now.

The database instance that holds all models, are stored at singleton object called Container. Now, when Vuex ORM needs to get Model class, it accesses the Container and get database. Something like this.

[code]

Mainly, Query class needs to have access to Container, because Query class must resolve Model by str

[2019-05-23 08:18] kiaking commented on #372
@jimmiejackson414 Hi! Thank you for the feedback!

Usually at Vuex Component's computed property. If you want to fetch all data, you could do like:

[code]

You should be able to reuse what you have. You can call your module just like you would do normally.

[2019-05-23 08:20] kiaking commented on #304
Uhhhhh thank you so much for the advise! I didn't know that isNan issue... Thanks!

[2019-05-23 08:20] kiaking commented on #352
Great! Nice to hear that!

[2019-05-23 08:23] kiaking commented on #367
I'll try look into it soon!

[2019-05-23 08:27] kiaking commented on #373
@merlosy Thank you for the feedback! Yeah I'm not happy with those too, but I didn't know it was a same thing. Because I thought InstanceOfT will return the sub class for the Model because of mystic type definition.

[code]

But if those are same thing, I would really like to fix it to more simpler ones though.

[2019-05-23 09:03] kiaking commented on #304
OK I think I managed to fix this with #374. I'll be making a new release soon.

[2019-05-23 09:06] kiaking commented on #356
@kevadiya93 Just checking in. Did you had any progress on this?

[2019-05-23 09:07] kiaking commented on #355
@wkasem Just checking in. Do you had any progress on this?

[2019-05-23 09:08] kiaking commented on #325
I'll be closing this issue due to inactivity. Please feel free to reopen the issue if there's anything!

[2019-05-23 09:08] #325 closed

[2019-05-23 09:08] kiaking commented on #347
@ulises-castro Just checking in. Did you had any progress on this one?

[2019-05-23 09:11] kiaking commented on #366
@davestewart Hi! Did my answer made sense? If so maybe we could open another issue for creating ORM system for the plain JS object. It might make sense to have that to use as backend for Vuex ORM.

[2019-05-23 09:24] davestewart commented on #366
Hey @kiaking!

Sorry for the lack of reply - craaaazy busy at work and home at the moment, I'm just not keeping up with things.

Yeah, your explanation does make sense. I know Vuex pretty well as well. I created [Vuex Pathify](https://github.com/davestewart/vuex-pathify) so I imagine we have tackled similar problems!

I have to say, the TypeScripting looks very impressive. I wish I had your knowle

[2019-05-23 09:40] kiaking commented on #366
@davestewart Woooow You are the author of Pathify!? So cool. It's an honor to hear from you.

I understand your point very much. I'm really looking forward to Vuex 4 as well, and I too think this FLUX pattern could be better in many ways.

Not on discord but Yes at [Twitter](https://twitter.com/KiaKing85). I'm at [Vuex ORM Slack channel](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3

[2019-05-23 09:44] davestewart commented on #366
Awww - thanks! Well, the admiration is mutual :P

To be honest, I don't do much nested DB stuff like that at the moment, so it's not so relevant to me – *at this time*. Though maybe another time!

Also, I'm stacked with work and trying to release a commercially-based side project right now, so I'm getting no time to do any open source!

But let's connect for sure :D

[2019-05-23 09:47] kiaking commented on #366
@davestewart OK sure no worries. I'm very excited to hear from someone like you. Maybe we can work together some day : )

I'll close this issue for now, the plain JS thing are always on my mind so maybe I'll start doing thing in the future.

Thank you so much for the contact anyway! 🤝

[2019-05-23 09:47] #366 closed

[2019-05-23 09:59] davestewart commented on #366
I'd love that!

[2019-05-23 11:05] kiaking commented on #367
I've reproduced it, and fixed it. Stay tuned I'll be making release soon.

[2019-05-23 12:50] #370 closed

[2019-05-23 14:56] kiaking commented on #367
@phortx This issue should be fixed at Vuex ORM 0.31.12 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.12

[2019-05-23 14:56] #367 closed

[2019-05-23 14:57] kiaking commented on #349
Sorry it tool long but this issue should been fixed with Vuex ORM 0.31.12 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.12

Thank you so much for your report 🤝

[2019-05-23 14:57] #349 closed

[2019-05-23 14:58] kiaking commented on #304
This issue is fixed with Vuex ORM 0.31.12 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.12

Thank you so much for your help! 🎉

[2019-05-23 14:58] #304 closed

[2019-05-23 16:55] Dishwasha commented on #360
Database seems fairly well isolated to an entity namespace.  Do you think it makes sense to change Container to support registering multiple databases mapped by entity namespace (perhaps making a sensible default be the first one or the one mapped to the default 'entities' namespace) and then methods like Query.database knows how to look up the correct database by namespace?   Or would having mult

[2019-05-23 21:25] marcelo-rebello commented on #369
Hi @kiaking

that looks like an elegant solution ;)

Hope to see this implemented soon ;)

Thanks

[2019-05-24 00:01] kiaking commented on #360
Yes, I think that's the first thing we should do!

Yes I think this is true too. We must also look into Model as well because it has access to database as well. Query class could be relatively easier because it always gets the state object through Vuex Modules. But Model's don't. So maybe we need to do something with model when registering them to the database.

I think a single Container is bette

[2019-05-24 23:27] wkasem commented on #355
No , no Fix For This issue

[2019-05-25 09:13] emahuni commented on #267
I think this should be added ASAP. The examples should specify filenames so that new users have an idea of where something is being done. Anyone new kinda has to figure out how to do this. I figured it out, but after a few hours of re-reading and experimenting with code, which isn't ideal. Some devs will just move on. This is an awesome lib and documentation matters.

PS: It'd easier for us to con

[2019-05-26 14:06] wizardnet972 opened #378 "Why vuex-orm returns null in relationship field?"
I followed the guide of [Defining Relationships](https://vuex-orm.github.io/vuex-orm/guide/relationships/defining-relationships.html) in Vuex ORM.

I did everything like the guide, so why I get null value in the category field in Article Model?

[codesandbox](https://codesandbox.io/embed/vue-template-v1beu?fontsize=14)

This is how I defining my models (category on article is: hasOne/belongTo):
[c

[2019-05-26 16:48] paparent commented on #378
Hi !

Try with this model definition:

[code]

You then need to use `category_id` in App.vue.

It happens to me too to be confused. Especially because in the docs it's in the One to One section. I'm sure we can improve this.

Hope it helps !!

[2019-05-26 18:30] wizardnet972 commented on #378
Works! @paparent  Thank you!!!

And yes, this issue is common and the docs are very confusing about that. Thank you and the whole team, for the effort and it's really appreciated.

[2019-05-27 05:50] emahuni commented on #378
I actually think there are bugs in Vuex ORM and using belongsTo is circumventing the issues. I did the same thing; followed the tutes, and banged my head on the wall several times over a Sails to Vuex ORM model transform package. I  even contributed something with a PR in the documentation section. However, I am still yet to use Vuex ORM without issues. I then thought maybe my code is bad somewher

[2019-05-27 06:25] emahuni commented on #356
I actually think it's a bug in Vuex ORM and using belongsTo is circumventing the issue (was referring to the closed issue #378, now transferring it to here since it seems to be the same thing and is still open). I did the same thing; followed the tutes, and banged my head on the wall several times over a Sails to Vuex ORM model transform package. I  even contributed something with a PR in the docu

[2019-05-27 06:45] emahuni commented on #378
It seems like this issue is really wrecking havoc there are many duplicates about it and people are not seeing it as the same thing... please use #356 to further this.

[2019-05-27 08:34] emahuni opened #379 "Ideal Model definition"
How is Vuex ORM model definition not ideal? My first model usage was with Laravel Eloquent (PHP and similar to Vuex ORM), before I used NodeJS a long time ago. Then I moved to NodeJs for one reason, 1 language for backend and frontend. This brought in a lot of other advantages such as Isomorphic code etc. So this is why I intend to use Sails models in Vuex ORM. You will notice that NodeJs models (

[2019-05-27 08:40] emahuni commented on #356
See my other issue post #379 for ideal model definition, if you don't get it then read the Sails models concept, it's really simple to understand 5mins read.

[2019-05-27 12:24] phortx commented on #367
Works! Thank you :)

[2019-05-27 14:28] wizardnet972 opened #380 "How to use query within nested deep object?"
I have two objects: `Article` and `Company`.
Company has a list of articles in group array.

I hope to get help with
1. How to define the model (`Company.groups`) (schema) to meet this structure of data? (right now is null and should be complex object according to data)..

2. **most important:** how to populate `company.groups[].items[]` with `articles` objects by using `query` method?
This is wha

[2019-05-28 15:59] AdrienPoupa commented on #93
Hello there! Any updates on the 1.0.0 release? :)

[2019-05-28 16:40] Alig96 opened #381 "How does this handle nested data/relationships when defining a model?"
Just came across this plugin and it seems awesome and just the thing I've been looking for.

Scanning briefly over the documentation I can see that I can define the fields & relationships of a model as:

[code]

However, my server returns the data nested as follows:

[code]

How would I define the relationships for the model using this response since my server doesn't actually return the user_id f

[2019-05-30 13:31] geraldbiggs opened #382 "[Feature Request] New Attribute for Primary Key, allowing for Expansive UID Options"
Currently, the user will use this.increment() to populate IDs of new entries and let vuex-orm manage insertion of ids into relationships.

[code]

However, in some use cases - the end user may prefer a different strategy for generating their UIDs. Such cases may occur when using other endpoints than a SQL database or other special rules may apply.

Upon research into the source code - it appears t

[2019-05-30 14:33] kiaking commented on #355
OK. I'm not sure if having multiple Vuex Store instance will ever be supported, but supporting multiple Vuex ORM Database instance are planned at issue #360. Let's follow up there!

[2019-05-30 14:33] #355 closed

[2019-05-30 14:34] kiaking commented on #267
@emahuni Thanks for the feedback! Yeah, the documentation matters.

That would be great! Not sure how to do that in [Vuepress](https://vuepress.vuejs.org), but if we there's a way, that would be very cool.

[2019-05-30 14:36] kiaking commented on #379
@emahuni Thanks for the feedback! Most of the APIs are heavily inspired by Laravel since I'm a Laravel user. I didn't know how Sails were doing it but yeah it looks very interesting.

At first, omitting primary key field is easy, we could default to `id` with `this.attr(null)`.

But the thing I'm not sure is how can we know the name of the foreign key field on relationships? With your example, Cat

[2019-05-30 14:39] kiaking commented on #367
Wonderful! 🎉

[2019-05-30 14:40] kiaking commented on #380
@wizardnet972 Hi! Thank you for the feedback! Here you go.
https://codesandbox.io/s/vue-template-0mfit

Added Group model, and made `hasManyBy` relationship. Vuex ORM needs to have foreign keys and relation field separately so i created `articles` field at Group.

I hope this makes sense for you but if you having trouble understanding it, please let me know!

[2019-05-30 14:41] kiaking commented on #93
@AdrienPoupa Hi! Thank you for the comment. Yeah it is in progress. I'm now trying to fix all the existing bugs, and refactor the documentation!

[2019-05-30 14:46] kiaking commented on #381
@Alig96 Hi! Thank you so much for the feedback! I'm sorry to tell but currently there're no way to map custom structure, so you can't insert data as is. There's an open issue #326 about this one and if we can implement that, then this becomes possible.

[2019-05-30 14:49] kiaking commented on #382
@geraldbiggs Hi! Thank you so much for the feedback! Yeah, this is good idea and we should have this 👍

[2019-05-30 14:54] kiaking commented on #356
@emahuni I've checked issue #379 and I've made comment about model definition. But I would like to check in the `assignee` having value and sometime `null` problem here. Yes it does seem wrong, if the assignee field is a relationship, it should always be null. Is't possible for you to provide me reproducible code?

[2019-05-30 14:54] mr-chick commented on #381
I have something similar in my app too, the server returns the models and their relations (other models).

My solution was to make a helper function to parse the API respose recursively and add relation keys if needed.

In your example, i would check if relationship is empty, if not, for each model, get the id and add it to the post object.

Then continue with inserting process.

[2019-05-30 14:57] kiaking commented on #347
Closing this issue due to inactivity. Please feel free to reopen it if you have anything! 🤝

[2019-05-30 14:57] #347 closed

[2019-05-30 14:58] kiaking commented on #372
@jimmiejackson414 Hi! Just checking in. Did you had any progress on this?

[2019-05-30 15:01] jimmiejackson414 commented on #372
I'm so sorry, I must've missed the initial response! I ended up going a different route (I had a lightbulb moment and realized that I don't actually need to store _everything_ in Vuex). I would like to revisit this library though in the future as I do think it'll be immensely helpful!

[2019-05-31 00:38] kiaking commented on #372
@jimmiejackson414 Thank you for the response! Sorry to see you go but I'm glad you found a way! I hope to see you soon though. Good luck for you project 👍

[2019-05-31 00:38] #372 closed

[2019-05-31 08:35] emahuni commented on #356
I think we could use the [Todo app example](https://github.com/vuex-orm/vuex-orm-examples), the bug is happening there as well. The result of which is the screenshots above. I am sure it is just one bug affecting hasMany when inserting/creating models. I noticed this:
[code]
...is being used to insert the todo that's yielding a null in the associations. Whereas this:
[code]
is working perfectly as

[2019-05-31 10:42] emahuni commented on #379
# hasOne & hasMany
Note that, not all relationships require a knowledge of the foreign key nor a different one from id. The `id` is used as the foreign key;

eg:
[code]

article record:
[code]
category record:
[code]
to get that related category it's just retrieving categories record where `id` is 2 or where `ids` are 2, 4 and 80 for the hasMany relationship. That relationship definition doesn't g

[2019-05-31 11:09] emahuni commented on #379
I know it's kinda hard to rewire the brain from another convention, but this is nearly the same thing you are doing already, only that it is simpler on both the end users' projects and the development of this very package. I suggest you install Sails and give it a whirl. This enables you to understand what is going on without even looking at the code. The point here is how the models are defined a

[2019-05-31 11:16] emahuni commented on #379
Another point to note is that Sails is decoupled from their ORM called waterline. It can actually be used without Sails. It might be a good idea to use it do the same thing instead of reinventing the wheel. I am just not sure if it works in the browser, will look at it. So the ideal thing could be to actually create a build step that then includes it with Vuex ORM for a browser package, then make

[2019-05-31 11:34] emahuni commented on #356
There is something that you need to be aware of that came to mind. Typescript is not perfect when transpiling to js code. That's why I actually don't use it. It causes horrible issues that I experienced a while ago. It had something to do with `null` something. I forgot what it was but it could be a compilation issue here. Just thought I should mention it.

[2019-05-31 12:09] kiaking commented on #356
@emahuni OK I've confirmed the issue with the example repo, and found out that the Vuex ORM version was pretty old. I've updated the Vuex ORM and now every `assignee` is becoming `null` as expected. Sorry for the confusion. So at least, having inconsistent foreign key value is not happening on latest version of Vuex ORM I think.

And while this issue is about getting error mentioned by @kevadiya93

[2019-05-31 12:09] #356 closed

[2019-05-31 12:12] emahuni commented on #356
yes that issue may not be related to Vuex ORM, but what about the null issue, should we use this instead #378?

[2019-05-31 12:15] kiaking commented on #356
@emahuni I think yes, we should use #378 maybe, I haven't looked into it just yet. But the `null` issue we had on your screen shot is not happening on latest version. We need to have some kind of reproduction code to tackle further.

[2019-05-31 12:48] kiaking commented on #379
Thank you so much for the detailed explanation! It helps me a lot. So here are some questions I have.

If you have an array of ids at the field then yeah we could use that ids to get many records. This is done currently on Vuex ORM by `hasManyBy` relationship. But the question is, how do you get those ids there? Because in usual RDB, you don't have those array of id at the database. Usually, you h

[2019-06-03 10:52] monkeymonk opened #383 "How to insert and retrieve with "hasMany""
I just can't make the relation works.

Here are the simple models that I need to link :
[code]

In my component, I try to insert what I need and retrieve Bar models from Foo :

[code]

Any clues ?

[2019-06-03 15:26] kiaking commented on #383
@monkeymonk Hi! Thank you for the feedback! In this case, you want to be using `hasManyBy` instead of `hasMany`.

[code]

Could you try this and see how it goes?

[2019-06-04 12:51] monkeymonk commented on #383
@kiaking Thank you ! It works. I have "hasManyBy" everywhere but missed this one... ^^'

[2019-06-04 12:51] #383 closed

[2019-06-05 00:45] kiaking commented on #383
Great you found a way! Let us know if there's anything 🤝

[2019-06-06 12:03] emahuni commented on #379
## IDs & foreign keys.

I believe this is where the ORM comes into effect. The code will be like this:

[code]

then the ORM will look at each attribute given, in this case `article` from `article: 1` or `article: 2`, which would probably have a model definition written like this: `article: { model: 'article' }`. It will know that those are ids (1, 1, 2) of articles as the model attribute definiti

[2019-06-06 12:04] emahuni commented on #379
I think the best way to understand this is just to use sails, let me create a project that I can share with you, you clone it and run it and I will tell you what to do. Thing I understand is you are thinking in terms of PHP and Laravel, believe me, I know the confusion if you have never used NodeJS.

[2019-06-06 13:03] kiaking commented on #379
@emahuni OK great thanks! I'll wait for the example then. I understand how hasOne and belongsTo work right now, but still not sure how hasMany relationship work...

[2019-06-06 13:21] emahuni commented on #356
just wondering, what version is working well? my project is using version 0.31.11.

[2019-06-06 13:23] emahuni commented on #379
sorry was still editing when you replied, I had messed up formatting, check it out with formatting. I explained it there. The hasMany is simply the same thing but working with array of ids instead of a single id.

ie: objects {} map to `model` as in `article: { model: 'article' }` and arrays [] map to `collection` as in `articles: { collection: 'article' }`, but all in all these are just arrays of

[2019-06-06 13:33] kiaking commented on #356
The example is now using 0.31.12. I think it would work as same as 0.31.11 though.
https://github.com/vuex-orm/vuex-orm-examples/blob/master/package.json

But also, to be more clear, it's OK if `assignee` have inconsistent value really. Because Vuex ORM will not use that value to lookup relationship.

And also, the issue is gone for the example project, and not sure for your project... If you can

[2019-06-06 13:43] emahuni commented on #379
have you ever used NodeJS before?

[2019-06-06 13:44] kiaking commented on #379
Well the question is as you mentioned, if we have following record;

[code]

Then yes it's going to be easy to lookup `cate` and `section`. But how do we get that array of ids when user tries to insert record like this?

[code]

In this case, we must somehow build article record like this right?

[code]

Now, see the order of insertion. At time category is created, we don't have related article id

[2019-06-06 13:47] kiaking commented on #379
But anyway, to get this moving forward, I think we need PoC project to demonstrate this idea. But also, I do see the point of this syntax, and I agree that there're people that prefer this syntax, but still this is coming down to their preferences. So, we should be supporting current (Laravel and Rails style syntax) and object style (Sails style) syntax. Because this is going to be huge braking ch

[2019-06-06 14:05] emahuni commented on #379
[code]

[code]

[2019-06-06 14:08] emahuni commented on #379
That's right, this will be a huge breaking change, which is expected of any package in the 0.x versions. If you look at what I said about decoupling you will understand that both Laravel and Sails will be like plugins that one has to choose to be to use the Vuex ORM package. I am sure you will see that it will be much simpler to develop the Sails approach, it has fewer  methods and syntax to worry

[2019-06-06 14:28] kiaking commented on #379
OK, thank you for your feedback. And as I said, I agree the syntax is not bad at all. But I don't have time to do all hard work integrating Waterline or nedb. Is it possible for you to create an PoC project doing those? I at least need to be working on with other bug fix for now...

[2019-06-06 17:35] emahuni commented on #378
coming from #356 ...

It's still happening. I completely deleted the example I had on my machine and cloned the example again, then ran `yarn && yarn serve` after which point I visited `localhost:3000` and opened vuex in devtools:
![Screenshot 2019-06-06 at 19 30 59](https://user-images.githubusercontent.com/7290508/59053539-f5623400-8891-11e9-90ca-eaa0dafb94ba.png)
This time around it's even wors

[2019-06-06 19:18] emahuni commented on #378
https://codesandbox.io/embed/vue-template-q44el

That's a codesandbox of the issue, but based on getting started

[2019-06-07 05:34] emahuni commented on #356
I don't think this has anything to do with my code specifically. I posted a codesandbox on #378 go to #378  and see what I mean. This time I have used getting started. I just copied the getting started code you provided on the documentation to create a Vue code sandbox and the issue is happening with that simple code as well.

[2019-06-07 05:39] kiaking commented on #378
@emahuni Hi! Thanks for the code. But this is expected. Within store, the relationship field should be `null` or empty array. In your example, the `author` field should always be null inside store.

Are you having trouble loading the relationship...? Then you must fetch data by `with` query chan.

[code]

With above code, you'll get all Post with related User nested.

[2019-06-07 05:40] kiaking commented on #356
@emahuni I've described at #378 too but it's expected behavior. The field should always be null inside store.

[2019-06-07 05:41] emahuni commented on #356
whaaaaaaaa?

[2019-06-07 05:43] emahuni commented on #378
no, you don't get it I guess. Did you see the codesandbox? I am not fetching anything. This is just the representational store data. In documentation you said it should have 1 not null.

[2019-06-07 05:46] kiaking commented on #378
Ohhh sorry for that. The documentation is wrong. It should be fixed. So sorry for that. It should be `null`, not 1.

[2019-06-07 05:47] emahuni commented on #378
I am not fetching anything on the state, the state has null on author, shouldn't it have an id that relates to the author in the store? Anyway I have updated the codesandbox and still there is null

[2019-06-07 05:48] emahuni commented on #378
can you play with it and make it work as expected?

[2019-06-07 05:57] kiaking commented on #378
It is already working as expected. So you want to fetch posts "with" user (author) right? If so you should be doing this. https://codesandbox.io/embed/vue-template-q44el

[2019-06-07 05:58] emahuni commented on #378
ohhhh, I updated again with `Post.query().with('author').get()`, it's working

[2019-06-07 05:59] emahuni commented on #378
So you mean the state should have associations with id's null?

[2019-06-07 06:00] kiaking commented on #378
Associations id's should be at foreign key, not relation field. For that example, the association id is at `user_id` field at Post. Not at `author` field at Post.

[2019-06-07 06:01] emahuni commented on #378
so it means that author field is useless then?

[2019-06-07 06:03] kiaking commented on #378
It depends. Sometime it's useless, sometime it's useful. If you only want fetch Post but without author, then you don't need author field. If you want fetch Post with User, then you access User object at post.author so it's very useful.

[2019-06-07 06:05] emahuni commented on #378
it's useful even if it's null? Can you please put an example in the sandbox?

[2019-06-07 06:06] kiaking commented on #378
@emahuni I have no idea what you are trying to do... what example do you want?

[2019-06-07 06:10] emahuni commented on #378
exmple of this:

coz I don't get what you mean or how to use that feature

[2019-06-07 06:11] emahuni commented on #378
I am trying to see how this is useful since we followed the documentation with wrong assumptions.

[2019-06-07 06:13] kiaking commented on #378
Like this. https://codesandbox.io/embed/vue-template-hpp7e

[2019-06-07 06:23] emahuni commented on #378
I don't know what you changed, but there is an error with the sandbox. It can't import some files. You moved the models folder. I fixed it by just renaming references. Ok, I think I get what you mean, but I think the documentation needs heavy work on. Things need to be clarified correctly. Let me see if I am actually having an issue in my project then. I will get back to you here, but in the meant

[2019-06-07 06:30] kiaking commented on #378
@emahuni Yeah sorry for the documentation, but the initial issue is solved already. It's about specifying correct foreign key. Please open another issue if you have anything by describing the specific issue so that other people can understand things better 👍

[2019-06-07 06:30] #378 closed

[2019-06-07 10:10] emahuni opened #385 "hasMany relationship causing empty entities states"
I have put the whole thing into this codesandbox https://codesandbox.io/s/vuex-orm-hasmany-test-ethv2.

I have specified all models and inserted data as expected by the documentation. Somehow the hasMany relationship in user model makes the entities states empty... {}

If I comment it out every works but without the relationship. Am I missing something or is the documentation missing something or

[2019-06-13 16:21] havardthom opened #386 "belongsToMany relationship array does not return null when Related Model is empty"
Hi, I'm having a problem with the `belongsToMany` relationship

#### Code example: https://codepen.io/anon/pen/KjKeJX

The console.log's in codepen highlights the problem.

### Actual Behavior
As you can see in the example, we have `Users` that belongs to many `Roles` through `RoleUser`. If I add a `User` and a `RoleUser`, then query `User` withAll relationships, I will get back a `User` with a `r

[2019-06-18 03:34] pymarco commented on #310
Hi, I just wanted to add that I found this ticket when searching to see if the orm implemented a feature similar to Django's generic foreignkeys. It is a similar use case, but perhaps a little different. In this scenario, STI isn't relevant but the ability for relate a model to any other model by specifying a type field. A general overview can be [found here](https://simpleisbetterthancomplex.com/

[2019-06-18 10:40] tvillaren commented on #310
@pymarco I'm not sure this has to do with inheritance, does it? It makes me think of this issue: https://github.com/vuex-orm/vuex-orm/issues/379

All, PR 384 (https://github.com/vuex-orm/vuex-orm/pull/384) is implementing STI (use of discriminator field is optional). Documentation is provided as well.

[2019-06-18 18:31] w4mike opened #387 "Design consideration"
Dear vuex-orm team,

I am just starting a new django/quasar/vuex-orm project, kind of ERP+CRM+...,
and I would like to make use of your vuex-orm project.

In the end I will have many many models (tables in the db) with many relations between them.

I am now wondering how to design the vuex-orm part:

Let's say I can later split my app into several GUI-Modules, but I will have overlapping data,
lik

[2019-06-19 03:19] pymarco commented on #310
Thanks @tvillaren , my original comment was off topic. I've since found the documentation for polymorphic relations. Cheers.

[2019-06-19 08:28] tvillaren commented on #387
Hello @w4mike,

Vuex ORM is intended to be an abstraction layer to represent locally on the client the data model (a bit like [Entity-Relation](https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model) standard) with which you can interact from any UI component.

I think it is better to use it as a real data model rather than a UI-module-model. On each UI component, you can decide what data

[2019-06-19 12:11] tvillaren commented on #385
Hello @emahuni,

I changed the `import { Post } from ...` into a `import Post from ...` statement and it seems to work fine.
The code is there: https://codesandbox.io/embed/vuex-orm-hasmany-test-77whz

Don't hesitate to come to the [Slack Channel](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTI0YjE5YmNmMDIxNWZlNmJhM2EyMDg1MDRkODA4YmQwMDU5OWRkZmNhN2RmOTZkZGZkODQxZTRkYjhmYmJi

[2019-06-20 15:54] petertoth opened #388 "Error when importing database from different package"
Hi,

I have a lerna monorepo and I'm putting all model logic into one package.

Then I've got a nuxt app in another package where I'm trying to install an imported database like this:

[code]

The database file looks like this:

[code]

When I start my nuxt app, I get the following error:

[code]

I did a little bit of digging and it turns out that there are two `Container` singletons so when the

[2019-06-21 01:43] emahuni commented on #385
Cool man, just don't know why I was doing that

[2019-06-21 01:43] #385 closed

[2019-06-21 18:00] emahuni opened #389 "feat(Query): Enable Wild Relationship Persist Method"
There is a very complicated issue when inserting multiple records that cause earlier related data to be deleted as new records are created by another relationship. This is of cause by design as the documentation states and there is a way to keep the data by specifying the [insertion method](https://vuex-orm.github.io/vuex-orm/guide/relationships/inserting-relationships.html#choosing-the-insert-met

[2019-06-21 18:22] emahuni commented on #348
I am not sure if this is related to the following error:
[code]

happens when trying to query using eg:

[code]

[2019-06-21 18:56] emahuni commented on #348
I have fixed the and will push a PR soon. Just have to write an new issue so that you understand the problem and my solution.

[2019-06-21 19:30] emahuni opened #391 "fix: willAll or withAllRecursive throws"
if you have a Role model with the following data:
[code]

running the following:
[code]

throws the following error:

[code]

The reason being that there are records that don't have `user_ids` for their relationships.

[2019-06-21 19:30] emahuni commented on #348
see  #391

[2019-06-22 08:31] kkyouhei commented on #362
Hi @geraldbiggs

I found first aid to this problem.
Please call `with('commentable')` function.

[code]

## example test/unit/model/Model_Relations_MorphTo.spec.js

[code]

### no call

[code]

### call

[code]

[2019-06-22 09:04] kkyouhei commented on #362
Hi @kiaking

I will fix this problem.
Is it correct to be null if not call with method ?

### correct example

[code]

[code]

[2019-06-24 09:30] kiaking commented on #380
@wizardnet972 I think this issue is solved...? I'll be closing this issue but if you have anything, please feel free to reopen it, or create another one! 🤝

[2019-06-24 09:30] #380 closed

[2019-06-24 09:32] kiaking commented on #381
@Alig96 I'll be closing the issue because I think we can follow this feature at #326. Please feel free to reopen this if there's anything that is not covered by #326 and needs discussion.

[2019-06-24 09:32] #381 closed

[2019-06-24 09:33] kiaking commented on #373
@merlosy Hi! Do you have any update on this?

[2019-06-24 09:35] kiaking commented on #389
Thank you for the feedback! I think you got the point. Having wildcard as an option would make sense and I think it's nice to have.

I'll mark this as an enhancement issue and see if we can work on to it!

[2019-06-24 09:36] kiaking commented on #388
Hi @petertoth. Thank you so much for the report! This is wired... The code looks OK.

I'm not sure why there'll be 2 Containers. Is it possible for you to create reproduction code for this issue? I've never tried mono repo project with Vuex ORM, so maybe Vuex ORM missing something here.

[2019-06-24 09:37] kiaking commented on #386
Hi! @havardthom. Thank you so much for the report! Well, thank you for finding this out. Yeah, it's wired, and it shouldn't return any roles in this case... Let me mark this as a defect and fix it!

[2019-06-25 11:00] SargoDarya commented on #214
Same here, haven't had the time yet unfortunately.

[2019-06-25 12:07] mrFANRA opened #393 "How can I get access to Vue.filter from model?"
Hello.

Im not understand, how can I get access from model method to vue filters.

somethink like this:
[code]

[2019-06-25 12:21] tvillaren commented on #393
Hello,

Vuex ORM Models are not instances of Vue Components so filters are not accessible through the `$options` object.
You can probably do something like this StackOverflow answer: https://stackoverflow.com/a/53067353

[2019-06-25 13:00] kiaking commented on #393
@mrFANRA As @tvillaren said, Vuex ORM Model instance is not Vue Component instance so you don't have access to Vuex Filters. However, since Due Filters are just a function, you could share them like this perhaps?

[code]

[2019-06-25 13:08] mrFANRA commented on #393
@kiaking @tvillaren Thank, Im using this way, but hoped ORM has Vue instance.

PS Thanks for awesome Vuex-ORM!

[2019-06-25 14:33] kiaking commented on #393
Thank you @mrFANRA! It could convenient to have Vuex Component instance access in Model, but technically it's really hard to do. I suppose you might already know but you could just pass `this` too ✋

[code]

Anyway, thank you so much for your report! Feel free to open another issue if you have anything! 👍

[2019-06-25 14:33] #393 closed

[2019-06-25 15:47] miraclebg opened #394 "Ability to have the entity name and related data member key different"
I have a model and a one-to-one relationship to another model like the example below:

`
export default class Member extends Model {
    static entity = "members";

    static fields() {
        return {
            id: this.attr(null),
            username: this.string(""),
            email: this.string(""),
            url: this.string(""),
            isCoach: this.boolean(false),

[2019-06-25 15:52] miraclebg commented on #394
Nevermind that! I've just figured it out :) I am not querying the data properly!

Another final comment - is there a way to fetch the object data - including all related ones (for example i have a model with several one-to-one relationships) - without asking for each relationship (with 'with')?

[2019-06-25 15:53] tvillaren commented on #394
Hello @miraclebg,

You can use `withAll` or `withAllRecursive` (see https://vuex-orm.github.io/vuex-orm/guide/relationships/retrieving-relationships.html#load-all-relations).

Don't hesitate to join us on the [Slack Channel](https://join.slack.com/t/vuex-orm/shared_invite/enQtNDQ0NjE3NTgyOTY2LTI0YjE5YmNmMDIxNWZlNmJhM2EyMDg1MDRkODA4YmQwMDU5OWRkZmNhN2RmOTZkZGZkODQxZTRkYjhmYmJiNTY) if you have any qu

[2019-06-25 15:58] miraclebg commented on #394
Thank you so much! Adding it now!

[2019-06-25 15:58] #394 closed

[2019-06-29 10:20] mrFANRA opened #395 "Simple code with belongsToMany"
Hello.

Im lost a day in simple issue =(. Can somebody help me please with belongsToMany?
OfferModel has many places. But in the end relation is always empty ...
What is wrong in my code?

[code]

[2019-07-01 16:49] kkyouhei commented on #362
Cause is define method of MorphTo class.
commentable object in comments object becames only the id field after Processor.ts Normalizr.process is executed.

ex.
[code]

I think I need to change MorphTo.define method.
but I can't fast fix so I fix other bug issues.
because this problem have first aid.

[2019-07-02 02:52] griest024 opened #396 "Support polymorphic id and type fields in nested object"
I often have a polymorphic relationship info stored in a nested object, not as 2 fields on the object itself:

[code]

Is there a way to instruct Vuex ORM to use these nested fields? If there isn't, then would you consider adding either a path based one or a function based one?

- Path: `this.morphTo('owner.id', 'owner.type')`
- Function: `this.morphTo(e => e.owner.id, e => e.owner.id)`

[2019-07-02 10:04] miraclebg commented on #345
I am looking at this issue right now after trying to find out why related objects do not get deleted.

I've searched in the documentation but it is not stated anywhere that this would not happen by default (and my presumption would be that it should happen - alike a relationship database).

So could anyone confirm - do the relationships currently get deleted with the deletion of the parent object

[2019-07-02 10:12] miraclebg commented on #345
More specifically i am looking for a way to do this:

[code]

Basically a filtered deletion - but in depth of all related objects.

[2019-07-03 04:37] Uysim commented on #334
I hope we can have this feature

[2019-07-04 12:31] kevrat commented on #391
Any temporary fix?

[2019-07-04 17:32] morgler commented on #130
I have the same question as well. I have a JSON-API and I would love to use vuex-orm objects with relationships. Is there a way to make this work?

[2019-07-05 10:25] kkyouhei commented on #395
@mrFANRA thank you for the report!
I’ll research for the it’s cause.

[2019-07-06 05:55] kkyouhei commented on #395
Hi @mrFANRA
please modify $fields method name to fields.

[2019-07-07 01:49] #215 closed

[2019-07-07 11:10] emahuni commented on #391
yes there is a PR for this, just look in the PR and write tests properly, I am kinda locked into something right now. The fix works tho

[2019-07-08 12:20] kiaking commented on #387
@w4mike Hi! Do you have any progress on this issue? Just checking in here.

[2019-07-08 12:21] kiaking commented on #388
@petertoth Hi! Do you have any update on this issue?

[2019-07-08 12:23] kiaking commented on #396
#396
Hi! @griest024. Thank you for the feedback!

Yeah, this is a tough one. We had nested field support a long time ago, but we dropped it due to code becoming too complicated. However, maybe we should be able to fix this issue by structure mapping feature, where you may be able to map JSON response to a different form of the field definition.

I'll mark this issue as an enhancement now.

[2019-07-08 12:24] kiaking commented on #345
No, the relationship will not be deleted.

That is awesome! I think we can use same syntax for instance method as well.

[code]

[2019-07-08 12:25] kiaking commented on #334
Yeah, sorry it's taking a long time. I must get my feet back on the ground really...!

[2019-07-08 12:26] kiaking commented on #130
Currently, there's no easy way to do this. You must restructure the JSON response before you pass them into Vuex ORM insert method. We're working on for improvement though!

[2019-07-08 12:57] kiaking commented on #386
This issue has been fixed with Vuex ORM 0.31.13! 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.31.13

Thank you for the report! Please feel free to open another issue if there's anything!

[2019-07-08 12:57] #386 closed

[2019-07-08 12:58] kiaking commented on #93
We're almost here... Just need to fix all of the issue labeled as `bug` and do some serious documentation refactoring! (in progress!)

[2019-07-08 13:54] mrFANRA commented on #395
Hello @kkyouhei . Thanks for reply!

I changed method and update to latest version, but still some response.

[2019-07-08 14:37] w4mike commented on #387
Hello @tvillaren,

many thanks for your prompt reply.

@kiaking
I started to implement first models as suggested in one orm.
Now I need to do some testing and build my basic building blocks, I am using quasar.
Later I guess I will write some codegen to automate transscription from Django to vuex-orm.
Currently trying to get the Store connected in quasar.

[2019-07-08 20:27] ITsolution-git opened #398 "Model.update overwrites id field"
This is how I implemented the duplication logic of a model.

[code]

Basically, when update is executed, it ignores `id` field of newMenu and update `{id: this.menuId} `with `newMenu` without `id`.
This used to work fine with v0.31.2.

Today I just installed the dependency again(it's v0.31.13), and Model.update now updates `{id: newMenu.id}` with `newMenu` instead of updating `{id: menuId}`. As a

[2019-07-08 21:25] tweaker opened #399 "Limiting the number of entities in a one-to-many relationship"
How can I get, in a one-to-many relationship, a limited number of entities?

In Laravel I use the code:
[code]
In this example, I get only two entities for all parents:

[code]

[code]

[2019-07-09 00:02] kiaking commented on #395
@mrFANRA Oh, I see the issue here. OK, so you are passing OfferPlacePivot to OfferModel, but OfferModel has relationship to PlaceMode. So, you should be passing PlaceModel directly to the OfferModel.

[code]

The above will automatically generate OfferPlacePivot records for you.

Or, if you want to create pivot record explicitly, you could create each separately as well.

[code]

[2019-07-09 00:21] kiaking commented on #387
@w4mike Great! thank you for the update! Do you want this issue to be open for another week or two? Or we could close it for now, and you could open another issue if you have anything. : )

[2019-07-09 00:29] kiaking commented on #398
@ITsolution-git Hi! thank yo use much for the report!

Just to make sure, you updated from 0.31.2 to 0.31.13 right...? Not from 0.31.12 (just wanted to make sure if you missed 12 with 2 or not).

I'm not 100% sure if I get your issue correct here... It sounds maybe like a defect...? Could you give me your expected input, and output?

[2019-07-09 00:35] petertoth commented on #388
Hi, I wasn't able to set up a monorepo in Codesandbox and then got somehow busy. Will try to publish a reproduction repo later this week!

[2019-07-09 14:12] kiaking commented on #399
@tweaker Hi! Thank you so much for the report! Yeah, Vuex ORM eager load works same as Laravel eager load, so this is by design. You can do something like below I think. Would it make sense to you?

[code]

[2019-07-09 14:13] kiaking commented on #388
@petertoth Thank you for the response! I'll be looking forward to reproduction!

[2019-07-09 16:45] petertoth commented on #388
When creating the reproduction, I have noticed that I'm importing `VuexORM` in both of my packages and this is probably causing the problem.

So when I export the install function from my models package like this:
[code]

and then use it in my nuxt app:

[code]

Everything works just fine. I think you can close the issue and thanks for the support and creating this great project!

[2019-07-09 19:06] ITsolution-git commented on #398
Yes I updated from 0.31.2 to 0.31.13.

[code]

[2019-07-09 20:31] merlosy commented on #373
Hi, I don't have much time to work on this.
What was the motivation in the first place to have all those over-complex types?

[2019-07-10 05:19] tweaker commented on #399
Thank you very much for your answer! It turned out I need sorting.
It turned out like this:
[code]

[2019-07-10 08:34] mrFANRA commented on #395
JS make me cry sometimes. Now its works! =)

[2019-07-10 10:03] kiaking commented on #310
OK the PR is merged! Just need few more things done before making a new release. Stay tuned forks!

[2019-07-10 14:09] kiaking commented on #310
Now Single Table Inheritance (STI) is available at Vuex ORM 0.32.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.0

Huge thanks to @tvillaren for wonderful PR. And thank you all for contributing to the design discussion. Maybe there'll be things to improve the feature. Looking forward for your feedbacks! 🙌

[2019-07-10 14:09] #310 closed

[2019-07-10 14:26] kiaking commented on #93
Document refactoring is done! It’s not perfect yet, but I believe it got much better. So, the rest is to fix all the bugs!

[2019-07-10 19:59] mrFANRA commented on #395
Maybe Im wrong, but its looks like belongsToMany relations is empty only in server rendering side. Im using nuxt ...

[2019-07-11 14:29] mrFANRA commented on #395
@kiaking Can you test this plaese? Im not understand it is bug or my fail. belongsToMany not working in SSR with NuxtJS

[code]

[2019-07-11 19:33] merlosy opened #400 "morphedByMany and composite primary key not working"
Hi,
I have a issue with polymorphic many-to-many relationship using a composite primary key.
It's related to https://vuex-orm.github.io/vuex-orm/guide/model/relationships.html#defining-the-inverse-of-the-relationship-2

But, it's like the `posts` entity has a composite primary key.

Basically it returns a list of items, but they are all `undefined`.

My pivot table is like this (just not called ta

[2019-07-12 07:07] bertBruynooghe commented on #351
could be related to https://github.com/vuex-orm/vuex-orm/issues/400 , I suspect the composite key here too.

[2019-07-12 10:28] SzNagyMisu opened #401 "plugin - extending Mutations"
Hi,

I'm using version `v0.32.0` and planning to write a small plugin.
In my plugin I would like to add mutations in the entities' namespaces, but I don't find how it is possible. In the first parameter of the `install` function I get access to the `RootActions`, `Actions`, `RootGetters`, `Getters` and `RootMutations` too, but, for some reason, `Mutations` is out of the functions scope.
Is this in

[2019-07-12 12:12] bertBruynooghe opened #402 "'where' with function argument ignores falsy result"
See below test that is failing:
[code]
https://repl.it/@bertbruynooghe/another-VuexORM-issue

[2019-07-12 12:18] tvillaren commented on #402
Hello @bertBruynooghe,

I think that is on purpose: it makes sense to be expecting strictly a boolean for a condition.
You can always cast your falsy results using `!!` when writing your closure.

[2019-07-12 12:27] bertBruynooghe commented on #402
That's a bit against the javascript spirit, AFAIK. But if that's the way it is, I'm going to put this in mu plugin...

[2019-07-12 12:28] tvillaren commented on #401
Hello @SzNagyMisu,

If you look at Vuex ORM source, you'll see that there is no `Mutation` class: all commits are handled through the RootMutation object with an `entity` payload (corresponding to the entity name to access the right state in the store).

It is possible through the Actions though, and that's how it is implemented in Vuex ORM: when `distpatch`ing to an action specific to an entity (

[2019-07-12 12:36] SzNagyMisu commented on #401
Wow, I feel super idiot... I read the docs and the source code too, but somehow the absence of a `Mutations` class escaped me. Well, thanks for the quick reply and for pointing me in the direction of `Actions` and `RootActions`.
You helped  me a lot!

[2019-07-12 12:36] #401 closed

[2019-07-12 12:54] tvillaren commented on #402
Actually, digging into the code (https://github.com/vuex-orm/vuex-orm/blob/master/src/query/filters/WhereFilter.ts#L41) shows that it comes from the fact that closure are handled the same way whether they have one argument (the record) or 2 arguments (record and query).

You can see more about this on the documentation, on the last example of the [where section](https://vuex-orm.github.io/vuex-orm

[2019-07-15 21:35] merlosy commented on #400
It could be nice to be able to specify the `separator` (static string) between fields for composite primary keys. This would probably ease splitting things for pivot tables, or use a different separator (like double underscore `__`) for joining keys in pivot tables.

[2019-07-21 05:31] kkyouhei commented on #402
Hi @tvillaren @bertBruynooghe

I'm fix this problem but destructive change.
Where's closure must always return a value.

I want to hear @tvillaren @bertBruynooghe opinion of this fix.

[2019-07-21 07:16] bertBruynooghe commented on #402
I'm afraid I'm not sure what you want to do. Can you post some pseudo-code on how my above example would look with your change?

[2019-07-21 08:15] kkyouhei commented on #402
@bertBruynooghe

okay, record will not hit if where closure return undefined or null.
but where closure must return value.
I want to discuss this interface.

[code]

sorry for my ugly english.

[2019-07-21 11:26] bertBruynooghe commented on #402
As too the example @tvillaren gave, I guess it's okay.
One of the points of arrow functions is that it's more concise, so - if I am not mistaken - your example boils down to :

[code]
(mind the brackets)

it looks elegant to me, but you have backwards compatibility issues.

What if you 'proxy' query in some way instead? If something has been called on proxy, ignore the `undefined`, otherwise consi

[2019-07-21 18:48] w4mike commented on #387
Many thanks, we can close this issue I think. Will open another one for other topics.

[2019-07-21 18:48] #387 closed

[2019-07-21 19:04] w4mike opened #405 "Axios Plugin InsertOrUpdate after REST call fails"
Hi all,

I've been playing around now with the vuex-orm which went very well, next step was to use the Axios plugin together with the django + drf testserver.
The calls from my vue instances thru Axios seem well: when calling User.$fetch, I get a 'entities/auth/users/onRequest' promise, the 'entities/auth/users/onSuccess' and finally 'entities/auth/users/insertOrUpdate' in my browser's (Chromium/F

[2019-07-21 21:40] w4mike commented on #405
Just saw I got a ReferenceError: 'User not found'.
But it's imported to store/index.js, here I do all the database stuff, import in main.js and go.

[2019-07-22 14:44] ITsolution-git commented on #398
@kiaking Do you have any updates on this please?

[2019-07-23 09:30] kiaking commented on #319
@tvillaren Made PR for this! Could you take a look at it?
https://github.com/vuex-orm/vuex-orm/pull/406

[2019-07-23 12:33] kiaking commented on #388
@petertoth Ah, that makes sense! Thank you so much for the confirmation! Please feel free to open another issue if there's anything! 🤝

[2019-07-23 12:33] #388 closed

[2019-07-23 12:34] kiaking commented on #398
@ITsolution-git Thank you for the confirmation. Well, that sounds very bad. I'll try to make a test case for that and reproduce!

[2019-07-23 12:35] kiaking commented on #373
@merlosy Thank you for the reply! Well, we wanted to Model to return its sub class type. For example, User.query().get() should return `User[]` instead of `Model[]`. Somehow, `type InstanceOf<T> = T extends new (...args: any[]) => infer R ? R : any` solves this problem.

[2019-07-23 12:37] kiaking commented on #399
#399
@tweaker Thank you for trying out! Yeah, that looks good. But in that case, you could first filter Media using eager load constraint. It'll save executing extra query so it might be a bit faster.

[code]

I'll be closing this issue for now. Thank you so much for the feedback! 🤝

[2019-07-23 12:37] #399 closed

[2019-07-23 12:39] kiaking commented on #395
@mrFANRA I'm not 100%  sure, but maybe this is because of asynchronous method execution. `insert` method is calling Vuex Action hence it is async function. So maybe you must wait for it. Could you try adding async and await in `asyncData`?

[code]

[2019-07-23 12:44] kiaking commented on #402
Hi all. Thank you for the issue report and PR! I think always to return something (including query) is good. It7s breaking change, though I think we should go that path because:

1. Even we wrap query with observable (like Proxy), there could be a wired situation where the user set something to query, plus return some value. We can avoid this case if we force users to return something always.
2. P

[2019-07-23 12:45] kiaking commented on #405
@w4mike Hi! Thank you so much for the feedback! Hm... you get `_no_key_XX` when you pass in records without primary key. It's a bit hard to tell what is going on. Is it possible for you to create reproducible code?

[2019-07-23 12:49] kiaking commented on #400
@merlosy Hi! Thank you for the report! Hm... I haven't tested with 3 campsite key in fact... I should write test case on this.

Yeah, current composite key handling is not ideal. We had another idea on storing array as an string like `'[1, 1, 2]'` and extract them when we need to use it. We should continue discuss on how to handle I think.

[2019-07-23 13:05] bertBruynooghe commented on #402
Mmm, I see you point, @kiaking.

OTOH, by simply checking the return type, you're doing strange stuff again: if somebody has to return something, one can expect something to happen with it. e.g.: What would happen if the api user returns a brand new query?

Also, the solution looks quite neat when using arrow functions, but not so using regular functions.

For me, the breaking change you're sugges

[2019-07-23 13:24] kiaking commented on #402
Ah... Yeah, I wasn't thinking about that, and that is a good point.

OK, now I feel that too. I'll keep this issue open for a few more days and see if we get any other feedback. If not, I'll add documentation and then close this issue.

[2019-07-23 13:35] kiaking commented on #319
This issue is fixed at Vuex ORM 0.32.1! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.1

[2019-07-23 13:35] #319 closed

[2019-07-23 16:33] mrFANRA commented on #395
@kiaking unfortunately didn't help =(

[2019-07-23 19:34] w4mike commented on #405
This is my Model:

`_import { Model } from '@vuex-orm/core'

import Site from './Site'
import UserSiteRelation from './UserSiteRelation'
import ObjectPermission from './ObjectPermission'
import UserObjectPermissionRelation from './UserObjectPermissionRelation'
import RoleUserRelation from './RoleUserRelation'
import Role from './Role'
import GroupUserRelation from './GroupUserRelation'
import Grou

[2019-07-23 23:55] kiaking commented on #395
@mrFANRA Damn... This is so wired because I'm doing this all the time (except I'm mostly using `fetch` instead of `asyncData`, but It doesn't matter I guess...?).

Is it possible for you to create a reproducible repo for this one? I need to dig in to find out more.

[2019-07-24 00:00] kiaking commented on #405
@w4mike Maybe this is because your server response is returning following structure?

[code]

And maybe you7re passing the whole response instead of `results` key. Could you try returning `results` only from the server and see what happens?

[2019-07-24 15:49] w4mike commented on #405
@kiaking Many thanks for the hint, yes of course this was the server side pagination. I assumed this was created client side ...
Without this it works.
Would it be possible to tell the axios plugin to use this pagination scheme ?

How would I fetch only a subset of data from the server ? In some tables I will have thousands of rows.

[2019-07-25 09:14] SzNagyMisu commented on #237
I bumped into this issue recently, and I am not sure I understand all the reasons.

We wanted to use this package the following way:
* get a copy of the record in the vuex store by a getter
* mutate the properties of this copy by `v-model` in the forms
* save the changes to the vuex store at a given point

The funny thing it kinda worked as long as we used queries like `User.query().with('roles').

[2019-07-25 13:39] johnrix commented on #222
The link above is now giving a 404 error.

Has the ability to interact through the model instance been removed? the following currently throws an error:

`Reviewer.query().first().update({data: { name: this.name }})`

[Vue warn]: Error in v-on handler: "TypeError: _models_reviewer__WEBPACK_IMPORTED_MODULE_1__.default.query(...).first(...).update is not a function"

[2019-07-26 16:02] Uysim opened #409 "How to get Id after insert?"
if i have model
[code]
Then i insert
[code]
How can i get user id that I inserted?

[2019-07-27 13:37] ldiebold opened #410 "hasManyThrough returns [undefined] when empty"
Hey!

Was just doing a tutorial video on hasManyThrough and may have found a bug.

If the target model is empty, the result is an array with undefined in it:

![image](https://user-images.githubusercontent.com/1305724/61995120-50145100-b0c7-11e9-9fc4-9a5184c5a16b.png)

The relation works fine if the target model isn't empty.

Here's a codesandbox that hits the error:
https://codesandbox.io/embed/v

[2019-07-29 15:52] tvillaren commented on #402
Hello,

Sorry I missed the discussion here but, in all, I also think adding this breaking change is not worth it here.
In particular, I know the nested query (with closure) pattern is not that efficient (it basically browses the all data array as many time as there are closures) and even though I started using it, I tend know to create one function which returns a boolean to have a more efficient

[2019-07-30 10:13] kiaking commented on #237
@SzNagyMisu Hi! Yeah, the getter will return a new copy of Model when you fetch them with a relationship. This is by design.

I agree that the behavior is inconsistent, but I made it like so to gain a bit of performance when you don't need relationships. Furthermore, it is going to be essential to return the state as is when we implement lazy loading.

Maybe it's a bit opinionated, but I strongly

[2019-07-30 10:15] kiaking commented on #222
@johnrix Oh no, it's still there! You must prefix the method with `$` when you calling **instance** method.

[code]

[2019-07-30 10:20] kiaking commented on #409
@Uysim Hi! The Insert method will return all entities created by the method. So you can access the newly created records like this.

[code]

Here is the documentation for this. 👍
https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#inserts

[2019-07-30 10:22] kiaking commented on #410
@ldiebold Hi! Thank you so much for the report! We need to look into this. It could be a bug I think.

[2019-07-30 10:26] kiaking commented on #402
@tvillaren Thank you for the comment! OK, I think few days has passed, and seems like everybody is agreed on one thing. I'll add documentation about this issue and close this one. Thank you all for your feed back!

[2019-07-30 10:29] kiaking commented on #405
@w4mike I don' think you can pass it right now... Currently, we're planning to rewrite Axios plugin quite a bit. Sorry for the inconvenience but it would be great if you can separately call API request for now.

[2019-07-30 13:56] Uysim commented on #409
@kaiking thank you

[2019-07-30 13:56] #409 closed

[2019-07-30 23:33] johnrix commented on #222
Aha, excellent, thanks!

[2019-07-31 13:49] w4mike commented on #405
@kiaking many thanks for your response. OK, will use API requests for now.

[2019-07-31 13:49] #405 closed

[2019-07-31 14:24] kiaking commented on #405
@w4mike Thanks for your understanding! 🤝  I hope we can make Axis work soon.

[2019-07-31 15:34] nmihaica opened #411 "Relationship reactivity issue"
I seem to have trouble with nested relationship reactivity.

[code]
I am displaying items in bulma table. However when I use nested relationship reactivity stops. Insert or updates are running correctly because when inspected, the state changes, however I cannot seem to have a getter which will include reactive relationship. When I have no relationships fetched inside table the reactivity is fine.

[2019-07-31 15:40] tvillaren commented on #411
Hello @nmihaica,

Not sure if it comes from the syntax your using or your model.
What happens if you create a computed which does the same?

[code]

[2019-07-31 15:44] nmihaica commented on #411
Did as you said.
[code]
Got following error:
![Screenshot from 2019-07-31 17-42-23](https://user-images.githubusercontent.com/12017390/62226491-97962800-b3ba-11e9-8840-257990e5eaa2.png)

Dropped the parentheses`()`, changed it to
```data="itemsWithUnits"```

Items are located fine, but reactivity still not there. Same problem.

[2019-07-31 15:47] tvillaren commented on #411
Yes, computed are not methods so you do not need the parentheses.

When you say "reactivity" is not here, you mean when adding / removing a `unit` or also with the `item` entity? Do you have a bit more code (on a JSFiddle for instance) to dig into?

[2019-07-31 16:11] nmihaica commented on #411
I mean reactivity of object, whole entity. If I change for example other attributes, none of them are reactive. When component is mounted again it *refreshes* as I `Item.$fetch()` on mount. I have other relationships in my schema, and I've looked at it, I've solved in kind of a hacky way.

I purposely did not over elaborate problem as then potential reader/help would get discouraged and did not wa

[2019-07-31 16:16] tvillaren commented on #411
I understand the issue here is :

How do you change those attributes? Do you use the Vuex-ORM `update` method?

[2019-08-01 13:37] nmihaica commented on #411
Mind the croatian language here is working example how I managed to solve it.
With the following model:

[code]

# Example 1 (working)

[code]
![dataItems](https://user-images.githubusercontent.com/12017390/62297397-747a7f80-b471-11e9-9d01-21e255471b4a.gif)

# Example 2 (NOT working)

[code]

![getterItems](https://user-images.githubusercontent.com/12017390/62297403-76444300-b471-11e9-893b-ef0fe02

[2019-08-06 12:35] kiaking commented on #411
This is wired. The computed property pattern is the way to go, and you have set it up correctly. I never had this issue. In fact, we have a [example app](https://github.com/vuex-orm/vuex-orm-examples) that does all update on both entity and its relation.

Is it possible for you to create a minimum reproduction code for the issue? Or maybe it's got to do something when you update the model.

[2019-08-07 09:43] nmihaica commented on #411
I will close it for now as you provided example app where I can look into implementation. Thanks.

[2019-08-07 09:43] #411 closed

[2019-08-08 11:45] muichkine commented on #354
@kiaking as a long time ActiveRecord user, I strongly agree with you.

[2019-08-08 11:55] muichkine opened #414 "[Documentation] Vuex anti-pattern"
In your examples, (for instance [https://vuex-orm.github.io/vuex-orm/guide/data/deleting.html](https://vuex-orm.github.io/vuex-orm/guide/data/deleting.html) you call `Model.method` straight from vue components.

This _feels_ like an anti-pattern from Vuex actions/mutations pattern. At least it would be nice to know what Model.deleteAll does for instance, does it fire an action that is then committ

[2019-08-08 12:42] tvillaren commented on #414
Hello @muichkine,

It does indeed proxy a call to an action. For instance, Model.delete is implemented in  https://github.com/vuex-orm/vuex-orm/blob/master/src/model/Model.ts#L405 which calls the `Model.dispatch` itself referencing the store: https://github.com/vuex-orm/vuex-orm/blob/master/src/model/Model.ts#L323

[2019-08-08 12:53] muichkine commented on #414
Does that mean that for instance I add a method, say `reset` to my Model:

[code]

this will trigger two actions ?
In short: If I ever need more complex actions, can I fully rely on adding static methods to my models (and hence most likely never will need to write actions/mutations/getters myself) ?

[2019-08-08 17:09] zzachattack2 commented on #345
Would it make more sense to define cascading behavior on the relationship itself? Seems that is pattern most backend ORMs use.

[2019-08-09 10:25] tvillaren commented on #414
Yes, this will trigger two actions (using the built-in `Price.create` will flush the `price` state and insert the newly passed objects though, see [the documentation](https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#inserts)).

You can also access the store statically on the Model: https://vuex-orm.github.io/vuex-orm/guide/digging-deeper/vuex-module.html#call-module-metho

[2019-08-10 10:40] Daniel300 opened #415 "When querying for relationship existence it returns hydrated model"
This is my model. I also registered it in index.js
[code]

In my .vue file I have these two computed properties
[code]

The two should give the same output because each SkillLevel has a skill.
But strangely the first works and the second just returns the hydrated model.

 SkillLevel.query().with('skill').get()
[code]

the second one `SkillLevel.query().has('skill').get();` instead outputs the hydr

[2019-08-13 11:39] SzNagyMisu commented on #237
Hi @kiaking
I see your point about mutating the value recieved from a getter being an anti-pattern. In order to understand my point of view I tell you my story:

Just before we found `vuex-orm`, I have been reading a [Vue forum discussion](https://forum.vuejs.org/t/vuex-best-practices-for-complex-objects/10143) about storing data in `vuex`, where LinusBorg advised two important things:
1. to [norm

[2019-08-13 13:33] SzNagyMisu opened #416 "[bug] updating primary key inserts new record"
PR #285 does not work because of line https://github.com/vuex-orm/vuex-orm/blob/150a01a0dc37d29b2f1e30cabe68a12f543a01ba/src/query/Query.ts#L932
There the variable `instances` is already filtered, and does not contain the original keys, but - if I am not mistaken - `this.state.data` does, so in the end they **remain** in the vuex store.
There is a test case provided but that does not check if the

[2019-08-13 14:34] SzNagyMisu opened #417 "[Documentation] records should always be created with a primary key"
I didn't know that.
It's logical, though.

I tried to insert new records without a primary key and have them assigned after the backend generated the values, but had all kinds of headaches because the **primary key** and the **index** were not the same.

[code]

Then I found this [piece of advice](https://github.com/vuex-orm/vuex-orm/issues/78#issuecomment-366424803) in #78 from @kiaking.
I think

[2019-08-14 08:29] lvonlanthen commented on #415
Same issue here:

[code]

Attributes on `b` are reactive and bindable by Vue. `a` instead is a "normal" object without getters and setters on the properties for vue's reactivity to work properly.

[2019-08-16 08:48] bierik opened #418 "[bug] hanyManyThrough/belongsToMany"
I have the following relations:

<img width="1255" alt="Screen Shot 2019-08-16 at 10 42 00" src="https://user-images.githubusercontent.com/1637820/63155265-83853400-c012-11e9-946f-24408081184f.png">

The `agendaitem` in this example is the pivot table between the `business` and the `meeting`.

https://codesandbox.io/s/vuex-orm-belongstomany-bug-first-aid-nth4o?fontsize=14

In the example above I w

[2019-08-16 09:41] FKinga92 opened #419 "[bug] related records are not updated when using 'where' condition"
The documentation states that the data passed to `data` field will be normalized and updated when updating a record using a where condition. ([Updating Relationships](https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#updates))
[This comment](https://github.com/vuex-orm/vuex-orm/issues/238#issuecomment-434118903) of #238  suggests that it should work as well.

However, I co

[2019-08-16 23:31] snaphuman opened #420 "[works as designed] override model primaryKey does not reflect in entity data object"
Hello,

I'have defined a Student model with a custom primaryKey as follows:

[code]
As a result, the data object does not reflect the provided value for the custom primaryKey, and instead of it shows _no_key_1. Note that the object also aggregates an `id` property with null value that was not defined in the model.

[code]
Do i'm missing something in the model definition?

Thanks in advance.

[2019-08-17 08:34] tvillaren commented on #420
Hello @snaphuman, what code do you use to insert data into your store?

[2019-08-17 16:57] snaphuman commented on #420
Hi @tvillaren, I have a save() method in the Student component that gets the data from the reactive variables `student: {}`, `candidateData: {}` and `keypair: {}`.

[code]
In vuex-orm documentation it states that:

I have tried to save the data into the store with insert, create and new methods but the result is the same.

Greetings

[2019-08-17 23:07] petertoth commented on #420
Hey @snaphuman . I have already raised this issue in the [slack channel](https://vuex-orm.slack.com/archives/CA0AXG66L/p1564496124042600) and it appears it will take some legwork to get this fixed. cc @kiaking

There's a related issue already opened here https://github.com/vuex-orm/vuex-orm/issues/382

In your particular case, you might have the extra `id` field because you have a typo in your mod

[2019-08-18 01:13] snaphuman commented on #420
Hi @petertoth.
Thank you for pointing me out the typo. That resolved my issue. The custom primaryKey of my entities are now reflecting as object id.```

{
  "$connection": "entities",
  "$name": "students",
  "data": {
    "ak_qUzJtFwPicm7bgQicaLfqgfoQKTs6kDYqSJay2XU8w6gmusUF": {
      "$id": "ak_qUzJtFwPicm7bgQicaLfqgfoQKTs6kDYqSJay2XU8w6gmusUF",
      "publicKey": "ak_qUzJtFwPicm7bgQicaLfqgfoQKT

[2019-08-18 01:16] #420 closed

[2019-08-19 04:02] kiaking commented on #354
Closing this issue due to inactivity. Please feel free to reopen it if there's anything!

[2019-08-19 04:02] #354 closed

[2019-08-19 04:02] kiaking commented on #345
@zzachattack Yeah that would be an idea too. If we can get a cascading feature implemented, we could surely add global (relationship definition) based cascading as well.

Let's don't forget to add that issue after completing this issue : )

[2019-08-19 04:15] kiaking commented on #237
@SzNagyMisu Thank you for the detailed explanation! Yeah, I understand your use case.

Well, Vuex ORM actually stores Class instance directly to the Vuex Store. The reason is it's going to be a bit faster to load data because we don't have to instantiate each record every time we fetch from the store.

So I guess, as you said, we could have a new API that returns a copy of the record. Since your w

[2019-08-19 04:20] kiaking commented on #416
@SzNagyMisu Thank you so much for the report! We must fix this.

[2019-08-19 04:23] kiaking commented on #417
Thank you for the feedback! Oh yes, we should have documented this.

And maybe in the future, we could have the option to make this kind of records invalid at insertion time.

[2019-08-19 04:27] kiaking commented on #415
Thank you for the report! Hmmm... Yeah, this looks very much like a bug. Need to look into it.

[2019-08-19 04:31] kiaking commented on #418
Thank you for the feedback! I need to parse this in my head lol

But I kinda see the problem here. We should first create a test case for this and see what we can do.

[2019-08-19 04:34] kiaking commented on #419
Thank you so much for the report. I think I missed something when implementing things. I'll look into it.

[2019-08-19 08:06] kiaking commented on #402
I've just added the note in the doc about this issue. Thank you all so much for the help! 👍

[2019-08-19 08:06] #402 closed

[2019-08-19 08:07] kiaking commented on #410
I've made a fix at #421. Will make a new release very soon!

[2019-08-19 08:16] Botz opened #423 "Vue library with vuex-orm models"
Hi,

i am writing a vue library for an internal project, we are using vuex-orm. Now i want to outsource a model class from the project into the library. If i register this model from the library i get the following error:

![Bildschirmfoto 2019-08-19 um 10 11 57](https://user-images.githubusercontent.com/2706678/63249496-dc023e80-c269-11e9-9b49-89853aa96e5d.png)

The `Container.database` is undefi

[2019-08-19 09:55] Botz commented on #423
One possible solution would be to pass the database to the Schema.create and Schema.constructor function. I will provide a PR, then you can have a look at this.

[2019-08-19 12:55] Botz commented on #423
My PR only fixed the new Schema problem.

I solved the whole problem by removing the vuex-orm dependency from my lib package.json dependency and declare @vuex-orm/core as [external](https://webpack.js.org/configuration/externals/)

But maybe we can find a better solution?

[2019-08-20 11:42] kremda commented on #24
Hey, I could not find any information about:

`store.dispatch('entities/deleteAll')`

in the documentation. I think it should be added to [delete-all-data page](https://vuex-orm.github.io/vuex-orm/guide/data/deleting.html#delete-all-data )

[2019-08-21 09:27] kiaking commented on #24
hank you for the report! Yeah, you're right! We should have that! I'll create a new issue for that.

[2019-08-21 09:29] kiaking opened #425 "Add dispatch('entities/deleteAll') method to doc"
Ref https://github.com/vuex-orm/vuex-orm/issues/24#issuecomment-522975773

There are no mentioned about `store.dispatch('entities/deleteAll')` method in docs right now. We should add it.

[2019-08-21 09:30] kiaking commented on #423
#423
Hi! Thank you so much for the feedback and PR!

I'm not quite sure if I understand the issue 100%. Could you provide some simple code that shows where you're registering models from the library?

[2019-08-22 18:40] Tarasovych opened #426 "Is it possible to insert more than one child relation at a time?"
Hi!
Assume I have such models:
[code]
[code]
[code]
In general:
[code]
Is it possible to insert all the related entities at a time?
Like
[code]
Thanks in advance!

[2019-08-23 00:24] kiaking commented on #426
@Tarasovych Yes, it should be. Vuex ORM don't have any restriction on nest depth level. It should insert all relationships correctly regardless of how deep they are.

[2019-08-23 02:10] kiaking commented on #395
@mrFANRA Hi! Did you make it working?

[2019-08-23 06:30] mrFANRA commented on #395
Hi! I check this issue few days ago.

I think my mistake was that I did not use computed method for retrived model.

[code]

[2019-08-23 16:13] JasonLandbridge opened #427 "Question: Can vuex-pathify be made to work with vuex-orm?"

[2019-08-23 20:36] Tarasovych commented on #426
@kiaking thank you for the response! Should I get any errors, if some relation wasn't inserted? I'm trying to insert 2 lvl depth objects, and the deepest one isn't being inserted for some reason. I'll try to make a fiddle and reproduce it to show here...

[2019-08-24 01:01] cdrandin opened #428 "Dispatch from model not working"
I get the following error [vuex] unknown action type: entities/posts/setNext.

I check the store._mutations and it does in fact exist. I also can call it with `store.commit("entities/posts/setNext", "jkahsdjaksd");` and it works.

which leads me to believe that `Post.dispatch` isn't working or I set up my vuex module incorrectly.

[code]

Also, is there a better way to get state from a model than

[2019-08-26 01:55] kiaking commented on #395
@mrFANRA Oh, OK! Great. Thank you for the confirmation, and I'm happy to hear you found the solution.

I'll be closing this issue. Please feel free to open another one if there's anything!

[2019-08-26 01:55] #395 closed

[2019-08-26 02:07] kiaking commented on #427
@JasonLandbridge Hi! Thank you for the feedback!

I think it would be hard since Vuex ORM needs its own API to do all of the normalizations of data, I don't think we can directly integrate with vuex-pathify.

Could you elaborate more on what you mean by "work with Vuex ORM"?

[2019-08-26 02:10] kiaking commented on #426
@Tarasovych It will not raise any error even if you don't have any relations, because it is OK for a model to have an empty relationship (Post could have 0 comments).

Maybe this is because your Model don't have primary key `id`. Could you add `id: this.increment()` to all of your Models and see what happens?

[2019-08-26 02:17] kiaking commented on #428
Hi! Thank you for the report!

It seems like your trying to `dispatch` instead of `commit`? You must have `setNext` *action* at module, but you only have `setNext` *mutation*. Maybe this could be the reason?

Yeah I would like to have that as well. Just have to come up with good name because `state` is taken at Model definition and we can't use it. Maybe `$state` is good! But `static state` is tak

[2019-08-26 03:26] cdrandin commented on #428
You are right on that. I just misunderstood the docs. The Call Module Methods fom Model part of the docs mentions `const user = User.dispatch('add', 3)` and I assumed `add` was trying to call the mutation, but it is in fact the action.

It was just the previous Vuex module was

[code]

which didn't have an action so I didn't immediately think of it. So may bad on that.

[2019-08-26 03:26] #428 closed

[2019-08-26 07:26] kiaking commented on #428
Thank you for the confirmation! I'm glad you found a way out.

Please let us know if you have anything else! 👍

[2019-08-26 09:39] Tarasovych commented on #426
@kiaking thanks again! Primary key was the problem.

[2019-08-26 09:39] #426 closed

[2019-08-26 10:41] JasonLandbridge commented on #427
Thanks for responding, well let's say we have a getter

`// getters
const getters = {
  resumeData: (state: any) => (id: number) =>    Resume.query().whereId(id).withAll().first()
};`

and then with vuex-pathify:

`get('resumeData', this.id)`

As I have understood it the order is:

Vuex-orm -> Vuex store -> Vuex Pathify

Should this be working?

Overall I am very happy with vuex-orm and makes mang

[2019-08-26 13:22] SzNagyMisu commented on #416
Any ideas, concerning how it should be fixed? I have given some time and have one or two possible solutions. Also I would be happy to provide a pull request if you are interested.

[2019-08-26 19:38] cdrandin opened #430 "Is there anyway to do self relationships?"
I have a comments model like this

[code]

I am trying to get a nested relationship to work with the same model. Currently, this way doesn't seem to do it or possibly I am doing it incorrectly.

[2019-08-26 21:10] tvillaren commented on #430
Hello @cdrandin,

The same way as you need a foreign key (FK) to reference the User (through the `user_id` relationship), you also need a FK on Comment to reference its "parent" Comment.
This is actually the key you need to pass in the field definition:

[code]

[2019-08-27 00:08] cdrandin opened #431 "[Discussion] Vuex-Orm took the job of vuex managing state and mutations. Where should I put my actions?"
Originally, I had vuex modules which deal with specific parts of an API. Now using vuex-orm it has pretty much taken a large part of the responsibility from vuex.

Should I still leave my actions in the module? Would it be best to put them in components with the lifecycle hooks (created/mounted/asyncData(nuxt))?

This seems more of a personal preference kind of thing to me, but just wondering what

[2019-08-27 01:14] kiaking commented on #426
Glad to hear that it fixed! Please let me know if there's anything 👍

[2019-08-27 01:19] kiaking commented on #427
@JasonLandbridge Ah, I see. Thank you for the clarification.

I've never used vuex-pathify myself, but looking at your example code, I think it should work since it is just hitting plain getter. I would love to see you to try it!

[2019-08-27 01:20] kiaking commented on #416
@SzNagyMisu That would be awesome! I would love to see your fix. Could you give it a try?

[2019-08-27 01:39] kiaking commented on #431
@cdrandin Hi! Thank you for the feedback.

As you mentioned, it's up to developers preference, but in my case, I use both actions and Vuex ORM models to interact with the Store.

For API that relates to Model, I usually put that API logic in Model methods. For other states that are not really data, for example, is sidebar open, I use plain Vuex Actions to control them. And I execute those actions

[2019-08-27 09:42] kiaking commented on #430
Hmm... strange. We do have a test case for these kind of same entity nested relationship. Is it possible for you to create reproducible code on this so we can debug farther?

[2019-08-27 12:51] SzNagyMisu commented on #416
@kiaking Happily :smiley:

The simplest of solutions I can come up with is to use the `updateIndexes()` method on the whole `state.data` object. So instead of this inside the `commitUpdate()` method:

[code]

we could write this:

[code]

It may have performance issues, though, iterating through the complate `state.data` every time a single record is updated.

So perhaps we could simply make the `

[2019-08-27 13:17] SzNagyMisu commented on #417
I can implement this if you like.

I would add a subtitle to `guide/model/defining-models#primary-key` and place a note at the end of `guide/data/inserting-and-updating#default-values`

Also, this means that `Model.new()` should only be used when primary key is of type `increment`, is that correct? If so, that should be mentioned too.

[2019-08-28 00:09] kiaking commented on #416
@SzNagyMisu Thanks for the idea! Yeah, that might work. I need to dive into the code once more to get my head spinning. An update is pretty complex work right lol

I'll find a time to look into this one.

[2019-08-28 00:32] kiaking commented on #417
@SzNagyMisu

That would be awesome!

I would say setting id field to `increment` is "recommended", instead of "should" because you can create a record of id `null`. This might not be the desired behavior in many cases, but maybe someone will find benefit with it.

So maybe we should also mention about this `_no_key_X` behavior as well.

[2019-08-28 04:17] #431 closed, assigned to nobody

[2019-08-28 04:19] kiaking commented on #431
Your welcome! Glad I could help. Please let us know if there's anything : )

[2019-08-28 04:33] yowzadave opened #433 "Updating a model doesn't work unless I convert the (number) id to a string"
My models have number ids, which seems to work fine except in the case of an `update` in which case this fails:

[code]

but this works:
[code]

I don't seem to have issues with `create`, `insert`, or `insertOrUpdate`.

[2019-08-28 06:58] kiaking commented on #425
Added to the doc by #434.

[2019-08-28 06:58] #425 closed

[2019-08-28 07:04] kiaking commented on #398
@ITsolution-git Hi! I've looked into this and find out that we do have test case for this and it's passing. The test is shown as below.

[code]

Do you see any difference between your case and the test code?

[2019-08-28 07:07] kiaking commented on #312
Hi! Does anybody have update on this issue?

[2019-08-28 07:10] kiaking commented on #400
@merlosy Hi! It has been a while, but do you have any reproducible code on this one?

[2019-08-28 14:22] zzachattack2 opened #436 "Recursive Relation Query"
Is there a way to query specific relationships recursively? _withAllRecursive_ works okay, but its not always desirable to load ALL relationships like this. Use case might be a self-referential one-to-many relationship, with a "children" relation field, where you want to pull the parent/child tree.

[2019-08-29 00:04] kiaking commented on #433
@yowzadave Thank you for the report! Hmm... Let me check with the test cases on this one. It might be a defect.

[2019-08-29 00:20] kiaking commented on #430
@cdrandin Oh OK, so you're trying to insert all relationship children, right? Maybe it is related to #419. Which is that when you use `where` then the relationship is not inserted. Could you try including id (where value) to the `data` property and see what happens?

[2019-08-29 00:45] kiaking commented on #417
And it's done! Thank you so much @SzNagyMisu for the wonderful PR! 🎉

[2019-08-29 00:45] #417 closed

[2019-08-29 00:55] cdrandin commented on #430
@kiaking I believe I did what you requested if not let me know.

I went from

[code]

to

[code]

The result is still the same.

[2019-08-29 00:55] kiaking commented on #436
@zzachattack2 Thank you for the feedback! Currently there are no ways to do this. It could be nice feature addition though 👍  I'll mark this one as enhancement issue.

[2019-08-29 00:57] kiaking commented on #430
@cdrandin Oh sorry, you need to remove `where` completely. Like this.

[code]

[2019-08-29 01:01] cdrandin commented on #430
@kiaking Still the same.

[2019-08-29 22:37] cdrandin commented on #430
Something I also am noticing.

In the codesandbox above in mounted. When I use the the model object to find my comment I see `user` which is supposed to be an object and it is there, however, when I check the state directly it is always null.

Is this intentional?

[2019-08-30 13:22] JasonLandbridge opened #437 "fields with `this.hasOne` are not insertedOrUpdated correctly and are given a value from a different relationship"
TL;DR; fields with `this.hasOne` are not insertedOrUpdated correctly and are given a value from a different relationship.

I have a Resume model with the following fields:

[code]

All of these use the same model DualInputValue, this model has the following fields:

[code]

Basically, the resume contains two input fields where the user can give a Dutch and English translation for the same form ent

[2019-08-30 14:06] SzNagyMisu commented on #237
@kiaking I like the idea of deep copying a record. Although, I'd rather prefer something like `User.find(1).$clone()` or `$deepClone()`. What do you think?

[2019-08-30 16:05] drkwolf opened #438 "incorrect field initialization"
Hi,
I've a model with field defined like this

`items: this.attr([])`

if items is not present in  some record feed to dispatch/create's data  `model.items.push('item')` will be the same on all records where items was not set

here is a demo
https://codesandbox.io/s/vue-template-8i23d

[2019-08-31 20:42] JasonLandbridge opened #439 "[bug] Adding types overwirte to parent modal (STI) gives an error when using typescript"
Adding in a typescript modal:

[code]
gives the following console error:

[code]

[2019-09-02 09:35] kiaking commented on #419
@FKinga92 OK, I've checked this and found out that this is intended behavior. The documentation is wrong. The data will not be normalized when using the update method with where condition.

The reason is, if we were to normalize data object, potentially there could be more than one record that is the same as an entity that is calling the update method.

For example, if you call `User.update()`, an

[2019-09-02 10:32] kiaking commented on #391
The issue has been resolved at Vuex ORM 0.32.2! 🎉  Thank you so much for your report and feedbacks!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.2

[2019-09-02 10:33] kiaking commented on #410
The issue has been fixed by Vuex ORM 0.32.2! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.2

[2019-09-02 10:33] #410 closed

[2019-09-02 10:55] kiaking commented on #430
Hmm.. I guess I need to look into this a bit more.

Yes, this is intended. Relationships are loaded when you fetch records.

[2019-09-02 11:10] kiaking commented on #437
#437 Hi! thank you for the report.

Well, this behavior kind of happening by nature of the RDM data structure. The problem is that you have 2 `hasOne` relationship.

Has One relationship assume that Resume only has one DualInputValue model relationship in the store. With your example, there will be many DualInputValue with same `resume_id`. And Has One relationship will stop looking up DualInputVa

[2019-09-02 11:11] kiaking commented on #237
@SzNagyMisu Ah, good idea! That makes much more sense. Could you open another issue for adding `$clone` method to the model?

[2019-09-02 11:18] kiaking commented on #438
@drkwolf Hi! thank you so much for the report! Wow this is strange behavior... Looks very much like defect. Need to look into it.

[2019-09-02 11:20] kiaking commented on #439
@JasonLandbridge Hi! Thank you for the report! Not 100% sure what is going on. Is it possible to provide minimal reproduction code on this one?

[2019-09-02 11:56] SzNagyMisu opened #440 "[Feature] adding instance method $clone() to Model"
related to #237

The reasons:
1. the instances returned by getters like `Model.all()`, `Model.find(1)` or `Model.query().first()` is the **very instance stored in `vuex`** and, as such, cannot be mutated outside a mutation
2. cloning a instance by re-instantiation will not deep clone the object, so if a property is an `array` or an `object` it will not make a copy of that property leading to poten

[2019-09-03 02:59] mmintel commented on #388
Hi there,

I am doing like the almost the same thing:

[code]

using like

[code]

logs:
[code]

and for database:
[code]

but running my app throws `[error] Cannot read property 'models' of undefined`

@kiaking @petertoth any advice? :D for me everything looks quite correct.

also interesting: my tests in my `lib` package where I don't use nuxt are running fine.
I have a test:
[code]

and my test

[2019-09-03 11:16] bertBruynooghe commented on #440
what about `new Model(Model.find(1))`?

[2019-09-03 12:29] petertoth commented on #388
Hey @mmintel, I don't see anything wrong with your implementation. Just make sure you're importing VuexORM in your whole system only once when you're using this implementation. I've also seen similar solution to this problem which was declaring VuexORM as external dependency in Webpack - provided you are using Webpack.

Also, there's already a pull request opened which is supposed to fix this prob

[2019-09-03 12:49] SzNagyMisu commented on #440
That is the "re-instantiation" mentioned in the second reason.

[2019-09-03 13:14] SzNagyMisu opened #441 "[Feature] passing `this` to mutators"
Would it be possible to pass the whole model instance to the [mutators](https://vuex-orm.github.io/vuex-orm/guide/model/accessors-and-mutators.html#defining-mutators)?

Sometimes I need to update a property when another property changes.
For example, in our app we store amounts of money along with the currency and the exchange rate for converting to HUF. When a user sets the currency to `"HUF"`, I

[2019-09-04 01:19] cdrandin commented on #430
I am not entirely sure what is going on here.

[code]

I check the state using the query builder and I get that both items were entered into vuex-orm, yet children is still empty.

The funny, not so funny, the thing is when I initially load my data I get children populated correctly. Working just fine going down 4 levels too.

@kiaking I was trying to play with it more to see where this issue coul

[2019-09-04 08:32] mmintel commented on #388
Okay that's funny but it helped, thanks!

I was adding models in my library which used VuexORM and added other models in my project using `import { Model } from '@vuex-orm/core'`. Now my library exports Model from Vuex-ORM and my project uses the Model exposed from my library and doesn't access VuexORM directly. That works. But this is very weird behaviour.

[2019-09-04 18:47] 2-5 opened #442 "TypeScript: Last release broke delete method"
The last release broke code using `delete`:

[code]

`Setting` is derived from `Model` and contains a `name` field. The error is:

    TS2339: Property 'name' does not exist on type 'Model'.

The problem seems to be that `Predicate` uses `Model`, instead of being templated to use `M`:

[code]

[2019-09-04 19:47] cdrandin commented on #430
@kiaking

Welp, I think I figured it out. It was my misunderstanding of [Insert Method for Relationships](https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#insert-method-for-relationships). I had multiple models sharing a single model and when I created one the other groups of users would be erased.

I just didn't realize creating was clearing out my other models that happ

[2019-09-04 20:50] petertoth commented on #388
Sweet! I'm including a [link](https://vuex-orm.slack.com/archives/CA0AXG66L/p1566290282063100?thread_ts=1566083817.062100&cid=CA0AXG66L) to a described solution from other user in case you were wondering how to solve this more elegantly. Cheers!

[2019-09-05 00:18] petertoth opened #443 "[bug] STI derived entity relationships not inserting when inserting from base entity"
Hey, I've encountered a problem with inserting relationships for derived entities in STI.

Suppose I have these entities: `Post, PostWithImage, Image`. `PostWithImage` is derived from `Post` and has custom field `image` like this:

[code]

When I insert `PostWithImage` from the base entity `Post`, the `Image` is not inserted into the database:

[code]

However, when I insert the `PostWithImage` di

[2019-09-05 08:24] wizardnet972 opened #444 "Error in the lastest version: TypeError: Cannot read property '11111' of undefined."
I got an error in runtime on lastest version (package.json below):
[code]
**Reproduction Link**
https://github.com/wizardnet972/vuex-orm-ts

**Steps to reproduce**
I created article model:
[code]
and category model:
[code]

and in helloworld component I write:
[code]

This is was working. but now I get an error.

**package.json:**
[code]

[2019-09-05 22:34] #430 closed

[2019-09-06 00:02] kiaking commented on #430
@cdrandin Glad to see you figure it out!

Yeah that would be nice to have! Good idea.

[2019-09-06 23:12] cdrandin opened #445 "How to order inserts?"
I have seen https://github.com/vuex-orm/vuex-orm/issues/308

Is there a better way to manually enter data?

I am pulling from an API and it is a bunch of nested data already sorted how I want it, sorted relative to each level.

So, the default `orderBy` is not sufficient for what I need it to do.

I want to be able to insert data at a certain level in my nested structure and have it be pushed to t

[2019-09-07 04:18] eldomagan commented on #444
I have the same issue. It happen when you are inserting data with belongsTo or hasOne relation set to related key. A workaround would be insert articles like that:

[code]

[2019-09-11 03:02] kiaking commented on #441
@SzNagyMisu Interesting idea! In your case, I think you could use simple getter to achieve what you want.

[code]

However, I think to be able to pass the whole model to mutator is nice to have. I'll mark this issue as an enhancement issue!

[2019-09-11 03:10] kiaking commented on #444
The issue has been resolved at #446 thanks to @eldomagan ! I'll be making a new release soon.

[2019-09-11 06:49] kiaking commented on #442
@2-5 Thank you so much for the report! I'll fix it!

[2019-09-11 07:33] kiaking commented on #442
Fixed at #447. I'll be making a new release soon 🚀

[2019-09-11 08:01] kiaking commented on #443
@petertoth You need to add [Discriminator Field](https://vuex-orm.github.io/vuex-orm/guide/model/single-table-inheritance.html#discriminator-field) to your model!

Also, please take a look at [Notes on Circular Imports](https://vuex-orm.github.io/vuex-orm/guide/model/single-table-inheritance.html#discriminator-field) section as well.

[2019-09-11 08:09] kiaking commented on #445
@cdrandin You can't keep the orders from the API at the moment. You need to preserve the order somehow by your self.

I think it would be nice to have such a feature, where we can preserve original orders somehow and retrieve back from the store. Need to come up with good API though.

Do you have self-relationship too? I need code to look into more on this one.

Not at the moment. I would really l

[2019-09-11 08:11] kiaking commented on #312
I'll be closing this issue due to inactivity. Please feel free to open another issue if there is anything! 🤝

[2019-09-11 08:11] #312 closed

[2019-09-11 08:12] kiaking commented on #398
Closing the issue due to inactivity. Please feel free to reopen it if there is anything! 🤝

[2019-09-11 08:12] #398 closed

[2019-09-11 08:12] kiaking commented on #400
Closing the issue due to inactivity. Please feel free to reopen it if there is anything! 🤝

[2019-09-11 08:12] #400 closed

[2019-09-11 08:14] kiaking commented on #423
@Botz Just checking in. Could you take a look at my comment above?

[2019-09-11 08:15] kiaking commented on #427
Closing the issue for now. Please feel free to reopen it if there is anything! 🤝

[2019-09-11 08:15] #427 closed

[2019-09-11 09:04] JasonLandbridge commented on #437
Thank you so much for explaining this! I managed to solve this thanks to your explanation!

[2019-09-11 09:07] #437 closed

[2019-09-11 11:15] petertoth commented on #443
When I add `type` as a field in the base model, my problem still persists.
These are my models:
[code]

When I do
[code]

The `Image` that belongs to the post is simply not inserted. Any thoughts? @kiaking

[2019-09-11 19:08] cdrandin commented on #445
@kiaking Here is some code https://codesandbox.io/s/vue-template-evb69

SO, I have 2 issues.

## Issue inserting an item into a hasMany field ##

Could you help me find a way of inserting `newComment` into an existing item?

The source is at `src/App.vue` under methods as `ormclick()`.

The current codesandbox has the issue in modifying an existing comment's children.

## Issue removing an item fr

[2019-09-11 22:03] tripflex commented on #359
Related to https://github.com/vuex-orm/vuex-orm/issues/269

[2019-09-11 22:10] tripflex opened #449 "Feature/Question - this.boolean support casting user defined "false" values"
**update:** I just realized i completely forgot about the second arg being the mutator -- which i'll just use my own fn to convert "false" values, but i'll leave this open for now to see your thoughts on it .. if not, please feel free to close it.

First let me say, I understand that standards for almost any framework for **Boolean** would not consider `"false"` (string) to be `false` ... but mayb

[2019-09-13 13:29] tvillaren commented on #449
I think that for the sake of consistency, the best way to answer your problem is the solution you found: using "default value mutators" for specific cases such as yours (as anybody could want different default behavior).
I believe that is the reason we implemented this default mutator method: to give developper the ability to implement their own rule !

[2019-09-13 13:29] #449 closed

[2019-09-13 16:42] tvillaren commented on #443
Hello,

I digged into the code.
There is indeed a bug with the call to [normalizr](https://github.com/paularmstrong/normalizr) which uses the Query entity for normization of the passed JSON data (so when you insert using `Post`, the `image` relation is ignored).

Needs fixing in the way we build Schema for entity to include all possible derived entities for the relation fields.

[2019-09-16 07:52] vanderb opened #451 "Fetch data with async await in nuxt.js [duplicate from axios-plugin]"
Hi,

I opened an issue at the axios-plugin-repo. After 3 Days there is still no answer. Sorry for the duplicated issue, but I am in hurry.

tried to load data with async fetch await with nuxt in ssr-mode. Every time I get 404.
Think the http-config is not loaded at this time so api-resource could not be found.
[code]

Thanks.

Thanks for anyone who could help me.

[2019-09-16 13:11] petertoth commented on #443
Is this something that would require a lot of engineering effort to fix?
In my project I'm inserting a deeply nested entity tree which heavily uses STI. If a derived entity defines custom relationship(which defines more relationships down the path), the insertion stops there and remaining entities don't get inserted into the store 😢

[2019-09-16 13:23] petertoth commented on #451
Hey, it looks like there's a problem with your nuxt setup rather than the axios plugin.
How are you loading and initialising the axios plugin?
Could you make a repro sandbox?

[2019-09-16 14:02] vanderb commented on #451
Hey,  thanks for your answer. I am loading axios from nuxt-config.
´´´
...
axios: {
    baseURL: '...'
}
´´´

Nothing special from here. vuex-orm and it's axios-plugin are initialized via plugin

´´´
import VuexORM from '@vuex-orm/core'
import VuexORMAxios from '@vuex-orm/plugin-axios'
import database from '@/data/database'

export default function({ $auth, store, $axios }) {
  VuexORM.use(VuexORM

[2019-09-17 08:13] havardthom opened #452 "Nested object fields are not reset to default values on Insert"
Hi, here is a code example of my problem:

#### https://codesandbox.io/s/vue-template-yw5u6

Please have a look at the console.log's from `main.js`

### Actual Behavior
In the User model we have a nested object (`nestedObj`) with three string fields. If I update these fields using a closure function in `User.update`, the fields will not reset to default values when reinserting the user. If I updat

[2019-09-17 09:47] tvillaren commented on #452
Hello @havardthom,

I think Vuex ORM is not meant to handle nested objects this way.
You would need to define another [related model](https://vuex-orm.github.io/vuex-orm/guide/model/relationships.html#one-to-one)

[2019-09-17 10:35] havardthom commented on #452
I know nested objects are not optimal when using vuex-orm, however we do have quite a complex model structure and would like to avoid having to create a Model for every single object we have because we feel it will overcomplicate our application and codebase. Therefore we use both related models and a few nested objects.

If this issue is not to complicated I would really appreciate someone having

[2019-09-17 14:22] vanderb commented on #451
Ok, found another issue from 2018 for that topic (which is closed now)
https://github.com/vuex-orm/vuex-orm/issues/178

Seems async lifecycle still is not supported....

[2019-09-17 19:44] merlosy commented on #400
why was this closed?

[2019-09-18 08:41] kiaking commented on #445
OK, I'm bit confused here. In the code, there is a comment saying "does not remove children from this comment". Is that what you want? Nither insert or update method will remove existing comment. You must delete existing comment yourself by the `delete` method.

[2019-09-18 08:45] kiaking commented on #443
Ah, so this happens when storing nested STI model hah. Not sure how hard it is to fix, but I think we must look into it.

[2019-09-18 09:12] SzNagyMisu commented on #441
@kiaking Yes, I have considered that possibility. And I have two reasons not to use it:

1. When passing data to the backend API the model instances go through JSON stringification. That is done [with the use of the method `toJSON()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#Description) (defined [here](https://github.com/vuex-orm/vuex-orm/blo

[2019-09-18 09:16] kiaking commented on #452
@havardthom Oh well this is wired. I have no idea why nested obj is not reset on reinsert. It seems like the object is passed around bt reference in Attr class. Maybe that is the reason. We should be looking into this.

However, maybe I found a solution. If you use closure to define object (`nestedObj` field), it'll get reset on insert.

[code]

Could you try this one out to see if it can be your

[2019-09-18 16:42] cdrandin commented on #445
@kiaking

Let me try to clarify.

In regards to the codebox, using the delete method will remove the item from children, however, this might not always be desired.

Using the above Community model. Lets say there are a few users in both moderators and members. `UserA` is in both moderators and members list. I want to remove `UserA` from moderators; using the delete method will also remove it from

[2019-09-19 05:16] mmintel opened #453 "Correct way to add custom methods"
Hi there, I am trying to add a method that changes the data to my model.

Scenario:
I have a set of branches and want to be able to activate a branch. Only one branch at a time should be active.

So I created a branch model:
[code]

and added a method to it:
[code]

Now using this with `branch.activate()` on my app throws a vuex error: `[vuex] do not mutate vuex store state outside mutation handle

[2019-09-19 13:24] lucasbiguet opened #455 "$update function does not work with composite primaryKey"
Calling $update on an object with a composite primary key triggers an error in console:

See this code sandbox that reproduces the problem:

[![Edit vuex-orm relation sample](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/vuex-orm-relation-sample-ipnxx?fontsize=14)

[2019-09-19 22:57] rconstantine opened #456 "4 questions on setup"
I've been using Vuex in my application and am adding something new which could really use this ORM. I'm hoping to just slot this next to the existing modules. My code for the store setup is below with code for a base and extended model below that. My questions are these:

1) Can I simply add the database along side like I'm doing?
2) Calendar, Event and Time are extended from Trigger. Should I be

[2019-09-20 01:16] trevorpe commented on #443
I'm still in the process of converting my models to use STI, but I suspect this will affect me.

Is anyone working on this? I might be able to take a crack at it this weekend. I really like this project and I use it, so wouldn't mind getting more acquainted with the code base.

@tvillaren: is what you are referring to? It looks as though whichever model the query uses is the one whose schema is us

[2019-09-20 08:17] lucasbiguet commented on #455
The error is thrown by [this code](https://github.com/vuex-orm/vuex-orm/blob/master/src/query/Query.ts#L880) because it assumes that if the primary key is composite and the condition is a string it can't find the record. But in that case the `updateById` function works just fine since the condition is equal to $id

I made a quickfix [here](https://github.com/lucasbiguet/vuex-orm/commit/5f117ba24db

[2019-09-20 11:41] eldomagan commented on #441
@SzNagyMisu You can achieve this using beforeUpdate lifecycle hook. I have done the same thing on a project I'm working on.

[code]

[2019-09-20 13:29] SzNagyMisu commented on #441
Great idea, @eldomagan ! It may partly solve my problem.

The only thing is that I need to change most of the values on-the-fly. So, for example, if I have a form with a field for `currency` and another for `exchangeRate`, changing `currency` to `'HUF'` must change the value of `exchangeRate` to `1.0`, **immediately**. And there is no lifecycle hook for that as yet...

[2019-09-23 07:07] mmintel commented on #453
Nevermind, it works if I use a static method

[code]

[2019-09-23 07:07] #453 closed

[2019-09-24 02:33] kiaking commented on #445
@cdrandin Oh OK, thank you so much for the clarification!

I think this is the way to go in this case. I understand that you might feel this awkward but changing the relationship is to change the foreign key. We should have a better way, perhaps a method to do this, but Vuex ORM doesn't have it yet.

[2019-09-24 03:02] kiaking commented on #456
@rconstantine Hi! Thanks for the feed back.

Yes! You can.

You should register everything, as you do.

I think you're missing out [Discriminator Field
](https://vuex-orm.github.io/vuex-orm/guide/model/single-table-inheritance.html#discriminator-field) setup. Could you take a look at it? Also, you need be careful about [Circular Imports
](https://vuex-orm.github.io/vuex-orm/guide/model/single-tabl

[2019-09-24 03:24] kiaking commented on #455
@lucasbiguet Hi! Thank you so much for the report! Yeah, this is problematic. Please wait a bit for the fix. We're currently working on #261, and it might affect this one as well.

[2019-09-24 16:54] rconstantine commented on #456
I did read both the Discriminator Field and Circular Imports, but I will re-read them and try to figure out what I'm missing. I may have further questions if I can't get it working.

[2019-09-25 13:40] Emily-RoseSteyn opened #458 "Type of whereHas constraint argument (as given in vuex-orm examples) is not assignable to type parameter of type 'Constraint'"
## Expected Behavior
When using the `whereHas` method on a model query, the constraint parameter should not expect a return value such that the following code can run in a Typescript environment without causing any warnings or errors.

`Post.query().whereHas('comments', (query) => {
  query.where('user_id', 1)
}).get()`

## Current Behavior
When running vuex-orm in a Typescript environment, the `w

[2019-09-26 13:17] SzNagyMisu commented on #416
@kiaking Any progress on this one?

[2019-09-26 14:00] SzNagyMisu opened #460 "[Enhancement] STI relations should choose the appropriate model on instantiation"
[STI](https://vuex-orm.github.io/vuex-orm/guide/model/single-table-inheritance.html) works great the API is clear, so thanks guys! :clap:

The only problem is with instantiation (`new MyModel({ /* ... */ })`). If `MyModel` has a relation to a STI model, it ignores the type.

So, if I have a model `Employee` extended by classes like `HR`, `CEO` etc., and a model `Firm` that has a `haveMany` relatio

[2019-09-27 15:31] szhorvath opened #461 "Won't insert second entity upon multiple fetch"
Hi,

I am having trouble populating two different entities. Everything work when I fetch them individually. Howver when I try to fech both of them in the mounted the second one is never inserted. XHR works both of them fetched just not inserted.

[code]

The two entities are not in any relationship.

I am new with vuex-orm.
No errors been thrown. Not sure how to debug. Not sure what I am doing wro

[2019-09-27 16:09] szhorvath commented on #461
Found the problem. It was vuex-orm axios plugin making duplicate calls.

[2019-09-27 16:09] #461 closed

[2019-09-27 21:07] rconstantine commented on #456
Managed to get the errors to go away. Now I have to make sure I can use it all. Thanks.

[2019-09-30 18:16] rconstantine opened #462 "[Solved] Why should I have to import models???"
In your examples of both retrieving and inserting/updating, you import the model definitions. If we've already added them to the Vuex store, why do we have to import them into our vue files???

Shouldn't I be able to use this.$store instead? Or what am I missing?

My models are actually in the my store folder. I have:

root/store/database-taskSchedule

I have a Task object which holds several othe

[2019-10-01 11:00] kiaking commented on #458
@Emily-RoseSteyn Thank you so much for the report! Uhhh this is bad one. Need to fix.

[2019-10-01 11:07] kiaking commented on #416
No, not yet sorry. It's on my list but haven't had time to do it...

[2019-10-01 11:11] kiaking commented on #460
@SzNagyMisu Ahhh... thanks for the report. This is because when instantiating model, it's in fact not looking at inheritance. Yap, we fix this one.

[2019-10-01 11:13] kiaking commented on #456
@rconstantine Great to hear it worked! Please let us know if you have any further questions 👍

[2019-10-01 11:17] kiaking commented on #462
Actually you may call Vuex actions if you want to! Like `this.$store.dispatch('entities/users/inert', { data: {...} })`. This is what actually the model is calling behind the seen.

Importing class file is another thing though. It is like importing helper functions. Nothing more.

[2019-10-01 13:59] SzNagyMisu commented on #460
Would you like me to submit a PR?

[2019-10-01 15:27] rconstantine commented on #462
I see. I found this: https://github.com/vuex-orm/vuex-orm-examples

but I think it is too simple. I have this parent model:
[code]
I have imported the Task model into my Vue file. I process incoming data from a data source so that it matches the above model and its children, with the has many items as objects in an array. When I Insert the object tree, only the top level items get inserted (i.e. n

[2019-10-01 15:45] rconstantine commented on #462
BTW, the above object (named newJobs) is inserted like this:
[code]

[2019-10-01 17:48] kosirm opened #464 "Slack: This invite link is no longer active."
Just wanted to report this...

[2019-10-02 00:29] kiaking commented on #460
@SzNagyMisu Oh yes if you can that would be awesome! 🤝

[2019-10-02 00:33] kiaking commented on #462
That is strange. It should insert all relationships. Is there by any chance you are looking at Vuex Dev Tool to check if the data is being inserted? In that case, children will be stored separately so it will not show up under tasks entities. It will show up inside actions and settings and such.

[2019-10-02 00:37] kiaking commented on #464
What!? Thanks! I've updated the link. Very strange, that link should never be expired but when I checked the Slack, the URL was slightly different : (

Anyway, could you check if it's fixed?

[2019-10-02 09:26] kiaking commented on #423
Closing the issue due to inactivity. Please feel free to open another issue if there's anything! 🤝

[2019-10-02 09:26] #423 closed

[2019-10-02 09:28] kiaking commented on #439
@JasonLandbridge Hi! Do you have any update on this one?

[2019-10-02 09:41] kiaking commented on #444
Sorry it took long. This issue is now fixed at Vuex ORM 0.32.3! 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.3

[2019-10-02 09:41] #444 closed

[2019-10-02 09:41] kiaking commented on #442
Sorry it took long. This issue is now fixed at Vuex ORM 0.32.3! 🔥
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.3

[2019-10-02 09:41] #442 closed

[2019-10-02 10:38] kosirm commented on #464
Thanks @kiaking ! I just checked link on documentation page and I can confirm that I'm now officialy part of vuex-orm community on slack :)

[2019-10-02 10:38] #464 closed

[2019-10-02 15:22] rconstantine commented on #462
To check insertions, I was calling this:
      console.log('tasks', Task.all())

Shouldn't that show the whole tree?

[2019-10-02 15:23] rconstantine commented on #462
I'm adding an import of the RegInfo and a call to
      console.log('regInfo', RegInfo.all())

We'll see if the data is actually getting in there or not, I suppose.

What information could I post here that would help figure this out?

[2019-10-02 15:37] rconstantine commented on #462
OK. It looks like the data has landed in RegInfo. Why is it showing as null when part of the Task? Above, in the third post, is the Task definition. Here is the RegInfo file:
[code]
As you can see, I've given it an entity name of 'reginfo', all lowercase. I assume this is what I use in Task, like this: ```reginfo: this.hasOne(RegInfo, 'task_id'),```

Note that tasks and reginfos both have an extra

[2019-10-02 16:47] rconstantine commented on #462
I have managed to console.log all of the other parts of the Task object. They all are in the ORM DB (reginfo, principal, settings, actions, triggers).

Therefore, the only issue I'm having is for them to show up in the Task itself, per the above.

[2019-10-02 17:04] rconstantine commented on #462
Solved. Your hint to see if the DB was being populated, even though I couldn't see the children in the Task, led me to know they were indeed getting in the DB. I then turned to rereading the section in the docs about retrieving. It seems my whole issue was not using .with('reginfo'). I'm now chaining several .with clauses to have it all show and it's working fine.

Thanks!

One thing that is true

[2019-10-02 17:19] rconstantine commented on #462
And now I see I can use .withAll()

[2019-10-02 22:47] rconstantine opened #465 "Is .where('fieldname', 'like', 'value') possible?"
Funny story: The whole reason I started looking into Vuex ORM was because I want to be able to find or filter rows of data based on user-entered values that may not be complete and which I can't send to the backend as a query. In other words, because the backend isn't controlled by me and has a limited API, the only way for me to run word searches on the rows in on the client side.

However, after

[2019-10-03 11:18] kiaking commented on #464
Great! See you at Slack 🚀

[2019-10-03 11:22] kiaking commented on #465
@rconstantine Ah, it is not yet implemented. But, you could use closure to do what ever matching you want.

[code]

[2019-10-03 11:25] kiaking commented on #462
@rconstantine Great to hear you solved it! Yes, you must use `with` method to retrieve relationships. In the future, we should be able to do lazy loading (without `with`) so stay tuned!

Please let us know if there's anything.

[2019-10-03 11:25] #462 closed

[2019-10-03 21:19] rconstantine commented on #465
OK. Maybe you can help me with the following. I have 'task' as the top-most object. I have a hasMany of object type 'action'. 'Action' has a field called 'arguments'. I tried the following but failed:

[code]
should the closure start with task.action?

Here are the objects themselves:
[code]
[code]
Notice Exec extends Action and is in the actions field of the task.

[2019-10-03 22:23] rconstantine commented on #465
This is my latest attempt, nested in a computed field. Notice I grab all tasks normally, but I'm trying to get a subset when the argsFilter is set.

[code]
It doesn't seem to be returning a subset, so I must still have something wrong.

[2019-10-03 22:40] rconstantine commented on #465
ahhh. I think it's working, but not how I want. Sorry I haven't been understanding.

The actions are being filtered out, but what I really want is to filter the tasks where the action has been filtered out.

How do I do that?

If it were a SQL query, there would be INNER JOINs. Right now, it looks like I'm getting LEFT JOINs.

[2019-10-03 22:50] lukaslaskovski commented on #415
I have same issue like @lvonlanthen.
Loosing reactivity after using relation.

[2019-10-04 09:01] lukaslaskovski commented on #433
Same issue here:
`Model.query().whereId("T50").first();`
or
`Model.query().where("id", "T50").first()`

[2019-10-04 09:42] devel-pa commented on #391
Hi guys,

Looks like the fix has vanished with commit `124ef68` and is not released with 0.32.2, neither with 0.32.3

I'm missing something?

Thx,

Paul

[2019-10-04 21:55] rconstantine commented on #465
I have also tried using whereHas, but it isn't working either:
[code]

[2019-10-05 22:40] stop-start commented on #348
I think we can close this. It is indeed working now.

[2019-10-06 20:13] Tarasovych opened #467 "withCredentials and DELETE request"
Does DELETE request supports `withCredentials`?

My `store/index.js` looks like
[code]
, but there are no attached cookies (with auth token inside) while sending DELETE reqeusts.

My current usage is:
[code]

[2019-10-07 09:34] devel-pa commented on #391
In `HasManyBy.ts` fix for #432 is set with commit `011ea9a` and with the next one is gone.

[code]

[2019-10-07 10:19] kiaking commented on #465
Hi! sorry it is becoming a bit hard to glance... Is it possible for you to create a small reproduction code for this? So I can look into it more.

[2019-10-07 10:20] kiaking commented on #348
Ah great! Thank you for the inform 👍

[2019-10-07 10:20] #348 closed

[2019-10-07 10:20] kiaking commented on #467
Ah, this is Axios plugin right? Sorry but please be patient. The new Axios plugin in on the way...!

[2019-10-07 10:21] kiaking commented on #391
Oh... well... hmmmm OK Let me check on this!

[2019-10-07 13:20] Emily-RoseSteyn commented on #458
@kiaking My pleasure! Just a bit snowed under at the moment, but if the fix hasn't been implemented by early November, I will have time to make a pull request then or otherwise maybe contribute a bit to the project.

[2019-10-07 14:38] kiaking commented on #458
@Emily-RoseSteyn Thank you so much. Uhh I would like to fix but... if not, I'm counting on you :p

[2019-10-07 15:23] rconstantine commented on #465
Perhaps I can just simplify the question without code.

If you have a parent object - (in your examples, you use Users) - and you also have child objects - (in your examples, you use Posts) - how do you filter out Users whose Posts don't meet your requirements?

For example: list Users who have a Post in the last month.

I believe that this:
[code]
returns all users, but not all of their posts. I

[2019-10-08 05:29] kiaking commented on #465
@rconstantine Ahh, thank you so much for the clarification. Yeah, in that case, you should use `has` and `whereHas`. Not sure why it's not working for you.

[code]

If something like above wouldn't work, there might be a defect. But I need a failing reproduction code or test to get a deeper look. Because we do have a test case for `whereHas` and it's passing.

[2019-10-08 10:08] kiaking commented on #456
I'll be closing the issue since I think there are no further questions. Please open another issue if there's anything! 👍

[2019-10-08 10:08] #456 closed

[2019-10-08 14:23] kiaking commented on #460
This is now fixed at Vuex ORM 0.32.4! Thanks @SzNagyMisu for the awesome fix! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.4

[2019-10-09 12:56] cizza opened #469 "How to order by position on Pivot table"
Hello,

Thank you for the fantastic plugin!!

How do you order by an attribute, which is in a pivot table of a Many-to-Many relationship?

I thought this would do, but it doesn't seem to pick up on the position in the pivot:

[code]

The position is in the ComponentLayout pivot table and I'm trying to order the 'components'.

Any advice would be appreciated.

Thank you.

[2019-10-10 16:22] gunarssimkuns opened #470 ""export 'Container' was not found in '@vuex-orm/core'"
https://vuex-orm.github.io/vuex-orm/api/database/database.html#database

[code]

webpack outputs: `"export 'Container' was not found in '@vuex-orm/core'`

I am using @vuex-orm/core@0.32.4

[2019-10-10 21:40] Eidher opened #472 "[Nuxt-SSR] Query.with() using string[] throws `TypeError: name.split is not a function`"
When Nux (SSR) tries to execute this query on the server, it throws the following error ` [Vue warn]: Error in render: "TypeError: name.split is not a function" `

[code]
The error occurs here:
- https://github.com/vuex-orm/vuex-orm/blob/5ee51b656d10d27bc02d1e335be17a6575d2ebe9/src/query/loaders/Loader.ts#L19

I believe since it's executed on the server they don't share the same Array prototype.

[2019-10-13 01:36] georgechaduneli commented on #360
Any updates on this?

[2019-10-15 09:09] kiaking commented on #469
@cizza Hi! Thank you so much for trying out Vuex ORM!

Unfortunately, there's no way to access pivot table data from a related entity, which in this case `components`. There is an issue about this, and we're planning to add that support.

For now, you could fetch `ComponentLayout` with nested `components` to achieve this. It needs to have 1 level deep nesting, and querying is going to be a bit dir

[2019-10-15 09:12] kiaking commented on #470
@gunarssimkuns Oh damn. Thank you for pointing out! And, thanks for the PR too! I'll check the PR and I'll comment if there's anything.

[2019-10-15 09:16] kiaking commented on #472
@Eidher Ah... thank you so much for the report! Yeah I guess we should do that!

[2019-10-15 09:17] kiaking commented on #360
Sorry, not at the moment. This is kinda big change internally, and need to do design before we can start... Haven't had time to tackle this one yet.

[2019-10-15 09:23] kiaking commented on #439
Closing the issue due to inactivity. Please feel free to open another issue if you still encounter the issue!

[2019-10-15 09:23] #439 closed

[2019-10-15 09:25] kiaking commented on #445
I'll be closing this issue due to inactivity. Please feel free to open another issue there's anything!

[2019-10-15 09:25] #445 closed

[2019-10-15 14:19] Eidher commented on #472
Thank you

[2019-10-16 05:05] cizza commented on #469
Hi kiaking,

thank you for your reply.  I'm glad I know now that it's not possible at the moment. I've resolved the ordering in a different way, but it would be a really nice functionality to have. I think you've mentioned you are using Laravel on projects and the Eloquent ORM has got this baked it. It's a really useful functionality.

Let me thank you one more time for creating Vuex-ORM, I find i

[2019-10-17 00:50] freeqaz opened #474 "Typescript error with referenced vuex types when installing vuex-orm"
Hey y'all,

I'm seeing this error when I install `@vuex-orm/core` for my project. (please excuse the docker container prefix)
[code]

Not sure why I'm seeing this error. Couldn't find anything online -- only advice was to exclude the types via this post: https://github.com/microsoft/TypeScript/issues/18588

Thank you!

[2019-10-17 01:00] freeqaz commented on #474
Ah, okay. I figured it out. If your `vuex` version is `<^3.1.1` then `@vuex-orm/core` will install the other vuex version. That's what breaks this for me. Fix was to update the `vuex` version in my main project. :)

[2019-10-17 01:00] #474 closed

[2019-10-17 02:03] kiaking commented on #472
Ah wait, I've created the PR but just not merged yet. I'll reopen this, and close when there is new version released!

[2019-10-17 02:07] kiaking commented on #469
@cizza Ah, OK! Great hear you found a way out. There is an issue to resolve this one, so I'll be closing this issue and let the other issue do the tracking.

Thank you so much! Those words are what makes us keep moving! Please feel free to open other issues if there's anything! 🤝

[2019-10-17 02:07] #469 closed

[2019-10-17 02:15] kiaking commented on #474
Oh, OK. Glad to hear you found a way out!

[2019-10-17 17:53] flamytwista opened #475 "Many to Many - Nuxt SSR - Pivot not updating"
Related to this issue.
https://github.com/vuex-orm/vuex-orm/issues/312

The same problem.
vuex-orm: 0.32.4
nuxt: 2.4.5

Try this example from docs (about users and roles)
https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#generating-pivot-records

If you'll do it in nuxt's fetch() method (on server side) then records in pivot table will not appear.
But if you'll do the same

[2019-10-21 00:14] kiaking commented on #470
The issue has been fixed at Vuex ORM 0.32.5! Thank you so much for the report and with the awesome PR 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.32.5

[2019-10-21 00:14] #470 closed

[2019-10-21 00:15] kiaking commented on #472
The issue has been solved at Vuex ORM 0.32.5! Thank you so much for the report!

[2019-10-21 06:56] kiaking commented on #475
@flamytwista Thanks for the report! Hmmm... need to dig into this.

[2019-10-21 13:07] mr-chick opened #476 "find vs query"
Greetings.

I have an user model

[code]

If I use the query, it returns a User instance.
`user = $vm0.$store.getters['entities/users/query']('id', '123').first()`
`user.fullName` is Jon doe

If I use the find method it returns an object
`let user = $vm0.$store.getters['entities/users/find']('123')`
`user.fullName` is undefined, since fullName is not present in the object.

Am I doing something wr

[2019-10-23 00:21] kiaking commented on #476
@mr-chick Uhh... this is bad. But not sure why this is happening... I need to look into it

[2019-10-23 04:55] alexandrmiee opened #477 "hasOne not update relation"
I have 2 models with hasOne relations
[code]

[code]
Event creates from Vuex ORM Axios plugin. Then I create Session

[code]

But session.event is null
![image](https://user-images.githubusercontent.com/8451506/67358739-00c8aa00-f56a-11e9-99a6-3b497aff15aa.png)
![image](https://user-images.githubusercontent.com/8451506/67358761-1047f300-f56a-11e9-85f5-e512f9a29566.png)

[2019-10-24 03:02] kiaking commented on #477
@alexandrmiee I assume you're dumping whole store state. Then this is expected behavior! You must use `with` query to retrieve relationships.

[code]

Then, you'll the `event` key is filled with its related Event records.

[2019-10-24 05:04] alexandrmiee commented on #477
Thanks!

[2019-10-24 05:04] #477 closed

[2019-10-25 09:28] mr-chick commented on #476
OK, let me know if you need more info from me

[2019-10-28 12:27] SzNagyMisu commented on #441
@kiaking Can I provide a PR for this?

[2019-10-29 04:20] kiaking commented on #441
@SzNagyMisu Yes sure! That would be awesome!

[2019-10-30 04:55] kiaking commented on #465
@rconstantine Hi! Do you have any update on this?

[2019-10-30 04:57] rconstantine commented on #465
I was diverted in my duties at work for a while. I should be able to check on this next week. I haven't forgotten about this and this isn't something I won't finish. I definitely need to get to this soon.

[2019-10-30 07:04] kiaking commented on #465
Thank you for checking in! I'll keep this issue open 👍

[2019-10-30 09:11] kamwing opened #478 "Feature request: add support for dynamic database registration"
Dear vuex-orm team,

First of all, Thank you for developing this  amazing plugin!

And I'm requesting that to register a database after the VuexORM.Database has been created.

feature like vuex **Dynamic Module Registration**
https://vuex.vuejs.org/guide/modules.html#dynamic-module-registration

I would appreciate any comments on this feature consideration.

Many thanks.

[2019-10-30 09:42] kiaking commented on #261
This is now implemented with Vuex ORM 0.33.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.33.0

[2019-10-30 09:42] #261 closed

[2019-10-30 10:17] kiaking commented on #478
Hi! Thank you for the feed back! Yeah this would be nice to have.

Let me mark this as an enhancement issue and see if we can work on.

[2019-10-30 15:47] gijswilbrink commented on #475
The same problem seems to occur for accessors: they are undefined when I try to use them in nuxt's fetch or asyncData method, but work when I browse through my app and nuxt just uses JavaScript instead of rendering.

[2019-10-30 18:10] mean-cj opened #479 "Cannot define mutations on Model"
Hello

How i can define mutations on Model file
the vuex module work with only Defining Modules
https://vuex-orm.github.io/vuex-orm/guide/digging-deeper/vuex-module.html#defining-modules

Test .dispatch('add'3)
Error [vuex] unknown action type: entities/test/add

[code]
Thank you

[2019-10-30 18:34] mean-cj commented on #479
this method doesn't work with current version

found error
[vuex] unknown action type: entities/test/deleteAll
[vuex] unknown action type: entities/test/insertOrUpdate

[code]

[2019-10-30 19:34] #479 closed

[2019-10-30 20:24] somazx commented on #359
@eladyaniv01 Thank you for posting this. I struggled for half a day trying to figure out why state clearly visible in the localStorage wasn't being hyrdrated to vuex.

[2019-10-31 07:25] joshm91 commented on #475
Just ran into this issue as well, I thought I was going crazy. (P.S., Thanks for the great project!)

[2019-11-02 12:31] mean-cj opened #480 "Feature request: auto models register on VuexORM.Database"
Hello

Feature code for auto register models on VuexORM.Database

**// models/index.js**
[code]

**Nuxt.js Integration**
**// store/index.js**
[code]

[2019-11-02 19:43] jimmiejackson414 opened #481 "Model .delete() sets entity entry to null"
I'm not sure if I am attempting this the wrong way or if I simply have a misunderstanding of how the `delete()` functions performs, but I am trying to remove an entry from a specific entity and it's only setting it to null.

When I run:
`user_ids.forEach(id => User.delete(id));`

instead of removing that entry from the user entity, it sets them to null and removes the key, like so:
<img width="474

[2019-11-04 13:40] SzNagyMisu opened #482 "Model.prototype.$save() does not save relations"
I guess this is because of

[code]

L757 in

https://github.com/vuex-orm/vuex-orm/blob/c7009b9f3931a925eb6e614ddacce71e9f4eb505/src/model/Model.ts#L753-L769

Is it intentional? If so, is there any way to `$save()` a record with its relations?

Thanks in advance!

[2019-11-04 15:46] SzNagyMisu commented on #441
OK, I just started the PR when I realized, I was completely wrong!

Somehow I imagined it worked like mutating the value when setting the property. So I thought `record.field = value` would trigger the the mutators. But it does not. Now, I understand better what @eldomagan  said.

So because of the following reasons

1. the mutators cannot possibly know about the instance
2. it would not help my c

[2019-11-04 15:46] #441 closed

[2019-11-04 16:46] sinasita opened #483 "Performance issue when changing entites in a loop"
I currently have a performance issue while adding data to a Vuex ORM model in a loop. Each time I add a new entry to the Vuex ORM model, the reactivity forces the attached Vue components to re-render. Of course, I could change the loop and collect all the entities in an array first and update them all at once, but in my case, there are complex checks involved and the entity-types have several rela

[2019-11-05 01:08] kiaking commented on #480
@mean-cj Hi! Thanks for the feedback! It's sure nice to have! though not sure if it should be implemented into the core, since working with filesystem is really not something for usual JavaScript. For example, it will not work for people using Vue without build system like Webpack.

So, I think this could go into docs as a recipe?

[2019-11-05 01:14] kiaking commented on #481
Oh this is wrong. I have no idea why this is happening... Is it possible for you to create some minimal reproduction code for this?

We do have test case for `delete` method so I need something to look into it.

[2019-11-05 01:19] kiaking commented on #482
@SzNagyMisu Yes, this is intentional. `$save` method will not save any relationships.

The easiest way is to just pass whole models into pure `insertOrUpdate` function.

[code]

[2019-11-05 01:31] kiaking commented on #483
@sinasita Thank you for the feedback! Yeah, the Vue will re-render everything when there's a change to the store.

This is a pretty nice idea I think. Currently, we don't have the plan to add this feature to the core, but maybe it's nice to have it. I think we need to do some PoC for this, but I would like to discuss how to implement this.

I think we should have method something like `prepare` an

[2019-11-06 01:51] somazx opened #484 "Cannot read property 'entity' of undefined"
I just spent an embarassing amount of time troubleshooting the above error message. The problem was just that I hadn't registered the additional model object in the ORM database. I can't imagine this has only ever happened to me.

[code]

It would be great if a more helpful error message was given.

[2019-11-06 11:01] gijswilbrink commented on #475
Hi, same goes for accessors, which I can't use currently because of this. Is there sight of a fix any time soon?

For the rest, vuex orm is great and a real lifesaver, thanks!

[2019-11-06 21:05] petertoth opened #485 "Custom id not set when inserting data"
Hi,

When I define a model with custom uuid id attribute like this:

[code]
And then insert new data into the store:

[code]

The custom id attribute(uuid in this case) is simply not set.

As you can see the `$id` attribute on the `User` is `"_no_key_1"` after the user is inserted. However, the `id` attribute is correct and that is the generated uuid.

Right now, I work around this issue by instan

[2019-11-07 09:06] kiaking opened #486 "Add method to check model existence"
Add `exists` method on Model and Query to check if the record exists in the store.

[code]

[2019-11-07 09:08] kiaking commented on #484
Oh yes, we need better errors for this...

[2019-11-07 09:09] kiaking commented on #475
Haven't had time yet, but looks like I should hurry up!

[2019-11-07 18:28] rconstantine commented on #465
I think I got it working. That last bit of code you provided helped. I would suggest a more specific example in your documentation. Here is my code example

[code]

[2019-11-08 10:15] sinasita commented on #483
I think we have to look at the API and the storage separately.

About the API:
1. Go with your proposal and add prepare() and resolve() methods to each model
2. Add methods to the Vuex ORM instance, e.g.
[code]
and
[code]
This way you don’t have to think about the individuals models which are affected during the transaction

About the storage:
1. Create a clone of the store (or of all the entites

[2019-11-08 15:03] gijswilbrink commented on #475
Hi @kiaking,

I just found some extra information: the accessors actually work fine when either in SSR or SPA mode, but when the server side rendered models are being hydrated into javascript models, accessors seem to get lost from the models and I get an "[accessorName] is not a function" error. Maybe this is also the case for  many to many relations, I still have to test this.

[2019-11-11 11:17] SzNagyMisu commented on #482
Ok, I see. Thanks!

[2019-11-11 11:17] #482 closed

[2019-11-13 15:43] arnaudvalle opened #487 "Cannot empty hasMany related model"
Hello, thanks for your great work on this plugin!

I'm facing a problem when I try to update related models.

I have a `User` model defined like so:

[code]

and the related `Skill` model defined like:

[code]

At some point in the application, I update the skills of a user like so:

[code]

This works fine as long as I just add / remove one or more skills but it doesn't do anything when `data.ski

[2019-11-13 23:06] methoil commented on #419
@kiaking So then for a field with a many to many relationship, what is the recommended way to update? Does that mean that you will need to pass ALL to data to update?

I tried updating a store with no where condition and while I can update regular fields, relational fields are not updating, for example with this [setup from the docs](https://vuex-orm.github.io/vuex-orm/guide/model/relationships.ht

[2019-11-14 20:25] mean-cj opened #488 "findIn with relation not work"
Hello

the findIn() method relation is not work
`User.query().with('photos').findIn([1,2,3,4])`
photos result is null

[code]

if i use find() method relation is ok
`User.query().with('photos').find(1)`
photos result is photo lists

Thank you.

[2019-11-14 20:29] mean-cj commented on #488
can be use whereIdIn()
`User.query().with('photos').whereIdIn([1,2,3,4]).get()`

[2019-11-14 20:29] #488 closed

[2019-11-14 22:08] donovanhare opened #489 "One To Many - Define without explicit parent keys?"
I have been running into issues trying to get this package to work in conjunction with the [axios plugin](https://vuex-orm.github.io/plugin-axios/).

The docs aren't entirely clear when it comes to what is required when you have one-to-many relationships - so I have a couple of questions...

Is vuex-orm (or axios plugin) able to normalise nested JSON without explicitly defined parent keys? e.g.
[c

[2019-11-15 08:44] kiaking commented on #485
Oh yeah, this is true. This is happening because the callback within `this.attr` is called after the $id is set. We should be fixing this.

[2019-11-15 08:52] kiaking commented on #465
@rconstantine Thanks for the confirmation! Great to hear that it worked. Yeah maybe we should add some warning into the `with` section. I'll mark this issue as documentation and will add comments.

[2019-11-15 08:57] mcastagnetti commented on #489
I'm not sure to understand the full problem (and i'm not a maintainer) but I'll try to respond :)

In the docs it says `Additionally, Vuex ORM assumes that the foreign key should have a value matching the id (or the custom static primaryKey) field of the parent.` So all you have to define is the foreign key name in the `hasMany` definition, and the field name `category_id` in your child Model.

Al

[2019-11-15 09:12] kiaking commented on #483
Thanks for the insight!

### About the API

I like your API. It's straight forward and easy to understand. However, not so sure if we should have Global State or not. There's an issue requesting to make Vuex ORM able to have multiple database instances.  Vue 3 is also moving toward cutting globals.

I think it's really nice to have global methods like `startTransaction`. But I would like to think

[2019-11-16 08:07] canhkieu commented on #480
**data/database.js**
[code]
import this file wherever you want.

[2019-11-17 16:05] xavier-rodet opened #490 "lifecycle hook doesn't give access to model relationships"
Hi,

First of all, thank you for your awesome plugin, it is really simple & powerful!

I used to define **Accessors** to caculate dynamic properties dependending on model & relation values (like ratio etc ...) and it works fine !

Exemple :
[code]

However I would like to move this calculation from thoses _**Accessors**_ to **_afterCreate lifecycle hook_** in order to avoid calculations everytime

[2019-11-17 21:09] donovanhare commented on #489
Thanks for clearing that up for me!

[2019-11-17 21:09] #489 closed

[2019-11-18 07:52] canhkieu opened #491 "Cannot read property 'id' of undefined in Many-Many"
I got this error, when use **id** is a primary key belong **role_id** and **user_id** in **RoleUser**

[code]

[2019-11-18 08:15] canhkieu commented on #491
Fix it

[2019-11-18 08:15] #491 closed

[2019-11-18 08:41] kiaking commented on #487
HI thank you for the report!

Your desired behavior is to have empty Skills after inserting `data.skills` of `[]` right? Hmmm...

I haven't tested this, but maybe it is because the empty field is not present after the data normalization by normalizr. I found this issue so it looks like I'm correct.
https://github.com/paularmstrong/normalizr/issues/290

Hmmm... If that is the reason, not sure how t

[2019-11-18 08:46] kiaking commented on #419
In that case, all the relationship should also be "updated". But, you want them to be "inserted" right? In that case, you should be doing this.

[code]

Here is the docs for this behaviour.
https://vuex-orm.github.io/vuex-orm/guide/data/inserting-and-updating.html#insert-method-for-relationships

[2019-11-18 08:49] kiaking commented on #480
Wonderful. Let's add that to the docs 🚀

[2019-11-18 08:53] kiaking commented on #490
Yes, unfortunately this is current limitation. You can't access relationships during the lifecycle hooks... When lazy loading is implemented, we'll be able to handle this one...

[2019-11-18 10:39] canhkieu opened #492 "Many-Many not working when combining with id primary"
In my case,

RoleUser.$id = ['value of role_id', 'value of role_id']
but
RoleUser.id = alway null,

[code]

[2019-11-18 10:48] xavier-rodet commented on #490
Good to know, thanks 👍

[2019-11-18 13:18] kiaking commented on #492
I think it's intended. Unless you're passing RoleUser records directly to the persistent method, the id field will always be its default value, which is `null` in your case. Iff you want `id` filed to be populated automatically, you could use `increment`.

[code]

[2019-11-18 14:17] arnaudvalle commented on #487
Thanks for looking into it. Yes I believe you're right. It seems like there are quite a few issues related to this in the normalizr project and it seems like it's just ignored if the value is falsy :(

As a workaround, I'm deleting the related skills by hand in the success method of my REST call like this:

[code]

It's not ideal but does the job for now... 🤷‍♂

[2019-11-18 23:59] kiaking commented on #487
Yeah, let me keep this issue open and try to find out some solution for this. I could come up with;

**Implement our own normalizer functionality.** It could be a good idea since there're lots of features in Normalizr where Vuex ORM doesn't use.
**Add some extra option to delete all records.** A bit cumbersome, though it will be more flexible after all. Something like *deleteIfEmpty*.

[2019-11-19 00:14] canhkieu commented on #492
In my case, RoleUser.id is UUID. and it's foreign key to another table. The problem when I get id from pivot (more fields). It's alway null.

[2019-11-19 00:19] kiaking opened #493 "$id field not converted to string in pivot table for many to many relationship"
Reproduction: https://codesandbox.io/s/vuex-orm-sample-application-r7fxh

`threadUsers` entity have `$id` value of array, not string. Hence when fetching them, it throws error telling invalid JSON format.

[2019-11-19 00:21] kiaking commented on #492
@canhkieu How do you insert the data? If you pass that UUID to for example RoleUser.insert({ data }), it should work. Could you give me the insert part of your code?

[2019-11-19 01:53] canhkieu commented on #492
**models\User.js**
[code]
**models\Role.js**
[code]
**models\UserRole.js**
[code]
INSERT DATA
[code]
The result.
![image](https://user-images.githubusercontent.com/136077/69109245-bcb5c000-0aa9-11ea-858b-9655018ec89a.png)

[2019-11-19 13:10] SzNagyMisu commented on #187
I'd really love to have this feature too!
We have loads of models and it would be nice to extend [lazy loading routes](https://router.vuejs.org/guide/advanced/lazy-loading.html) strategy of vue-router to load only the models the current route (code chunk) needs.

For example with an API like

[code]

That would build up all the necessary things (schema, module state, getters, mutations, actions et

[2019-11-19 13:30] SzNagyMisu commented on #478
Is this related to #187?

[2019-11-19 13:47] mean-cj commented on #480
our solution doesn't work with Vuex Module
work only hot reload

after build webpack, nuxt generate, nuxt build
i will see Vuex model.getters('') is undefined

[2019-11-19 15:42] mean-cj commented on #480
done !

our can define **VuexModule** on @modals

[code]

[2019-11-20 11:44] Fnxxxxo opened #494 "Support defining field types."
When use the lib the typescript vuex. The type of query result last types of Field interface. Any idea to support generic field types?

[code]

[2019-11-21 01:13] phiny1 opened #495 "$id attribute and $delete action"
- When object is created, Vuex ORM set $id attribute with primaryKey definition (Single or Array) or id attribute as default.
- When id is null, Vuex ORM create your own key using NoKey class.

**ProcessStrategy.ts**
[code]

- When I call model.$delete() from object that has _no_key_id , the function doesnt work because try to find de object by primaryKey... and primaryKey is null, only $id has th

[2019-11-23 19:20] stevefan1999-personal opened #497 "Proposal: Support function as a parameter for relation class reference"
**Propose**: Given this simple example extracted from the example
[code]

We could also write:
[code]
as an example.

**Why?**

This is also used to address the cyclic reference of modules in TypeORM/NestJS and right now I deliberately need it.

I used this library in conjunction with https://github.com/Scotley/vuex-orm-decorators and I just realized the model class is used before initialization d

[2019-11-24 10:50] nagwan commented on #222
hi @kiaking, what is the reason behind deprecating **nested object schema**?

[2019-11-24 18:44] bpuig opened #499 "Question about morph with Laravel"
Hello,
I've got one question, in morphs, vuexORM takes `entity` to use it as value for `exampleable_type` relationship, but for example, in Laravel, `exampleable_type` is stored in database as `App\exampleable_type`.
How can I solve this? Any ideas?

[2019-11-24 20:08] leearaneta commented on #300
hi,

i [took a stab](https://github.com/vuex-orm/vuex-orm/pull/501) at allowing `.orderBy()` to take in `(T => any) | string` as the first argument.  @kiaking let me know if you have any questions, and thanks for maintaining this wonderful library :)

[2019-11-25 01:35] petertoth commented on #497
Hello, maybe it's not applicable to your problem but there is a note about cyclic dependencies in the [Single Table Inheritance docs](https://vuex-orm.github.io/vuex-orm/guide/model/single-table-inheritance.html#notes-on-circular-imports). Hope it helps!

[2019-11-25 08:10] kiaking commented on #300
@leearaneta Thanks a lot for the PR! Wonderful! I've made few comments on the PR so please take a look. Thank you so much for your hard work!

[2019-11-25 08:57] kiaking commented on #492
@canhkieu Oh yeah, in this case, the `id` of RoleUse wouldn't be generated... Because Vuex ORM has no idea what it should be. It can't read it from the data getting passed.

If you need to have `ID` of RoleUser, you need to pass that data as well. It could be pain, but not sure if there's anyway to nicely handle this situation.

[2019-11-25 08:59] kiaking commented on #478
Oh yeah indeed. Let's close this one and continue discussion over there.

[2019-11-25 08:59] #478 closed

[2019-11-25 09:00] kiaking commented on #187
@SzNagyMisu Yeah it could be really nice to have this feature!

That would be awesome!!!

Maybe it could just be `database.register()`? We could set `database.isStarted` flag on initial start, and then kick start process if users adds a new model.

[2019-11-25 09:02] kiaking commented on #480
Hah, thanks for the Snippets! I think we can ad this to the doc.

[2019-11-25 09:04] kiaking commented on #494
Not sure what you mean by "last type"...? Wouldn't that query typed as ChatModel instance...? Can I see the model definition of ChatModel as well?

[2019-11-25 10:56] kiaking commented on #458
This issue is now fixed at Vuex ORM 0.34.0! 🎉
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.34.0

[2019-11-25 10:56] #458 closed

[2019-11-25 11:32] kiaking commented on #495
@phiny1 I think this should work with latest Vuex ORM 0.34.0 now. Since now Vuex ORM will generate any missing primary key fields. Could you try it out?

But even if it works, I think this code can be refactored to adopt to new architecture. I think I'll do that too.

[2019-11-25 11:36] kiaking commented on #382
@geraldbiggs This is now possible with Vuex ORM 0.34.0! Please read the docs about new UID attribute 👍
https://vuex-orm.github.io/vuex-orm/guide/model/defining-models.html#uid-type

[2019-11-25 11:36] #382 closed

[2019-11-25 16:08] vesper8 opened #503 "unable to orderBy on many-to-many relation"
I have a `User` model who has a many-to-many relationship with a `Skill` model. I use a pivot model called `UserSkill`

Everything works fine, inserts, retrieving using `withAll()` or `with('skills)`

One thing I can't seem to get to work is retrieving the skills ordered by `'name'`

I have tried this

[code]

Same for a single user:
[code]

It returns the skills but they are not ordered

I also t

[2019-11-25 18:49] 2-5 opened #504 "upgrade to 0.34 broke queries with no results"
This code worked in 0.33, but fails in 0.34, because `first()` returns `undefined` instead of `null` when the query has no results:
[code]

[2019-11-26 01:33] phiny1 commented on #495
Thank you for the update, it worked with 0.34.0.

Uid attribute accept number and string, but awalys return as string? The related attribute has to be string?

**User.js**
`id: this.uid()`

**Post.js**
`userId: this.string("")`

[2019-11-26 02:19] kiaking commented on #495
@phiny1 The default UID will be string. But UID could be a number too. For example, if you have your own UID implementation, it could be a number.

If you're using the default UID behavior, then yes your `userId` at Post should be `this.string("")`! It could be `this.string(null).nullable()` too. Because maybe there's a chance where Post doesn't have author yet 😃

[2019-11-26 09:24] kiaking commented on #504
Thank you for the report! Confirmed. Fix is on the way.

[2019-11-26 12:27] phiny1 commented on #495
Thank you very much.

[2019-11-26 12:27] #495 closed

[2019-11-26 12:50] sinasita commented on #483
Hello and sorry for answering so late!

I understand the problem about the global state, maybe with `VuexORM.startTransaction()`, I didn't choose a good name for what to do. My thought was, when the method gets called, the whole vuex-orm entities get cloned (or a parameter is added to know, which entities need to be cloned from that point on), maybe that can be done with a RootAction/RootMutation?

[2019-11-26 14:55] kiaking commented on #344
This is now fixed at Vuex ORM 0.34.1! Sorry it took so long!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.34.1

[2019-11-26 14:55] #344 closed

[2019-11-26 14:55] kiaking commented on #504
This is now fixed at Vuex ORM 0.34.1! Thank you for reporting it!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.34.1

[2019-11-26 14:55] #504 closed

[2019-11-26 14:57] kiaking commented on #300
Now you can pass function to the 1st argument of `orderBy`. Thanks to @leearaneta! for this wonderful PR!
https://github.com/vuex-orm/vuex-orm/releases/tag/v0.34.1

[2019-11-26 14:57] #300 closed

[2019-11-26 18:29] moravecjakub commented on #493
Hello,
  any progress for this issue?

Some fix, like this, can help in Query.prototype.$fill method:
`if (hydrated.$id instanceof Array) {
    hydrated = {...hydrated, $id: '[' + hydrated.$id.toString() + ']'};
}`

[2019-11-27 10:13] kiaking commented on #222
@nagwan It was making many small things complicated... For example, query constraint looked wired and such.

[code]

Also, most of the time, I think you can use accessors to handle array or object field.

[2019-11-27 10:16] kiaking commented on #499
Oh yeah this is the hard one... You must first convert the API request to have `entity` as a value.

I'm planning to add these kinds of structure mapping functionality, though I don't think I can do it anytime really soon...

[2019-11-27 10:18] kiaking commented on #497
Thank you for bringing this up! You're right, we need this for the decorator.

There's now official decorator package development in progress. I'll add this feature along with decorator package!

[2019-11-28 06:39] nagwan commented on #222
@kiaking  aha, i see, thanks

[2019-11-29 15:54] #467 closed

[2019-11-29 17:01] vesper8 opened #507 "how can I write a query that returns entities that match multiple many-to-many relationships?"
I seriously tried to write something that worked for over an hour and had to give up

I have a model "Item" and a model "Attribute" and I have a pivot model "ItemAttribute" and there is a many-to-many relationship between Item and Attribute

Example of items:

Apple
Brick
Computer

Example of attributes:

Round
Edible
Hard
Electric

Attributes can belong to many items, and items can have many attr

[2019-12-01 22:29] renatovaler opened #508 "Single record"
Is it possible to create a "model" that has a single record without a "primary key"?

[2019-12-02 03:07] FPNL opened #509 "example of "Has Many By" has a small problem"
[Has Many By](https://vuex-orm.github.io/vuex-orm/guide/model/relationships.html#has-many-by)

[code]

[2019-12-02 03:33] #509 closed

[2019-12-02 09:25] Fnxxxxo commented on #494
Sorry for the late. Here the definition:
[code]
The "last type", I means, is that the type of the query is same as the type of the last chaining model.
In my case, the type is MessageModel when chaining using ```with('messages')``` not ChatModel, which is weird

[2019-12-03 09:59] m-kolli opened #512 "Updating relations in combination with STI seems to be broken"
Here are two simple examples which write output to the console.

https://codesandbox.io/s/vuex-orm-template-yto07
https://codesandbox.io/s/vuex-orm-template-rtk2e

The output of the first example (v.0.34.1) seems wrong, since `filterA` and `filterB` have identical content.

The output of exmaple two (v.0.33.0) seems correct because the objects of `filterA` and `filterB` are different as expected.

[2019-12-03 10:13] kiaking commented on #503
Oh, this should work. Need to create some test case for this.

[2019-12-03 10:21] kiaking commented on #483
Thanks for your insight! Yeah... I too think `VuexORM.startTransaction()` is nice as API. The only thing what bothers me is the global state problem. Let me open up another issue for that and see how we can address it. Then, I might think it's easier for us to come back here and re-think about the API.

[2019-12-03 11:39] butaosuinu opened #513 "Value of fields not define type"
`Model.fields().attribute.value` can get a default value of fields.
But, it doesn't exits that property in the document and the type definition.

Can I use that property? If so, I will send a pull request for defining type that property.

Thanks.

[2019-12-03 11:53] kiaking opened #514 "non-singlton database management"
This issue relates to several other issues, for example, #360.

### What is the problem?

Currently, the Vuex ORM stores database to the Container object, which is a global singleton. This is needed to retrieve any relationships through Vuex Getters and Actions.

Having a singleton object is not always bad. As long as you are using it in a single app, everything should work fine. However, it's a b

[2019-12-04 02:54] kiaking opened #515 "Multiple database install"
Ref #360 #514

Enable having more than 1 database installed to a single vuex store.

### Registration API

A user should be able to register more than 1 database to the vuex store by separating the namespace.

[code]

### How models will be able to determine which database to access?

During the installation process, Vuex ORM will attach database name to the registered models. The model will have

[2019-12-04 02:56] kiaking commented on #360
I've created a new issue about more detailed design on implementing this issue at https://github.com/vuex-orm/vuex-orm/issues/515. Let's continue discussing over there! I would love to have feedback especially on the limitations section, whether that limitation is acceptable or not.

[2019-12-04 02:56] #360 closed

[2019-12-04 03:00] kiaking commented on #440
@SzNagyMisu Since the latest version, returned models are copy of the store state, so maybe we don't need this feature anymore...?

[2019-12-04 03:06] kiaking commented on #513
Ah sure! That would be great!

[2019-12-04 11:24] moravecjakub commented on #493
@kiaking When I upgrade to 0.34.1 version it works, I can see that $fill method was refactored.
So, can this issue be closed?

[2019-12-06 13:37] moravecjakub commented on #515
Hello @kiaking,

  currently I'm in trouble with multiple databases in one application. I'm trying to find some way how to use more databases with current implementation. I chose the way to replace your singleton container for one database with my own container, which can handle more databases:
[code]
Then I'm able to make bypass for container via plugin for orm:
[code]
Which is used as by standar

[2019-12-08 02:41] tofu2323 opened #516 "The behavior change of insertOrUpdate is as expected?"
Hello.
I updated Vuex ORM to latest 0.34.1 from 0.33.0.
However I realized there is a breaking changes for me.

The value of object passed as argument of insertOrUpdate will be changed inside the method.
Here are an example.
https://codesandbox.io/s/vuex-orm-template-2l8nq

[code]

[code]

When I use v0.33.0 the value of `this.before` and `this.after` are same, but v0.34.x it are different.

[2019-12-09 06:08] Fnxxxxo opened #517 "Freature suggestion: auto increment field."
Currently, the auto-increment is replaced by uid fields. But it's not convenient for sorting. Is it OK to release both UID and auto increment?

[2019-12-09 10:12] SzNagyMisu commented on #440
@kiaking I'm delighted to hear that :smiley:
Does that handle deep cloning properties of type `array` or `object`? If so, we can really close this issue.

(Also, just out of curiosity: as a result of that change, does store state consist of plain objects?)

[2019-12-09 14:01] codeturn opened #518 "Vuex-orm + graphQl plugin"
Hey guys! I want write simple CRUD system base on this cool libary. I succesful setup it:
-vuex-orm
-graphql-plugin
-laravel with lighthouse-php

So I can fetch data from db and make delete row. But I can't update and insert new raw.
May be you can give me link to simple example of any CRUD system?

[2019-12-09 15:53] bpuig commented on #499
Always happens the same to me, seems that the solution is in the docs :sweat:  : https://laravel.com/docs/6.x/eloquent-relationships#custom-polymorphic-types , I'll try when I have time and get my results back

[2019-12-10 15:45] davidsandoz commented on #475
I'm facing this exact same issue on a Nuxt.js SSR project as well.

@kiaking, would it be possible to give an ETA for this fix? This would help me for my project planning.

[2019-12-11 08:22] mr-chick commented on #499
I had the same problem, morphMap solved it.
[code]

[2019-12-11 08:24] #499 closed

[2019-12-12 09:58] mikevmil opened #519 "Subclassed table will not correctly save related data defined with a relationship."
When defining a relationship inside an inherited model, the data of the relationship itself does not seem to be saved correctly. It's being saved as an object rather than being referenced to the item iteself.

I reproduced it using the following models:
[code]

When inserting a post with an image, the image is inserted correctly (as seen by the $id being set). But when inserting a post with an aut

[2019-12-13 10:09] Roboroads opened #520 "When using whereHas in query new values won't be added when using it in a computed property"
In you create a query in a computed property when using `whereHas`. new values that should be true for this condition won't be added. You have to create a new query to add these new results. It does work for every other query condition.

I have written a test case where this problem exists:

[code]

[2019-12-13 16:11] irongomme commented on #321
I've got the same problem. Here is my models :

**Team model**
[code]

**Game model**
[code]
**GameTeam pivot model**
[code]

I need to put scores by teams and by games. How should I do that ?

[2019-12-16 07:12] Fnxxxxo commented on #494
Finally find the solution. I get fields type using ```Item<InstanceOf<EditorModel>>```

[2019-12-16 07:33] Fnxxxxo opened #523 "How to access the static state in models?"
I can define state on model. But I dont know how to access it.
[code]
The static method ```EditorModel.state()``` returns the raw definition not the state.
Currently I can only access it through original vuex state route.

[2019-12-18 12:54] djmattyg007 opened #524 "Mutators cannot be used for non-idempotent operations"
Mutators can be called on the same data multiple times, making them unsuitable for operations that are not idempotent, such as mathematical calculations. The following is a basic reproducer:

[code]

The expectation is that `42` is logged to the console. However, you will find that `43` is logged instead.

Here is the `package.json` file used to reproduce the issue:

[code]

[2019-12-18 13:04] djmattyg007 commented on #524
It's worth noting that in real-world code, I've observed mutators being called 3-4 times on the same data, not just twice. I haven't been able to work out exactly why this happens though.

[2019-12-19 13:14] JelleScheer commented on #415
Any update on this, @kiaking?

[2019-12-21 06:00] djmattyg007 opened #525 "Is Model.update() supposed to update existing records?"
For example, if I run this code:

[code]

It outputs `false` twice, rather than `false` and then `true`.

This seems odd for a couple of reasons. First, we're apparently not supposed to call `$save` on instances we've retrieved from the store (such as `theNewUser`) in the example snippet above). This supposedly means that the following is incorrect:

[code]

This can probably be worked around by j

[2019-12-21 06:02] cuebit commented on #523
Unfortunately @Fnxxxxo, while I think it should, this functionality doesn't come out of the box with vuex-orm.

For the time being you could create an inheritance class that extends the `Model` or attach the methods yourself between module imports, etc. There's no wrong way of doing it.

This is one approach you could take...

[code]

Essentially, this allows you to call `mapState` as a static met

[2019-12-21 18:11] bikeshaman commented on #495
I have a quick clarifying question you can maybe answer — I'm updating to 0.34.1, and notice that `src/schema/NoKey.ts` is now gone. Is it intended/expected that `$id: null` will now be present on all my records as the return value of `record.$toJson()`?

Previously:
[code]
Now:
[code]

[2019-12-23 02:36] Fnxxxxo commented on #523
@cuebit The way to mapState is OK. I just want a clean way to map these states in computed props through Model.

[2019-12-23 11:32] kiaking commented on #508
@renatovaler Model must have primary key. Because models are stored in the store by index key. But if you only need one record, you can just set fixed value as primary key though. Like, you always pass `1` or something.

[2019-12-24 01:35] kiaking commented on #507
@vesper8 Hi! Sorry for my late response. Maybe you could use ordinary where clause?

[code]

[2019-12-24 01:38] kiaking commented on #512
@m-kolli Thanks for the report! Yeah this is wired. We should look into it.

[2019-12-24 01:40] kiaking commented on #493
Thanks for the confirmation! Yap, seems like this is fixed 👍

[2019-12-24 01:40] #493 closed

[2019-12-24 01:43] kiaking commented on #515
@moravecjakub Yeah, to bypass this, we must somehow tell Query what database to use. And to do that, I think we need to pass additional argument to the Vuex Modules...

[2019-12-24 01:46] kiaking commented on #516
@tofu2323 Oh thanks for the report! Yeah this is nasty. It must be something to do with referencing problem. Need to fix.

[2019-12-24 01:51] kiaking commented on #517
@Fnxxxxo Maybe as plugin yeah. I wasn't thinking about sorting, but it could nice indeed. The reason we removed it was because it was really complex to implement...

[2019-12-24 01:52] kiaking commented on #440
@SzNagyMisu Ah, good question... I should check!

YES.

[2019-12-24 01:53] kiaking commented on #518
Hah, it should be same as how you delete or update. Could you give me the update code you have?

[2019-12-24 01:55] kiaking commented on #475
Sorry for being late... I should be looking into this quick. Don't have ETA but I'll try my best!

[2019-12-24 02:00] kiaking commented on #519
Hah, we should look into this one!

[2019-12-24 02:01] kiaking commented on #520
Thanks for the test case! I'll try look into it

[2019-12-24 02:02] petertoth commented on #519
@kiaking I believe I have already opened up an issue for this https://github.com/vuex-orm/vuex-orm/issues/443 It would be wonderful if this was fixed!

[2019-12-24 02:04] kiaking commented on #519
@petertoth Uhhh thank you for the info! Well I should be starting adding test case for this!

[2019-12-24 02:10] kiaking commented on #524
@djmattyg007 Ahh yeah this would happen. Because mutator will run every time data is getting instantiated. And I see your problem here...

Not sure what is the best solution for this. maybe we should ignore mutator after data has been persisted in the store...?

[2019-12-24 02:11] kiaking commented on #415
Sorry not yet, I should be doing something about it!

[2019-12-24 02:14] kiaking commented on #525
Ah you've got point. Currently, returned model from the getters are isolated from Vuex, so we should be able to update the model, so yeah I think this is possible. I'll mark this issue as an enhancement.

[2019-12-24 02:15] kiaking commented on #495
@bikeshaman On no it shouldn't I think. Thanks for the report!

[2019-12-24 02:16] kiaking opened #526 "$id attribute is included in toJson method"
Ref: https://github.com/vuex-orm/vuex-orm/issues/495#issuecomment-568200630

[2019-12-24 02:19] kiaking commented on #523
Oh yeah we just need to have good naming for this property! ...Now I'm thinking how about `getState` ...?

[2019-12-24 02:31] vesper8 commented on #507
@kiaking I appreciate the reply but your suggestion does not apply to my inquiry... that is.. I want a query that will return parent models that contain multiple children

as in my examples above, I want a query that will return items that contain both relationships that are "round" and "edible"

An apple is an item that has a many-to-many relation to attributes "round" and "edible"

How can I wri

[2019-12-24 02:36] kiaking commented on #507
Ah OK, maybe you've tried but if you want relationship filtering, then you should be using `with`.

[code]

Maybe I'm not getting your question here... sorry. Could you provide me simple model definition, existing data, and the result you would like to get?

[2019-12-24 04:25] djmattyg007 commented on #524
It feels like a symptom of the larger issue highlighted by #525. It looks like an architectural issue that wouldn't be easy to solve. I'm not familiar with the internals of the library so I'm not sure what the best fix would be.

[2019-12-24 13:24] paparent commented on #525
I might be wrong but: When you do the `.find(...)`, you query the DB. So afterwards when you did the mass update (with the where), dunno if the constant `theNewUser` should be updated ?

[2019-12-24 16:03] cuebit commented on #523
@kiaking yea, `getState` is a reasonable name. I think mapState will only confuse users with Vuex’s native methods.

[2019-12-24 17:46] pavel-mironchik opened #527 "Many to many relation with additional field in pivot table?"
Hi. I don't see a way to set a value for an additional field in a pivot table, e.g. `type` in this example:

[code]

I prepared a sandbox: https://codesandbox.io/s/vuex-orm-sample-application-8xbyg
The data structure is actually the same that Laravel returns when you use the `return $this->belongsToMany('App\User')->withPivot('type');` statement.

[2019-12-25 10:54] JelleScheer opened #529 "Reactivity issue since v0.34.0"
It's already known that there is a issue with reactivity when you query a model with a relationship (https://github.com/vuex-orm/vuex-orm/issues/415), but since v0.34.0 I'm also experiencing issues with normal queries.

For example, when I queried a model prior to v0.34.0 using a computed function and calling Content.find(id), I would receive the model and with it it's getters and setters. Now whe

[2019-12-25 11:59] Fnxxxxo commented on #517
That's fine. Not all users need it.

[2019-12-25 11:59] #517 closed

[2019-12-25 15:03] djmattyg007 commented on #525
Why shouldn't it? What's the point of using Vuex if your state isn't centrally managed?

If I wanted a clone of the data that wasn't affected by updates to the store, I'd just call `$toJSON` or something like that.

[2019-12-25 21:34] swoga commented on #440
I'm new to Vuex ORM and wondered about this and gave it a quick try and can confirm there is NO deep cloning.

[2019-12-26 12:14] NickSeger opened #530 "Polymorphic Many-to-Many relationship constraint"
Hey,

Getting great results with this package so far just coming across some difficulty trying to do a relationship constraint when using a polymorphic, many-to-many type.

Here's my morphToMany structure (hidden auxiliary fields in the models for brevity):

    export default class User extends Model {

	static entity = 'users';

	static fields() {
		return {
			id: this.uid(),

[2019-12-26 17:30] allocenx opened #531 "High priority bug! When setting the entities, it does not go deep inside the object itself."
For example, i make an API call to the server which fetches me a list of users and each user has an object attached with his profile and this library when it sets the entity for the users it sets all the fields except the nested profile object.

Please help :(

[2019-12-26 17:40] petertoth commented on #531
Do you have a reproduction for this bug?
Could you post code with your problem and also expected behavior? Thanks!

[2019-12-26 17:41] allocenx commented on #531
Sure, gimme few minutes to prepare it. Thank you kindly!

[2019-12-26 17:45] allocenx commented on #531
Oh, you've got to be kidding me... . Just now wondered to take a better look at the static fields within my Model, seems like i was not declaring that field aswell LOL.

Seems like, its all fine now, hahaha, my bad for not paying better attention.

Thank you for the quick reply tho and Merry Christmas! This issue can be closed.

[2019-12-27 13:49] wocdamjack opened #533 "vuex-orm.esm.js undefined probs: Uncaught TypeError: Cannot read property 'localKey' of undefined at **Function.**Model.belongsTo**** (vuex-orm.esm.js?0937:2127)"
Uncaught TypeError: Cannot read property 'localKey' of undefined at **Function.**Model.belongsTo**** (vuex-orm.esm.js?0937:2127)

Changed to:
        if(parent) {
            return new BelongsTo(this, parent, foreignKey, this.relation(parent).localKey(ownerKey));
        }

Then, similarly:
Model.prototype.$fill = function (record) {
at line 2672, (**Model.prototype.$fill**),  changed:

[2019-12-30 09:09] marafee1243 commented on #476
`fullName` is a function, need to call `user.fullName()`
I tried on my local, it works fine.

[2019-12-30 09:12] marafee1243 commented on #476
works fine with version `0.34.1`. May I know, what version were you using?

[2020-01-01 23:56] NickSeger commented on #530
Solved my problem on the back end, no need to do complex querying on client side.

[2020-01-01 23:56] #530 closed

[2020-01-03 15:41] SzNagyMisu opened #537 "[Feature] .withRecursive() for models with self associations"
I have a model like the following one:

[code]

And I need a getter iterating through the ancestors of one person:

[code]

Now, `vuex-orm` has a method: [`withAllRecursive`](https://vuex-orm.github.io/vuex-orm/guide/data/retrieving.html#load-all-relations), but I have two reasons not to use it for this scenario:

1. Say, `Person` model has other relations, but I only need this one
2. `withAllRecu

[2020-01-06 09:34] moravecjakub commented on #527
Hello,

  I've tried to solve this by inserting main entities (e.g. user + roles) and then update pivot table with my own data. I suppose, that it should work when I manually create composed '$id' key.

But this not work, because composed '$id' key doesn't respect order of columns defined in pivot table model - e.g. primaryKey = ['role_id', 'user_id'] - they're reversed.

Ok, never mind, if they'r

[2020-01-06 11:19] pavel-mironchik commented on #527
Yeah, I stumbled upon "id" columns ordering in reverse when creating and vice versa when updating, too. This causes a duplication of entities, but it is another issue.

About my question, I even was naive enough to try `beforeCreate` lifecycle hook, but without a success :) A model in such a hook doesn't contain additional fields.

Thanks for your participation, though.

[2020-01-09 10:23] Heckayel opened #538 "this in static function"
In the documentation you indicate to use "this" in a static function and that's not a good OOP action

Why don't you use Model.attr("") or <className>.attr(""); ?

![image](https://user-images.githubusercontent.com/6170793/72059418-3f047880-32d2-11ea-85f1-97eb29b984f4.png)

[2020-01-09 10:56] cuebit commented on #538
You say it's not good OOP but it's not bad either. If you want to use `Model.attr` then there's nothing stopping you, OOP is a design, not a technicality. This is an opinion not an issue.

[2020-01-09 11:17] qyloxe commented on #538
I do not see this as bad either. Using this.attr in derived class suggests that it is possible to override 'attr' method (ie you can have your own attr factory) and also 'attr' method has access to local (User Model) methods (ie validation, annotation etc). I totally agree, that it is a matter of convention or design and the main purpose is a communication between developers (and not between devel